<div class="step-tax-calculation">
  <h4>Step 4 - Tax calculation</h4>

  <!--Header-->
  <div class="row m-b">
    <div class="col-sm-6 col-sm-offset-6">
      <button class="btn btn-primary btn-sm pull-right"
              data-ng-disabled="isSubmit"
              data-ng-click="download()">
        <i class="fa fa-print" aria-hidden="true"></i>
        Download/Print
      </button>
    </div>
  </div>

  <div class="tab-tax-calculation">
    <div class="toolbar-header calculation-title">
      <strong>
        Tax Calculation for {{ taxYear.description }} (year ended 5 April {{ year }})
      </strong>
    </div>

    <div class="calculation-container">
      <div class="text-center m-t" data-ng-if="isCalculating">
        <i class="fa fa-refresh fa-spin fa-2x fa-fw"></i>
        <span class="sr-only">Loading...</span>
      </div>
      <div class="calculation-result">
        <div class="report-body" data-ng-bind-html="cal_result"></div>
      </div>
    </div>
  </div>
</div>