<div class="modal-trading-professional" data-ng-init="init()">
  <div class="modal-header bg-primary">
    <h4 class="h4">Trading and professional income</h4>
    <span class="close" data-ng-click="actions.cancel()"></span>
  </div>

  <div class="modal-body">
    <form name="form" class="form-validation form-horizontal" novalidate>
      <tabset class="tab-container">
        <tab heading="Information">
          <div class="form-group">
            <label class="text-left col-sm-6"
                   for="start_of_period">Start of period</label>

            <div class="col-sm-6">
              <input type="text" id="start_of_period" name="start_of_period" class="form-control"
                     data-datepicker-popup="{{dateFormat}}"
                     data-datepicker-options="dateOptions"
                     data-is-open="opened"
                     data-ng-click="actions.openDoB()"
                     placeholder="Start of period"
                     data-ng-model="partnerTrading.start_of_period"/>
            </div>
          </div>

          <div class="form-group">
            <label class="text-left col-sm-6"
                   for="end_of_period">End of period</label>

            <div class="col-sm-6">
              <input type="text" id="end_of_period" name="end_of_period" class="form-control"
                     data-datepicker-popup="{{dateFormat}}"
                     data-datepicker-options="dateOptions"
                     data-is-open="opened1"
                     data-ng-click="actions.open()"
                     placeholder="End of period"
                     data-ng-model="partnerTrading.end_of_period"/>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-12">
              <label class="control-label">
                <checkbox ng-model="partnerTrading.account_details_are_not_required"></checkbox>
                Account details are not required
              </label>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-12">
              <label class="control-label">
                <checkbox ng-model="partnerTrading.accounts_do_not_cover_period_from_last_accounting_date"></checkbox>
                Accounts do not cover period from last accounting date
              </label>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-12">
              <label class="control-label">
                <checkbox ng-model="partnerTrading.change_of_accounting_date"></checkbox>
                Accounts do not cover period from lasChange of accounting date
              </label>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-12">
              <label class="control-label">
                <checkbox ng-model="partnerTrading.do_figures_include_vat"></checkbox>
                Do figures include VAT?
              </label>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-12">
              <label class="control-label">
                <checkbox ng-model="partnerTrading.is_this_trade_using_the_cash_basis"></checkbox>
                Is this trade using the cash basis?
              </label>
            </div>
          </div>

          <div class="form-group">
            <label class="text-left col-sm-6"
                   for="total_assets">Turnover</label>

            <div class="col-sm-6">
              <div class="input-group">
                <span class="input-group-addon">&pound;</span>
                <input type="text" id="turnover" name="turnover" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       placeholder="Turnover"
                       data-ng-model="partnerTrading.turnover"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="text-left col-sm-6"
                   for="cost_of_sales">Cost of sales</label>

            <div class="col-sm-6">
              <div class="input-group">
                <span class="input-group-addon">&pound;</span>
                <input type="text" id="cost_of_sales" name="cost_of_sales" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       placeholder="Cost of sales"
                       data-ng-model="partnerTrading.cost_of_sales"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="text-left col-sm-6"
                   for="construction_industry_subcontractor_costs">
              Construction industry subcontractor costs</label>

            <div class="col-sm-6">
              <div class="input-group">
                <span class="input-group-addon">&pound;</span>
                <input type="text" id="construction_industry_subcontractor_costs"
                       name="construction_industry_subcontractor_costs" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       placeholder="Construction industry subcontractor costs"
                       data-ng-model="partnerTrading.construction_industry_subcontractor_costs"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="text-left col-sm-6"
                   for="other_direct_costs">Other direct costs</label>

            <div class="col-sm-6">
              <div class="input-group">
                <span class="input-group-addon">&pound;</span>
                <input type="text" id="other_direct_costs" name="other_direct_costs"
                       class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       placeholder="Annual Investment Allowance"
                       data-ng-model="partnerTrading.other_direct_costs"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="text-left col-sm-6"
                   for="gross_profit_loss">Gross profit/(loss)</label>

            <div class="col-sm-6">
              <div class="input-group">
                <span class="input-group-addon">&pound;</span>
                <input type="text" id="gross_profit_loss" name="gross_profit_loss" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       placeholder="Gross profit/(loss)"
                       data-ng-model="partnerTrading.gross_profit_loss"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="text-left col-sm-6"
                   for="other_income_profits">
              Other income/profits
            </label>

            <div class="col-sm-6">
              <div class="input-group">
                <span class="input-group-addon">&pound;</span>
                <input type="text" id="other_income_profits" name="other_income_profits"
                       class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       placeholder="Other income/profits"
                       data-ng-model="partnerTrading.other_income_profits"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="text-left col-sm-6"
                   for="employee_costs">Employee costs</label>

            <div class="col-sm-6">
              <div class="input-group">
                <span class="input-group-addon">&pound;</span>
                <input type="text" id="employee_costs" name="employee_costs" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       placeholder="Employee costs"
                       data-ng-model="partnerTrading.employee_costs"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="text-left col-sm-6" for="premises_costs">
              Premises costs
            </label>

            <div class="col-sm-6">
              <div class="input-group">
                <span class="input-group-addon">&pound;</span>
                <input type="text" id="premises_costs" name="premises_costs" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       placeholder="Premises costs"
                       data-ng-model="partnerTrading.premises_costs"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="text-left col-sm-6"
                   for="repairs">Repairs</label>

            <div class="col-sm-6">
              <div class="input-group">
                <span class="input-group-addon">&pound;</span>
                <input type="text" id="repairs" name="repairs" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       placeholder="Repairs"
                       data-ng-model="partnerTrading.repairs"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="text-left col-sm-6"
                   for="general_administrative_expenses">General administrative expenses</label>

            <div class="col-sm-6">
              <div class="input-group">
                <span class="input-group-addon">&pound;</span>
                <input type="text" id="general_administrative_expenses"
                       name="general_administrative_expenses" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       placeholder="General administrative expenses"
                       data-ng-model="partnerTrading.general_administrative_expenses"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="text-left col-sm-6"
                   for="motor_expenses">Motor expenses</label>

            <div class="col-sm-6">
              <div class="input-group">
                <span class="input-group-addon">&pound;</span>
                <input type="text" id="motor_expenses" name="motor_expenses" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       placeholder="Motor expenses"
                       data-ng-model="partnerTrading.motor_expenses"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="text-left col-sm-6"
                   for="travel_and_subsistence">Travel and subsistence</label>

            <div class="col-sm-6">
              <div class="input-group">
                <span class="input-group-addon">&pound;</span>
                <input type="text" id="travel_and_subsistence" name="travel_and_subsistence"
                       class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       placeholder="Travel and subsistence"
                       data-ng-model="partnerTrading.travel_and_subsistence"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="text-left col-sm-6"
                   for="advertising_promotional_and_entertainment">
              Advertising, promotional and entertainment
            </label>

            <div class="col-sm-6">
              <div class="input-group">
                <span class="input-group-addon">&pound;</span>
                <input type="text" id="advertising_promotional_and_entertainment"
                       name="advertising_promotional_and_entertainment" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       placeholder="Advertising, promotional and entertainment"
                       data-ng-model="partnerTrading.advertising_promotional_and_entertainment"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="text-left col-sm-6"
                   for="legal_and_professional_costs">Legal and professional costs</label>

            <div class="col-sm-6">
              <div class="input-group">
                <span class="input-group-addon">&pound;</span>
                <input type="text" id="legal_and_professional_costs" name="legal_and_professional_costs"
                       class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       placeholder="Legal and professional costs"
                       data-ng-model="partnerTrading.legal_and_professional_costs"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="text-left col-sm-6"
                   for="bad_debts">Bad debts</label>
            <div class="col-sm-6">
              <div class="input-group">
                <span class="input-group-addon">&pound;</span>
                <input type="text" id="bad_debts" name="bad_debts" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       placeholder="Bad debts"
                       data-ng-model="partnerTrading.bad_debts"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="text-left col-sm-6"
                   for="interest_and_alternative_finance_payments">Interest and alternative finance
              payments</label>

            <div class="col-sm-6">
              <div class="input-group">
                <span class="input-group-addon">&pound;</span>
                <input type="text" id="interest_and_alternative_finance_payments"
                       name="interest_and_alternative_finance_payments" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       placeholder="Interest and alternative finance payments"
                       data-ng-model="partnerTrading.interest_and_alternative_finance_payments"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="text-left col-sm-6"
                   for="other_finance_charges">Other finance charges</label>

            <div class="col-sm-6">
              <div class="input-group">
                <span class="input-group-addon">&pound;</span>
                <input type="text" id="other_finance_charges" name="other_finance_charges"
                       class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       placeholder="Other finance charges"
                       data-ng-model="partnerTrading.other_finance_charges"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="text-left col-sm-6"
                   for="depreciation_and_loss_profit_on_sale">
              Depreciation and loss/(profit) on sale</label>

            <div class="col-sm-6">
              <div class="input-group">
                <span class="input-group-addon">&pound;</span>
                <input type="text" id="depreciation_and_loss_profit_on_sale"
                       name="depreciation_and_loss_profit_on_sale" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       placeholder="Depreciation and loss/(profit) on sale"
                       data-ng-model="partnerTrading.depreciation_and_loss_profit_on_sale"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="text-left col-sm-6"
                   for="other_expenses_including_partnership_charges">
              Other expenses including partnership charges</label>

            <div class="col-sm-6">
              <div class="input-group">
                <span class="input-group-addon">&pound;</span>
                <input type="text" id="other_expenses_including_partnership_charges"
                       name="other_expenses_including_partnership_charges" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       placeholder="Other expenses including partnership charges"
                       data-ng-model="partnerTrading.other_expenses_including_partnership_charges"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="text-left col-sm-6"
                   for="total_expenses">Total expenses</label>

            <div class="col-sm-6">
              <div class="input-group">
                <span class="input-group-addon">&pound;</span>
                <input type="text" id="total_expenses" name="total_expenses" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       placeholder="Total expenses"
                       data-ng-model="partnerTrading.total_expenses"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="text-left col-sm-6"
                   for="disallowable_construction_industry_subcontractor_costs">
              Disallowable Construction industry subcontractor costs</label>

            <div class="col-sm-6">
              <div class="input-group">
                <span class="input-group-addon">&pound;</span>
                <input type="text" id="disallowable_construction_industry_subcontractor_costs"
                       name="disallowable_construction_industry_subcontractor_costs"
                       class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       placeholder="Disallowable Construction industry subcontractor costs"
                       data-ng-model="partnerTrading.disallowable_construction_industry_subcontractor_costs"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="text-left col-sm-6"
                   for="disallowable_other_direct_costs">
              Disallowable Other direct costs
            </label>

            <div class="col-sm-6">
              <div class="input-group">
                <span class="input-group-addon">&pound;</span>
                <input type="text" id="disallowable_other_direct_costs"
                       name="disallowable_other_direct_costs" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       placeholder="Disallowable Other direct costs"
                       data-ng-model="partnerTrading.disallowable_other_direct_costs"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="text-left col-sm-6"
                   for="disallowable_employee_costs">Disallowable Employee costs</label>

            <div class="col-sm-6">
              <div class="input-group">
                <span class="input-group-addon">&pound;</span>
                <input type="text" id="disallowable_employee_costs" name="disallowable_employee_costs"
                       class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       placeholder="Disallowable Employee costs"
                       data-ng-model="partnerTrading.disallowable_employee_costs"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="text-left col-sm-6"
                   for="disallowable_premises_costs">Disallowable Premises costs</label>

            <div class="col-sm-6">
              <div class="input-group">
                <span class="input-group-addon">&pound;</span>
                <input type="text" id="disallowable_premises_costs" name="disallowable_premises_costs"
                       class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       placeholder="Disallowable Premises costs"
                       data-ng-model="partnerTrading.disallowable_premises_costs"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="text-left col-sm-6"
                   for="disallowable_repairs">
              Disallowable Repairs</label>

            <div class="col-sm-6">
              <div class="input-group">
                <span class="input-group-addon">&pound;</span>
                <input type="text" id="disallowable_repairs" name="disallowable_repairs"
                       class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       placeholder="Disallowable Repairs"
                       data-ng-model="partnerTrading.disallowable_repairs"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="text-left col-sm-6"
                   for="disallowable_general_administrative_expenses">
              Disallowable General administrative expenses</label>

            <div class="col-sm-6">
              <div class="input-group">
                <span class="input-group-addon">&pound;</span>
                <input type="text" id="disallowable_general_administrative_expenses"
                       name="disallowable_general_administrative_expenses" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       placeholder="Disallowable General administrative expenses"
                       data-ng-model="partnerTrading.disallowable_general_administrative_expenses"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="text-left col-sm-6"
                   for="disallowable_motor_expenses">Disallowable Motor expenses</label>

            <div class="col-sm-6">
              <div class="input-group">
                <span class="input-group-addon">&pound;</span>
                <input type="text" id="disallowable_motor_expenses" name="disallowable_motor_expenses"
                       class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       placeholder="Disallowable Motor expenses"
                       data-ng-model="partnerTrading.disallowable_motor_expenses"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="text-left col-sm-6"
                   for="disallowable_travel_and_subsistence">
              Disallowable Travel and subsistence</label>

            <div class="col-sm-6">
              <div class="input-group">
                <span class="input-group-addon">&pound;</span>
                <input type="text" id="disallowable_travel_and_subsistence"
                       name="disallowable_travel_and_subsistence" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       placeholder="Disallowable Travel and subsistence"
                       data-ng-model="partnerTrading.disallowable_travel_and_subsistence"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="text-left col-sm-6"
                   for="disallowable_advertising_promotional_and_entertainment">
              Disallowable Advertising, promotional and entertainment</label>

            <div class="col-sm-6">
              <div class="input-group">
                <span class="input-group-addon">&pound;</span>
                <input type="text" id="disallowable_advertising_promotional_and_entertainment"
                       name="disallowable_advertising_promotional_and_entertainment"
                       class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       placeholder="Disallowable Advertising, promotional and entertainment"
                       data-ng-model="partnerTrading.disallowable_advertising_promotional_and_entertainment"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="text-left col-sm-6"
                   for="disallowable_legal_and_professional_costs">
              Disallowable Legal and professional costs</label>
            <div class="col-sm-6">
              <div class="input-group">
                <span class="input-group-addon">&pound;</span>
                <input type="text" id="disallowable_legal_and_professional_costs"
                       name="disallowable_legal_and_professional_costs" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       placeholder="Disallowable Legal and professional costs"
                       data-ng-model="partnerTrading.disallowable_legal_and_professional_costs"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="text-left col-sm-6"
                   for="disallowable_bad_debts">Disallowable Bad debts</label>

            <div class="col-sm-6">
              <div class="input-group">
                <span class="input-group-addon">&pound;</span>
                <input type="text" id="disallowable_bad_debts" name="disallowable_bad_debts"
                       class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       placeholder="Disallowable Bad debts"
                       data-ng-model="partnerTrading.disallowable_bad_debts"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="text-left col-sm-6"
                   for="disallowable_bad_debts">
              Disallowable Interest and alternative finance payments</label>

            <div class="col-sm-6">
              <div class="input-group">
                <span class="input-group-addon">&pound;</span>
                <input type="text" id="disallowable_interest_and_alternative_finance_payments"
                       name="disallowable_interest_and_alternative_finance_payments"
                       class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       placeholder="Disallowable Interest and alternative finance payments"
                       data-ng-model="partnerTrading.disallowable_interest_and_alternative_finance_payments"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="text-left col-sm-6"
                   for="disallowable_other_finance_charges">Disallowable Other finance charges</label>
            <div class="col-sm-6">
              <div class="input-group">
                <span class="input-group-addon">&pound;</span>
                <input type="text" id="disallowable_other_finance_charges"
                       name="disallowable_other_finance_charges" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       placeholder="Disallowable Other finance charges"
                       data-ng-model="partnerTrading.disallowable_other_finance_charges"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="text-left col-sm-6"
                   for="disallowable_depreciation_and_loss_profit_on_sale">
              Disallowable Depreciation and loss/(profit) on sale</label>
            <div class="col-sm-6">
              <div class="input-group">
                <span class="input-group-addon">&pound;</span>
                <input type="text" id="disallowable_depreciation_and_loss_profit_on_sale"
                       name="disallowable_depreciation_and_loss_profit_on_sale" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       placeholder="Disallowable Depreciation and loss/(profit) on sale"
                       data-ng-model="partnerTrading.disallowable_depreciation_and_loss_profit_on_sale"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="text-left col-sm-6"
                   for="disallowable_other_expenses_including_partnership_charges">
              Disallowable Other expenses including partnership charges</label>

            <div class="col-sm-6">
              <div class="input-group">
                <span class="input-group-addon">&pound;</span>
                <input type="text" id="disallowable_other_expenses_including_partnership_charges"
                       name="disallowable_other_expenses_including_partnership_charges"
                       class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       placeholder="Disallowable Other expenses including partnership charges"
                       data-ng-model="partnerTrading.disallowable_other_expenses_including_partnership_charges"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="text-left col-sm-6"
                   for="total_disallowable_expenses">Total disallowable expenses</label>

            <div class="col-sm-6">
              <div class="input-group">
                <span class="input-group-addon">&pound;</span>
                <input type="text" id="total_disallowable_expenses" name="total_disallowable_expenses"
                       class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       placeholder="Total disallowable expenses"
                       data-ng-model="partnerTrading.total_disallowable_expenses"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="text-left col-sm-6"
                   for="net_profit_loss">Net profit/(loss)</label>

            <div class="col-sm-6">
              <div class="input-group">
                <span class="input-group-addon">&pound;</span>
                <input type="text" id="net_profit_loss" name="net_profit_loss" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       placeholder="Net profit/(loss)"
                       data-ng-model="partnerTrading.net_profit_loss"/>
              </div>
            </div>
          </div>

        </tab>

        <tab heading="Annual Investment">

          <div class="form-group">
            <label class="text-left col-sm-6"
                   for="annual_investment_allowance">Annual Investment Allowance</label>

            <div class="col-sm-6">
              <div class="input-group">
                <span class="input-group-addon">&pound;</span>
                <input type="text" id="annual_investment_allowance" name="annual_investment_allowance"
                       class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       placeholder="Annual Investment Allowance"
                       data-ng-model="partnerTrading.annual_investment_allowance"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="text-left col-sm-6"
                   for="capital_allowances_on_cars_costing_more_than_12000">
              Capital allowances on cars costing more than £12,000</label>

            <div class="col-sm-6">
              <div class="input-group">
                <span class="input-group-addon">&pound;</span>
                <input type="text" id="capital_allowances_on_cars_costing_more_than_12000"
                       name="capital_allowances_on_cars_costing_more_than_12000" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       placeholder="Capital allowances on cars costing more than £12,000"
                       data-ng-model="partnerTrading.capital_allowances_on_cars_costing_more_than_12000"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="text-left col-sm-6"
                   for="capital_allowances_at_18">Capital allowances at 18%</label>

            <div class="col-sm-6">
              <div class="input-group">
                <span class="input-group-addon">&pound;</span>
                <input type="text" id="capital_allowances_at_18" name="capital_allowances_at_18"
                       class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       placeholder="Capital allowances at 18%"
                       data-ng-model="partnerTrading.capital_allowances_at_18"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="text-left col-sm-6"
                   for="capital_allowances_at_8">Capital allowances at 8%</label>

            <div class="col-sm-6">
              <div class="input-group">
                <span class="input-group-addon">&pound;</span>
                <input type="text" id="capital_allowances_at_8" name="capital_allowances_at_8"
                       class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       placeholder="Capital allowances at 8%"
                       data-ng-model="partnerTrading.capital_allowances_at_8"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="text-left col-sm-6"
                   for="agricultural_or_industrial_buildings_allowance">
              Agricultural or Industrial Buildings Allowance</label>

            <div class="col-sm-6">
              <div class="input-group">
                <span class="input-group-addon">&pound;</span>
                <input type="text" id="agricultural_or_industrial_buildings_allowance"
                       name="agricultural_or_industrial_buildings_allowance" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       placeholder="Agricultural or Industrial Buildings Allowance"
                       data-ng-model="partnerTrading.agricultural_or_industrial_buildings_allowance"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="text-left col-sm-6"
                   for="business_premises_renovation_allowance">
              Business Premises Renovation Allowance</label>

            <div class="col-sm-6">
              <div class="input-group">
                <span class="input-group-addon">&pound;</span>
                <input type="text" id="business_premises_renovation_allowance"
                       name="business_premises_renovation_allowance" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       placeholder="Business Premises Renovation Allowance"
                       data-ng-model="partnerTrading.business_premises_renovation_allowance"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="text-left col-sm-6"
                   for="100_and_other_enhanced_capital_allowances">
              100% and other enhanced capital allowances</label>

            <div class="col-sm-6">
              <div class="input-group">
                <span class="input-group-addon">&pound;</span>
                <input type="text" id="100_and_other_enhanced_capital_allowances"
                       name="100_and_other_enhanced_capital_allowances" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       placeholder="100% and other enhanced capital allowances"
                       data-ng-model="partnerTrading.100_and_other_enhanced_capital_allowances"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="text-left col-sm-6"
                   for="total_capital_allowances">Total capital allowances</label>

            <div class="col-sm-6">
              <div class="input-group">
                <span class="input-group-addon">&pound;</span>
                <input type="text" id="total_capital_allowances" name="total_capital_allowances"
                       class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       placeholder="Total capital allowances"
                       data-ng-model="partnerTrading.total_capital_allowances"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="text-left col-sm-6"
                   for="goods_etc_taken_for_personal_use_and_other_adjustments">
              Goods etc. taken for personal use and other adjustments</label>

            <div class="col-sm-6">
              <div class="input-group">
                <span class="input-group-addon">&pound;</span>
                <input type="text" id="goods_etc_taken_for_personal_use_and_other_adjustments"
                       name="goods_etc_taken_for_personal_use_and_other_adjustments"
                       class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       placeholder="Goods etc. taken for personal use and other adjustments"
                       data-ng-model="partnerTrading.goods_etc_taken_for_personal_use_and_other_adjustments"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="text-left col-sm-6"
                   for="total_additions">Total additions</label>

            <div class="col-sm-6">
              <div class="input-group">
                <span class="input-group-addon">&pound;</span>
                <input type="text" id="total_additions" name="total_additions" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       placeholder="Total additions"
                       data-ng-model="partnerTrading.total_additions"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="text-left col-sm-6"
                   for="deductions_from_profit">Deductions from profit</label>

            <div class="col-sm-6">
              <div class="input-group">
                <span class="input-group-addon">&pound;</span>
                <input type="text" id="deductions_from_profit" name="deductions_from_profit"
                       class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       placeholder="Deductions from profit"
                       data-ng-model="partnerTrading.deductions_from_profit"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="text-left col-sm-6"
                   for="total_deductions">Total deductions</label>

            <div class="col-sm-6">
              <div class="input-group">
                <span class="input-group-addon">&pound;</span>
                <input type="text" id="total_deductions" name="total_deductions" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       placeholder="Total deductions"
                       data-ng-model="partnerTrading.total_deductions"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="text-left col-sm-6"
                   for="net_taxable_profit_allowable_loss">Net taxable profit/(allowable loss)</label>

            <div class="col-sm-6">
              <div class="input-group">
                <span class="input-group-addon">&pound;</span>
                <input type="text" id="net_taxable_profit_allowable_loss"
                       name="net_taxable_profit_allowable_loss" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       placeholder="Net taxable profit/(allowable loss)"
                       data-ng-model="partnerTrading.net_taxable_profit_allowable_loss"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="text-left col-sm-6"
                   for="adjustment_on_change_of_basis">Adjustment on change of basis</label>

            <div class="col-sm-6">
              <div class="input-group">
                <span class="input-group-addon">&pound;</span>
                <input type="text" id="adjustment_on_change_of_basis"
                       name="adjustment_on_change_of_basis"
                       class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       placeholder="Adjustment on change of basis"
                       data-ng-model="partnerTrading.adjustment_on_change_of_basis"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="text-left col-sm-6"
                   for="construction_industry_deductions_from_contractors">
              Construction industry deductions from contractors</label>

            <div class="col-sm-6">
              <div class="input-group">
                <span class="input-group-addon">&pound;</span>
                <input type="text" id="construction_industry_deductions_from_contractors"
                       name="construction_industry_deductions_from_contractors" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       placeholder="Construction industry deductions from contractors"
                       data-ng-model="partnerTrading.construction_industry_deductions_from_contractors"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="text-left col-sm-6"
                   for="tax_taken_off_trading_income">Tax taken off trading income</label>

            <div class="col-sm-6">
              <div class="input-group">
                <span class="input-group-addon">&pound;</span>
                <input type="text" id="tax_taken_off_trading_income" name="tax_taken_off_trading_income"
                       class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       placeholder="Tax taken off trading income"
                       data-ng-model="partnerTrading.tax_taken_off_trading_income"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="text-left col-sm-6"
                   for="net_partnership_charges_for_taxyear">Net partnership charges for tax year</label>

            <div class="col-sm-6">
              <div class="input-group">
                <span class="input-group-addon">&pound;</span>
                <input type="text" id="net_partnership_charges_for_taxyear"
                       name="net_partnership_charges_for_taxyear" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       placeholder="Net partnership charges for taxyear"
                       data-ng-model="partnerTrading.net_partnership_charges_for_taxyear"/>
              </div>
            </div>
          </div>
        </tab>

        <tab heading="Equipment">
          <div class="form-group">
            <label class="text-left col-sm-6"
                   for="equipment_machinery_and_vehicle">Equipment, machinery and vehicle</label>

            <div class="col-sm-6">
              <div class="input-group">
                <span class="input-group-addon">&pound;</span>
                <input type="text" id="equipment_machinery_and_vehicle"
                       name="equipment_machinery_and_vehicle" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       placeholder="Equipment, machinery and vehicle"
                       data-ng-model="partnerTrading.equipment_machinery_and_vehicle"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="text-left col-sm-6"
                   for="other_fixed_assets">Other fixed assets</label>

            <div class="col-sm-6">
              <div class="input-group">
                <span class="input-group-addon">&pound;</span>
                <input type="text" id="other_fixed_assets" name="other_fixed_assets"
                       class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       placeholder="Other fixed assets"
                       data-ng-model="partnerTrading.other_fixed_assets"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="text-left col-sm-6"
                   for="stock_and_work_in_progress">Stock and work in progress</label>

            <div class="col-sm-6">
              <div class="input-group">
                <span class="input-group-addon">&pound;</span>
                <input type="text" id="stock_and_work_in_progress" name="stock_and_work_in_progress"
                       class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       placeholder="Stock and work in progress"
                       data-ng-model="partnerTrading.stock_and_work_in_progress"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="text-left col-sm-6"
                   for="trade_debtors">Trade debtors</label>

            <div class="col-sm-6">
              <div class="input-group">
                <span class="input-group-addon">&pound;</span>
                <input type="text" id="trade_debtors" name="trade_debtors" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       placeholder="Trade debtors"
                       data-ng-model="partnerTrading.trade_debtors"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="text-left col-sm-6"
                   for="bank_building_society_balances">Bank/building society balances</label>

            <div class="col-sm-6">
              <div class="input-group">
                <span class="input-group-addon">&pound;</span>
                <input type="text" id="bank_building_society_balances"
                       name="bank_building_society_balances"
                       class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       placeholder="Bank/building society balances"
                       data-ng-model="partnerTrading.bank_building_society_balances"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="text-left col-sm-6"
                   for="cash_in_hand">Cash in hand</label>

            <div class="col-sm-6">
              <div class="input-group">
                <span class="input-group-addon">&pound;</span>
                <input type="text" id="cash_in_hand" name="cash_in_hand" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       placeholder="Cash in hand"
                       data-ng-model="partnerTrading.cash_in_hand"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="text-left col-sm-6"
                   for="total_assets">Total assets</label>

            <div class="col-sm-6">
              <div class="input-group">
                <span class="input-group-addon">&pound;</span>
                <input type="text" id="total_assets" name="total_assets" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       placeholder="Total assets"
                       data-ng-model="partnerTrading.total_assets"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="text-left col-sm-6"
                   for="trade_creditors">Trade creditors</label>

            <div class="col-sm-6">
              <div class="input-group">
                <span class="input-group-addon">&pound;</span>
                <input type="text" id="trade_creditors" name="trade_creditors" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       placeholder="Trade creditors"
                       data-ng-model="partnerTrading.trade_creditors"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="text-left col-sm-6"
                   for="loans_and_overdrafts">Loans and overdrafts</label>

            <div class="col-sm-6">
              <div class="input-group">
                <span class="input-group-addon">&pound;</span>
                <input type="text" id="loans_and_overdrafts" name="loans_and_overdrafts"
                       class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       placeholder="Loans and overdrafts"
                       data-ng-model="partnerTrading.loans_and_overdrafts"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="text-left col-sm-6"
                   for="other_liabilities_and_accruals">Other liabilities and accruals</label>

            <div class="col-sm-6">
              <div class="input-group">
                <span class="input-group-addon">&pound;</span>
                <input type="text" id="other_liabilities_and_accruals"
                       name="other_liabilities_and_accruals"
                       class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       placeholder="Other liabilities and accruals"
                       data-ng-model="partnerTrading.other_liabilities_and_accruals"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="text-left col-sm-6"
                   for="total_liabilities">Total liabilities</label>

            <div class="col-sm-6">
              <div class="input-group">
                <span class="input-group-addon">&pound;</span>
                <input type="text" id="total_liabilities" name="total_liabilities" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       placeholder="Total liabilities"
                       data-ng-model="partnerTrading.total_liabilities"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="text-left col-sm-6"
                   for="net_business_assets">Net business assets</label>

            <div class="col-sm-6">
              <div class="input-group">
                <span class="input-group-addon">&pound;</span>
                <input type="text" id="net_business_assets" name="net_business_assets"
                       class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       placeholder="Net business assets"
                       data-ng-model="partnerTrading.net_business_assets"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="text-left col-sm-6"
                   for="balance_at_start_of_period">Balance at start of period</label>

            <div class="col-sm-6">
              <div class="input-group">
                <span class="input-group-addon">&pound;</span>
                <input type="text" id="balance_at_start_of_period" name="balance_at_start_of_period"
                       class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       placeholder="Balance at start of period"
                       data-ng-model="partnerTrading.balance_at_start_of_period"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="text-left col-sm-6"
                   for="net_profit_or_loss">Net profit or loss</label>

            <div class="col-sm-6">
              <div class="input-group">
                <span class="input-group-addon">&pound;</span>
                <input type="text" id="net_profit_or_loss" name="net_profit_or_loss"
                       class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       placeholder="Net profit or loss"
                       data-ng-model="partnerTrading.net_profit_or_loss"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="text-left col-sm-6"
                   for="capital_introduced">Capital introduced</label>

            <div class="col-sm-6">
              <div class="input-group">
                <span class="input-group-addon">&pound;</span>
                <input type="text" id="capital_introduced" name="capital_introduced"
                       class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       placeholder="Capital introduced"
                       data-ng-model="partnerTrading.capital_introduced"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="text-left col-sm-6"
                   for="drawings">Drawings</label>

            <div class="col-sm-6">
              <div class="input-group">
                <span class="input-group-addon">&pound;</span>
                <input type="text" id="drawings" name="drawings" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       placeholder="Drawings"
                       data-ng-model="partnerTrading.drawings"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="text-left col-sm-6"
                   for="balance_at_end_of_period">Balance at end of period</label>

            <div class="col-sm-6">
              <div class="input-group">
                <span class="input-group-addon">&pound;</span>
                <input type="text" id="balance_at_end_of_period" name="balance_at_end_of_period"
                       class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       placeholder="Balance at end of period"
                       data-ng-model="partnerTrading.balance_at_end_of_period"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="text-left col-sm-6"
                   for="additional_information">Additional information </label>

            <div class="col-sm-6">
              <div class="input-group">
                <span class="input-group-addon">&pound;</span>
                <input type="text" id="additional_information" name="additional_information"
                       class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       placeholder="Additional information "
                       data-ng-model="partnerTrading.additional_information"/>
              </div>
            </div>
          </div>
        </tab>
      </tabset>

      <div class="form-group">
        <div class="col-sm-12">
          <button class="btn btn-primary btn-sm pull-right" type="submit"
                  data-ng-disabled="form.$invalid"
                  data-ng-click="actions.save(form.$valid)">Save
          </button>
        </div>
      </div>
    </form>
  </div>
</div>