<h4>
    Capital Gain - <a class="btn-link text-primary" data-ng-click="actions.open('capital-gains')">Edit</a>
</h4>

<div class="row">
    <div class="col-xs-12">
        <div class="row">
            <label class="control-label col-xs-6">
                Total Gains In The Year
            </label>
            <span class="col-xs-6">{{ forms.capitalGain.CGT3 | currency: '&pound;' }}</span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Total ER Gains In The Year
            </label>
            <span class="col-xs-6">{{ forms.capitalGain.CGT4 | currency: '&pound;' }}</span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Gains invested under Seed EIS and qualifying for exemption
            </label>
            <span class="col-xs-6">{{ forms.capitalGain.CGT5 | currency: '&pound;' }}</span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Total losses for the year
            </label>
            <span class="col-xs-6">{{ forms.capitalGain.CGT6 | currency: '&pound;' }}</span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Losses brought forward and used in the year
            </label>
            <span class="col-xs-6">{{ forms.capitalGain.CGT7 | currency: '&pound;' }}</span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Adjustments to Capital Gains Tax
            </label>
            <span class="col-xs-6">{{ forms.capitalGain.CGT8 | currency: '&pound;' }}</span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Non resident/dual resident trust liability
            </label>
            <span class="col-xs-6">{{ forms.capitalGain.CGT9 | currency: '&pound;' }}</span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Losses to be carried forward
            </label>
            <span class="col-xs-6">{{ forms.capitalGain.CGT10 | currency: '&pound;' }}</span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Losses used against earlier year's gain
            </label>
            <span class="col-xs-6">{{ forms.capitalGain.CGT11 | currency: '&pound;' }}</span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Losses used against current year income
            </label>
            <span class="col-xs-6">{{ forms.capitalGain.CGT12 | currency: '&pound;' }}</span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Uncapped losses used against current year income
            </label>
            <span class="col-xs-6">{{ forms.capitalGain.CGT13 | currency: '&pound;' }}</span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Losses used against previous year income
            </label>
            <span class="col-xs-6">{{ forms.capitalGain.CGT14 | currency: '&pound;' }}</span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Uncapped losses used against previous year income
            </label>
            <span class="col-xs-6">{{ forms.capitalGain.CGT15 | currency: '&pound;' }}</span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Income losses of the year set against gains
            </label>
            <span class="col-xs-6">{{ forms.capitalGain.CGT16 | currency: '&pound;' }}</span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Amount Of Entrepreneurs Relief Claimed On Deferred Gains From Before 23June2010
            </label>
            <span class="col-xs-6">{{ forms.capitalGain.CGT17 | currency: '&pound;' }}</span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Quoted shares - number of disposals
            </label>
            <span class="col-xs-6">{{ forms.capitalGain.CGT18 | currency: '&pound;' }}</span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Quoted shares - disposal proceeds
            </label>
            <span class="col-xs-6">{{ forms.capitalGain.CGT19 | currency: '&pound;' }}</span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Quoted shares - costs and indexation
            </label>
            <span class="col-xs-6">{{ forms.capitalGain.CGT20 | currency: '&pound;' }}</span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Quoted shares - gains in the year
            </label>
            <span class="col-xs-6">{{ forms.capitalGain.CGT21 | currency: '&pound;' }}</span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Quoted shares - claim or election made
            </label>
            <span class="col-xs-6">{{ forms.capitalGain.CGT22 == '1' ? 'Yes' : 'No' }}</span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Quoted shares - estimate or valuation
            </label>
            <span class="col-xs-6">{{ forms.capitalGain.CGT23 == '1' ? 'Yes' : 'No' }}</span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Unquoted shares - number of disposals
            </label>
            <span class="col-xs-6">{{ forms.capitalGain.CGT24 | currency: '&pound;' }}</span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Unquoted shares - disposal proceeds
            </label>
            <span class="col-xs-6">{{ forms.capitalGain.CGT25 | currency: '&pound;' }}</span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Unquoted shares - costs and indexation
            </label>
            <span class="col-xs-6">{{ forms.capitalGain.CGT26 | currency: '&pound;' }}</span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Unquoted shares - gains in the year
            </label>
            <span class="col-xs-6">{{ forms.capitalGain.CGT27 | currency: '&pound;' }}</span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Unquoted shares - claim or election made
            </label>
            <span class="col-xs-6">{{ forms.capitalGain.CGT28 == '1' ? 'Yes' : 'No' }}</span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Unquoted shares - estimate or valuation
            </label>
            <span class="col-xs-6">{{ forms.capitalGain.CGT29 == '1' ? 'Yes' : 'No' }}</span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Property etc. - number of disposals
            </label>
            <span class="col-xs-6">{{ forms.capitalGain.CGT30 | currency: '&pound;' }}</span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Property etc. - disposal proceeds
            </label>
            <span class="col-xs-6">{{ forms.capitalGain.CGT31 | currency: '&pound;' }}</span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Property etc. - costs & indexation
            </label>
            <span class="col-xs-6">{{ forms.capitalGain.CGT32 | currency: '&pound;' }}</span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Property etc. - gains in the year
            </label>
            <span class="col-xs-6">{{ forms.capitalGain.CGT33 | currency: '&pound;' }}</span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Property Etc Attributed Gains
            </label>
            <span class="col-xs-6">{{ forms.capitalGain.CGT34 | currency: '&pound;' }}</span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Tick box if you are making a claim or election
            </label>
            <span class="col-xs-6">{{ forms.capitalGain.CGT35 == '1' ? 'Yes' : 'No' }}</span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Tick box if estimate or valuation used
            </label>
            <span class="col-xs-6">{{ forms.capitalGain.CGT36 == '1' ? 'Yes' : 'No' }}</span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Any other information space
            </label>
            <span class="col-xs-6">{{ forms.capitalGain.CGT37 }}</span>
        </div>
    </div>
</div>
<hr/>