<h4>
    Employment - <a class="btn-link text-primary" data-ng-click="actions.open('employment')">Edit</a>
</h4>

<div class="row">
    <div class="col-xs-12">
        <div class="row">
            <label class="control-label col-xs-6">Employer</label>
            <span class="col-xs-6" data-ng-bind="forms.employment.employer.name"></span>

            <div class="col-xs-12">
                <div class="col-xs-12">
                    <div class="row">
                        <label class="control-label col-xs-6">PAYE Reference</label>
                        <span class="col-xs-6" data-ng-bind="forms.employment.employer.paye_reference"></span>
                    </div>
                    <div class="row">
                        <label class="control-label col-xs-6">I am a company director</label>
                        <span class="col-xs-6" data-ng-bind="forms.employment.employer.company_director == '1' ? 'Yes' : 'No'"></span>
                    </div>
                    <div class="row">
                        <label class="control-label col-xs-6">It's a close company</label>
                        <span class="col-xs-6" data-ng-bind="forms.employment.employer.close_company == '1' ? 'Yes' : 'No'"></span>
                    </div>
                    <div class="row">
                        <label class="control-label col-xs-6">Teacher loan scheme</label>
                        <span class="col-xs-6" data-ng-bind="forms.employment.employer.teacher_on_repayment == '1' ? 'Yes' : 'No'"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <label class="control-label col-xs-6">Pay from employment</label>
            <span class="col-xs-6" data-ng-bind="forms.employment.EMP1 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Tax taken off pay</label>
            <span class="col-xs-6" data-ng-bind="forms.employment.EMP2 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Tips and other payments</label>
            <span class="col-xs-6" data-ng-bind="forms.employment.EMP3 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">I received some P11D items</label>
            <span class="col-xs-6" data-ng-bind="forms.employment.p11d == '1' ? 'Yes' : 'No'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Company cars and vans benefit</label>
            <span class="col-xs-6" data-ng-bind="forms.employment.EMP9 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Fuel for cars and vans</label>
            <span class="col-xs-6" data-ng-bind="forms.employment.EMP10 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Private medical/dental insurance</label>
            <span class="col-xs-6" data-ng-bind="forms.employment.EMP11 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Vouchers, credit cards & excess mileage allowance</label>
            <span class="col-xs-6" data-ng-bind="forms.employment.EMP12 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Goods etc. provided by employer</label>
            <span class="col-xs-6" data-ng-bind="forms.employment.EMP13 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Accommodation provided by employer</label>
            <span class="col-xs-6" data-ng-bind="forms.employment.EMP14 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Other benefits</label>
            <span class="col-xs-6" data-ng-bind="forms.employment.EMP15 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Expenses payments received</label>
            <span class="col-xs-6" data-ng-bind="forms.employment.EMP16 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Business travel and subsistence</label>
            <span class="col-xs-6" data-ng-bind="forms.employment.EMP17 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Fixed expenses deductions</label>
            <span class="col-xs-6" data-ng-bind="forms.employment.EMP18 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Professional fees and subscriptions</label>
            <span class="col-xs-6" data-ng-bind="forms.employment.EMP19 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Other expenses and capital allowances</label>
            <span class="col-xs-6" data-ng-bind="forms.employment.EMP20 | currency: '&pound;'"></span>
        </div>
    </div>
</div>
<hr/>