<h4>
    Foreign Income - <a class="btn-link text-primary" data-ng-click="actions.open('foreign-income')">Edit</a>
</h4>

<div class="row">
    <div class="col-xs-12">
        <div class="row">
            <label class="control-label col-xs-6">Partnership reference number</label>
            <span class="col-xs-6" data-ng-bind="forms.partnership.FPS1"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Unremittable income
            </label>
            <span class="col-xs-6" data-ng-bind="forms.foreignIncome.FOR1 == '1' ? 'Yes' : 'No'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Foreign tax credit relief
            </label>
            <span class="col-xs-6" data-ng-bind="forms.foreignIncome.FOR2 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Country code
            </label>
            <span class="col-xs-6" data-ng-bind="forms.foreignIncome.FOR4A"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Income before tax
            </label>
            <span class="col-xs-6" data-ng-bind="forms.foreignIncome.FOR4B | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Foreign Tax
            </label>
            <span class="col-xs-6" data-ng-bind="forms.foreignIncome.FOR4C | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Special withholding tax
            </label>
            <span class="col-xs-6" data-ng-bind="forms.foreignIncome.FOR4D | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Claim to FTCR
            </label>
            <span class="col-xs-6" data-ng-bind="forms.foreignIncome.FOR4E == '1' ? 'Yes' : 'No'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Taxable amount on interest and other savings
            </label>
            <span class="col-xs-6" data-ng-bind="forms.foreignIncome.FOR4F | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Total SWT or UK tax - overseas savings
            </label>
            <span class="col-xs-6" data-ng-bind="forms.foreignIncome.FOR3 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Total taxable amount - overseas savings
            </label>
            <span class="col-xs-6" data-ng-bind="forms.foreignIncome.FOR4 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Country code
            </label>
            <span class="col-xs-6" data-ng-bind="forms.foreignIncome.FOR6A"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Income before tax
            </label>
            <span class="col-xs-6" data-ng-bind="forms.foreignIncome.FOR6B | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Foreign Tax
            </label>
            <span class="col-xs-6" data-ng-bind="forms.foreignIncome.FOR6C | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Special withholding tax
            </label>
            <span class="col-xs-6" data-ng-bind="forms.foreignIncome.FOR6D | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Claim to FTCR
            </label>
            <span class="col-xs-6" data-ng-bind="forms.foreignIncome.FOR6E == '1' ? 'Yes' : 'No'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Taxable amount on interest and other savings
            </label>
            <span class="col-xs-6" data-ng-bind="forms.foreignIncome.FOR6F | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Total SWT or UK tax - foreign companies
            </label>
            <span class="col-xs-6" data-ng-bind="forms.foreignIncome.FOR5 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Total taxable amount - foreign companies
            </label>
            <span class="col-xs-6" data-ng-bind="forms.foreignIncome.FOR6 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Amount not qualifying for UK tax credit
            </label>
            <span class="col-xs-6" data-ng-bind="forms.foreignIncome.FOR7 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Country code
            </label>
            <span class="col-xs-6" data-ng-bind="forms.foreignIncome.FOR9A"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Income before tax
            </label>
            <span class="col-xs-6" data-ng-bind="forms.foreignIncome.FOR9B | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Foreign Tax
            </label>
            <span class="col-xs-6" data-ng-bind="forms.foreignIncome.FOR9C | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Special withholding tax
            </label>
            <span class="col-xs-6" data-ng-bind="forms.foreignIncome.FOR9D | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Claim to FTCR
            </label>
            <span class="col-xs-6" data-ng-bind="forms.foreignIncome.FOR9E == '1' ? 'Yes' : 'No'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Taxable amount on interest and other savings
            </label>
            <span class="col-xs-6" data-ng-bind="forms.foreignIncome.FOR9F | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Total SWT or UK tax - overseas pensions
            </label>
            <span class="col-xs-6" data-ng-bind="forms.foreignIncome.FOR8 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Total taxable amount - overseas pensions
            </label>
            <span class="col-xs-6" data-ng-bind="forms.foreignIncome.FOR9 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Country code
            </label>
            <span class="col-xs-6" data-ng-bind="forms.foreignIncome.FOR11A"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Income before tax
            </label>
            <span class="col-xs-6" data-ng-bind="forms.foreignIncome.FOR11B | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Foreign Tax
            </label>
            <span class="col-xs-6" data-ng-bind="forms.foreignIncome.FOR11C | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Special withholding tax
            </label>
            <span class="col-xs-6" data-ng-bind="forms.foreignIncome.FOR11D | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Claim to FTCR
            </label>
            <span class="col-xs-6" data-ng-bind="forms.foreignIncome.FOR11E == '1' ? 'Yes' : 'No'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Taxable amount on interest and other savings
            </label>
            <span class="col-xs-6" data-ng-bind="forms.foreignIncome.FOR11F | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Total SWT or UK tax - overseas dividend income
            </label>
            <span class="col-xs-6" data-ng-bind="forms.foreignIncome.FOR10 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Total taxable amount - overseas dividend income
            </label>
            <span class="col-xs-6" data-ng-bind="forms.foreignIncome.FOR11 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Country code
            </label>
            <span class="col-xs-6" data-ng-bind="forms.foreignIncome.FOR13A"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Income before tax
            </label>
            <span class="col-xs-6" data-ng-bind="forms.foreignIncome.FOR13B | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Foreign Tax
            </label>
            <span class="col-xs-6" data-ng-bind="forms.foreignIncome.FOR13C | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Special withholding tax
            </label>
            <span class="col-xs-6" data-ng-bind="forms.foreignIncome.FOR13D | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Claim to FTCR
            </label>
            <span class="col-xs-6" data-ng-bind="forms.foreignIncome.FOR13E == '1' ? 'Yes' : 'No'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Taxable amount on interest and other savings
            </label>
            <span class="col-xs-6" data-ng-bind="forms.foreignIncome.FOR13F | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Swt or UK tax - overseas trusts etc. other income
            </label>
            <span class="col-xs-6" data-ng-bind="forms.foreignIncome.FOR12 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Taxable amount - overseas trusts etc. other income
            </label>
            <span class="col-xs-6" data-ng-bind="forms.foreignIncome.FOR13 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Total rents and other property receipts
            </label>
            <span class="col-xs-6" data-ng-bind="forms.foreignIncome.FOR14 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Number of properties
            </label>
            <span class="col-xs-6" data-ng-bind="forms.foreignIncome.FOR15"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Premiums paid for lease
            </label>
            <span class="col-xs-6" data-ng-bind="forms.foreignIncome.FOR16 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Property expenses
            </label>
            <span class="col-xs-6" data-ng-bind="forms.foreignIncome.FOR17 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Net profit or loss
            </label>
            <span class="col-xs-6" data-ng-bind="forms.foreignIncome.FOR18 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Private use adjustment
            </label>
            <span class="col-xs-6" data-ng-bind="forms.foreignIncome.FOR19 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Balancing charges
            </label>
            <span class="col-xs-6" data-ng-bind="forms.foreignIncome.FOR20 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Capital allowances
            </label>
            <span class="col-xs-6" data-ng-bind="forms.foreignIncome.FOR21 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Landlord's Energy Saving Allowance
            </label>
            <span class="col-xs-6" data-ng-bind="forms.foreignIncome.FOR22 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                10% wear and tear allowance
            </label>
            <span class="col-xs-6" data-ng-bind="forms.foreignIncome.FOR23 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Adjusted profit or loss for the year
            </label>
            <span class="col-xs-6" data-ng-bind="forms.foreignIncome.FOR24 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Property abroad country
            </label>
            <span class="col-xs-6" data-ng-bind="forms.foreignIncome.FOR30A | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Property abroad profit or loss
            </label>
            <span class="col-xs-6" data-ng-bind="forms.foreignIncome.FOR30B | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Property abroad foreign tax
            </label>
            <span class="col-xs-6" data-ng-bind="forms.foreignIncome.FOR30C | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Property abroad special withholding tax
            </label>
            <span class="col-xs-6" data-ng-bind="forms.foreignIncome.FOR30D | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Property abroad claim to FCTR
            </label>
            <span class="col-xs-6" data-ng-bind="forms.foreignIncome.FOR30E == '1' ? 'Yes' : 'No'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Property abroad total amount
            </label>
            <span class="col-xs-6" data-ng-bind="forms.foreignIncome.FOR30F | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Total adjusted profit or loss
            </label>
            <span class="col-xs-6" data-ng-bind="forms.foreignIncome.FOR25 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Loss brought forward
            </label>
            <span class="col-xs-6" data-ng-bind="forms.foreignIncome.FOR26 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Total taxable profit
            </label>
            <span class="col-xs-6" data-ng-bind="forms.foreignIncome.FOR27 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Total foreign tax taken off
            </label>
            <span class="col-xs-6" data-ng-bind="forms.foreignIncome.FOR28 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Total Special Withholding Tax
            </label>
            <span class="col-xs-6" data-ng-bind="forms.foreignIncome.FOR29 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Total taxable amount
            </label>
            <span class="col-xs-6" data-ng-bind="forms.foreignIncome.FOR30 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Loss set off against total income
            </label>
            <span class="col-xs-6" data-ng-bind="forms.foreignIncome.FOR31 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Loss to carry forward
            </label>
            <span class="col-xs-6" data-ng-bind="forms.foreignIncome.FOR32 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Claim to FTCR Country Code
            </label>
            <span class="col-xs-6" data-ng-bind="forms.foreignIncome.FORA"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Claim to FTCR foreign tax
            </label>
            <span class="col-xs-6" data-ng-bind="forms.foreignIncome.FORC | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Claim to FTCR claim for FTCR
            </label>
            <span class="col-xs-6" data-ng-bind="forms.foreignIncome.FORE == '1' ? 'Yes' : 'No'"></span>
        </div>
        <div class="row">
            <label for="input-f" class="control-label col-xs-6">
                Claim to FTCR amount chargeable
            </label>
            <span class="col-xs-6" data-ng-bind="forms.foreignIncome.FORF | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Chargeable gains (UK rules)
            </label>
            <span class="col-xs-6" data-ng-bind="forms.foreignIncome.FOR33 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Number of days over which gain accrued
            </label>
            <span class="col-xs-6" data-ng-bind="forms.foreignIncome.FOR34"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Chargeable gains foreign rules
            </label>
            <span class="col-xs-6" data-ng-bind="forms.foreignIncome.FOR35 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Number of days over which gain accrued
            </label>
            <span class="col-xs-6" data-ng-bind="forms.foreignIncome.FOR36"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Foreign tax paid
            </label>
            <span class="col-xs-6" data-ng-bind="forms.foreignIncome.FOR37 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Foreign tax credit relief claim
            </label>
            <span class="col-xs-6" data-ng-bind="forms.foreignIncome.FOR38 == '1' ? 'Yes' : 'No'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Total foreign tax credit relief on gains
            </label>
            <span class="col-xs-6" data-ng-bind="forms.foreignIncome.FOR39 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Special Withholding Tax
            </label>
            <span class="col-xs-6" data-ng-bind="forms.foreignIncome.FOR40 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Offshore fund gains and non resident trust income
            </label>
            <span class="col-xs-6" data-ng-bind="forms.foreignIncome.FOR41 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Benefits from overseas trusts etc.
            </label>
            <span class="col-xs-6" data-ng-bind="forms.foreignIncome.FOR42 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Foreign life insurance gains
            </label>
            <span class="col-xs-6" data-ng-bind="forms.foreignIncome.FOR43 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Number of years since policy made
            </label>
            <span class="col-xs-6" data-ng-bind="forms.foreignIncome.FOR44"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Tax treated as paid
            </label>
            <span class="col-xs-6" data-ng-bind="forms.foreignIncome.FOR45 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Omitted amount transfer of assets exemption
            </label>
            <span class="col-xs-6" data-ng-bind="forms.foreignIncome.FOR46 | currency: '&pound;'"></span>
        </div>
    </div>
</div>
<hr/>