<h4>
    Lloys Underwriter -
    <a class="btn-link text-primary" data-ng-click="actions.open('lloyds-underwriter')">Edit</a>
</h4>

<div class="row">
    <div class="col-xs-12">
        <div class="row">
            <label class="control-label col-xs-6">
                Bank etc. and gilt untaxed interest
            </label>
            <span class="col-xs-6" data-ng-bind="forms.lloysUnderwriter.LUN1 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Accrued Income Scheme aggregate amount
            </label>
            <span class="col-xs-6" data-ng-bind="forms.lloysUnderwriter.LUN2 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Taxed bank etc. interest
            </label>
            <span class="col-xs-6" data-ng-bind="forms.lloysUnderwriter.LUN3 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Tax taken off
            </label>
            <span class="col-xs-6" data-ng-bind="forms.lloysUnderwriter.LUN4 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Total UK interest and tax taken off
            </label>
            <span class="col-xs-6" data-ng-bind="forms.lloysUnderwriter.LUN5 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Stock dividends - amount received
            </label>
            <span class="col-xs-6" data-ng-bind="forms.lloysUnderwriter.LUN6 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Stock dividends - tax credit
            </label>
            <span class="col-xs-6" data-ng-bind="forms.lloysUnderwriter.LUN7 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Non qualifying distributions - amount received
            </label>
            <span class="col-xs-6" data-ng-bind="forms.lloysUnderwriter.LUN8 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Other distributions - amount received
            </label>
            <span class="col-xs-6" data-ng-bind="forms.lloysUnderwriter.LUN9 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Other distributions - tax credit
            </label>
            <span class="col-xs-6" data-ng-bind="forms.lloysUnderwriter.LUN10 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Total UK dividends and distributions
            </label>
            <span class="col-xs-6" data-ng-bind="forms.lloysUnderwriter.LUN11 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Foreign interest etc. - amount
            </label>
            <span class="col-xs-6" data-ng-bind="forms.lloysUnderwriter.LUN12 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Foreign tax deducted
            </label>
            <span class="col-xs-6" data-ng-bind="forms.lloysUnderwriter.LUN13 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Uk tax deducted
            </label>
            <span class="col-xs-6" data-ng-bind="forms.lloysUnderwriter.LUN14 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Non UK dividends - amount
            </label>
            <span class="col-xs-6" data-ng-bind="forms.lloysUnderwriter.LUN15 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Foreign tax deducted
            </label>
            <span class="col-xs-6" data-ng-bind="forms.lloysUnderwriter.LUN16 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Uk tax deducted
            </label>
            <span class="col-xs-6" data-ng-bind="forms.lloysUnderwriter.LUN17 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Total non-UK income
            </label>
            <span class="col-xs-6" data-ng-bind="forms.lloysUnderwriter.LUN18 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Amount non qualifying for uk tax credit
            </label>
            <span class="col-xs-6" data-ng-bind="forms.lloysUnderwriter.LUN19 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Aggregate syndicate profits
            </label>
            <span class="col-xs-6" data-ng-bind="forms.lloysUnderwriter.LUN20 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Special Reserve Fund net withdrawal/release
            </label>
            <span class="col-xs-6" data-ng-bind="forms.lloysUnderwriter.LUN21 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Stop loss recoveries
            </label>
            <span class="col-xs-6" data-ng-bind="forms.lloysUnderwriter.LUN22 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Compensation receipts
            </label>
            <span class="col-xs-6" data-ng-bind="forms.lloysUnderwriter.LUN23 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Repayment of foreign tax (deduction)
            </label>
            <span class="col-xs-6" data-ng-bind="forms.lloysUnderwriter.LUN24 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Other non-syndicate income
            </label>
            <span class="col-xs-6" data-ng-bind="forms.lloysUnderwriter.LUN25 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Total other Lloyd's receipts
            </label>
            <span class="col-xs-6" data-ng-bind="forms.lloysUnderwriter.LUN26 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Total Lloyd's income
            </label>
            <span class="col-xs-6" data-ng-bind="forms.lloysUnderwriter.LUN27 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Repayment of foreign tax (tax credit relief)
            </label>
            <span class="col-xs-6" data-ng-bind="forms.lloysUnderwriter.LUN28 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Aggregate syndicate losses
            </label>
            <span class="col-xs-6" data-ng-bind="forms.lloysUnderwriter.LUN29 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Special Reserve Fund net transfer
            </label>
            <span class="col-xs-6" data-ng-bind="forms.lloysUnderwriter.LUN30 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Stop loss premiums paid
            </label>
            <span class="col-xs-6" data-ng-bind="forms.lloysUnderwriter.LUN31 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Personal Quota Share and Exeat premiums
            </label>
            <span class="col-xs-6" data-ng-bind="forms.lloysUnderwriter.LUN32 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Estate Protection Plan premiums
            </label>
            <span class="col-xs-6" data-ng-bind="forms.lloysUnderwriter.LUN33 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Underwriting loan interest
            </label>
            <span class="col-xs-6" data-ng-bind="forms.lloysUnderwriter.LUN34 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Lloyd's Member's Association expenses
            </label>
            <span class="col-xs-6" data-ng-bind="forms.lloysUnderwriter.LUN35 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Member's agent profit commission and salaries
            </label>
            <span class="col-xs-6" data-ng-bind="forms.lloysUnderwriter.LUN36 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Bank guarantee/letters of credit fees
            </label>
            <span class="col-xs-6" data-ng-bind="forms.lloysUnderwriter.LUN37 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Accountancy fees
            </label>
            <span class="col-xs-6" data-ng-bind="forms.lloysUnderwriter.LUN38 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Other Lloyd's expenses
            </label>
            <span class="col-xs-6" data-ng-bind="forms.lloysUnderwriter.LUN39 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Total losses and expenses
            </label>
            <span class="col-xs-6" data-ng-bind="forms.lloysUnderwriter.LUN40 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Profit amount
            </label>
            <span class="col-xs-6" data-ng-bind="forms.lloysUnderwriter.LUN41 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Loss amount
            </label>
            <span class="col-xs-6" data-ng-bind="forms.lloysUnderwriter.LUN42 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Foreign tax on personal fund income
            </label>
            <span class="col-xs-6" data-ng-bind="forms.lloysUnderwriter.LUN43 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Us income tax paid
            </label>
            <span class="col-xs-6" data-ng-bind="forms.lloysUnderwriter.LUN44 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Canadian tax paid
            </label>
            <span class="col-xs-6" data-ng-bind="forms.lloysUnderwriter.LUN45 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Syndicate Foreign Tax
            </label>
            <span class="col-xs-6" data-ng-bind="forms.lloysUnderwriter.LUN46 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Additional payments of foreign tax
            </label>
            <span class="col-xs-6" data-ng-bind="forms.lloysUnderwriter.LUN47 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Total foreign tax
            </label>
            <span class="col-xs-6" data-ng-bind="forms.lloysUnderwriter.LUN48 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Profit amount
            </label>
            <span class="col-xs-6" data-ng-bind="forms.lloysUnderwriter.LUN49 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Foreign tax claimed as deduction
            </label>
            <span class="col-xs-6" data-ng-bind="forms.lloysUnderwriter.LUN50 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Unused losses brought forward
            </label>
            <span class="col-xs-6" data-ng-bind="forms.lloysUnderwriter.LUN51 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Total taxable profits
            </label>
            <span class="col-xs-6" data-ng-bind="forms.lloysUnderwriter.LUN52 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Loss amount
            </label>
            <span class="col-xs-6" data-ng-bind="forms.lloysUnderwriter.LUN53 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Foreign tax claimed as deduction
            </label>
            <span class="col-xs-6" data-ng-bind="forms.lloysUnderwriter.LUN54 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Loss for the year
            </label>
            <span class="col-xs-6" data-ng-bind="forms.lloysUnderwriter.LUN55 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Loss offset against other income
            </label>
            <span class="col-xs-6" data-ng-bind="forms.lloysUnderwriter.LUN56 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Loss carried back
            </label>
            <span class="col-xs-6" data-ng-bind="forms.lloysUnderwriter.LUN57 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Unused losses to carry forward
            </label>
            <span class="col-xs-6" data-ng-bind="forms.lloysUnderwriter.LUN58 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Losses brought forward
            </label>
            <span class="col-xs-6" data-ng-bind="forms.lloysUnderwriter.LUN59 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Losses used against profits of year
            </label>
            <span class="col-xs-6" data-ng-bind="forms.lloysUnderwriter.LUN60 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Unused loss from the year
            </label>
            <span class="col-xs-6" data-ng-bind="forms.lloysUnderwriter.LUN61 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Total loss to carry forward
            </label>
            <span class="col-xs-6" data-ng-bind="forms.lloysUnderwriter.LUN62 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Class 4 NIC exemption
            </label>
            <span class="col-xs-6" data-ng-bind="forms.lloysUnderwriter.LUN63 == '1' ? 'Yes' : 'No'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Class 4 NIC deferment
            </label>
            <span class="col-xs-6" data-ng-bind="forms.lloysUnderwriter.LUN64 == '1' ? 'Yes' : 'No'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Adjustment to Class 4 NIC profits
            </label>
            <span class="col-xs-6" data-ng-bind="forms.lloysUnderwriter.LUN65 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Any other information space
            </label>
            <span class="col-xs-6" data-ng-bind="forms.lloysUnderwriter.LUN66 | currency: '&pound;'"></span>
        </div>
    </div>
</div>
<hr/>