<h4>
    Minister of Religion -
    <a class="btn-link text-primary" data-ng-click="actions.open('minister-of-religion')">Edit</a>
</h4>

<div class="row">
    <div class="col-xs-12">
        <div class="row">
            <label class="control-label col-xs-6">
                Nature of post
            </label>
            <span class="col-xs-6" data-ng-bind="forms.ministerEmployment.MOR1"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Salary or stipend
            </label>
            <span class="col-xs-6" data-ng-bind="forms.ministerEmployment.MOR2 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Tax taken off salary/stipend
            </label>
            <span class="col-xs-6" data-ng-bind="forms.ministerEmployment.MOR3 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Fees and offerings
            </label>
            <span class="col-xs-6" data-ng-bind="forms.ministerEmployment.MOR4 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Vicarage/manse expenses
            </label>
            <span class="col-xs-6" data-ng-bind="forms.ministerEmployment.MOR5 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Personal expenses etc. paid
            </label>
            <span class="col-xs-6" data-ng-bind="forms.ministerEmployment.MOR6 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Excess mileage allowance etc.
            </label>
            <span class="col-xs-6" data-ng-bind="forms.ministerEmployment.MOR7 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Round sum expenses and rent allowances
            </label>
            <span class="col-xs-6" data-ng-bind="forms.ministerEmployment.MOR8 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Tax taken off box 8
            </label>
            <span class="col-xs-6" data-ng-bind="forms.ministerEmployment.MOR9 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Other income from post
            </label>
            <span class="col-xs-6" data-ng-bind="forms.ministerEmployment.MOR10 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Tax taken off other income
            </label>
            <span class="col-xs-6" data-ng-bind="forms.ministerEmployment.MOR11 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Total income as Minister of Religion
            </label>
            <span class="col-xs-6" data-ng-bind="forms.ministerEmployment.MOR12 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Vicarage services benefit
            </label>
            <span class="col-xs-6" data-ng-bind="forms.ministerEmployment.MOR13 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Car provided
            </label>
            <span class="col-xs-6" data-ng-bind="forms.ministerEmployment.MOR14 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Fuel for car provided
            </label>
            <span class="col-xs-6" data-ng-bind="forms.ministerEmployment.MOR15 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Interest free loans
            </label>
            <span class="col-xs-6" data-ng-bind="forms.ministerEmployment.MOR16 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Expenses payments made
            </label>
            <span class="col-xs-6" data-ng-bind="forms.ministerEmployment.MOR17 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Other benefits
            </label>
            <span class="col-xs-6" data-ng-bind="forms.ministerEmployment.MOR18 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Total benefits and expenses
            </label>
            <span class="col-xs-6" data-ng-bind="forms.ministerEmployment.MOR19 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Income, benefits and expenses received
            </label>
            <span class="col-xs-6" data-ng-bind="forms.ministerEmployment.MOR20 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Travelling expenses and capital allowances
            </label>
            <span class="col-xs-6" data-ng-bind="forms.ministerEmployment.MOR21 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Maintenance and repairs etc.
            </label>
            <span class="col-xs-6" data-ng-bind="forms.ministerEmployment.MOR22 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Rent expenses
            </label>
            <span class="col-xs-6" data-ng-bind="forms.ministerEmployment.MOR23 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Secretarial assistance
            </label>
            <span class="col-xs-6" data-ng-bind="forms.ministerEmployment.MOR24 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Other expenses
            </label>
            <span class="col-xs-6" data-ng-bind="forms.ministerEmployment.MOR25 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Total expenses paid
            </label>
            <span class="col-xs-6" data-ng-bind="forms.ministerEmployment.MOR26 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Gross income
            </label>
            <span class="col-xs-6" data-ng-bind="forms.ministerEmployment.MOR27 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Back pay received after year end
            </label>
            <span class="col-xs-6" data-ng-bind="forms.ministerEmployment.MOR28 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Earlier years' back pay received in year
            </label>
            <span class="col-xs-6" data-ng-bind="forms.ministerEmployment.MOR29 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Pension scheme payments
            </label>
            <span class="col-xs-6" data-ng-bind="forms.ministerEmployment.MOR30 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Net income
            </label>
            <span class="col-xs-6" data-ng-bind="forms.ministerEmployment.MOR31 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                10% of net income
            </label>
            <span class="col-xs-6" data-ng-bind="forms.ministerEmployment.MOR32 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Amount paid toward service benefit
            </label>
            <span class="col-xs-6" data-ng-bind="forms.ministerEmployment.MOR33 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Payments made and service benefit received
            </label>
            <span class="col-xs-6" data-ng-bind="forms.ministerEmployment.MOR34 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Service benefit cap
            </label>
            <span class="col-xs-6" data-ng-bind="forms.ministerEmployment.MOR35 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Chaplaincy and other income
            </label>
            <span class="col-xs-6" data-ng-bind="forms.ministerEmployment.MOR36 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Tax taken of other income
            </label>
            <span class="col-xs-6" data-ng-bind="forms.ministerEmployment.MOR37 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Taxable income minus expenses
            </label>
            <span class="col-xs-6" data-ng-bind="forms.ministerEmployment.MOR38 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Total tax taken off
            </label>
            <span class="col-xs-6" data-ng-bind="forms.ministerEmployment.MOR39 | currency: '&pound;'"></span>
        </div>
    </div>
</div>
<hr/>