<h4>
    Partnership -
    <a class="btn-link text-primary" data-ng-click="actions.open('partnership')">Edit</a>
</h4>

<div class="row">
    <div class="col-xs-12">
        <div class="row">
            <label class="control-label col-xs-6">Partnership reference number</label>
            <span class="col-xs-6" data-ng-bind="forms.partnership.FPS1"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Partnership description</label>
            <span class="col-xs-6" data-ng-bind="forms.partnership.FPS2"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Date joined partnership</label>
            <span class="col-xs-6" data-ng-bind="forms.partnership.FPS3 | date: 'dd MMM yyyy'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Date left partnership</label>
            <span class="col-xs-6" data-ng-bind="forms.partnership.FPS4 | date: 'dd MMM yyyy'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Cash basis</label>
            <span class="col-xs-6" data-ng-bind="forms.partnership.FPS5 == '1' ? 'Yes' : 'No'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Date basis period began</label>
            <span class="col-xs-6" data-ng-bind="forms.partnership.FPS6 | date: 'dd MMM yyyy'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Date basis period ended</label>
            <span class="col-xs-6" data-ng-bind="forms.partnership.FPS7 | date: 'dd MMM yyyy'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Share of partnership profit or loss</label>
            <span class="col-xs-6" data-ng-bind="forms.partnership.FPS8 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Adjustment for basis period</label>
            <span class="col-xs-6" data-ng-bind="forms.partnership.FPS9 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Change of accounting practice adjustment</label>
            <span class="col-xs-6" data-ng-bind="forms.partnership.FPS10 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Averaging adjustment</label>
            <span class="col-xs-6" data-ng-bind="forms.partnership.FPS11 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Foreign tax claimed as deduction</label>
            <span class="col-xs-6" data-ng-bind="forms.partnership.FPS12 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Overlap relief used</label>
            <span class="col-xs-6" data-ng-bind="forms.partnership.FPS13 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Overlap profit carried forward</label>
            <span class="col-xs-6" data-ng-bind="forms.partnership.FPS14 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Partner's share of BPRA</label>
            <span class="col-xs-6" data-ng-bind="forms.partnership.FPS15 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Adjusted profit for year</label>
            <span class="col-xs-6" data-ng-bind="forms.partnership.FPS16 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Losses brought forward</label>
            <span class="col-xs-6" data-ng-bind="forms.partnership.FPS17 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Taxable profits after losses</label>
            <span class="col-xs-6" data-ng-bind="forms.partnership.FPS18 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Other business income</label>
            <span class="col-xs-6" data-ng-bind="forms.partnership.FPS19 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Total taxable business profits</label>
            <span class="col-xs-6" data-ng-bind="forms.partnership.FPS20 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Adjusted loss for year</label>
            <span class="col-xs-6" data-ng-bind="forms.partnership.FPS21 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Loss set off against other income</label>
            <span class="col-xs-6" data-ng-bind="forms.partnership.FPS22 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Loss to be carried back</label>
            <span class="col-xs-6" data-ng-bind="forms.partnership.FPS23 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Total loss to carry forward</label>
            <span class="col-xs-6" data-ng-bind="forms.partnership.FPS24 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Class 4 NIC exemption</label>
            <span class="col-xs-6" data-ng-bind="forms.partnership.FPS25 == '1' ? 'Yes' : 'No'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Class 4 NIC deferment</label>
            <span class="col-xs-6" data-ng-bind="forms.partnership.FPS26 == '1' ? 'Yes' : 'No'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Adjustment to Class 4 NIC profits</label>
            <span class="col-xs-6" data-ng-bind="forms.partnership.FPS27 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Uk untaxed savings income share</label>
            <span class="col-xs-6" data-ng-bind="forms.partnership.FPS28 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Basis period adjustment</label>
            <span class="col-xs-6" data-ng-bind="forms.partnership.FPS29 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Adjusted UK savings income</label>
            <span class="col-xs-6" data-ng-bind="forms.partnership.FPS30 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Foreign untaxed savings income share</label>
            <span class="col-xs-6" data-ng-bind="forms.partnership.FPS31 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Basis period adjustment</label>
            <span class="col-xs-6" data-ng-bind="forms.partnership.FPS32 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Total foreign tax taken off</label>
            <span class="col-xs-6" data-ng-bind="forms.partnership.FPS33 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Adjusted foreign savings income</label>
            <span class="col-xs-6" data-ng-bind="forms.partnership.FPS34 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Total untaxed savings income</label>
            <span class="col-xs-6" data-ng-bind="forms.partnership.FPS35 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Uk property profit/loss share</label>
            <span class="col-xs-6" data-ng-bind="forms.partnership.FPS36 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Basis period adjustment</label>
            <span class="col-xs-6" data-ng-bind="forms.partnership.FPS37 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Loss brought forward</label>
            <span class="col-xs-6" data-ng-bind="forms.partnership.FPS38 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Loss for year set off against other income</label>
            <span class="col-xs-6" data-ng-bind="forms.partnership.FPS39 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Loss to be carried forward</label>
            <span class="col-xs-6" data-ng-bind="forms.partnership.FPS40 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Taxable profits after adjustment and losses</label>
            <span class="col-xs-6" data-ng-bind="forms.partnership.FPS41 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Share of FHL profit</label>
            <span class="col-xs-6" data-ng-bind="forms.partnership.FPS42 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Adjustments to FHL profit</label>
            <span class="col-xs-6" data-ng-bind="forms.partnership.FPS43 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Taxable FHL profit</label>
            <span class="col-xs-6" data-ng-bind="forms.partnership.FPS44 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Other untaxed UK income share</label>
            <span class="col-xs-6" data-ng-bind="forms.partnership.FPS45 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Basis period adjustment</label>
            <span class="col-xs-6" data-ng-bind="forms.partnership.FPS46 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Loss brought forward</label>
            <span class="col-xs-6" data-ng-bind="forms.partnership.FPS47 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Taxable profit</label>
            <span class="col-xs-6" data-ng-bind="forms.partnership.FPS48 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Share of loss from other untaxed UK income</label>
            <span class="col-xs-6" data-ng-bind="forms.partnership.FPS49 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Basis period adjustment</label>
            <span class="col-xs-6" data-ng-bind="forms.partnership.FPS50 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Total loss to carry forward</label>
            <span class="col-xs-6" data-ng-bind="forms.partnership.FPS51 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Offshore funds income share</label>
            <span class="col-xs-6" data-ng-bind="forms.partnership.FPS52 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Basis period adjustment
            </label>
            <span class="col-xs-6" data-ng-bind="forms.partnership.FPS53 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Foreign tax taken off
            </label>
            <span class="col-xs-6" data-ng-bind="forms.partnership.FPS54 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Taxable income after adjustment and foreign tax</label>
            <span class="col-xs-6" data-ng-bind="forms.partnership.FPS55 | currency: '&pound;'"></span>
        </div>

        <div class="row">
            <label class="control-label col-xs-6">Other untaxed foreign income share</label>
            <span class="col-xs-6" data-ng-bind="forms.partnership.FPS56 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Basis period adjustment</label>
            <span class="col-xs-6" data-ng-bind="forms.partnership.FPS57 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Loss brought forward</label>
            <span class="col-xs-6" data-ng-bind="forms.partnership.FPS58 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Total foreign tax taken off</label>
            <span class="col-xs-6" data-ng-bind="forms.partnership.FPS59 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Taxable profit</label>
            <span class="col-xs-6" data-ng-bind="forms.partnership.FPS60 | currency: '&pound;'"></span>
        </div>

        <div class="row">
            <label class="control-label col-xs-6">Share of loss from other untaxed foreign income</label>
            <span class="col-xs-6" data-ng-bind="forms.partnership.FPS61 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Basis period adjustment</label>
            <span class="col-xs-6" data-ng-bind="forms.partnership.FPS62 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Total loss to carry forward</label>
            <span class="col-xs-6" data-ng-bind="forms.partnership.FPS63 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Total untaxed income</label>
            <span class="col-xs-6" data-ng-bind="forms.partnership.FPS64 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6"> Overlap relief used</label>
            <span class="col-xs-6" data-ng-bind="forms.partnership.FPS65 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6"> Overlap profit carried forward</label>
            <span class="col-xs-6" data-ng-bind="forms.partnership.FPS66 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6"> Total untaxed income share
            </label>
            <span class="col-xs-6" data-ng-bind="forms.partnership.FPS67 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6"> Share of taxed income taxable at 10%
            </label>
            <span class="col-xs-6" data-ng-bind="forms.partnership.FPS68 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6"> Total foreign tax taken off
            </label>
            <span class="col-xs-6" data-ng-bind="forms.partnership.FPS69 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6"> Taxed income taxable at 10%
            </label>
            <span class="col-xs-6" data-ng-bind="forms.partnership.FPS70 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6"> Share of taxed income taxable at
                20%
            </label>
            <span class="col-xs-6" data-ng-bind="forms.partnership.FPS71 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6"> Total foreign tax taken off
            </label>
            <span class="col-xs-6" data-ng-bind="forms.partnership.FPS72 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6"> Taxed income taxable at
                20%
            </label>
            <span class="col-xs-6" data-ng-bind="forms.partnership.FPS73 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6"> Share Of Taxed Income
            </label>
            <span class="col-xs-6" data-ng-bind="forms.partnership.FPS74 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6"> Total foreign tax
                taken off
            </label>
            <span class="col-xs-6" data-ng-bind="forms.partnership.FPS75 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6"> Share of
                total taxed and untaxed income
            </label>
            <span class="col-xs-6" data-ng-bind="forms.partnership.FPS76 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6"> Share of
                Income Tax taken off partnership income
            </label>
            <span class="col-xs-6" data-ng-bind="forms.partnership.FPS77 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6"> Share
                Of TaxTaken Off By Contractors
            </label>
            <span class="col-xs-6" data-ng-bind="forms.partnership.FPS78 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Share of tax taken off trading
                income
            </label>
            <span class="col-xs-6" data-ng-bind="forms.partnership.FPS79 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Share of tax credits
            </label>
            <span class="col-xs-6" data-ng-bind="forms.partnership.FPS80 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Share of total tax taken off
            </label>
            <span class="col-xs-6" data-ng-bind="forms.partnership.FPS81 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Share of notional Income Tax
            </label>
            <span class="col-xs-6" data-ng-bind="forms.partnership.FPS82 | currency: '&pound;'"></span>
        </div>
    </div>
</div>
<hr />