<h4>Personal information</h4>
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <label class="control-label col-sm-4 col-xs-6 col-md-3">Name</label>
            <span class="col-sm-8 col-xs-6 col-md-9" data-ng-bind="info.name"></span>
        </div>

        <div class="row">
            <label class="control-label col-sm-4 col-xs-6 col-md-3">UTR</label>
            <span class="col-sm-8 col-xs-6 col-md-9 col-md-9" data-ng-bind="info.utr"></span>
        </div>

        <div class="row">
            <label class="control-label col-sm-4 col-xs-6 col-md-3">Date of birth</label>
            <span class="col-sm-8 col-xs-6 col-md-9" data-ng-bind="info.date_of_birth | date: 'dd MMM yyyy'"></span>
        </div>

        <div class="row">
            <label class="control-label col-sm-4 col-xs-6 col-md-3">National Insurance</label>
            <span class="col-sm-8 col-xs-6 col-md-9" data-ng-bind="info.national_insurance"></span>
        </div>

        <div class="row">
            <label class="control-label col-sm-4 col-xs-6 col-md-3">Address Line 1</label>
            <span class="col-sm-8 col-xs-6 col-md-9" data-ng-bind="info.address_1"></span>
        </div>

        <div class="row">
            <label class="control-label col-sm-4 col-xs-6 col-md-3">Address Line 2</label>
            <span class="col-sm-8 col-xs-6 col-md-9" data-ng-bind="info.address_2"></span>
        </div>

        <div class="row">
            <label class="control-label col-sm-4 col-xs-6 col-md-3">Town/City</label>
            <span class="col-sm-8 col-xs-6 col-md-9" data-ng-bind="info.town_county"></span>
        </div>

        <div class="row">
            <label class="control-label col-sm-4 col-xs-6 col-md-3">Postcode</label>
            <span class="col-sm-8 col-xs-6 col-md-9" data-ng-bind="info.postcode"></span>
        </div>

        <div class="row">
            <label class="control-label col-sm-4 col-xs-6 col-md-3">Country</label>
            <span class="col-sm-8 col-xs-6 col-md-9" data-ng-bind="info.country.name"></span>
        </div>

        <div class="row">
            <label class="control-label col-sm-4 col-xs-6 col-md-3">This is a new address</label>
            <span class="col-sm-8 col-xs-6 col-md-9" data-ng-bind="info.address_3"></span>
        </div>

        <div class="row">
            <label class="control-label col-sm-4 col-xs-6 col-md-3">Telephone</label>
            <span class="col-sm-8 col-xs-6 col-md-9" data-ng-bind="info.telephone"></span>
        </div>
    </div>
</div>
