<h4>
    Resident Remittance -
    <a class="btn-link text-primary" data-ng-click="actions.open('resident-remittance')">Edit</a>
</h4>

<div class="row">
    <div class="col-xs-12">
        <div class="row">
            <label class="control-label col-xs-6">
                Check here if you were not resident in the UK for the current tax year
            </label>
            <span class="col-xs-6" data-ng-bind="forms.residentRemittance.NRD1 == '1' ? 'Yes' : 'No'"></span>

        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Check here if you are eligible for overseas workday relief
            </label>

            <span class="col-xs-6" data-ng-bind="forms.residentRemittance.NRD2 == '1' ? 'Yes' : 'No'"></span>

        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Check here if your circumstances meet the criteria for split year treatment
            </label>
            <span class="col-xs-6" data-ng-bind="forms.residentRemittance.NRD3 == '1' ? 'Yes' : 'No'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Check if more than One Case of Split Year Treatment Applies
            </label>
            <span class="col-xs-6" data-ng-bind="forms.residentRemittance.NRD3_1 == '1' ? 'Yes' : 'No'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Check here if you were resident in the UK in the previous tax year
            </label>

            <span class="col-xs-6" data-ng-bind="forms.residentRemittance.NRD4 == '1' ? 'Yes' : 'No'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Check here if you are eligible for overseas workday relief and any of your foreign earnings are for an
                earlier year
            </label>

            <span class="col-xs-6" data-ng-bind="forms.residentRemittance.NRD5 == '1' ? 'Yes' : 'No'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                If you arrived in the UK during the tax year, enter the date you arrived (YYYY-MM-DD)
            </label>

            <span class="col-xs-6"
                  data-ng-bind="formatDateTime(forms.residentRemittance.NRD6) | date: 'dd MMM yyyy'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                If you left the UK during the tax year, enter the date you left
            </label>

            <span class="col-xs-6"
                  data-ng-bind="formatDateTime(forms.residentRemittance.NRD7) | date: 'dd MMM yyyy'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Check here if you were resident in the UK in any of the previous three tax years
            </label>
            <span class="col-xs-6" data-ng-bind="forms.residentRemittance.NRD8 == '1' ? 'Yes' : 'No'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Check here If you had a home overseas
            </label>
            <span class="col-xs-6" data-ng-bind="forms.residentRemittance.NRD9 == '1' ? 'Yes' : 'No'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Enter number of days spent in the UK
            </label>
            <span class="col-xs-6" data-ng-bind="forms.residentRemittance.NRD10"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Enter number of days attributed to exceptional circumstances
            </label>
            <span class="col-xs-6" data-ng-bind="forms.residentRemittance.NRD11"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                How many ties to the UK did you have?

            </label>
            <span class="col-xs-6" data-ng-bind="forms.residentRemittance.NRD12"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Enter number of workdays you spent in the UK
            </label>

            <span class="col-xs-6" data-ng-bind="forms.residentRemittance.NRD13"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Enter number of workdays you spent overseas
            </label>
            <span class="col-xs-6" data-ng-bind="forms.residentRemittance.NRD14"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Check here if you are entitled to claim personal allowances as a non-resident because of the terms of a
                Double Taxation Agreement
            </label>
            <span class="col-xs-6" data-ng-bind="forms.residentRemittance.NRD15 == '1' ? 'Yes' : 'No'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Check here if you are entitled to claim personal allowances as a non-resident on some other basis, or as
                a dual resident remittance basis user under the terms of certain Double Taxation Agreements
            </label>
            <span class="col-xs-6" data-ng-bind="forms.residentRemittance.NRD16 == '1' ? 'Yes' : 'No'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Enter the code for the country or countries of which you are a national and/or resident
            </label>
            <span class="col-xs-6" data-ng-bind="forms.residentRemittance.NRD17"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Enter the code for the country or countries, other than the UK, in which you were resident for tax
                purposes
            </label>
            <span class="col-xs-6" data-ng-bind="forms.residentRemittance.NRD18"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                If you were also resident in either or both of the countries above for previous tax year, enter the
                appropriate code
            </label>
            <span class="col-xs-6" data-ng-bind="forms.residentRemittance.NRD19"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Amount of Double Taxation Agreement income for which partial relief is being claimed
            </label>
            <span class="col-xs-6" data-ng-bind="forms.residentRemittance.NRD20 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Relief under Double Taxation Agreements between the UK and other countries – amount claimed because of
                an agreement awarding residence to another country
            </label>
            <span class="col-xs-6" data-ng-bind="forms.residentRemittance.NRD21 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Relief claimed because of other provisions of the relevant Double Taxation Agreements
            </label>
            <span class="col-xs-6" data-ng-bind="forms.residentRemittance.NRD22 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Check here if you are domiciled outside the UK and it is relevant to your Income Tax or Capital Gains
                Tax liability
            </label>
            <span class="col-xs-6" data-ng-bind="forms.residentRemittance.NRD23 == '1' ? 'Yes' : 'No'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Check here if the current tax year is the first year you have told us that your domicile is outside the
                UK
            </label>
            <span class="col-xs-6" data-ng-bind="forms.residentRemittance.NRD24 == '1' ? 'Yes' : 'No'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                If you have a domicile of origin within the UK, enter the date on which your domicile changed
            </label>
            <span class="col-xs-6"
                  data-ng-bind="formatDateTime(forms.residentRemittance.NRD25) | date: 'dd MMM yyyy'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Check here if you were born in the UK but have never been domiciled here
            </label>
            <span class="col-xs-6" data-ng-bind="forms.residentRemittance.NRD26 == '1' ? 'Yes' : 'No'"></span>

        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                If you were born outside the UK, enter the date that you came to live in the UK
            </label>
            <span class="col-xs-6" data-ng-bind="formatDateTime(forms.residentRemittance.NRD27) | date: 'dd MMM yyyy'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Check here if you are making a claim for the remittance basis
            </label>
            <span class="col-xs-6" data-ng-bind="forms.residentRemittance.NRD28 == '1' ? 'Yes' : 'No'"></span>

        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Check here if your unremitted income and capital gains is less than £2,000
            </label>
            <span class="col-xs-6" data-ng-bind="forms.residentRemittance.NRD29 == '1' ? 'Yes' : 'No'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Check here if you were UK resident for the current tax year and for 12 or more of the preceding 14 tax
                years
            </label>

            <span class="col-xs-6" data-ng-bind="forms.residentRemittance.NRD30 == '1' ? 'Yes' : 'No'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Check here if you were UK resident for the current tax year and for 7 or more of the preceding 9 tax
                years - do not check here if you have already checked the previous question
            </label>
            <span class="col-xs-6" data-ng-bind="forms.residentRemittance.NRD31 == '1' ? 'Yes' : 'No'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Check here if you were under 18 on 5 April 2015
            </label>
            <span class="col-xs-6" data-ng-bind="forms.residentRemittance.NRD32 == '1' ? 'Yes' : 'No'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Amount of income you are nominating
            </label>
            <span class="col-xs-6" data-ng-bind="forms.residentRemittance.NRD33 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Amount of capital gains you are nominating
            </label>
            <span class="col-xs-6" data-ng-bind="forms.residentRemittance.NRD34 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Adjustment to payments on account for capital gains
            </label>
            <span class="col-xs-6" data-ng-bind="forms.residentRemittance.NRD35 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Check here if you have remitted nominated income or gains unless what you have remitted is within the
                &pound;10 aggregate limit
            </label>
            <span class="col-xs-6" data-ng-bind="forms.residentRemittance.NRD36 == '1' ? 'Yes' : 'No'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                If you are claiming relief from UK tax for foreign income or gains invested in a qualifying business,
                enter the total amount invested and the Company Registration
            </label>
            <span class="col-xs-6" data-ng-bind="forms.residentRemittance.NRD37 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Company registration number of qualifying investment
            </label>
            <span class="col-xs-6" data-ng-bind="forms.residentRemittance.NRD37A"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Check here if you have previously claimed relief for a qualifying investment and the investment no
                longer qualifies for relief
            </label>
            <span class="col-xs-6" data-ng-bind="forms.residentRemittance.NRD38 == '1' ? 'Yes' : 'No'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Please enter any other information
            </label>
            <span class="col-xs-6" data-ng-bind="forms.residentRemittance.NRD39"></span>
        </div>
    </div>
</div>
<hr/>