<h4>
    Self Employed -
    <a class="btn-link text-primary" data-ng-click="actions.open('self-employed')">Edit</a>
</h4>

<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <h5 class="sub-header-title">Business detail</h5>
            </div>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Business name</label>
            <span class="col-xs-6" data-ng-bind="forms.selfEmployed.FSE1"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Business description</label>
            <span class="col-xs-6" data-ng-bind="forms.selfEmployed.FSE2"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Business address first line</label>
            <span class="col-xs-6" data-ng-bind="forms.selfEmployed.FSE3"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Business address postcode</label>
            <span class="col-xs-6" data-ng-bind="forms.selfEmployed.FSE4"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Change of business details</label>
            <span class="col-xs-6" data-ng-bind="forms.selfEmployed.FSE5 == '1' ? 'Yes' : 'No'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Date business started</label>
            <span class="col-xs-6" data-ng-bind="formatDate(forms.selfEmployed.FSE6) | date: 'dd MMM yyyy'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Date business ceased</label>
            <span class="col-xs-6" data-ng-bind="formatDate(forms.selfEmployed.FSE7) | date: 'dd MMM yyyy'"></span>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h5 class="sub-header-title">Accounting period</h5>
            </div>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Date accounting period starts</label>
            <span class="col-xs-6" data-ng-bind="formatDate(forms.selfEmployed.FSE8) | date: 'dd MMM yyyy'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Date accounting period ends</label>
            <span class="col-xs-6" data-ng-bind="formatDate(forms.selfEmployed.FSE9) | date: 'dd MMM yyyy'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Cash basis</label>
            <span class="col-xs-6" data-ng-bind="forms.selfEmployed.FSE10 == '1' ? 'Yes' : 'No'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Permanent accounting date change</label>
            <span class="col-xs-6" data-ng-bind="forms.selfEmployed.FSE11 == '1' ? 'Yes' : 'No'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Multiple accounting date changes</label>
            <span class="col-xs-6" data-ng-bind="forms.selfEmployed.FSE12 == '1' ? 'Yes' : 'No'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Special arrangements apply</label>
            <span class="col-xs-6" data-ng-bind="forms.selfEmployed.FSE13 == '1' ? 'Yes' : 'No'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Information provided last year</label>
            <span class="col-xs-6" data-ng-bind="forms.selfEmployed.FSE14 == '1' ? 'Yes' : 'No'"></span>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h5 class="sub-header-title">Business income</h5>
            </div>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Turnover</label>
            <span class="col-xs-6" data-ng-bind="forms.selfEmployed.FSE15 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Other business income</label>
            <span class="col-xs-6" data-ng-bind="forms.selfEmployed.FSE15 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h5 class="sub-header-title">Less: expenses</h5>
            </div>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Cost of goods</label>
            <span class="col-xs-6" data-ng-bind="forms.selfEmployed.form.FSE17 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Disallowable cost of goods</label>
            <span class="col-xs-6" data-ng-bind="forms.selfEmployed.form.FSE32 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Subcontractor costs</label>
            <span class="col-xs-6" data-ng-bind="forms.selfEmployed.form.FSE18 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Disallowable subcontractor costs</label>
            <span class="col-xs-6" data-ng-bind="forms.selfEmployed.form.FSE33 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Wages, salaries and staff costs</label>
            <span class="col-xs-6" data-ng-bind="forms.selfEmployed.form.FSE19 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Disallowable staff costs</label>
            <span class="col-xs-6" data-ng-bind="forms.selfEmployed.form.FSE34 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Disallowable car and travel expenses</label>
            <span class="col-xs-6" data-ng-bind="forms.selfEmployed.form.FSE20 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Car, van and travel expenses</label>
            <span class="col-xs-6" data-ng-bind="forms.selfEmployed.form.FSE35 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Rent and other property costs</label>
            <span class="col-xs-6" data-ng-bind="forms.selfEmployed.form.FSE21 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Disallowable rent and other property costs</label>
            <span class="col-xs-6" data-ng-bind="forms.selfEmployed.form.FSE36 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Repair and renewal costs</label>
            <span class="col-xs-6" data-ng-bind="forms.selfEmployed.form.FSE22 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Disallowable repair and renewal costs</label>
            <span class="col-xs-6" data-ng-bind="forms.selfEmployed.form.FSE37 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Phone and other office costs</label>
            <span class="col-xs-6" data-ng-bind="forms.selfEmployed.form.FSE23 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Disallowable phone and other office costs</label>
            <span class="col-xs-6" data-ng-bind="forms.selfEmployed.form.FSE38 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Advertising and entertainment costs</label>
            <span class="col-xs-6" data-ng-bind="forms.selfEmployed.form.FSE24 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Advertising and entertainment costs</label>
            <span class="col-xs-6" data-ng-bind="forms.selfEmployed.form.FSE24 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Disallowable advertising and entertainment costs</label>
            <span class="col-xs-6" data-ng-bind="forms.selfEmployed.form.FSE39 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Bank and loan interest</label>
            <span class="col-xs-6" data-ng-bind="forms.selfEmployed.form.FSE25 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Disallowable bank and loan interest</label>
            <span class="col-xs-6" data-ng-bind="forms.selfEmployed.form.FSE40 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Other finance charges</label>
            <span class="col-xs-6" data-ng-bind="forms.selfEmployed.form.FSE26 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Disallowable other finance charges</label>
            <span class="col-xs-6" data-ng-bind="forms.selfEmployed.form.FSE41 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Debts written off</label>
            <span class="col-xs-6" data-ng-bind="forms.selfEmployed.form.FSE27 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Disallowable debts written off</label>
            <span class="col-xs-6" data-ng-bind="forms.selfEmployed.form.FSE42 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Accountancy and legal fees</label>
            <span class="col-xs-6" data-ng-bind="forms.selfEmployed.form.FSE28 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Disallowable accountancy and legal fees</label>
            <span class="col-xs-6" data-ng-bind="forms.selfEmployed.form.FSE43 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Depreciation and loss/profit on sale</label>
            <span class="col-xs-6" data-ng-bind="forms.selfEmployed.form.FSE29 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Disallowable depreciation and loss/profit on sale</label>
            <span class="col-xs-6" data-ng-bind="forms.selfEmployed.form.FSE44 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Other business expenses</label>
            <span class="col-xs-6" data-ng-bind="forms.selfEmployed.form.FSE30 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Disallowable other business expenses</label>
            <span class="col-xs-6" data-ng-bind="forms.selfEmployed.form.FSE45 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Total expenses</label>
            <span class="col-xs-6" data-ng-bind="forms.selfEmployed.form.FSE31 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Total disallowable expenses</label>
            <span class="col-xs-6" data-ng-bind="forms.selfEmployed.form.FSE46 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h5 class="sub-header-title">Net profit or loss</h5>
            </div>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Net profit</label>
            <span class="col-xs-6" data-ng-bind="forms.selfEmployed.FSE47 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Net loss</label>
            <span class="col-xs-6" data-ng-bind="forms.selfEmployed.FSE48 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h5 class="sub-header-title">Less: Capital allowances and non-taxable items</h5>
            </div>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Annual investment allowance</label>
            <span class="col-xs-6" data-ng-bind="forms.selfEmployed.FSE49 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Annual allowances on cars and equipment</label>
            <span class="col-xs-6" data-ng-bind="forms.selfEmployed.FSE50 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Annual allowance at lower rate</label>
            <span class="col-xs-6" data-ng-bind="forms.selfEmployed.FSE51 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Restricted annual allowances</label>
            <span class="col-xs-6" data-ng-bind="forms.selfEmployed.FSE52 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Agricultural and industrial buildings allowances</label>
            <span class="col-xs-6" data-ng-bind="forms.selfEmployed.FSE53 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Business Premises Renovation Allowance</label>
            <span class="col-xs-6" data-ng-bind="forms.selfEmployed.FSE54 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Other capital allowances</label>
            <span class="col-xs-6" data-ng-bind="forms.selfEmployed.FSE55 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Balancing allowances on sale or cessation</label>
            <span class="col-xs-6" data-ng-bind="forms.selfEmployed.FSE56 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Total capital allowances</label>
            <span class="col-xs-6" data-ng-bind="forms.selfEmployed.FSE57 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Charges on cessation of business</label>
            <span class="col-xs-6" data-ng-bind="forms.selfEmployed.FSE58 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Total balancing charges</label>
            <span class="col-xs-6" data-ng-bind="forms.selfEmployed.FSE59 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Own goods and services</label>
            <span class="col-xs-6" data-ng-bind="forms.selfEmployed.FSE60 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Additions to net profit/deductions from net loss</label>
            <span class="col-xs-6" data-ng-bind="forms.selfEmployed.FSE61 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Non taxable business income</label>
            <span class="col-xs-6" data-ng-bind="forms.selfEmployed.FSE62 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Deductions from net profit/additions to net loss</label>
            <span class="col-xs-6" data-ng-bind="forms.selfEmployed.FSE63 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Net business profit for tax</label>
            <span class="col-xs-6" data-ng-bind="forms.selfEmployed.FSE64 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Net business loss for tax</label>
            <span class="col-xs-6" data-ng-bind="forms.selfEmployed.FSE65 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h5 class="sub-header-title">Adjustments</h5>
            </div>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Date basis period began</label>
            <span class="col-xs-6" data-ng-bind="formatDate(forms.selfEmployed.FSE66) | date: 'dd MMM yyyy'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Date basis period ended</label>
            <span class="col-xs-6" data-ng-bind="formatDate(forms.selfEmployed.FSE67) | date: 'dd MMM yyyy'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Basis period adjustment</label>
            <span class="col-xs-6" data-ng-bind="forms.selfEmployed.FSE68 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Basis period adjustment</label>
            <span class="col-xs-6" data-ng-bind="forms.selfEmployed.FSE68 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Overlap relief used</label>
            <span class="col-xs-6" data-ng-bind="forms.selfEmployed.FSE69 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Overlap profit carried forward</label>
            <span class="col-xs-6" data-ng-bind="forms.selfEmployed.FSE70 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Change of accounting practice adjustment</label>
            <span class="col-xs-6" data-ng-bind="forms.selfEmployed.FSE71 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Averaging adjustment</label>
            <span class="col-xs-6" data-ng-bind="forms.selfEmployed.FSE72 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Adjusted profit for the year</label>
            <span class="col-xs-6" data-ng-bind="forms.selfEmployed.FSE73 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h5 class="sub-header-title">Losses, other income and deductions</h5>
            </div>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Adjusted profit for the year</label>
            <span class="col-xs-6" data-ng-bind="forms.selfEmployed.FSE74 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Any other business income</label>
            <span class="col-xs-6" data-ng-bind="forms.selfEmployed.FSE75 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Total taxable business profits</label>
            <span class="col-xs-6" data-ng-bind="forms.selfEmployed.FSE76 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Adjusted loss for the year</label>
            <span class="col-xs-6" data-ng-bind="forms.selfEmployed.FSE77 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Loss of year set against other income</label>
            <span class="col-xs-6" data-ng-bind="forms.selfEmployed.FSE78 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Loss to carry back</label>
            <span class="col-xs-6" data-ng-bind="forms.selfEmployed.FSE79 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Total loss to carry forward</label>
            <span class="col-xs-6" data-ng-bind="forms.selfEmployed.FSE80 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Sub contractors deduction</label>
            <span class="col-xs-6" data-ng-bind="forms.selfEmployed.FSE82 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h5 class="sub-header-title">Balance sheet</h5>
            </div>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Equipment, machinery, vehicles</label>
            <span class="col-xs-6" data-ng-bind="forms.selfEmployed.FSE83 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Other fixed assets</label>
            <span class="col-xs-6" data-ng-bind="forms.selfEmployed.FSE84 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Stock and work in progress</label>
            <span class="col-xs-6" data-ng-bind="forms.selfEmployed.FSE85 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Trade debtors</label>
            <span class="col-xs-6" data-ng-bind="forms.selfEmployed.FSE86 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Bank etc. balances</label>
            <span class="col-xs-6" data-ng-bind="forms.selfEmployed.FSE87 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Cash in hand</label>
            <span class="col-xs-6" data-ng-bind="forms.selfEmployed.FSE88 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Other current assets</label>
            <span class="col-xs-6" data-ng-bind="forms.selfEmployed.FSE89 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Total business assets</label>
            <span class="col-xs-6" data-ng-bind="forms.selfEmployed.FSE90 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Trade creditors</label>
            <span class="col-xs-6" data-ng-bind="forms.selfEmployed.FSE91 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Loans and overdrafts</label>
            <span class="col-xs-6" data-ng-bind="forms.selfEmployed.FSE92 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Other liabilities</label>
            <span class="col-xs-6" data-ng-bind="forms.selfEmployed.FSE93 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Net business assets</label>
            <span class="col-xs-6" data-ng-bind="forms.selfEmployed.FSE94 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Capital account balance at start</label>
            <span class="col-xs-6" data-ng-bind="forms.selfEmployed.FSE95 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Net profit or loss</label>
            <span class="col-xs-6" data-ng-bind="forms.selfEmployed.FSE96 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Capital introduced</label>
            <span class="col-xs-6" data-ng-bind="forms.selfEmployed.FSE97 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Drawings</label>
            <span class="col-xs-6" data-ng-bind="forms.selfEmployed.FSE98 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Capital account balance at end</label>
            <span class="col-xs-6" data-ng-bind="forms.selfEmployed.FSE99 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Capital account balance at end</label>
            <span class="col-xs-6" data-ng-bind="forms.selfEmployed.FSE99 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h5 class="sub-header-title">Other information</h5>
            </div>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Class 4 NIC exemption</label>
            <span class="col-xs-6" data-ng-bind="forms.selfEmployed.FSE100 == '1' ? 'Yes' : 'No'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Class 4 NIC deferment</label>
            <span class="col-xs-6" data-ng-bind="forms.selfEmployed.FSE101 == '1' ? 'Yes' : 'No'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Adjustment to Class 4 NIC profits</label>
            <span class="col-xs-6" data-ng-bind="forms.selfEmployed.FSE102 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Other information space</label>
            <span class="col-xs-6" data-ng-bind="forms.selfEmployed.FSE103"></span>
        </div>
    </div>
</div>
<hr/>