<h4>
    Trust - <a class="btn-link text-primary" data-ng-click="actions.open('trust')">Edit</a>
</h4>

<div class="row">
    <div class="col-md-12">
        <div class="row">
            <label class="control-label col-xs-6">
                Discretionary income payment net amount
            </label>
            <span class="col-xs-6" data-ng-bind="forms.trust.TRU1 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Payments from settlor interested trusts
            </label>
            <span class="col-xs-6" data-ng-bind="forms.trust.TRU2 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Non discretionary income taxed at basic rate
            </label>
            <span class="col-xs-6" data-ng-bind="forms.trust.TRU3 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Non discretionary income taxed at savings rate
            </label>
            <span class="col-xs-6" data-ng-bind="forms.trust.TRU4 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Non discretionary income taxed at dividend rate
            </label>
            <span class="col-xs-6" data-ng-bind="forms.trust.TRU5 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Income from trusts etc. - non resident trustees
            </label>
            <span class="col-xs-6" data-ng-bind="forms.trust.TRU6 == '1' ? 'Yes' : 'No'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Net settlor income taxed at basic rate
            </label>
            <span class="col-xs-6" data-ng-bind="forms.trust.TRU7 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Net settlor income taxed at savings rate
            </label>
            <span class="col-xs-6" data-ng-bind="forms.trust.TRU8 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Net settlor income taxed at dividend rate
            </label>
            <span class="col-xs-6" data-ng-bind="forms.trust.TRU9 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Net settlor income taxed at trust rate
            </label>
            <span class="col-xs-6" data-ng-bind="forms.trust.TRU10 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Savings income at trust rate
            </label>
            <span class="col-xs-6" data-ng-bind="forms.trust.TRU11 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Net settlor income taxed at dividend trust rate
            </label>
            <span class="col-xs-6" data-ng-bind="forms.trust.TRU12 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Gross settlor income to be taxed at basic rate
            </label>
            <span class="col-xs-6" data-ng-bind="forms.trust.TRU13 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Gross settlor income to be taxed at savings rate
            </label>
            <span class="col-xs-6" data-ng-bind="forms.trust.TRU14 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Life insurance policy gains-additional tax paid
            </label>
            <span class="col-xs-6" data-ng-bind="forms.trust.TRU15 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Estate income taxed at basic rate
            </label>
            <span class="col-xs-6" data-ng-bind="forms.trust.TRU16 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Estate income taxed at savings rate
            </label>
            <span class="col-xs-6" data-ng-bind="forms.trust.TRU17 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Estate income taxed at dividend rate
            </label>
            <span class="col-xs-6" data-ng-bind="forms.trust.TRU18 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Estate income taxed at non-repayable basic rate
            </label>
            <span class="col-xs-6" data-ng-bind="forms.trust.TRU19 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Estate income taxed at non-repayable lower rate
            </label>
            <span class="col-xs-6" data-ng-bind="forms.trust.TRU20 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Estate income taxed at non-payable dividend rate
            </label>
            <span class="col-xs-6" data-ng-bind="forms.trust.TRU21 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Foreign estate income
            </label>
            <span class="col-xs-6" data-ng-bind="forms.trust.TRU22 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Relief for UK tax accounted for
            </label>
            <span class="col-xs-6" data-ng-bind="forms.trust.TRU23 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Foreign tax
            </label>
            <span class="col-xs-6" data-ng-bind="forms.trust.TRU24 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Any other information space
            </label>
            <span class="col-xs-6" data-ng-bind="forms.trust.TRU25"></span>
        </div>
    </div>
</div>
<hr/>