<h4>
    Uk Property  -
    <a class="btn-link text-primary" data-ng-click="actions.open('uk-property')">Edit</a>
</h4>

<div class="row">
    <div class="col-md-12">
        <div class="row">
            <label class="control-label col-xs-6">Property</label>
            <span class="col-xs-6" data-ng-bind="forms.ukProperty.property.name"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Number of properties</label>
            <span class="col-xs-6" data-ng-bind="forms.ukProperty.PRO1"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Property income ceased in year</label>
            <span class="col-xs-6" data-ng-bind="forms.ukProperty.PRO2 == '1' ? 'Yes' : 'No'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Income from property let jointly</label>
            <span class="col-xs-6" data-ng-bind="forms.ukProperty.PRO3 == '1' ? 'Yes' : 'No'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Rent a Room relief claim</label>
            <span class="col-xs-6" data-ng-bind="forms.ukProperty.PRO4 == '1' ? 'Yes' : 'No'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Furnished holiday lettings - income</label>
            <span class="col-xs-6" data-ng-bind="forms.ukProperty.PRO5 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Furnished Holiday Lettings - expenses</label>
            <span class="col-xs-6" data-ng-bind="forms.ukProperty.PRO6 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Furnished holiday lettings - interest etc. costs</label>
            <span class="col-xs-6" data-ng-bind="forms.ukProperty.PRO7 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Furnished holiday lettings - management etc.
                fees</label>
            <span class="col-xs-6" data-ng-bind="forms.ukProperty.PRO8 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Furnished holiday lettings - other expenses</label>
            <span class="col-xs-6" data-ng-bind="forms.ukProperty.PRO9 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Private use adjustment</label>
            <span class="col-xs-6" data-ng-bind="forms.ukProperty.PRO10 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Balancing charges</label>
            <span class="col-xs-6" data-ng-bind="forms.ukProperty.PRO11 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Capital allowances</label>
            <span class="col-xs-6" data-ng-bind="forms.ukProperty.PRO12 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Adjusted Profit For The Year</label>
            <span class="col-xs-6" data-ng-bind="forms.ukProperty.PRO13 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Losses Brought Forward</label>
            <span class="col-xs-6" data-ng-bind="forms.ukProperty.PRO14 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Taxable Profit For Year</label>
            <span class="col-xs-6" data-ng-bind="forms.ukProperty.PRO15 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Loss For Year</label>
            <span class="col-xs-6" data-ng-bind="forms.ukProperty.PRO16 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Loss To Carry Forward</label>
            <span class="col-xs-6" data-ng-bind="forms.ukProperty.PRO17 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">In EEA</label>
            <span class="col-xs-6" data-ng-bind="forms.ukProperty.PRO18 == '1' ? 'Yes' : 'No'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Period Of Grace Election</label>
            <span class="col-xs-6" data-ng-bind="forms.ukProperty.PRO19 == '1' ? 'Yes' : 'No'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Total Rents And OtherIncome From Property</label>
            <span class="col-xs-6" data-ng-bind="forms.ukProperty.PRO20 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Tax Taken Off Any Income</label>
            <span class="col-xs-6" data-ng-bind="forms.ukProperty.PRO21 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Premiums For Grant Of A Lease</label>
            <span class="col-xs-6" data-ng-bind="forms.ukProperty.PRO22 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Reverse Premiums And Inducements</label>
            <span class="col-xs-6" data-ng-bind="forms.ukProperty.PRO23 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Rent Rates Insurance Etc</label>
            <span class="col-xs-6" data-ng-bind="forms.ukProperty.PRO24 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Repairs and Maintenance</label>
            <span class="col-xs-6" data-ng-bind="forms.ukProperty.PRO25 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Interest And Other Financial Charges</label>
            <span class="col-xs-6" data-ng-bind="forms.ukProperty.PRO26 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Legal Management And Professional Fees</label>
            <span class="col-xs-6" data-ng-bind="forms.ukProperty.PRO27 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Costs Of Services Provided</label>
            <span class="col-xs-6" data-ng-bind="forms.ukProperty.PRO28 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Other Property Expenses</label>
            <span class="col-xs-6" data-ng-bind="forms.ukProperty.PRO29 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Private Use Adjustment</label>
            <span class="col-xs-6" data-ng-bind="forms.ukProperty.PRO30 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Balancing Charges</label>
            <span class="col-xs-6" data-ng-bind="forms.ukProperty.PRO31 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Annual Investment Allowance</label>
            <span class="col-xs-6" data-ng-bind="forms.ukProperty.PRO32 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Business Premises Renovation Allowance</label>
            <span class="col-xs-6" data-ng-bind="forms.ukProperty.PRO33 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Enhanced Capital Allowances</label>
            <span class="col-xs-6" data-ng-bind="forms.ukProperty.PRO34 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Landlords Energy Saving Allowance</label>
            <span class="col-xs-6" data-ng-bind="forms.ukProperty.PRO35 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Ten Percent Wear And Tear Allowance</label>
            <span class="col-xs-6" data-ng-bind="forms.ukProperty.PRO36 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Rent A Room Exempt Amount</label>
            <span class="col-xs-6" data-ng-bind="forms.ukProperty.PRO37 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Adjusted Profit For The Year</label>
            <span class="col-xs-6" data-ng-bind="forms.ukProperty.PRO38 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Loss Brought Forward</label>
            <span class="col-xs-6" data-ng-bind="forms.ukProperty.PRO39 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Taxable Profit For The Year</label>
            <span class="col-xs-6" data-ng-bind="forms.ukProperty.PRO40 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Adjusted Loss For The Year</label>
            <span class="col-xs-6" data-ng-bind="forms.ukProperty.PRO41 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Loss set off against total income of the year</label>
            <span class="col-xs-6" data-ng-bind="forms.ukProperty.PRO42 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">Loss to carry forward</label>
            <span class="col-xs-6" data-ng-bind="forms.ukProperty.PRO43 | currency: '&pound;'"></span>
        </div>
    </div>
</div>
<hr/>