<div>
  <div class="input-group" ng-if="type != 'none'">
    <span class="input-group-addon" ng-if="type == 'dollar'">&dollar;</span>

    <div class="text-right form-control" ng-if="!isEdit" ng-click="edit()" ng-disabled="disabled">
      {{ item | currency: '' | isEmpty }}
    </div>
    <input filtered-input="numbers" class="text-right form-control" ng-disabled="disabled"
           format-currency ng-blur="blur(item)" ng-focus type="text"
           ng-if="isEdit"
           ng-model="item" required/>

    <span class="input-group-addon addon-dark-gray" ng-if="type == 'percent'">&#37;</span>
    <span class="input-group-addon addon-dark-gray" ng-if="type == 'other'">{{ data_type }}</span>
  </div>
  <div ng-if="type == 'none'">
    <div class="text-right form-control" ng-if="!isEdit" ng-click="edit()" ng-disabled="disabled">
      {{ item | currency: '' | isEmpty }}
    </div>
    <input filtered-input="numbers" class="text-right form-control" ng-disabled="disabled"
           format-currency ng-blur="blur(item)" ng-focus type="text"
           ng-if="isEdit"
           ng-model="item" required/>
  </div>
</div>