<div class="step-review" data-ng-init="init()">
  <h4>Step 4 - Review Tax Return</h4>

  <!--Header review-->
  <div class="row">
    <div class="col-sm-6">
      <h4>Tax year {{ taxYear.description }}</h4>
    </div>

    <div class="col-sm-6">
      <button class="btn btn-primary btn-sm pull-right"
              data-ng-disabled="isSubmit"
              data-ng-click="actions.download()">
        <i class="fa fa-print" aria-hidden="true"></i>
        Download/Print
      </button>
    </div>
  </div>

  <!-- Partnership Detail -->
  <div class="partnership-detail-form"
       data-ng-include="'modules/tax-return/partnership/step-summary/review-forms/partnership-detail.tpl.html'"></div>

  <div class="partnership-forms">
    <h4>Partnership forms</h4>

    <div class="row">
      <div class="col-md-6 col-sm-6"
           data-ng-repeat="item in partnershipForms"
           data-ng-if="item.selected">
        <div class="form-group">
          <a class="col-xs-10 btn-link text-primary"
             data-ng-click="actions.open(item.key)"
             data-ng-bind="item.title"></a>

          <div class="col-xs-2 font-bold text-center">
            <span data-ng-if="item.existing">Yes</span>
            <span data-ng-if="!item.existing">No</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--Review form partnership-->
  <div class="form-partnership">
    <div data-ng-if="actions.checkForm('trading-professional')"
         data-ng-include="'modules/tax-return/partnership/step-summary/review-forms/trading-professional.tpl.html'"></div>

    <div data-ng-if="actions.checkForm('partnership-uk-property')"
         data-ng-include="'modules/tax-return/partnership/step-summary/review-forms/partnership-uk-property.tpl.html'"></div>

    <div data-ng-if="actions.checkForm('disposal-changeable')"
         data-ng-include="'modules/tax-return/partnership/step-summary/review-forms/disposal-changeable.tpl.html'"></div>

    <div data-ng-if="actions.checkForm('foreign-income')"
         data-ng-include="'modules/tax-return/partnership/step-summary/review-forms/foreign-income.tpl.html'"></div>

    <div data-ng-if="actions.checkForm('other-information')"
         data-ng-include="'modules/tax-return/partnership/step-summary/review-forms/other-information.tpl.html'"></div>
  </div>

  <div class="declaration">
    <div class="row">
      <h4>Declaration</h4>
    </div>

    <div class="row">
      <div class="col-md-12">
        <p>I declare that the information I have given on this tax return and any supplementary pages is correct
          and complete to the best of my knowledge and belief. I understand that I may have to pay financial
          penalties and
          face prosecution if I give false information.</p>
      </div>

      <div class="col-md-12">
        <div class="checkbox-custom m-t-sm">
          <input type="checkbox" id="confirm-of-declaration" class="css-checkbox"
                 data-ng-model="confirm_of_declaration">
          <label for="confirm-of-declaration" class="css-label">
            Please check to confirm the declaration
          </label>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="m-t-sm" data-ng-if="confirmed_date">
          <div class="alert alert-success">
            Confirmed on
                        <span class="font-bold"
                              data-ng-bind="confirmed_date"></span>
          </div>
        </div>
      </div>

      <div class="col-md-12">
        <div class="m-t-sm" data-ng-if="errorConfirm">
          <div class="alert alert-danger" data-ng-bind="errorConfirm"></div>
        </div>
      </div>
    </div>
  </div>
</div>