<div class="form-group">
    <div class="input-group">
        <div class="full-width">
            <label for="{{ id }}"
                   class="text-left word-wrap input-group-addon input-group-addon-custom control-label">
                {{ label }}
            </label>
            <div class="input-group">
                <span class="input-group-addon currency">£</span>
                <input type="text" id="{{ id }}" name="{{ id }}"
                       class="form-control ng-pristine ng-valid"
                       data-ng-focus
                       data-ng-blur
                       filtered-input="number"
                       data-ng-model="datasource">
            </div>
        </div>
    </div>
</div>