<div class="modal-section-not-paid-enough-tax" data-ng-init="init()">
    <div class="modal-header bg-primary">
        <h4 class="h4">If you have not paid enough tax</h4>
        <span class="close" data-ng-click="actions.cancel()"></span>
    </div>

    <div class="modal-body">
        <form name="form" class="form-horizontal form-validation" novalidate>
            <div class="form-group">
                <div class="col-sm-12">
                    <div class="checkbox">
                        <label class="i-checks" for="input-1">
                            <input type="checkbox" id="input-1"
                                   data-ng-model="info.FIN2"
                                   data-ng-true-value="1"
                                   data-ng-false-value="0">
                            <i></i>
                            If you owe tax and have a PAYE tax code,
                            we will try to collect the tax due (if less than £3,000)
                            through your tax code
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-12">
                    <div class="checkbox">
                        <label class="i-checks" for="input-2">
                            <input type="checkbox" id="input-2"
                                   data-ng-model="info.FIN3"
                                   data-ng-true-value="1"
                                   data-ng-false-value="0">
                            <i></i>
                            If for 2015–16, you are likely to owe tax on the
                            High Income Child Benefit Charge or on income
                            other than employed earnings or pensions, and you
                            do not want us to use your 2015–16 PAYE tax code
                            to collect that tax during the year
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-12">
                    <button class="btn btn-primary btn-sm pull-right"
                            data-ng-disabled="form.$invalid"
                            data-ng-click="actions.save(form.$valid)">
                        Save
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>