<div class="step-income" data-ng-init="init()">
  <h4>Step 1 - Income</h4>

  <h5>Tell us about the income that you earned:</h5>

  <!--Start enter data into forms-->
  <!--List of income forms-->
  <div class="row">
    <div class="col-md-6 col-sm-6" data-ng-show="item.selected"
         data-ng-repeat="item in individualForms">

      <a class="btn btn-link text-primary" data-ng-show="item.key !== 'self-employed'"
         data-ng-click="open(item.key)">
        {{ item.title }}
      </a>

      <div data-ng-show="item.key === 'self-employed'">
        <a class="btn btn-link text-primary" data-ng-click="showEmployed = !showEmployed">
          {{item.title}}
        </a>
        <span> - </span>
        <a class="btn btn-link text-primary" data-ng-click="openSelfEmployed()">
          Add business
        </a>
        <ul data-ng-show="selfEmployeds && selfEmployeds.length > 0 && showEmployed">
          <li data-ng-repeat="item in selfEmployeds">
            <a class="btn btn-link text-primary" data-ng-click="openSelfEmployed(item)">
              {{ item.business ? item.business.name : item.FSE1 }}
            </a>
            <a class="btn btn-link" data-ng-click="deleteSelfEmployed(item)">
              <i class="fa fa-times" aria-hidden="true"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>