<div class="step-review-tax-return">
  <h4>Step 5 - Review Tax Return</h4>

  <!--Header-->
  <div class="row">
    <div class="col-sm-6">
      <h4>Tax year {{ taxYear.description }}</h4>
    </div>

    <div class="col-sm-6">
      <button class="btn btn-primary btn-sm pull-right"
              data-ng-disabled="isSubmit"
              data-ng-click="actions.download()">
        <i class="fa fa-print" aria-hidden="true"></i>
        Download/Print
      </button>
    </div>
  </div>

  <!-- Personal Information -->
  <div data-ng-include="'modules/tax-return/individual/step-review-tax-return/review-forms/personal-information.tpl.html'"></div>
  <hr>

  <div class="main-income">
    <h4>Main Income</h4>

    <!--Main Income-->
    <div class="row">
      <div class="col-md-6 col-sm-6"
           data-ng-repeat="item in individualForms | filter: {selected: true}">
        <div class="form-group">
          <a class="col-xs-10 btn-link text-primary"
             data-ng-click="actions.open(item.key)"
             data-ng-bind="item.title">
          </a>

          <div class="col-xs-2 font-bold text-center">
            <span data-ng-if="item.existing">Yes</span>
            <span data-ng-if="!item.existing">No</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>

  <!--Review form-->
  <div class="forms-property">

    <!--Individual forms-->
    <div data-ng-repeat="form in individualForms | filter:{selected: true, existing: true}"
         data-ng-include="form.path_review"></div>

  </div>

  <!--Estimated tax-->
  <h4>Tax summary</h4>

  <div class="row">
    <div class="col-sm-12">
      <div class="col-sm-8 text-lg text-primary">Estimated tax</div>
      <div class="col-sm-4 text-lg text-primary" data-ng-bind="estimatedTax | currency: '&pound;'"></div>
    </div>
  </div>
  <hr/>

  <!--Declaration-->
  <h4>Declaration</h4>

  <p>I declare that the information I have given on this tax return and any supplementary pages is correct and
    complete to the best of my knowledge and belief. I understand that I may have to pay financial penalties and
    face prosecution if I give false information.</p>

  <div class="m-t-sm">
    <div class="checkbox">
      <label class="i-checks">
        <input type="checkbox" id="confirm-of-declaration" class="css-checkbox"
               data-ng-model="confirm_of_declaration">
        <i></i>
        Please check to confirm the declaration
      </label>
    </div>
  </div>

  <!--Confirm date-->
  <div class="m-t-sm" data-ng-if="confirmed_date">
    <div class="alert alert-success">
      Confirmed on <span class="font-bold">{{ confirmed_date }}</span>
    </div>
  </div>

  <!--Error confirm-->
  <div class="m-t-sm" data-ng-if="errorConfirm">
    <div class="alert alert-danger">{{ errorConfirm }}</div>
  </div>
</div>