<div class="modal-create-self-employed" data-ng-init="init()">
  <div class="modal-header bg-primary">
    <h4 class="h4">Self Employed Tax Form</h4>
    <span class="close" data-ng-click="actions.cancel()"></span>
  </div>

  <div class="modal-body">
    <form name="form" class="form-horizontal form-validation" novalidate>
      <tabset class="tab-container">
        <!--Business details-->
        <tab heading="Business details" active="step == 1" ng-click="actions.jumpTo(2)">
          <div class="form-group">
            <div class="col-md-12">
              <button class="btn btn-primary btn-sm"
                      data-ng-disabled="importing"
                      data-ng-click="actions.openImport()">
								<span data-ng-if="importing">
									<i class="fa fa-refresh fa-spin fa-1x fa-fw"></i>
								</span>
                Import data
              </button>
							<span class="text-muted">
								Click on this button to import the data from our bookkeeping module
							</span>
            </div>
          </div>

          <div class="form-group">
            <label for="input-1" class="col-sm-4">
              Business name
            </label>

            <div class="col-sm-8">
              <input type="text" id="input-1" class="form-control" maxlength="50"
                     data-ng-model="self.FSE1"/>
            </div>
          </div>

          <div class="form-group">
            <label for="input-2" class="col-sm-4">
              Business description
            </label>

            <div class="col-sm-8">
              <textarea id="input-2" class="form-control" data-ng-model="self.FSE2"></textarea>
            </div>
          </div>

          <div class="form-group">
            <label for="input-3" class="col-sm-4">
              Business address first line
            </label>

            <div class="col-sm-8">
              <input type="text" id="input-3" class="form-control" maxlength="50"
                     data-ng-model="self.FSE3"/>
            </div>
          </div>

          <div class="form-group">
            <label for="input-4" class="col-sm-4">
              Business address postcode
            </label>

            <div class="col-sm-8">
              <input type="text" id="input-4" class="form-control"
                     maxlength="50"
                     data-ng-model="self.FSE4"/>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-8 col-sm-offset-4">
              <div class="checkbox">
                <label class="i-checks" for="input-5">
                  <input type="checkbox" id="input-5" class="css-checkbox"
                         data-ng-model="self.FSE5"
                         data-ng-true-value="1"
                         data-ng-false-value="0">
                  <i></i>
                  Change of business details
                </label>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-6" class="col-sm-4">
              Date business started
            </label>

            <div class="col-sm-8">
              <input type="text" id="input-6" class="form-control"
                     data-datepicker-popup="{{dateFormat}}"
                     data-datepicker-options="dateOptions"
                     data-is-open="params.opened1"
                     data-ng-click="actions.open(1)"
                     data-ng-model="self.FSE6"/>
            </div>
          </div>

          <div class="form-group">
            <label for="input-7" class="col-sm-4">
              Date business ceased
            </label>

            <div class="col-sm-8">
              <input type="text" id="input-7" class="form-control"
                     data-datepicker-popup="{{ dateFormat}}"
                     data-datepicker-options="dateOptions"
                     data-is-open="params.opened2"
                     data-ng-click="actions.open(2)"
                     data-ng-model="self.FSE7"/>
            </div>
          </div>

          <div class="form-group">
            <label for="input-8" class="col-sm-4">
              Date accounting period starts
            </label>

            <div class="col-sm-8">
              <input type="text" id="input-8" class="form-control"
                     data-datepicker-popup="{{ dateFormat}}"
                     data-datepicker-options="dateOptions"
                     data-is-open="params.opened3"
                     data-ng-click="actions.open(3)"
                     data-ng-model="self.FSE8"/>
            </div>
          </div>

          <div class="form-group">
            <label for="input-9" class="col-sm-4">
              Date accounting period ends
            </label>

            <div class="col-sm-8">
              <input type="text" id="input-9" class="form-control"
                     data-datepicker-popup="{{dateFormat}}"
                     data-datepicker-options="dateOptions"
                     data-is-open="params.opened4"
                     data-ng-click="actions.open(4)"
                     data-ng-model="self.FSE9"/>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-8 col-sm-offset-4">
              <div class="checkbox">
                <label class="i-checks" for="input-10">
                  <input type="checkbox" id="input-10"
                         data-ng-model="self.FSE10"
                         data-ng-true-value="1"
                         data-ng-false-value="0">
                  <i></i>
                  Cash basis
                </label>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-8 col-sm-offset-4">
              <div class="checkbox">
                <label class="i-checks" for="input-11">
                  <input type="checkbox" id="input-11"
                         data-ng-model="self.FSE11"
                         data-ng-true-value="1"
                         data-ng-false-value="0">
                  <i></i>
                  Permanent accounting date change
                </label>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-8 col-sm-offset-4">
              <div class="checkbox">
                <label class="i-checks" for="input-12">
                  <input type="checkbox" id="input-12"
                         data-ng-model="self.FSE12"
                         data-ng-true-value="1"
                         data-ng-false-value="0">
                  <i></i>
                  Multiple accounting date changes
                </label>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-8 col-sm-offset-4">
              <div class="checkbox">
                <label class="i-checks" for="input-13">
                  <input type="checkbox" id="input-13"
                         data-ng-model="self.FSE13"
                         data-ng-true-value="1"
                         data-ng-false-value="0">
                  <i></i>
                  Special arrangements apply
                </label>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-8 col-sm-offset-4">
              <div class="checkbox">
                <label class="i-checks" for="input-14">
                  <input type="checkbox" id="input-14"
                         data-ng-model="self.FSE14"
                         data-ng-true-value="1"
                         data-ng-false-value="0">
                  <i></i>
                  Information provided last year
                </label>
              </div>
            </div>
          </div>
        </tab>

        <!--Business income-->
        <tab heading="Business income" active="step == 2" ng-click="actions.jumpTo(3)">
          <h4>Business income</h4>

          <a class="btn btn-link text-primary"
             data-ng-click="actions.createTransaction()">
            (Business incomes transaction)
          </a>

          <div class="form-group">
            <label for="input-15" class="col-sm-4">
              Turnover
            </label>

            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon">&pound</span>
                <input type="text" id="input-15" class="form-control"
                       filtered-input="number"
                       data-ng-model="self.FSE15"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-16" class="col-sm-4">
              Other business income
            </label>

            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon">&pound</span>
                <input type="text" id="input-16" class="form-control"
                       filtered-input="number"
                       data-ng-model="self.FSE16"/>
              </div>
            </div>
          </div>

          <h4>Less: expenses</h4>

          <div class="form-group">
            <label for="input-17" class="col-sm-4">
              Cost of goods
            </label>

            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon">&pound</span>
                <input type="text" id="input-17" class="form-control"
                       filtered-input="number"
                       data-ng-model="self.FSE17"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-32" class="col-sm-4">
              Disallowable cost of goods
            </label>

            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon">&pound</span>
                <input type="text" id="input-32" class="form-control"
                       filtered-input="number"
                       data-ng-model="self.FSE32"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-18" class="col-sm-4">
              Subcontractor costs
            </label>

            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon">&pound</span>
                <input type="text" id="input-18" class="form-control"
                       filtered-input="number"
                       data-ng-model="self.FSE18"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-33" class="col-sm-4">
              Disallowable subcontractor costs
            </label>

            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon">&pound</span>
                <input type="text" id="input-33" class="form-control"
                       filtered-input="number"
                       data-ng-model="self.FSE33"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-19" class="col-sm-4">
              Wages, salaries and staff costs
            </label>

            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon">&pound</span>
                <input type="text" id="input-19" class="form-control"
                       filtered-input="number"
                       data-ng-model="self.FSE19"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-34" class="col-sm-4">
              Disallowable staff costs
            </label>

            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon">&pound</span>
                <input type="text" id="input-34" class="form-control"
                       filtered-input="number"
                       data-ng-model="self.FSE34"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-20" class="col-sm-4">
              Car, van and travel expenses
            </label>

            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon">&pound</span>
                <input type="text" id="input-20" class="form-control"
                       filtered-input="number"
                       data-ng-model="self.FSE20"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-35" class="col-sm-4">
              Disallowable car and travel expenses
            </label>

            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon">&pound</span>
                <input type="text" id="input-35" class="form-control"
                       filtered-input="number"
                       data-ng-model="self.FSE35"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-21" class="col-sm-4">
              Rent and other property costs
            </label>

            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon">&pound</span>
                <input type="text" id="input-21" class="form-control"
                       filtered-input="number"
                       data-ng-model="self.FSE21"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-36" class="col-sm-4">
              Disallowable rent and other property costs
            </label>

            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon">&pound</span>
                <input type="text" id="input-36" class="form-control"
                       filtered-input="number"
                       data-ng-model="self.FSE36"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-22" class="col-sm-4">
              Repair and renewal costs
            </label>

            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon">&pound</span>
                <input type="text" id="input-22" class="form-control"
                       filtered-input="number"
                       data-ng-model="self.FSE22"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-37" class="col-sm-4">
              Disallowable repair and renewal costs
            </label>

            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon">&pound</span>
                <input type="text" id="input-37" class="form-control"
                       filtered-input="number"
                       data-ng-model="self.FSE37"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-23" class="col-sm-4">
              Phone and other office costs
            </label>

            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon">&pound</span>
                <input type="text" id="input-23" class="form-control"
                       filtered-input="number"
                       data-ng-model="self.FSE23"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-38" class="col-sm-4">
              Disallowable phone and other office costs
            </label>

            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon">&pound</span>
                <input type="text" id="input-38" class="form-control"
                       filtered-input="number"
                       data-ng-model="self.FSE38"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-24" class="col-sm-4">
              Advertising and entertainment costs
            </label>

            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon">&pound</span>
                <input type="text" id="input-24" class="form-control"
                       filtered-input="number"
                       data-ng-model="self.FSE24"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-39" class="col-sm-4">
              Disallowable advertising and entertainment costs
            </label>

            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon">&pound</span>
                <input type="text" id="input-39" class="form-control"
                       filtered-input="number"
                       data-ng-model="self.FSE39"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-25" class="col-sm-4">
              Bank and loan interest
            </label>

            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon">&pound</span>
                <input type="text" id="input-25" class="form-control"
                       filtered-input="number"
                       data-ng-model="self.FSE25"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-40" class="col-sm-4">
              Disallowable bank and loan interest
            </label>

            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon">&pound</span>
                <input type="text" id="input-40" class="form-control"
                       filtered-input="number"
                       data-ng-model="self.FSE40"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-26" class="col-sm-4">
              Other finance charges
            </label>

            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon">&pound</span>
                <input type="text" id="input-26" class="form-control"
                       filtered-input="number"
                       data-ng-model="self.FSE26"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-41"
                   class="col-sm-4">
              Disallowable other finance charges
            </label>

            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon">&pound</span>
                <input type="text" id="input-41" class="form-control"
                       filtered-input="number"
                       data-ng-model="self.FSE41"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-27" class="col-sm-4">
              Debts written off
            </label>

            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon">&pound</span>
                <input type="text" id="input-27" class="form-control"
                       filtered-input="number"
                       data-ng-model="self.FSE27"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-42" class="col-sm-4">
              Disallowable debts written off
            </label>

            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon">&pound</span>
                <input type="text" id="input-42" class="form-control"
                       filtered-input="number"
                       data-ng-model="self.FSE42"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-28" class="col-sm-4">
              Accountancy and legal fees
            </label>

            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon">&pound</span>
                <input type="text" id="input-28" class="form-control"
                       filtered-input="number"
                       data-ng-model="self.FSE28"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-43" class="col-sm-4">
              Disallowable accountancy and legal fees
            </label>

            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon">&pound</span>
                <input type="text" id="input-43" class="form-control"
                       filtered-input="number"
                       data-ng-model="self.FSE43"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-29" class="col-sm-4">
              Depreciation and loss/profit on sale
            </label>

            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon">&pound</span>
                <input type="text" id="input-29" class="form-control"
                       filtered-input="number"
                       data-ng-model="self.FSE29"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-44" class="col-sm-4">
              Disallowable depreciation and loss/profit on sale
            </label>

            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon">&pound</span>
                <input type="text" id="input-44" class="form-control"
                       filtered-input="number"
                       data-ng-model="self.FSE44"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-30" class="col-sm-4">
              Other business expenses
            </label>

            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon">&pound</span>
                <input type="text" id="input-30" class="form-control"
                       filtered-input="number"
                       data-ng-model="self.FSE30"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-45" class="col-sm-4">
              Disallowable other business expenses
            </label>

            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon">&pound</span>
                <input type="text" id="input-45" class="form-control"
                       filtered-input="number"
                       data-ng-model="self.FSE45"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-31" class="col-sm-4">
              Total expenses
            </label>

            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon">&pound</span>
                <input type="text" id="input-31" class="form-control"
                       filtered-input="number"
                       data-ng-model="self.FSE31"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-46" class="col-sm-4">
              Total disallowable expenses
            </label>

            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon">&pound</span>
                <input type="text" id="input-46" class="form-control"
                       filtered-input="number"
                       data-ng-model="self.FSE46"/>
              </div>
            </div>
          </div>

          <h4>Net profit or loss</h4>

          <div class="form-group">
            <label for="input-47" class="col-sm-4">
              Net profit
            </label>

            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon">&pound</span>
                <input type="text" id="input-47" class="form-control"
                       filtered-input="number"
                       data-ng-model="self.FSE47"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-48" class="col-sm-4">
              Net loss
            </label>

            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon">&pound</span>
                <input type="text" id="input-48" class="form-control"
                       filtered-input="number"
                       data-ng-model="self.FSE48"/>
              </div>
            </div>
          </div>
        </tab>

        <!--Disallowable-->
        <tab heading="Capital allowances..." active="step == 3" ng-click="actions.jumpTo(4)">
          <h4>Total disallowable expenses: Capital allowances and non-taxable items</h4>

          <div class="form-group">
            <label for="input-49" class="col-sm-4">
              Annual investment allowance
            </label>

            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon">&pound</span>
                <input type="text" id="input-49" class="form-control"
                       filtered-input="number"
                       data-ng-model="self.FSE49"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-50" class="col-sm-4">
              Annual allowances on cars and equipment
            </label>

            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon">&pound</span>
                <input type="text" id="input-50" class="form-control"
                       filtered-input="number"
                       data-ng-model="self.FSE50"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-51" class="col-sm-4">
              Annual allowance at lower rate
            </label>

            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon">&pound</span>
                <input type="text" id="input-51" class="form-control"
                       filtered-input="number"
                       data-ng-model="self.FSE51"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-52" class="col-sm-4">
              Restricted annual allowances
            </label>

            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon">&pound</span>
                <input type="text" id="input-52" class="form-control"
                       filtered-input="number"
                       data-ng-model="self.FSE52"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-53" class="col-sm-4">
              Agricultural and industrial buildings allowances
            </label>

            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon">&pound</span>
                <input type="text" id="input-53" class="form-control"
                       filtered-input="number"
                       data-ng-model="self.FSE53"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-54" class="col-sm-4">
              Business Premises Renovation Allowance
            </label>

            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon">&pound</span>
                <input type="text" id="input-54" class="form-control"
                       filtered-input="number"
                       data-ng-model="self.FSE54"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-55" class="col-sm-4">
              Other capital allowances
            </label>

            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon">&pound</span>
                <input type="text" id="input-55" class="form-control"
                       filtered-input="number"
                       data-ng-model="self.FSE55"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-56" class="col-sm-4">
              Balancing allowances on sale or cessation
            </label>

            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon">&pound</span>
                <input type="text" id="input-56" class="form-control"
                       filtered-input="number"
                       data-ng-model="self.FSE56"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-57" class="col-sm-4">
              Total capital allowances
            </label>

            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon">&pound</span>
                <input type="text" id="input-57" class="form-control"
                       filtered-input="number"
                       data-ng-model="self.FSE57"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-58" class="col-sm-4">
              Charges on cessation of business
            </label>

            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon">&pound</span>
                <input type="text" id="input-58" class="form-control"
                       filtered-input="number"
                       data-ng-model="self.FSE58"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-59" class="col-sm-4">
              Total balancing charges
            </label>

            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon">&pound</span>
                <input type="text" id="input-59" class="form-control"
                       filtered-input="number"
                       data-ng-model="self.FSE59"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-60" class="col-sm-4">
              Own goods and services
            </label>

            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon">&pound</span>
                <input type="text" id="input-60" class="form-control"
                       filtered-input="number"
                       data-ng-model="self.FSE60"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-61" class="col-sm-4">
              Additions to net profit/deductions from net loss
            </label>

            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon">&pound</span>
                <input type="text" id="input-61" class="form-control"
                       filtered-input="number"
                       data-ng-model="self.FSE61"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-62" class="col-sm-4">
              Non taxable business income
            </label>

            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon">&pound</span>
                <input type="text" id="input-62" class="form-control"
                       filtered-input="number"
                       data-ng-model="self.FSE62"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-63" class="col-sm-4">
              Deductions from net profit/additions to net loss
            </label>

            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon">&pound</span>
                <input type="text" id="input-63" class="form-control"
                       filtered-input="number"
                       data-ng-model="self.FSE63"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-64" class="col-sm-4">
              Net business profit for tax
            </label>

            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon">&pound</span>
                <input type="text" id="input-64" class="form-control"
                       filtered-input="number"
                       data-ng-model="self.FSE64"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-65" class="col-sm-4">
              Net business loss for tax
            </label>

            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon">&pound</span>
                <input type="text" id="input-65" class="form-control"
                       filtered-input="number"
                       data-ng-model="self.FSE65"/>
              </div>
            </div>
          </div>

          <h4>Adjustments</h4>

          <div class="form-group">
            <label for="input-66" class="col-sm-4">
              Date basis period began
            </label>

            <div class="col-sm-8">
              <input type="text" id="input-66" class="form-control"
                     data-datepicker-popup="{{dateFormat}}"
                     data-datepicker-options="dateOptions"
                     data-is-open="params.opened5"
                     data-ng-click="actions.open(5)"
                     data-ng-model="self.FSE66"/>
            </div>
          </div>

          <div class="form-group">
            <label for="input-67" class="col-sm-4">
              Date basis period ended
            </label>

            <div class="col-sm-8">
              <input type="text" id="input-67" class="form-control"
                     data-datepicker-popup="{{dateFormat}}"
                     data-datepicker-options="dateOptions"
                     data-is-open="params.opened6"
                     data-ng-click="actions.open(6)"
                     data-ng-model="self.FSE67"/>
            </div>
          </div>

          <div class="form-group">
            <label for="input-68" class="col-sm-4">
              Basis period adjustment
            </label>

            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon">&pound</span>
                <input type="text" id="input-68" class="form-control"
                       filtered-input="number"
                       data-ng-model="self.FSE68"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-69" class="col-sm-4">
              Overlap relief used
            </label>

            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon">&pound</span>
                <input type="text" id="input-69" class="form-control"
                       filtered-input="number"
                       data-ng-model="self.FSE69"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-70" class="col-sm-4">
              Overlap profit carried forward
            </label>

            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon">&pound</span>
                <input type="text" id="input-70" class="form-control"
                       filtered-input="number"
                       data-ng-model="self.FSE70"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-71" class="col-sm-4">
              Change of accounting practice adjustment
            </label>

            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon">&pound</span>
                <input type="text" id="input-71" class="form-control"
                       filtered-input="number"
                       data-ng-model="self.FSE71"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-72" class="col-sm-4">
              Averaging adjustment
            </label>

            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon">&pound</span>
                <input type="text" id="input-72" class="form-control"
                       filtered-input="number"
                       data-ng-model="self.FSE72"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-73" class="col-sm-4">
              Adjusted profit for the year
            </label>

            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon">&pound</span>
                <input type="text" id="input-73" class="form-control"
                       filtered-input="number"
                       data-ng-model="self.FSE73"/>
              </div>
            </div>
          </div>

          <h4>Losses, other income and deductions</h4>

          <div class="form-group">
            <label for="input-74" class="col-sm-4">
              Adjusted profit for the year
            </label>

            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon">&pound</span>
                <input type="text" id="input-74" class="form-control"
                       filtered-input="number"
                       data-ng-model="self.FSE74"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-75" class="col-sm-4">
              Any other business income
            </label>

            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon">&pound</span>
                <input type="text" id="input-75" class="form-control"
                       filtered-input="number"
                       data-ng-model="self.FSE75"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-76" class="col-sm-4">
              Total taxable business profits
            </label>

            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon">&pound</span>
                <input type="text" id="input-76" class="form-control"
                       filtered-input="number"
                       data-ng-model="self.FSE76"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-77" class="col-sm-4">
              Adjusted loss for the year
            </label>

            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon">&pound</span>
                <input type="text" id="input-77" class="form-control"
                       filtered-input="number"
                       data-ng-model="self.FSE77"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-78" class="col-sm-4">
              Loss of year set against other income
            </label>

            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon">&pound</span>
                <input type="text" id="input-78" class="form-control"
                       filtered-input="number"
                       data-ng-model="self.FSE78"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-79" class="col-sm-4">
              Loss to carry back
            </label>

            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon">&pound</span>
                <input type="text" id="input-79" class="form-control"
                       filtered-input="number"
                       data-ng-model="self.FSE79"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-80" class="col-sm-4">
              Total loss to carry forward
            </label>

            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon">&pound</span>
                <input type="text" id="input-80" class="form-control"
                       filtered-input="number"
                       data-ng-model="self.FSE80"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-81" class="col-sm-4">
              Sub contractors deduction
            </label>

            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon">&pound</span>
                <input type="text" id="input-81" class="form-control"
                       filtered-input="number"
                       data-ng-model="self.FSE81"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-82" class="col-sm-4">
              Other tax taken off trading income
            </label>

            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon">&pound</span>
                <input type="text" id="input-82" class="form-control"
                       filtered-input="number"
                       data-ng-model="self.FSE82"/>
              </div>
            </div>
          </div>
        </tab>

        <tab heading="Balance sheet" active="step==4" ng-click="actions.jumpTo(5)">
          <div class="form-group">
            <label for="input-83" class="col-sm-4">
              Equipment, machinery, vehicles
            </label>

            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon">&pound</span>
                <input type="text" id="input-83" class="form-control"
                       filtered-input="number"
                       data-ng-model="self.FSE83"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-84" class="col-sm-4">
              Other fixed assets
            </label>

            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon">&pound</span>
                <input type="text" id="input-84" class="form-control"
                       filtered-input="number"
                       data-ng-model="self.FSE84"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-85" class="col-sm-4">
              Stock and work in progress
            </label>

            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon">&pound</span>
                <input type="text" id="input-85" class="form-control"
                       filtered-input="number"
                       data-ng-model="self.FSE85"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-86" class="col-sm-4">
              Trade debtors
            </label>

            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon">&pound</span>
                <input type="text" id="input-86" class="form-control"
                       filtered-input="number"
                       data-ng-model="self.FSE86"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-87" class="col-sm-4">
              Bank etc. balances
            </label>

            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon">&pound</span>
                <input type="text" id="input-87" class="form-control"
                       filtered-input="number"
                       data-ng-model="self.FSE87"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-88" class="col-sm-4">
              Cash in hand
            </label>

            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon">&pound</span>
                <input type="text" id="input-88" class="form-control"
                       filtered-input="number"
                       data-ng-model="self.FSE88"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-89" class="col-sm-4">
              Other current assets
            </label>

            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon">&pound</span>
                <input type="text" id="input-89" class="form-control"
                       filtered-input="number"
                       data-ng-model="self.FSE89"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-90" class="col-sm-4">
              Total business assets
            </label>

            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon">&pound</span>
                <input type="text" id="input-90" class="form-control"
                       filtered-input="number"
                       data-ng-model="self.FSE90"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-91" class="col-sm-4">
              Trade creditors
            </label>

            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon">&pound</span>
                <input type="text" id="input-91" class="form-control"
                       filtered-input="number"
                       data-ng-model="self.FSE91"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-92" class="col-sm-4">
              Loans and overdrafts
            </label>

            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon">&pound</span>
                <input type="text" id="input-92" class="form-control"
                       filtered-input="number"
                       data-ng-model="self.FSE92"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-93" class="col-sm-4">
              Other liabilities
            </label>

            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon">&pound</span>
                <input type="text" id="input-93" class="form-control"
                       filtered-input="number"
                       data-ng-model="self.FSE93"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-94" class="col-sm-4">
              Net business assets
            </label>

            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon">&pound</span>
                <input type="text" id="input-94" class="form-control"
                       filtered-input="number"
                       data-ng-model="self.FSE94"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-95" class="col-sm-4">
              Capital account balance at start
            </label>

            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon">&pound</span>
                <input type="text" id="input-95" class="form-control"
                       filtered-input="number"
                       data-ng-model="self.FSE95"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-96" class="col-sm-4">
              Net profit or loss
            </label>

            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon">&pound</span>
                <input type="text" id="input-96" class="form-control"
                       filtered-input="number"
                       data-ng-model="self.FSE96"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-97" class="col-sm-4">
              Capital introduced
            </label>

            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon">&pound</span>
                <input type="text" id="input-97" class="form-control"
                       filtered-input="number"
                       data-ng-model="self.FSE97"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-98" class="col-sm-4">
              Drawings
            </label>

            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon">&pound</span>
                <input type="text" id="input-98" class="form-control"
                       filtered-input="number"
                       data-ng-model="self.FSE98"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-99" class="col-sm-4">
              Capital account balance at end
            </label>

            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon">&pound</span>
                <input type="text" id="input-99" class="form-control"
                       filtered-input="number"
                       data-ng-model="self.FSE99"/>
              </div>
            </div>
          </div>
        </tab>

        <tab heading="Other information" active="step==5" ng-click="actions.jumpTo(6)">
          <div class="form-group">
            <div class="col-sm-8 col-sm-offset-4">
              <div class="checkbox">
                <label class="i-checks" for="input-100">
                  <input type="checkbox" id="input-100"
                         data-ng-model="self.FSE100"
                         data-ng-true-value="1"
                         data-ng-false-value="0">
                  <i></i>
                  Class 4 NIC exemption
                </label>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-8 col-sm-offset-4">
              <div class="checkbox">
                <label class="i-checks" for="input-101">
                  <input type="checkbox" id="input-101"
                         data-ng-model="self.FSE101"
                         data-ng-true-value="1"
                         data-ng-false-value="0">
                  <i></i>
                  Class 4 NIC deferment
                </label>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-102" class="col-sm-4">
              Adjustment to Class 4 NIC profits
            </label>

            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon">&pound</span>
                <input type="text" id="input-102" class="form-control"
                       filtered-input="number"
                       data-ng-model="self.FSE102"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-103" class="col-sm-4">
              Other information space
            </label>

            <div class="col-sm-8">
                            <textarea type="text" id="input-103" class="form-control"
                                      data-ng-model="self.FSE103"></textarea>
            </div>
          </div>
        </tab>
      </tabset>

      <div class="form-group">
        <div class="col-md-12">
          <button class="btn btn-primary btn-sm pull-right"
                  data-ng-click="actions.save()">
            <span data-ng-bind="step < 5?'Next':'Save'"></span>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>