<div class="navbar-header {{app.settings.navbarHeaderColor}} bg-primary">
  <button class="pull-right visible-xs dk" ui-toggle-class="show" data-target=".navbar-collapse">
    <i class="glyphicon glyphicon-cog"></i>
  </button>

  <button class="pull-right visible-xs" ui-toggle-class="off-screen" data-target=".app-aside" ui-scroll="app">
    <i class="glyphicon glyphicon-align-justify"></i>
  </button>

  <a href="#/" class="navbar-brand text-lt">
    <span class="hidden-folded m-l-xs">{{app.name}}</span>
  </a>
</div>

<div class="collapse navbar-collapse box-shadow bg-primary" data-ng-controller="HeaderController">
  <div class="nav navbar-nav m-l-sm hidden-xs">
    <a href class="btn no-shadow navbar-btn" ng-click="app.settings.asideFolded = !app.settings.asideFolded">
      <i class="fa {{app.settings.asideFolded ? 'fa-indent' : 'fa-dedent'}} fa-fw"></i>
    </a>
  </div>

  <!--Navbar left-->
  <ul class="nav navbar-nav hidden-sm">
    <li class="active">
      <!--Subscription-->
      <!--<a data-ui-sref="loggedIn.modules.account" style="padding-top: 15px; padding-bottom: 15px;">
        <i class="fa fa-credit-card fa-fw"></i>
        <span data-ng-bind="subscription.plan.name || 'Free plan'"></span>
      </a>-->
    </li>
  </ul>

  <!--nav bar right-->
  <ul class="nav navbar-nav navbar-right">
    <li>
      <a data-ui-sref="loggedIn.modules.dashboard" data-ng-show="actions.isStateTaxReturn()"
         style="padding-top: 15px; padding-bottom: 15px;" tooltip-placement="bottom" tooltip="Bookkeeping">
        <i class="fa fa-book fa-lg" aria-hidden="true"></i> Bookkeeping
      </a>
    </li>

    <li>
      <a data-ui-sref="loggedIn.modules.help-center"
         data-ng-show="!actions.isStateTaxReturn()" style="padding-top: 15px; padding-bottom: 15px;"
         tooltip-placement="bottom" tooltip="Help center">
        <i class="fa fa-question-circle fa-lg" aria-hidden="true"></i>
        <span class="visible-xs-inline">Help center</span>
      </a>
      <a data-ui-sref="loggedIn.tax-return.help-center"
         data-ng-show="actions.isStateTaxReturn()" style="padding-top: 15px; padding-bottom: 15px;"
         tooltip-placement="bottom" tooltip="Help center">
        <i class="fa fa-question-circle fa-lg" aria-hidden="true"></i>
        <span class="visible-xs-inline">Help center</span>
      </a>
    </li>

    <li class="dropdown">
      <a href class="dropdown-toggle clear" data-toggle="dropdown"
         style="padding-top: 15px; padding-bottom: 15px;">
        <span class="thumb-sm avatar pull-right m-t-n-sm m-b-n-sm m-l-sm">
            <img src="assets/images/user01.png">
            <i class="on md b-white bottom"></i>
        </span>

        <span class="hidden-sm hidden-md" data-ng-bind="user.name"></span> <b class="caret"></b>
      </a>

      <ul class="dropdown-menu animated fadeInRight w">
        <li class="wrapper b-b m-b-sm bg-light m-t-n-xs profile">
          <span data-ng-bind="user.name"></span>
        </li>
        <li><a data-ng-click="actions.openChangePassword()">Change password</a></li>
        <li><a ui-sref="loggedIn.modules.profile">Profile</a></li>
        <li class="divider"></li>
        <li>
          <a class="item-select" data-ng-click="actions.logout()">
            Sign Out
            <span class="icon icon-signout pull-right"></span>
          </a>
        </li>
      </ul>
    </li>
  </ul>
</div>



