<div data-ng-controller="FooterController">
    <div class="col-sm-10">
        &copy; 2014-2016 <strong class="text-uppercase">{{ app.companyName }}</strong> All Rights Reserved
    </div>
    <div class="col-sm-2">
        <a href ui-scroll="app" class="m-l-sm text-muted pull-right"><i class="fa fa-long-arrow-up"></i></a>
    </div>
</div>
