<div class="modal-create-nic">
  <div class="modal-header">
    <span class="close" data-ng-click="cancel()"></span>
  </div>
  <div class="modal-body">
    <h1 class="heading-2 header-title">Employment Lump Sum</h1>
    <form name="form" novalidate>
      <div class="container-fluid">
        <div class="row">
          <div class="form-group">
            <div class="input-group">
              <div class="full-width">
                <label for="input-3"
                       class="text-left input-group-addon input-group-addon-custom word-wrap control-label">
                  Lump sum salaries and other payments
                </label>
                <div class="input-group">
                  <span class="input-group-addon currency">&pound;</span>
                  <input type="text" id="input-3" class="form-control"
                         data-ng-focus data-ng-blur filtered-input="number"
                         data-ng-model="info.ASE3"/>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <div class="full-width">
                <label for="input-5a"
                       class="text-left input-group-addon input-group-addon-custom word-wrap control-label">
                  Total redundancy and other receipts
                </label>
                <div class="input-group">
                  <span class="input-group-addon currency">&pound;</span>
                  <input type="text" id="input-5a" class="form-control"
                         data-ng-focus data-ng-blur filtered-input="number"
                         data-ng-model="info.ASE5a"/>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <div class="full-width">
                <label for="input-5b"
                       class="text-left input-group-addon input-group-addon-custom word-wrap control-label">
                  &pound;30,000 lump sum exemption applicable

                </label>
                <div class="input-group">
                  <span class="input-group-addon currency">&pound;</span>
                  <input type="text" id="input-5b" class="form-control"
                         data-ng-focus data-ng-blur filtered-input="number"
                         data-ng-model="info.ASE5b"/>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <div class="full-width">
                <label for="input-5"
                       class="text-left input-group-addon input-group-addon-custom word-wrap control-label">
                  Redundancy and other compensation payments
                </label>
                <div class="input-group">
                  <span class="input-group-addon currency">&pound;</span>
                  <input type="text" id="input-5" class="form-control"
                         data-ng-focus data-ng-blur filtered-input="number"
                         data-ng-model="info.ASE5"/>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <div class="full-width">
                <label for="input-6"
                       class="text-left input-group-addon input-group-addon-custom word-wrap control-label">
                  Tax taken off
                </label>
                <div class="input-group">
                  <span class="input-group-addon currency">&pound;</span>
                  <input type="text" id="input-6" class="form-control"
                         data-ng-focus data-ng-blur filtered-input="number"
                         data-ng-model="info.ASE6"/>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <button class="btn-main-default btn-green pull-right" data-ng-click="save(form.$valid)">Save</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>