<div class="step-partner-detail" data-ng-init="init()">
  <h4 class="heading-2">
    Step 3 - Partner Detail
  </h4>

  <div class="alert ng-isolate-scope alert-warning alert-dismissable"
       type="warning" data-ng-show="errorMessage">
    <button ng-show="closeable" type="button" class="close" ng-click="close()">
      <span aria-hidden="true">×</span>
      <span class="sr-only">Close</span>
    </button>
    <div ng-transclude="">
      <span class="ng-binding">{{errorMessage}}</span>
    </div>
  </div>

  <div class="row m-b">
    <div class="col-sm-12">
      <button class="btn btn-default btn-sm" type="button"
              data-ng-click="actions.addPartner()">
        Add partner
      </button>
    </div>
  </div>

  <div class="row m-b">
    <div class="col-md-12">
      <div class="list" data-ng-show="partnerDetails.length > 0">
        <div class="list-group m-t">
          <div ng-repeat="item in partnerDetails" class="list-group-item col-sm-6">
            <div class="row">
              <div class="col-sm-12">
                                <span class="pull-left font-bold text-primary">
                                    {{ item.first_name + " " + item.last_name }}
                                </span>

                <div class="buttons-control pull-right">
                  <div class="btn-group">
                    <button class="btn btn-default btn-sm" data-ng-click="actions.edit(item)">Edit</button>
                    <button class="btn btn-default btn-sm" data-ng-click="actions.delete(item)">Delete
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12">
                <div>Date joined: {{ item.date_joined|date:'dd MMM yyyy' }}</div>
                <div>Date left: {{ item.date_left|date:'dd MMM yyyy' }}</div>
              </div>
            </div>

            <div class="clearfix"></div>
          </div>
        </div>
      </div>

      <div data-ng-show="partnerDetails.length === 0">
        <p>There are no partners</p>
      </div>
    </div>
  </div>
</div>