<div class="app-content">
  <div ui-butterbar></div>
  <a href class="off-screen-toggle hide" ui-toggle-class="off-screen" data-target=".app-aside"></a>
  <div class="app-content-body fade-in-up" ui-view="main-content"></div>
</div>
