<div class="app-header navbar" data-ng-include="'header/header.tpl.html'"></div>

<div class="middle-container">
    <div class="app-aside hidden-xs bg-black" ui-view="sidebar"></div>

    <div ui-view="middle-container"></div>
</div>

<div class="app-footer wrapper b-t bg-light" data-ng-include="'footer/footer.tpl.html'"></div>
