<div class="app-aside hidden-xs bg-black" data-ng-include="'sidebar/sidebar-tax-return.tpl.html'"></div>

<div class="app-content">
    <div id="loading-bar-container"></div>
    <a href class="off-screen-toggle hide" ui-toggle-class="off-screen" data-target=".app-aside"></a>
    <div class="app-content-body fade-in-up" ui-view="main-content"></div>
</div>
