<!-- Header/Top bar view container-->
<!--<header class="app-header" data-ui-view="header"></header>-->

<!-- Main Content view container -->
<!--<div class="page-container" data-ui-view="middle-container"></div>-->

<!-- Footer view container -->
<!--<footer data-ui-view="footer"></footer>-->

<!-- Header/Top bar view container-->
<div ui-view="header"></div>

<!-- Main Content view container -->
<div ui-view="middle-container"></div>

<!-- Footer view container -->
<div ui-view="footer"></div>