<div class="modal-header p-xs">
    <h2 class="text-center text-uppercase m-b-xs m-t-xs font-bold">{{ title }}</h2>
</div>
<div class="modal-body p-md">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <p class="text-center text-md">{{ content }}</p>
        </div>
    </div>
</div>
<div class="modal-footer p-none">
    <div class="btn-group w-full">
        <button class="btn btn-danger w-half text-uppercase b-r-none" ng-click="actions.cancel()">No</button>
        <button class="btn btn-success w-half text-uppercase b-r-none" ng-click="actions.accept()">Yes</button>
    </div>
</div>