<div class="modal-header p-xs" ng-class="{'model-landing': isClose}" ng-if="title">
    <div class="row" ng-show="isClose">
        <span class="icon-close pull-right m-r-sm" ng-click="actions.close()"></span>
    </div>
    <h3 class="text-center text-uppercase m-b-xs m-t-xs">{{ title }}</h3>
</div>
<div class="modal-body p-md" ng-class="{'model-body-landing': isClose}">

    <div class="row">
        <div class="col-md-12">
            <p class="text-center text-md">{{ content }}</p>
        </div>
    </div>
</div>
<div class="modal-footer p-none" ng-show="!isClose">
    <button class="btn btn-success w-full text-uppercase b-r-none" ng-click="actions.ok()">OK</button>
</div>
</div>