<div class="modal-trading-professional" data-ng-init="init()">
  <div class="modal-header bg-primary">
    <h4 class="h4">Disposal & Changeable Assets</h4>
    <span class="close" data-ng-click="actions.cancel()"></span>
  </div>

  <div class="modal-body">
    <form name="form" class="form-horizontal form-validation" novalidate>
      <div class="form-group">
        <label class="text-left col-sm-2" for="premises_costs">Name</label>

        <div class="col-sm-4">
          <input type="text" id="premises_costs" name="premises_costs" class="form-control"
                 placeholder="name"
                 data-ng-model="disposal.name"/>
        </div>

        <label class="text-left col-sm-2" for="repairs">Tax reference</label>

        <div class="col-sm-4">
          <input type="text" id="repairs" name="repairs" class="form-control"
                 placeholder="Tax reference"
                 data-ng-model="disposal.tax_preference"/>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-12">
          <button class="btn btn-primary btn-sm" type="submit"
                  data-ng-disabled="form.$invalid"
                  data-ng-click="actions.addDisposal()">
            Add Disposal asset
          </button>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-12">
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
              <tr>
                <th class="col-xs-4">Description of asset</th>
                <th class="col-xs-1">Tick if shares</th>
                <th class="col-xs-3">Disposal proceeds</th>
                <th class="col-xs-3">Further information</th>
                <th class="col-xs-1"></th>
              </tr>
              </thead>
              <tbody>
              <tr data-ng-repeat="item in disposal.disposal_proceeds">
                <td>{{ item.description }}</td>
                <td>
                  <div class="checkbox">
                    <label class="i-checks" for="checkbox-shared">
                      <input type="checkbox" id="checkbox-shared"
                             ng-true-value="1"
                             ng-false-value="0"
                             data-ng-model="item.share"
                             data-ng-disabled="true">
                      <i></i>
                      {{item.title}}
                    </label>
                  </div>
                </td>
                <td>{{ item.proceed | currency: '&pound' }}</td>
                <td>{{ item.information }}</td>
                <td>
                  <span class="btn btn-link" data-ng-click="actions.deleteDisposal($index)">X</span>
                </td>
              </tr>
              </tbody>
              <tfoot>
              <tr>
                <td colspan="2">Total disposal proceeds</td>
                <td class="borderless">
                  {{ total| currency: '&pound' }}
                </td>
                <td colspan="2"></td>
              </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-12">
          <label for="input-5" class="text-left control-label">
            Additional information</label>

                    <textarea id="input-5" name="input-5" class="form-control" rows="5"
                              placeholder="Additional information"
                              data-ng-model="disposal.information">
                    </textarea>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-12">
          <button class="btn btn-primary btn-sm pull-right"
                  data-ng-disabled="form.$invalid"
                  data-ng-click="actions.save(form.$valid)">
            Save
          </button>
        </div>
      </div>
    </form>
  </div>
</div>