<h4>
    Interest from gilt-edged and other UK securities -
    <a class="btn-link text-primary" data-ng-click="actions.open('interest-gilt-edged-other-securities')">Edit</a>
</h4>

<div class="row">
    <div class="col-md-12">
        <div class="row">
            <label class="control-label col-xs-6">
                Gilt etc. interest after tax taken off
            </label>
            <span class="col-xs-6" data-ng-bind="forms.interestGiltEdged.AOI1 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Tax taken off
            </label>
            <span class="col-xs-6" data-ng-bind="forms.interestGiltEdged.AOI2 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Gross amount before tax
            </label>
            <span class="col-xs-6" data-ng-bind="forms.interestGiltEdged.AOI3 | currency: '&pound;'"></span>
        </div>
    </div>
</div>
<hr/>