<h4>
    Interest and dividends from UK banks, building societies etc -
    <a class="btn-link text-primary" data-ng-click="actions.open('interest-and-dividends')">Edit</a>
</h4>

<div class="row">
    <div class="col-md-12">
        <div class="row">
            <label class="control-label col-xs-6">
                Taxed UK interest etc
            </label>
            <span class="col-xs-6" data-ng-bind="forms.interestDividend.INC1 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Untaxed UK interest etc
            </label>
            <span class="col-xs-6" data-ng-bind="forms.interestDividend.INC2 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Dividends from UK companies
            </label>
            <span class="col-xs-6" data-ng-bind="forms.interestDividend.INC3 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Other dividends
            </label>
            <span class="col-xs-6" data-ng-bind="forms.interestDividend.INC4 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Foreign dividends (up to £300)
            </label>
            <span class="col-xs-6" data-ng-bind="forms.interestDividend.INC5 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Tax taken off foreign dividends
            </label>
            <span class="col-xs-6" data-ng-bind="forms.interestDividend.INC6 | currency: '&pound;'"></span>
        </div>
    </div>
</div>
<hr/>