<h4>
    Life insurance gains -
    <a class="btn-link text-primary" data-ng-click="actions.open('life-insurance-gains')">Edit</a>
</h4>

<div class="row">
    <div class="col-md-12">
        <div class="row">
            <label class="control-label col-xs-6">
                UK life insurance policy etc. gains on which tax was treated as paid
            </label>
            <span class="col-xs-6" data-ng-bind="forms.lifeInsuranceGain.AOI4 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Number of years the policy has been held or since thelast gain
            </label>
            <span class="col-xs-6" data-ng-bind="forms.lifeInsuranceGain.AOI5 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                UK life insurance policy etc. gains where no tax wastreated as paid
            </label>
            <span class="col-xs-6" data-ng-bind="forms.lifeInsuranceGain.AOI6 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Number of years the policy has been held or since the last gain
            </label>
            <span class="col-xs-6" data-ng-bind="forms.lifeInsuranceGain.AOI7 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                UK life insurance policy etc. gains from voided ISAs [1]
            </label>
            <span class="col-xs-6" data-ng-bind="forms.lifeInsuranceGain.AOI8 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Number of years the policy has been held
            </label>
            <span class="col-xs-6" data-ng-bind="forms.lifeInsuranceGain.AOI9 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Tax taken off in [1]
            </label>
            <span class="col-xs-6" data-ng-bind="forms.lifeInsuranceGain.AOI10 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Deficiency relief
            </label>
            <span class="col-xs-6" data-ng-bind="forms.lifeInsuranceGain.AOI11 | currency: '&pound;'"></span>
        </div>
    </div>
</div>
<hr/>