<h4>
    Other UK income not included in other sections -
    <a class="btn-link text-primary" data-ng-click="actions.open('other-uk-income')">Edit</a>
</h4>

<div class="row">
    <div class="col-md-12">
        <div class="row">
            <label class="control-label col-xs-6">
                Other taxable income [1]
            </label>
            <span class="col-xs-6" data-ng-bind="forms.otherUkIncome.INC16 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Total amount of allowable expenses
            </label>
            <span class="col-xs-6" data-ng-bind="forms.otherUkIncome.INC17 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Any tax taken off (for[1])
            </label>
            <span class="col-xs-6" data-ng-bind="forms.otherUkIncome.INC18 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Benefit from pre-owned assets [2]
            </label>
            <span class="col-xs-6" data-ng-bind="forms.otherUkIncome.INC19 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Description of income in boxes [1] and [2]
            </label>
            <span class="col-xs-6" data-ng-bind="forms.otherUkIncome.INC20"></span>
        </div>
    </div>
</div>
<hr/>