<h4>
    UK Pensions, annuities and other state benefits received -
    <a class="btn-link text-primary"
       data-ng-click="actions.open('uk-pensions')">Edit</a>
</h4>

<div class="row">
    <div class="col-md-12">
        <div class="row">
            <label class="control-label col-xs-6">
                State Pension
            </label>
            <span class="col-xs-6" data-ng-bind="forms.ukPension.INC7 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                State Pension lump sum [1]
            </label>
            <span class="col-xs-6" data-ng-bind="forms.ukPension.INC8 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Tax taken off (for [1])
            </label>
            <span class="col-xs-6" data-ng-bind="forms.ukPension.INC9 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Pensions, retirement annuities and taxable triviality payments [2]
            </label>
            <span class="col-xs-6" data-ng-bind="forms.ukPension.INC10 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Tax taken off (for [2])
            </label>
            <span class="col-xs-6" data-ng-bind="forms.ukPension.INC11 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Taxable Incapacity Benefit [3]
            </label>
            <span class="col-xs-6" data-ng-bind="forms.ukPension.INC12 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Tax taken off Incapacity Benefit in [3]
            </label>
            <span class="col-xs-6" data-ng-bind="forms.ukPension.INC13 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Jobseeker’s Allowance
            </label>
            <span class="col-xs-6" data-ng-bind="forms.ukPension.INC14 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Total of any other taxable State Pensions and benefits
            </label>
            <span class="col-xs-6" data-ng-bind="forms.ukPension.INC15 | currency: '&pound;'"></span>
        </div>
    </div>
</div>
<hr/>