<h4>
    Stock dividends - <a class="btn-link text-primary" data-ng-click="actions.open('stock-dividends')">Edit</a>
</h4>

<div class="row">
    <div class="col-md-12">
        <div class="row">
            <label class="control-label col-xs-6">
                Stock dividends
            </label>
            <span class="col-xs-6" data-ng-bind="forms.stockDevidend.AOI12 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Non-qualifying distributions and close company loans written off or released
            </label>
            <span class="col-xs-6" data-ng-bind="forms.stockDevidend.AOI13 | currency: '&pound;'"></span>
        </div>
    </div>
</div>
<hr/>