<div class="modal-section-uk-income" data-ng-init="init()">
  <div class="modal-header bg-primary">
    <h4 class="h4">Other UK income note included in other sections</h4>
    <span class="close" data-ng-click="actions.cancel()"></span>
  </div>

  <div class="modal-body">
    <form name="form" class="form-horizontal form-validation" novalidate>
      <div class="form-group">
        <label for="input-1" class="col-sm-4">
          Other taxable income [1]
        </label>

        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon currency">&pound;</span>
            <input type="text" id="input-1" name="input-1" class="form-control"
                   data-ng-focus data-ng-blur filtered-input="number"
                   data-ng-model="info.INC16"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="input-2" class="col-sm-4">
          Total amount of allowable expenses
        </label>

        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon currency">&pound;</span>
            <input type="text" id="input-2" name="input-2" class="form-control"
                   data-ng-focus data-ng-blur filtered-input="number"
                   data-ng-model="info.INC17"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="input-3" class="col-sm-4">
          Any tax taken off (for [1])
        </label>

        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon currency">&pound;</span>
            <input type="text" id="input-3" name="input-3" class="form-control"
                   data-ng-focus data-ng-blur filtered-input="number"
                   data-ng-model="info.INC18"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="input-4" class="col-sm-4">
          Benefit from pre-owned assets [2]
        </label>

        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon currency">&pound;</span>
            <input type="text" id="input-4" name="input-4" class="form-control"
                   data-ng-focus data-ng-blur filtered-input="number"
                   data-ng-model="info.INC19"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="input-5" class="col-sm-4">
          Description of income in boxes [1] and [2]
        </label>

        <div class="col-sm-8">
          <textarea id="input-5" name="input-5" class="form-control"
                    data-ng-model="info.INC20"></textarea>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-12">
          <button class="btn btn-primary btn-sm pull-right"
                  data-ng-disabled="form.$invalid"
                  data-ng-click="actions.save(form.$valid)">
            Save
          </button>
        </div>
      </div>
    </form>
  </div>
</div>