<div class="modal-wizard">
    <div class="modal-header">
        <span class="close" data-ng-click="cancel()"></span>
    </div>
    <div class="modal-body">
        <h1 class="heading-2 header-title">Select income type:</h1>
        <div class="container-fluid">
            <div class="row">
                <ul>
                    <li data-ng-repeat="item in forms">
                        <div class="form-group col-md-12">
                            <div class="checkbox-custom">
                                <input type="checkbox" id="checkbox-{{ $index }}" class="css-checkbox"
                                       data-ng-model="item.selected"/>
                                <label for="checkbox-{{ $index }}" class="css-label">
                                    {{ item.title }}
                                </label>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button class="btn-main-default btn-green pull-right" data-ng-click="cancel()">OK</button>
                </div>
            </div>
        </div>
    </div>
</div>