<div class="modal-section-uk-income" data-ng-init="init()">
  <div class="modal-header bg-primary">
    <h4 class="h4">Life insurance gains</h4>
    <span class="close" data-ng-click="actions.cancel()"></span>
  </div>

  <div class="modal-body">
    <form name="form" class="form-validation form-horizontal" novalidate>
      <div class="form-group">
        <label for="input-1" class="col-sm-4">
          UK life insurance policy etc. gains on which tax was treated as paid
        </label>

        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input-1" name="input-1" class="form-control"
                   data-ng-focus data-ng-blur filtered-input="number"
                   data-ng-model="info.AOI4"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="input-2" class="col-sm-4">
          Number of years the policy has been held or since thelast gain
        </label>

        <div class="col-sm-8">
          <input type="text" id="input-2" name="input-2" class="form-control" maxlength="2"
                 filtered-input="number"
                 data-ng-model="info.AOI5"/>
        </div>
      </div>

      <div class="form-group">
        <label for="input-3" class="col-sm-4">
          UK life insurance policy etc. gains where no tax wastreated as paid
        </label>

        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input-3" name="input-3" class="form-control"
                   data-ng-focus data-ng-blur filtered-input="number"
                   data-ng-model="info.AOI6"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="input-4" class="col-sm-4">
          Number of years the policy has been held or since the last gain
        </label>

        <div class="col-sm-8">
          <input type="text" id="input-4" name="input-4" class="form-control"
                 maxlenght="2" filtered-input="number"
                 data-ng-model="info.AOI7"/>
        </div>
      </div>

      <div class="form-group">
        <label for="input-5" class="col-sm-4">
          UK life insurance policy etc. gains from voided ISAs [1]
        </label>

        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input-5" name="input-5" class="form-control"
                   data-ng-focus data-ng-blur filtered-input="number"
                   data-ng-model="info.AOI8"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="input-6" class="col-sm-4">
          Number of years the policy has been held
        </label>

        <div class="col-sm-8">
          <input type="text" id="input-6" name="input-6" class="form-control" maxlenght="2"
                 filtered-input="number"
                 data-ng-model="info.AOI9"/>
        </div>
      </div>

      <div class="form-group">
        <label for="input-7" class="col-sm-4">
          Tax taken off in [1]
        </label>

        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input-7" name="input-7" class="form-control"
                   data-ng-focus data-ng-blur filtered-input="number"
                   data-ng-model="info.AOI10"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="input-8" class="col-sm-4">
          Deficiency relief
        </label>

        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input-8" name="input-8" class="form-control"
                   data-ng-focus data-ng-blur filtered-input="number"
                   data-ng-model="info.AOI11"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-12">
          <button class="btn btn-primary btn-sm pull-right"
                  data-ng-disabled="form.$invalid"
                  data-ng-click="actions.save(form.$valid)">Save
          </button>
        </div>
      </div>
    </form>
  </div>
</div>