<div class="modal-trading-professional">
    <div class="modal-header bg-primary">
        <h4 class="h4">Disposal Asset</h4>
        <span class="close" data-ng-click="cancel()"></span>
    </div>

    <div class="modal-body">
        <form name="form" class="form-horizontal form-validation" novalidate>
            <div class="form-group">
                <label class="text-left col-sm-4" for="description">
                    Description of asset
                </label>
                <div class="col-sm-8">
                    <input type="text" id="description" name="description" class="form-control"
                           placeholder="Description"
                           data-ng-model="disposalAsset.description"/>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-8 col-sm-offset-4">
                    <div class="checkbox">
                        <label class="i-checks" for="share">
                            <input type="checkbox" id="share"
                                   data-ng-model="disposalAsset.share"
                                   data-ng-true-value="1"
                                   data-ng-false-value="0">
                            <i></i>
                            Tick if shares
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="text-left col-sm-4" for="proceed">
                    Disposal proceed
                </label>

                <div class="col-sm-8">
                    <div class="input-group">
                        <span class="input-group-addon currency">£</span>
                        <input type="text" id="proceed" name="proceed" class="form-control"
                               placeholder="Proceed"
                               data-ng-focus data-ng-blur filtered-input="number"
                               data-ng-model="disposalAsset.proceed"/>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="information" class="text-left col-sm-4">
                    Further information</label>
                <div class="col-sm-8">
                    <textarea id="information" name="information" class="form-control"
                              placeholder="Further Information"
                              data-ng-model="disposalAsset.information"></textarea>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-12">
                    <button class="btn btn-primary btn-sm pull-right"
                            data-ng-disabled="form.$invalid"
                            data-ng-click="save(form.$valid)">Save
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>