<div class="container w-xxl w-auto-xs">
    <a href class="navbar-brand block m-t">{{app.name}}</a>
    <div class="m-b-lg">
        <div class="wrapper text-center">
            <strong>Reset password</strong>
        </div>
        <form name="resetPasswordForm" class="form-validation">
            <div class="list-group list-group-sm">
                <div class="list-group-item">
                    <input type="password" placeholder="New Password" class="form-control no-border"
                           ng-model="user.new_password"
                           ng-keypress="action.checkError('new_password')"
                           ng-minlength="6" ng-maxlength="36" required>
                </div>
                <div class="list-group-item">
                    <input type="password" placeholder="Confirm Password" class="form-control no-border"
                           ng-model="user.confirm_password"
                           ng-keypress="action.checkError('confirm_password')"
                           ng-minlength="6" ng-maxlength="36" required>
                </div>
            </div>
            <button type="submit" class="btn btn-lg btn-primary btn-block"
                    ng-click="action.reset()"
                    ng-disabled="resetPasswordForm.$invalid">Reset
            </button>
            <div class="text-center m-t-lg">
                <a ui-sref="loginForm" class="btn btn-lg btn-default btn-block">Login</a>
            </div>
        </form>
    </div>
</div>
