<div class="modal-section-foreign" data-ng-init="init()">
  <div class="modal-header bg-primary">
    <h4 class="h4">Foreign Income</h4>
    <span class="close" data-ng-click="actions.cancel()"></span>
  </div>

  <div class="modal-body">
    <form name="form" class="form-horizontal form-validation" novalidate>

      <tabset class="tab-container">
        <tab heading="Foreign Income 1">
          <div class="form-group">
            <div class="col-sm-12">
              <!--<div class="checkbox">
                <label class="control-label" for="input-1">
                  <input type="checkbox" id="input-1"
                         data-ng-model="info.FOR1"
                         data-ng-true-value="1"
                         data-ng-false-value="0">
                  <i></i>
                  Unremittable income
                </label>
              </div>-->

              <checkbox ng-model="info.FOR1" ng-true-value="1" ng-false-value="0"></checkbox>
              Unremittable income
            </div>
          </div>

          <div class="form-group">
            <label for="input-2" class="col-sm-6">
              Foreign tax credit relief
            </label>

            <div class="col-sm-6">
              <div class="input-group">
                <span class="input-group-addon">&pound;</span>
                <input type="text" id="input-2" name="input-2" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       data-ng-model="info.FOR2"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-4a" class="col-sm-6">
              Country code
            </label>

            <div class="col-sm-6">
              <input type="text" id="input-4a" name="input-4a" class="form-control"
                     data-ng-model="info.FOR4A"/>
            </div>
          </div>

          <div class="form-group">
            <label for="input-4b" class="col-sm-6">
              Income before tax
            </label>

            <div class="col-sm-6">
              <div class="input-group">
                <span class="input-group-addon">&pound;</span>
                <input type="text" id="input-4b" name="input-4b" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       data-ng-model="info.FOR4B"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-4c" class="col-sm-6">
              Foreign Tax
            </label>

            <div class="col-sm-6">
              <div class="input-group">
                <span class="input-group-addon">&pound;</span>
                <input type="text" id="input-4c" name="input-4c" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       data-ng-model="info.FOR4C"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-4d" class="col-sm-6">
              Special withholding tax
            </label>

            <div class="col-sm-6">
              <div class="input-group">
                <span class="input-group-addon">&pound;</span>
                <input type="text" id="input-4d" name="input-4d" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       data-ng-model="info.FOR4D"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-12">
              <div class="checkbox">
                <label class="i-checks" for="input-4e">
                  <input type="checkbox" id="input-4e"
                         data-ng-model="info.FOR4E"
                         data-ng-true-value="1"
                         data-ng-false-value="0">
                  <i></i>
                  Claim to FTCR
                </label>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-4f" class="col-sm-6">
              Taxable amount on interest and other savings
            </label>

            <div class="col-sm-6">
              <div class="input-group">
                <span class="input-group-addon">&pound;</span>
                <input type="text" id="input-4f" name="input-4f" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       data-ng-model="info.FOR4F"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-3" class="col-sm-6">
              Total SWT or UK tax - overseas savings
            </label>

            <div class="col-sm-6">
              <div class="input-group">
                <span class="input-group-addon">&pound;</span>
                <input type="text" id="input-3" name="input-3" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       data-ng-model="info.FOR3"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-4" class="col-sm-6">
              Total taxable amount - overseas savings
            </label>

            <div class="col-sm-6">
              <div class="input-group">
                <span class="input-group-addon">&pound;</span>
                <input type="text" id="input-4" name="input-4" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       data-ng-model="info.FOR4"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-6a" class="col-sm-6">
              Country code
            </label>

            <div class="col-sm-6">
              <input type="text" id="input-6a" name="input-6a" class="form-control"
                     data-ng-model="info.FOR6A"/>
            </div>
          </div>

          <div class="form-group">
            <label for="input-6b" class="col-sm-6">
              Income before tax
            </label>

            <div class="col-sm-6">
              <div class="input-group">
                <span class="input-group-addon">&pound;</span>
                <input type="text" id="input-6b" name="input-6b" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       data-ng-model="info.FOR6B"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-6c" class="col-sm-6">
              Foreign Tax
            </label>

            <div class="col-sm-6">
              <div class="input-group">
                <span class="input-group-addon">&pound;</span>
                <input type="text" id="input-6c" name="input-6c" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       data-ng-model="info.FOR6C"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-6d" class="col-sm-6">
              Special withholding tax
            </label>

            <div class="col-sm-6">
              <div class="input-group">
                <span class="input-group-addon">&pound;</span>
                <input type="text" id="input-6d" name="input-6d" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       data-ng-model="info.FOR6D"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-12">
              <div class="checkbox">
                <label class="i-checks" for="input-6e">
                  <input type="checkbox" id="input-6e"
                         data-ng-model="info.FOR6E"
                         data-ng-true-value="1"
                         data-ng-false-value="0">
                  <i></i>
                  Claim to FTCR
                </label>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-6f" class="col-sm-6">
              Taxable amount on interest and other savings
            </label>

            <div class="col-sm-6">
              <div class="input-group">
                <span class="input-group-addon">&pound;</span>
                <input type="text" id="input-6f" name="input-6f" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       data-ng-model="info.FOR6F"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-5" class="col-sm-6">
              Total SWT or UK tax - foreign companies
            </label>

            <div class="col-sm-6">
              <div class="input-group">
                <span class="input-group-addon">&pound;</span>
                <input type="text" id="input-5" name="input-5" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       data-ng-model="info.FOR5"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-6" class="col-sm-6">
              Total taxable amount - foreign companies
            </label>

            <div class="col-sm-6">
              <div class="input-group">
                <span class="input-group-addon">&pound;</span>
                <input type="text" id="input-6" name="input-6" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       data-ng-model="info.FOR6"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-7" class="col-sm-6">
              Amount not qualifying for UK tax credit
            </label>

            <div class="col-sm-6">
              <div class="input-group">
                <span class="input-group-addon">&pound;</span>
                <input type="text" id="input-7" name="input-7" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       data-ng-model="info.FOR7"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-9a" class="col-sm-6">
              Country code
            </label>

            <div class="col-sm-6">
              <input type="text" id="input-9a" name="input-9a" class="form-control"
                     data-ng-model="info.FOR9A"/>
            </div>
          </div>

          <div class="form-group">
            <label for="input-9b" class="col-sm-6">
              Income before tax
            </label>

            <div class="col-sm-6">
              <div class="input-group">
                <span class="input-group-addon">&pound;</span>
                <input type="text" id="input-9b" name="input-9b" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       data-ng-model="info.FOR9B"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-9c" class="col-sm-6">
              Foreign Tax
            </label>

            <div class="col-sm-6">
              <div class="input-group">
                <span class="input-group-addon">&pound;</span>
                <input type="text" id="input-9c" name="input-9c" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       data-ng-model="info.FOR9C"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-9d" class="col-sm-6">
              Special withholding tax
            </label>

            <div class="col-sm-6">
              <div class="input-group">
                <span class="input-group-addon">&pound;</span>
                <input type="text" id="input-9d" name="input-9d" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       data-ng-model="info.FOR9D"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-12">
              <div class="checkbox">
                <label class="i-checks" for="input-9e">
                  <input type="checkbox" id="input-9e"
                         data-ng-model="info.FOR9E"
                         data-ng-true-value="1"
                         data-ng-false-value="0">
                  <i></i>
                  Claim to FTCR
                </label>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-9f" class="col-sm-6">
              Taxable amount on interest and other savings
            </label>

            <div class="col-sm-6">
              <div class="input-group">
                <span class="input-group-addon">&pound;</span>
                <input type="text" id="input-9f" name="input-9f" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       data-ng-model="info.FOR9F"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-8" class="col-sm-6">
              Total SWT or UK tax - overseas pensions
            </label>

            <div class="colsm-8">
              <div class="input-group">
                <span class="input-group-addon">&pound;</span>
                <input type="text" id="input-8" name="input-8" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       data-ng-model="info.FOR8"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-7" class="col-sm-6">
              Total taxable amount - overseas pensions
            </label>

            <div class="col-sm-6">
              <div class="input-group">
                <span class="input-group-addon">&pound;</span>
                <input type="text" id="input-7" name="input-7" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       data-ng-model="info.FOR9"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-11a" class="col-sm-6">
              Country code
            </label>

            <div class="col-sm-6">
              <input type="text" id="input-11a" name="input-11a" class="form-control"
                     data-ng-model="info.FOR11A"/>
            </div>
          </div>

          <div class="form-group">
            <label for="input-11b" class="col-sm-6">
              Income before tax
            </label>

            <div class="col-sm-6">
              <div class="input-group">
                <span class="input-group-addon">&pound;</span>
                <input type="text" id="input-11b" name="input-11b" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       data-ng-model="info.FOR11B"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-11c" class="col-sm-6">
              Foreign Tax
            </label>

            <div class="col-sm-6">
              <div class="input-group">
                <span class="input-group-addon">&pound;</span>
                <input type="text" id="input-11c" name="input-11c" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       data-ng-model="info.FOR11C"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-11d" class="col-sm-6">
              Special withholding tax
            </label>

            <div class="col-sm-6">
              <div class="input-group">
                <span class="input-group-addon">&pound;</span>
                <input type="text" id="input-11d" name="input-11d" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       data-ng-model="info.FOR11D"/>
              </div>
            </div>
          </div>
        </tab>

        <tab heading="Foreign Income 2">
          <div class="form-group">
            <div class="col-sm-12">
              <div class="checkbox">
                <label class="i-checks" for="input-11e">
                  <input type="checkbox" id="input-11e"
                         data-ng-model="info.FOR11E"
                         data-ng-true-value="1"
                         data-ng-false-value="0">
                  <i></i>
                  Claim to FTCR
                </label>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-11f" class="col-sm-6">
              Taxable amount on interest and other savings
            </label>

            <div class="col-sm-6">
              <div class="input-group">
                <span class="input-group-addon">&pound;</span>
                <input type="text" id="input-11f" name="input-11f" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       data-ng-model="info.FOR11F"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-10" class="col-sm-6">
              Total SWT or UK tax - overseas dividend income
            </label>

            <div class="col-sm-6">
              <div class="input-group">
                <span class="input-group-addon">&pound;</span>
                <input type="text" id="input-10" name="input-10" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       data-ng-model="info.FOR10"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-11" class="col-sm-6">
              Total taxable amount - overseas dividend income
            </label>

            <div class="col-sm-6">
              <div class="input-group">
                <span class="input-group-addon">&pound;</span>
                <input type="text" id="input-11" name="input-11" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       data-ng-model="info.FOR11"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-13a" class="col-sm-6">
              Country code
            </label>

            <div class="col-sm-6">
              <input type="text" id="input-13a" name="input-13a" class="form-control"
                     data-ng-model="info.FOR13A"/>
            </div>
          </div>

          <div class="form-group">
            <label for="input-13b" class="col-sm-6">
              Income before tax
            </label>

            <div class="col-sm-6">
              <div class="input-group">
                <span class="input-group-addon">&pound;</span>
                <input type="text" id="input-13b" name="input-13b" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       data-ng-model="info.FOR13B"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-13c" class="col-sm-6">
              Foreign Tax
            </label>

            <div class="col-sm-6">
              <div class="input-group">
                <span class="input-group-addon">&pound;</span>
                <input type="text" id="input-13c" name="input-13c" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       data-ng-model="info.FOR13C"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-13d" class="col-sm-6">
              Special withholding tax
            </label>

            <div class="col-sm-6">
              <div class="input-group">
                <span class="input-group-addon">&pound;</span>
                <input type="text" id="input-13d" name="input-13d" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       data-ng-model="info.FOR13D"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-12">
              <div class="checkbox">
                <label class="i-checks" for="input-13e">
                  <input type="checkbox" id="input-13e"
                         data-ng-model="info.FOR13E"
                         data-ng-true-value="1"
                         data-ng-false-value="0">
                  <i></i>
                  Claim to FTCR
                </label>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-13f" class="col-sm-6">
              Taxable amount on interest and other savings
            </label>

            <div class="col-sm-6">
              <div class="input-group">
                <span class="input-group-addon">&pound;</span>
                <input type="text" id="input-13f" name="input-13f" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       data-ng-model="info.FOR13F"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-12" class="col-sm-6">
              Swt or UK tax - overseas trusts etc. other income
            </label>

            <div class="col-sm-6">
              <div class="input-group">
                <span class="input-group-addon">&pound;</span>
                <input type="text" id="input-12" name="input-12" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       data-ng-model="info.FOR12"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-13" class="col-sm-6">
              Taxable amount - overseas trusts etc. other income
            </label>

            <div class="col-sm-6">
              <div class="input-group">
                <span class="input-group-addon">&pound;</span>
                <input type="text" id="input-13" name="input-13" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       data-ng-model="info.FOR13"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-14" class="col-sm-6">
              Total rents and other property receipts
            </label>

            <div class="col-sm-6">
              <div class="input-group">
                <span class="input-group-addon">&pound;</span>
                <input type="text" id="input-14" name="input-14" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       data-ng-model="info.FOR14"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-15" class="col-sm-6">
              Number of properties
            </label>

            <div class="col-sm-6">
              <div class="input-group">
                <span class="input-group-addon">&pound;</span>
                <input type="text" id="input-15" name="input-15" class="form-control"
                       data-ng-model="info.FOR15"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-16" class="col-sm-6">
              Premiums paid for lease
            </label>

            <div class="col-sm-6">
              <div class="input-group">
                <span class="input-group-addon">&pound;</span>
                <input type="text" id="input-16" name="input-16" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       data-ng-model="info.FOR16"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-17" class="col-sm-6">
              Property expenses
            </label>

            <div class="col-sm-6">
              <div class="input-group">
                <span class="input-group-addon">&pound;</span>
                <input type="text" id="input-17" name="input-17" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       data-ng-model="info.FOR17"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-18" class="col-sm-6">
              Net profit or loss
            </label>

            <div class="col-sm-6">
              <div class="input-group">
                <span class="input-group-addon">&pound;</span>
                <input type="text" id="input-18" name="input-18" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       data-ng-model="info.FOR18"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-19" class="col-sm-6">
              Private use adjustment
            </label>

            <div class="col-sm-6">
              <div class="input-group">
                <span class="input-group-addon">&pound;</span>
                <input type="text" id="input-19" name="input-19" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       data-ng-model="info.FOR19"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-20" class="col-sm-6">
              Balancing charges
            </label>

            <div class="col-sm-6">
              <div class="input-group">
                <span class="input-group-addon">&pound;</span>
                <input type="text" id="input-20" name="input-20" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       data-ng-model="info.FOR20"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-21" class="col-sm-6">
              Capital allowances
            </label>

            <div class="col-sm-6">
              <div class="input-group">
                <span class="input-group-addon">&pound;</span>
                <input type="text" id="input-21" name="input-21" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       data-ng-model="info.FOR21"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-22" class="col-sm-6">
              Landlord's Energy Saving Allowance
            </label>

            <div class="col-sm-6">
              <div class="input-group">
                <span class="input-group-addon">&pound;</span>
                <input type="text" id="input-22" name="input-22" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       data-ng-model="info.FOR22"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-23" class="col-sm-6">
              10% wear and tear allowance
            </label>

            <div class="col-sm-6">
              <div class="input-group">
                <span class="input-group-addon">&pound;</span>
                <input type="text" id="input-23" name="input-23" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       data-ng-model="info.FOR23"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-24" class="col-sm-6">
              Adjusted profit or loss for the year
            </label>

            <div class="colsm-8">
              <div class="input-group">
                <span class="input-group-addon">&pound;</span>
                <input type="text" id="input-24" name="input-24" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       data-ng-model="info.FOR24"/>
              </div>
            </div>
          </div>
        </tab>

        <tab heading="Foreign Income 3">
          <div class="form-group">
            <label for="input-30a" class="col-sm-6">
              Property abroad country
            </label>

            <div class="col-sm-6">
              <div class="input-group">
                <span class="input-group-addon">&pound;</span>
                <input type="text" id="input-30a" name="input-30a" class="form-control"
                       data-ng-model="info.FOR30A"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-30b" class="col-sm-6">
              Property abroad profit or loss
            </label>

            <div class="col-sm-6">
              <div class="input-group">
                <span class="input-group-addon">&pound;</span>
                <input type="text" id="input-30b" name="input-30b" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       data-ng-model="info.FOR30B"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-30c" class="col-sm-6">
              Property abroad foreign tax
            </label>

            <div class="col-sm-6">
              <div class="input-group">
                <span class="input-group-addon">&pound;</span>
                <input type="text" id="input-30c" name="input-30c" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       data-ng-model="info.FOR30C"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-30d" class="col-sm-6">
              Property abroad special withholding tax
            </label>

            <div class="col-sm-6">
              <div class="input-group">
                <span class="input-group-addon">&pound;</span>
                <input type="text" id="input-30d" name="input-30d" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       data-ng-model="info.FOR30D"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-12">
              <div class="checkbox">
                <label class="i-checks" for="input-30e">
                  <input type="checkbox" id="input-30e"
                         data-ng-model="info.FOR30E"
                         data-ng-true-value="1"
                         data-ng-false-value="0">
                  <i></i>
                  Property abroad claim to FCTR
                </label>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-30f" class="col-sm-6">
              Property abroad total amount
            </label>

            <div class="col-sm-6">
              <div class="input-group">
                <span class="input-group-addon">&pound;</span>
                <input type="text" id="input-30f" name="input-30f" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       data-ng-model="info.FOR30F"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-25" class="col-sm-6">
              Total adjusted profit or loss
            </label>

            <div class="col-sm-6">
              <div class="input-group">
                <span class="input-group-addon">&pound;</span>
                <input type="text" id="input-25" name="input-25" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       data-ng-model="info.FOR25"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-26" class="col-sm-6">
              Loss brought forward
            </label>

            <div class="col-sm-6">
              <div class="input-group">
                <span class="input-group-addon">&pound;</span>
                <input type="text" id="input-26" name="input-26" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       data-ng-model="info.FOR26"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-27" class="col-sm-6">
              Total taxable profit
            </label>

            <div class="col-sm-6">
              <div class="input-group">
                <span class="input-group-addon">&pound;</span>
                <input type="text" id="input-27" name="input-27" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       data-ng-model="info.FOR27"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-28" class="col-sm-6">
              Total foreign tax taken off
            </label>

            <div class="col-sm-6">
              <div class="input-group">
                <span class="input-group-addon">&pound;</span>
                <input type="text" id="input-28" name="input-28" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       data-ng-model="info.FOR28"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-29" class="col-sm-6">
              Total Special Withholding Tax
            </label>

            <div class="col-sm-6">
              <div class="input-group">
                <span class="input-group-addon">&pound;</span>
                <input type="text" id="input-29" name="input-29" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       data-ng-model="info.FOR29"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-30" class="col-sm-6">
              Total taxable amount
            </label>

            <div class="col-sm-6">
              <div class="input-group">
                <span class="input-group-addon">&pound;</span>
                <input type="text" id="input-30" name="input-30" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       data-ng-model="info.FOR30"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-31" class="col-sm-6">
              Loss set off against total income
            </label>

            <div class="col-sm-6">
              <div class="input-group">
                <span class="input-group-addon">&pound;</span>
                <input type="text" id="input-31" name="input-31" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       data-ng-model="info.FOR31"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-32" class="col-sm-6">
              Loss to carry forward
            </label>

            <div class="col-sm-6">
              <div class="input-group">
                <span class="input-group-addon">&pound;</span>
                <input type="text" id="input-32" name="input-32" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       data-ng-model="info.FOR32"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-a" class="col-sm-6">
              Claim to FTCR Country Code
            </label>

            <div class="col-sm-6">
              <input type="text" id="input-a" name="input-a" class="form-control"
                     data-ng-model="info.FORA"/>
            </div>
          </div>

          <div class="form-group">
            <label for="input-c" class="col-sm-6">
              Claim to FTCR foreign tax
            </label>

            <div class="col-sm-6">
              <div class="input-group">
                <span class="input-group-addon">&pound;</span>
                <input type="text" id="input-c" name="input-c" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       data-ng-model="info.FORC"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-12">
              <div class="checkbox">
                <label class="i-checks" for="input-e">
                  <input type="checkbox" id="input-e"
                         data-ng-model="info.FORE"
                         data-ng-true-value="1"
                         data-ng-false-value="0">
                  <i></i>
                  Claim to FTCR claim for FTCR
                </label>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-f" class="col-sm-6">
              Claim to FTCR amount chargeable
            </label>

            <div class="col-sm-6">
              <div class="input-group">
                <span class="input-group-addon">&pound;</span>
                <input type="text" id="input-f" name="input-f" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       data-ng-model="info.FORF"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-33" class="col-sm-6">
              Chargeable gains (UK rules)
            </label>

            <div class="col-sm-6">
              <div class="input-group">
                <span class="input-group-addon">&pound;</span>
                <input type="text" id="input-33" name="input-33" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       data-ng-model="info.FOR33"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-34" class="col-sm-6">
              Number of days over which gain accrued
            </label>

            <div class="col-sm-6">
              <input type="text" id="input-34" name="input-34" class="form-control"
                     data-ng-focus data-ng-blur filtered-input="number"
                     data-ng-model="info.FOR34"/>
            </div>
          </div>

          <div class="form-group">
            <label for="input-35" class="col-sm-6">
              Chargeable gains foreign rules
            </label>

            <div class="col-sm-6">
              <div class="input-group">
                <span class="input-group-addon">&pound;</span>
                <input type="text" id="input-35" name="input-35" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       data-ng-model="info.FOR35"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-36" class="col-sm-6">
              Number of days over which gain accrued
            </label>

            <div class="col-sm-6">
              <input type="text" id="input-36" name="input-36" class="form-control"
                     data-ng-focus data-ng-blur filtered-input="number"
                     data-ng-model="info.FOR36"/>
            </div>
          </div>

          <div class="form-group">
            <label for="input-37" class="col-sm-6">
              Foreign tax paid
            </label>

            <div class="col-sm-6">
              <div class="input-group">
                <span class="input-group-addon">&pound;</span>
                <input type="text" id="input-37" name="input-37" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       data-ng-model="info.FOR37"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-12">
              <div class="checkbox">
                <label class="i-checks" for="input-38">
                  <input type="checkbox" id="input-38"
                         data-ng-model="info.FOR38"
                         data-ng-true-value="1"
                         data-ng-false-value="0">
                  <i></i>
                  Foreign tax credit relief claim
                </label>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-39" class="col-sm-6">
              Total foreign tax credit relief on gains
            </label>

            <div class="col-sm-6">
              <div class="input-group">
                <span class="input-group-addon">&pound;</span>
                <input type="text" id="input-39" name="input-39" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       data-ng-model="info.FOR39"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-40" class="col-sm-6">
              Special Withholding Tax
            </label>

            <div class="col-sm-6">
              <div class="input-group">
                <span class="input-group-addon">&pound;</span>
                <input type="text" id="input-40" name="input-40" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       data-ng-model="info.FOR40"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-41" class="col-sm-6">
              Offshore fund gains and non resident trust income
            </label>

            <div class="col-sm-6">
              <div class="input-group">
                <span class="input-group-addon">&pound;</span>
                <input type="text" id="input-41" name="input-41" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       data-ng-model="info.FOR41"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-42" class="col-sm-6">
              Benefits from overseas trusts etc.
            </label>

            <div class="col-sm-6">
              <div class="input-group">
                <span class="input-group-addon">&pound;</span>
                <input type="text" id="input-42" name="input-42" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       data-ng-model="info.FOR42"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-43" class="col-sm-6">
              Foreign life insurance gains
            </label>

            <div class="co-sm-8">
              <div class="input-group">
                <span class="input-group-addon">&pound;</span>
                <input type="text" id="input-43" name="input-43" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       data-ng-model="info.FOR43"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-44" class="col-sm-6">
              Number of years since policy made
            </label>

            <div class="col-sm-6">
              <input type="text" id="input-44" name="input-44" class="form-control"
                     data-ng-focus data-ng-blur filtered-input="number"
                     data-ng-model="info.FOR44"/>
            </div>
          </div>

          <div class="form-group">
            <label for="input-45" class="col-sm-6">
              Tax treated as paid
            </label>

            <div class="col-sm-6">
              <div class="input-group">
                <span class="input-group-addon">&pound;</span>
                <input type="text" id="input-45" name="input-45" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       data-ng-model="info.FOR45"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-46" class="col-sm-6">
              Omitted amount transfer of assets exemption
            </label>

            <div class="col-sm-6">
              <div class="input-group">
                <span class="input-group-addon">&pound;</span>
                <input type="text" id="input-46" name="input-46" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       data-ng-model="info.FOR46"/>
              </div>
            </div>
          </div>
        </tab>

      </tabset>

      <div class="form-group">
        <div class="col-md-12">
          <button class="btn btn-primary btn-sm pull-right"
                  data-ng-disabled="form.$invalid"
                  data-ng-click="actions.save(form.$valid)">
            Save
          </button>
        </div>
      </div>
    </form>
  </div>
</div>