<h4>
    Disposal & Changeable Assets -
    <a class="btn-link text-primary" data-ng-click="actions.open('disposal-changeable')">Edit</a>
</h4>

<div class="row">
    <div class="col-md-12">
        <div class="row">
            <label class="control-label col-xs-6">Name</label>
            <span class="col-xs-6"
                  data-ng-bind="forms.disposalChangeables.name"></span>
        </div>

        <div class="row">
            <label class="control-label col-xs-6">Tax reference</label>
            <span class="col-xs-6"
                  data-ng-bind="forms.disposalChangeables.tax_preference"></span>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th class="col-xs-4"> Description of asset</th>
                            <th class="col-xs-1">Tick if shares</th>
                            <th class="col-xs-3">Disposal proceeds</th>
                            <th class="col-xs-3">Further information</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr data-ng-repeat="item in forms.disposalChangeables.disposal_proceeds">
                            <td data-ng-bind="item.description"></td>
                            <td data-ng-bind="item.share === '1' ? 'Yes' : 'No'"></td>
                            <td> &pound; <span data-ng-bind="item.proceed|currency:'&pound'"></span></td>
                            <td data-ng-bind="item.information"></td>
                        </tr>

                        <tr>
                            <td colspan="2">Total disposal proceeds</td>
                            <td class="borderless" colspan="1">
                                &pound; <span data-ng-bind="totalDisposal|currency:'&pound'"></span>
                            </td>
                            <td></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="row">
            <label class="control-label col-xs-6">Additional information</label>
            <span class="col-xs-6"
                  data-ng-bind="forms.disposalChangeables.information"></span>
        </div>
    </div>
</div>
<hr/>