<h4>
    Other Information
    <a class="btn-link text-primary" data-ng-click="actions.open('other-information')">Edit</a>
</h4>

<div class="row">
    <div class="col-md-12">
        <div class="row">
            <label class="control-label col-xs-6">
                Did the partnership receive any other income which you have not already included
                elsewhere in the Partnership Tax Return?
            </label>
            <span class="col-xs-6" data-ng-bind="forms.otherInformation.POI7 == '1' ? 'Yes': 'No'"></span>
        </div>

        <div class="row">
            <label class="control-label col-xs-6"> Amount after tax taken off</label>
            <span class="col-xs-6" data-ng-bind="forms.otherInformation.POI7_7|currency:'&pound;'"></span>
        </div>

        <div class="row">
            <label class="control-label col-xs-6">Tax taken off</label>
            <span class="col-xs-6" data-ng-bind="forms.otherInformation.POI7_8|currency:'&pound;'"></span>
        </div>

        <div class="row">
            <label class="control-label col-xs-6">
                Gross amount before tax
            </label>

            <span class="col-xs-6" data-ng-bind="forms.otherInformation.POI7_9|currency:'&pound;'"></span>
        </div>

        <div class="row">
            <label class="i-checks">
                Are the details on the front of the Partnership Tax Return wrong?
            </label>
            <span class="col-xs-6" data-ng-bind="forms.otherInformation.POI8 == '1' ? 'Yes' : 'No'"></span>
        </div>

        <div class="row">
            <label class="control-label col-xs-6">
                Your phone number
            </label>
            <span class="col-xs-6" data-ng-bind="forms.otherInformation.POI9_1"></span>
        </div>

        <div class="row">
            <label class="control-label col-xs-6">
                or, if you prefer, your adviser's phone number</label>
            <span class="col-xs-6" data-ng-bind="forms.otherInformation.POI9_2"></span>
        </div>

        <div class="row">
            <label class="control-label col-xs-6">
                Your adviser's name
            </label>
            <span class="col-xs-6" data-ng-bind="forms.otherInformation.POI9_3"></span>
        </div>

        <div class="row">
            <label class="control-label col-xs-6">
                Your adviser's address line 1
            </label>
            <span class="col-xs-6" data-ng-bind="forms.otherInformation.POI9_4"></span>
        </div>

        <div class="row">
            <label class="control-label col-xs-6">
                Your adviser's address line 2
            </label>
            <span class="col-xs-6" data-ng-bind="forms.otherInformation.POI9_5"></span>
        </div>

        <div class="row">
            <label class="control-label col-xs-6">
                Your adviser's postcode
            </label>
            <span class="col-xs-6" data-ng-bind="forms.otherInformation.POI9_6"></span>
        </div>

        <div class="row">
            <label class="i-checks">
                Please tick box 10.1 if this Partnership Tax Return contains figures that are
                provisional because you do not yet have final figures. The Partnership Tax Return Guide
                explains the circumstances in which provisional figures may be used and asks you to
                provide some additional information in box
            </label>
            <span class="col-xs-6" data-ng-bind="forms.otherInformation.POI10_1 == '1' ? 'Yes' : 'No'"></span>
        </div>

        <div class="row">
            <label class="control-label col-xs-6">
                Disclosure of tax avoidance schemes
            </label>
            <span class="col-xs-6" data-ng-bind="forms.otherInformation.POI10_2"></span>
        </div>

        <div class="row">
            <label class="control-label col-xs-6">
                Tax year in which the expected advantage to the partners arises – year ended 5 April
            </label>
            <span class="col-xs-6" data-ng-bind="forms.otherInformation.POI10_3"></span>
        </div>


        <div class="row">
            <label class="control-label col-xs-6">
                Capital allowance
            </label>
            <span class="col-xs-6" data-ng-bind="forms.otherInformation.POI10_4|currency:'&pound;'"></span>
        </div>

        <div class="row">
            <label class="control-label col-xs-6">Balancing charge</label>
            <span class="col-xs-6" data-ng-bind="forms.otherInformation.POI10_5|currency:'&pound;'"></span>
        </div>
    </div>
</div>
<hr/>