<h4>
  Partnership Uk property -
  <a class="btn-link text-primary" data-ng-click="actions.open('partnership-uk-property')">Edit</a>
</h4>

<div class="row">
  <div class="col-md-12">
    <div class="row">
      <label class="control-label col-xs-6">Name</label>

      <div class="col-xs-6" data-ng-bind="forms.partnerProperties.name"></div>
    </div>

    <div class="row">
      <label class="control-label col-xs-6">Tax reference</label>

      <div class="col-xs-6"
           data-ng-bind="forms.partnerProperties.tax_reference"></div>
    </div>

    <div class="row">
      <label class="control-label col-xs-6">Return period begins</label>

      <div class="col-xs-6"
           data-ng-bind="forms.partnerProperties.return_period_begin | date : 'dd MMM yyyy'">
      </div>
    </div>

    <div class="row">
      <label class="control-label col-xs-6">Return period end</label>

      <div class="col-xs-6"
           data-ng-bind="forms.partnerProperties.return_period_end | date : 'dd MMM yyyy'">
      </div>
    </div>

    <div class="row">
      <label class="control-label col-xs-6">
        Is the partnership income from furnished holiday lettings?</label>

      <div class="col-xs-6"
           data-ng-bind="forms.partnerProperties.partnership_income_from_furnished_holiday_letting === '1' ? 'Yes' : 'No'">
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h6>
          Furnished holiday lettings in the UK or European Economic Area (EEA)
        </h6>
      </div>
    </div>

    <div class="row">
      <label class="control-label col-xs-6">Income from furnished holiday lettings [1]</label>

      <div class="col-xs-6">
        <span
            data-ng-bind="forms.partnerProperties.income_from_furnished_holiday_letting | currency : '&pound;'"></span>
      </div>
    </div>

    <div class="row">
      <label class="control-label col-xs-6">Rent, rates, insurance, ground rents, etc [2]</label>

      <div class="col-xs-6">
        <span
            data-ng-bind="forms.partnerProperties.rent_rates_insurance_ground_rents_etc_1 | currency : '&pound;'"></span>
      </div>
    </div>

    <div class="row">
      <label class="control-label col-xs-6">Repairs and maintenance [3]</label>

      <div class="col-xs-6">
        <span data-ng-bind="forms.partnerProperties.repairs_and_maintenance_1 | currency : '&pound;'"></span>
      </div>
    </div>

    <div class="row">
      <label class="control-label col-xs-6">Finance charges, including interest [4]</label>

      <div class="col-xs-6">
        <span data-ng-bind="forms.partnerProperties.finance_charges_including_interest_1 | currency : '&pound;'"></span>
      </div>
    </div>

    <div class="row">
      <label class="control-label col-xs-6">Legal and professional costs [5]</label>

      <div class="col-xs-6">
        <span data-ng-bind="forms.partnerProperties.legal_and_professional_cost_1 | currency : '&pound;'"></span>
      </div>
    </div>

    <div class="row">
      <label class="control-label col-xs-6">Cost of services provided, including wages [6]</label>

      <div class="col-xs-6">
        <span
            data-ng-bind="forms.partnerProperties.cost_of_services_provided_including_wages_1 | currency : '&pound;'"></span>
      </div>
    </div>

    <div class="row">
      <label class="control-label col-xs-6">Other expenses [7]</label>

      <div class="col-xs-6">
        <span data-ng-bind="forms.partnerProperties.other_expenses_1 | currency : '&pound;'"></span>
      </div>
    </div>

    <div class="row">
      <label class="control-label col-xs-6">Total Expenses (for [2] to [7]) - [8]</label>

      <div class="col-xs-6">
        <span data-ng-bind="forms.partnerProperties.total_expense_1 | currency : '&pound;'"></span>
      </div>
    </div>

    <div class="row">
      <label class="control-label col-xs-6">Net profit (put figures in brackets if a loss) ([1] to [8]) -
        [9]</label>

      <div class="col-xs-6">
        <span data-ng-bind="forms.partnerProperties.net_profit_1 | currency : '&pound;'"></span>
      </div>
    </div>

    <div class="row">
      <label class="control-label col-xs-6">Private use [10]</label>

      <div class="col-xs-6">
        <span data-ng-bind="forms.partnerProperties.private_use_1 | currency : '&pound;'"></span>
      </div>
    </div>

    <div class="row">
      <label class="control-label col-xs-6">Balancing charges [11]</label>

      <div class="col-xs-6">
        <span data-ng-bind="forms.partnerProperties.balancing_charges_1 | currency : '&pound;'"></span>
      </div>
    </div>

    <div class="row">
      <label class="control-label col-xs-6">Total ([10] + [11]) - [12]</label>

      <div class="col-xs-6">
        <span data-ng-bind="forms.partnerProperties.total_private_use_balancing_charge_1 | currency : '&pound;'"></span>
      </div>
    </div>

    <div class="row">
      <label class="control-label col-xs-6">Capital allowances [13]</label>

      <div class="col-xs-6">
        <span data-ng-bind="forms.partnerProperties.capital_allowances_1 | currency : '&pound;'"></span>
      </div>
    </div>

    <div class="row">
      <label class="control-label col-xs-6">Tick box if box [13] includes enhanced capital allowances
        for designated environmentally beneficial plant and machinery</label>
            <span class="col-xs-6"
                  data-ng-bind="forms.partnerProperties.tick_allowance_1 === '1' ? 'Yes' : 'No'"></span>
    </div>

    <div class="row">
      <label class="control-label col-xs-6">
        Loss brought forward used against this year’s profits [14]
      </label>

      <div class="col-xs-6">
        <span
            data-ng-bind="forms.partnerProperties.loss_brought_forward_used_against_this_year_profit | currency : '&pound;'"></span>
      </div>
    </div>

    <div class="row">
      <label class="control-label col-xs-6">
        Profit for the year after losses ([9] + [12] - ([13] + [14])) - [15]
      </label>

      <div class="col-xs-6">
        <span data-ng-bind="forms.partnerProperties.profit_for_the_year_after_losses | currency : '&pound;'"></span>
      </div>
    </div>

    <div class="row">
      <label class="control-label col-xs-6">
        Loss for the year (if you have entered '0' in [15]) ([9] + [12] - [13]) - [16]
      </label>

      <div class="col-xs-6">
        <span data-ng-bind="forms.partnerProperties.loss_for_the_year | currency : '&pound;'"></span>
      </div>
    </div>

    <div class="row">
      <label class="control-label col-xs-6">Total loss to carry forward</label>

      <div class="col-xs-6">
        <span data-ng-bind="forms.partnerProperties.total_loss_to_carry_forward | currency : '&pound;'"></span>
      </div>
    </div>

    <div class="row">
      <label class="control-label col-xs-6">Tick in the box if this business is in the EEA</label>

      <div class="col-xs-6"
           data-ng-bind="forms.partnerProperties.business_is_in_the_EEA === '1' ? 'Yes' : 'No'"></div>
    </div>

    <div class="row">
      <label class="control-label col-xs-6">
        If you want to make a period of grace election, tick it
      </label>

      <div class="col-xs-6"
           data-ng-bind="forms.partnerProperties.make_a_period_of_grace_election === '1' ? 'Yes' : 'No'"></div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h6>
          Other property income
        </h6>
      </div>
    </div>

    <div class="row">
      <label class="control-label col-xs-6">Rents and other income from UK property [17]</label>

      <div class="col-xs-6">
        <span
            data-ng-bind="forms.partnerProperties.rent_and_other_income_form_uk_property | currency : '&pound;'"></span>
      </div>
    </div>

    <div class="row">
      <label class="control-label col-xs-6">Tax deducted</label>

      <div class="col-xs-6">
        <span data-ng-bind="forms.partnerProperties.tax_deducted | currency : '&pound;'"></span>
      </div>
    </div>

    <div class="row">
      <label class="control-label col-xs-6">Chargeable premiums [18]</label>

      <div class="col-xs-6">
        <span data-ng-bind="forms.partnerProperties.chargeable_premium | currency : '&pound;'"></span>
      </div>
    </div>

    <div class="row">
      <label class="control-label col-xs-6">Reverse premiums [19]</label>

      <div class="col-xs-6">
        <span data-ng-bind="forms.partnerProperties.reverse_premium | currency : '&pound;'"></span>
      </div>
    </div>

    <div class="row">
      <label class="control-label col-xs-6">Total income ([17] to [19]) - [20]</label>

      <div class="col-xs-6">
        <span data-ng-bind="forms.partnerProperties.total_income | currency : '&pound;'"></span>
      </div>
    </div>

    <div class="row">
      <label class="control-label col-xs-6">Rent, rates, insurance, ground rents, etc. [21]</label>

      <div class="col-xs-6">
        <span
            data-ng-bind="forms.partnerProperties.rent_rates_insurance_ground_rents_etc_2 | currency : '&pound;'"></span>
      </div>
    </div>

    <div class="row">
      <label class="control-label col-xs-6">Repairs and maintenance [22]</label>

      <div class="col-xs-6">
        <span data-ng-bind="forms.partnerProperties.repairs_and_maintenance_2 | currency : '&pound;'"></span>
      </div>
    </div>

    <div class="row">
      <label class="control-label col-xs-6">Finance charges, including interest [23]</label>

      <div class="col-xs-6">
        <span data-ng-bind="forms.partnerProperties.finance_charges_including_interest_2 | currency : '&pound;'"></span>
      </div>
    </div>

    <div class="row">
      <label class="control-label col-xs-6">Legal and professional costs [24]</label>

      <div class="col-xs-6">
        <span data-ng-bind="forms.partnerProperties.legal_and_professional_cost_2 | currency : '&pound;'"></span>
      </div>
    </div>

    <div class="row">
      <label class="control-label col-xs-6">Cost of services provided, including wages [25]</label>

      <div class="col-xs-6">
        <span
            data-ng-bind="forms.partnerProperties.cost_of_services_provided_including_wages_2 | currency : '&pound;'"></span>
      </div>
    </div>

    <div class="row">
      <label class="control-label col-xs-6">Other expenses [26]</label>

      <div class="col-xs-6">
        <span data-ng-bind="forms.partnerProperties.other_expenses_2 | currency : '&pound;'"></span>
      </div>
    </div>

    <div class="row">
      <label class="control-label col-xs-6">total ([21] to [26]) - [27]</label>

      <div class="col-xs-6">
        <span data-ng-bind="forms.partnerProperties.total_expense_2 | currency : '&pound;'"></span>
      </div>
    </div>

    <div class="row">
      <label class="control-label col-xs-6">
        Net profit (put figures in brackets if a loss) ([20] to [27]) -
        [28]</label>

      <div class="col-xs-6">
        <span data-ng-bind="forms.partnerProperties.net_profit_2 | currency : '&pound;'"></span>
      </div>
    </div>

    <div class="row">
      <label class="control-label col-xs-6">Private use [29]</label>

      <div class="col-xs-6">
        <span data-ng-bind="forms.partnerProperties.private_use_2 | currency : '&pound;'"></span>
      </div>
    </div>

    <div class="row">
      <label class="control-label col-xs-6">Balancing charges [30]</label>

      <div class="col-xs-6">
        <span data-ng-bind="forms.partnerProperties.balancing_charges_2 | currency : '&pound;'"></span>
      </div>
    </div>

    <div class="row">
      <label class="control-label col-xs-6">Total ([29] + [30]) - [31]</label>

      <div class="col-xs-6">
        <span data-ng-bind="forms.partnerProperties.total_private_use_balancing_charge_2 | currency : '&pound;'"></span>
      </div>
    </div>

    <div class="row">
      <label class="control-label col-xs-6">Annual Investment Allowance [32]</label>

      <div class="col-xs-6">
        <span data-ng-bind="forms.partnerProperties.annual_investment_allowance | currency : '&pound;'"></span>
      </div>
    </div>

    <div class="row">
      <label class="control-label col-xs-6">All other capital allowances [33]</label>

      <div class="col-xs-6">
        <span data-ng-bind="forms.partnerProperties.all_other_capital_allowance | currency : '&pound;'"></span>
      </div>
    </div>

    <div class="row">
      <label class="control-label col-xs-6">
        Tick box if [33] includes enhanced capital allowances for designated environmentally
        beneficial plant and machinery
      </label>

      <div class="col-xs-6" data-ng-bind="forms.partnerProperties.tick_allowance_2 === '1' ? 'Yes' : 'No'"></div>
    </div>

    <div class="row">
      <label class="control-label col-xs-6">Landlord's energy saving allowance [34]</label>

      <div class="col-xs-6">
        <span data-ng-bind="forms.partnerProperties.landlord_energy_saving_allowance | currency : '&pound;'"></span>
      </div>
    </div>

    <div class="row">
      <label class="control-label col-xs-6">10% wear and tear [35]</label>

      <div class="col-xs-6">
        <span data-ng-bind="forms.partnerProperties.wear_and_tear | currency : '&pound;'"></span>
      </div>
    </div>

    <div class="row">
      <label class="control-label col-xs-6">Total ([32] to [35]) - [36]</label>

      <div class="col-xs-6">
        <span data-ng-bind="forms.partnerProperties.total_allowance | currency : '&pound;'"></span>
      </div>
    </div>

    <div class="row">
      <label class="control-label col-xs-6">
        Profit or loss for return period (put figures in brackets if a loss)
        ([28] + [31] - [36])</label>

      <div class="col-xs-6">
        <span data-ng-bind="forms.partnerProperties.profit_or_loss_for_return_period | currency : '&pound;'"></span>
      </div>
    </div>
  </div>
</div>
<hr/>