<h4>Partnership Detail</h4>

<div class="col-md-12">
    <div class="row">
        <label class="control-label col-xs-6">Name</label>
            <span class="col-xs-6"
                  data-ng-bind="partnershipDetail.name"></span>
    </div>

    <div class="row">
        <label class="control-label col-xs-6">Description/Notes</label>
        <span class="col-xs-6"
              data-ng-bind="partnershipDetail.description"></span>
    </div>

    <div class="row">
        <label class="control-label col-xs-6">Unique tax reference</label>
            <span class="col-xs-6"
                  data-ng-bind="partnershipDetail.utr"></span>
    </div>

    <div class="row">
        <label class="control-label col-xs-6">Address</label>
            <span class="col-xs-6"
                  data-ng-bind="partnershipDetail.address"></span>
    </div>

    <div class="row">
        <label class="control-label col-xs-6">Email</label>
            <span class="col-xs-6"
                  data-ng-bind="partnershipDetail.email"></span>
    </div>
</div>

<hr/>