<h4>
    Trading and professional income -
    <a class="btn-link text-primary" data-ng-click="actions.open('trading-professional')">Edit</a>
</h4>

<div class="row">
    <div class="col-md-12">
        <div class="row">
            <label class="control-label col-xs-6">Start of period</label>

            <span class="col-xs-6"
                  data-ng-bind="forms.partnerTrading.start_of_period | date : 'dd MMM yyyy'"></span>
        </div>

        <div class="row date-picker">
            <label class="control-label col-xs-6">End of period</label>

            <span class="col-xs-6"
                  data-ng-bind="forms.partnerTrading.end_of_period | date : 'dd MMM yyyy'"></span>
        </div>

        <div class="row">
            <label class="control-label col-xs-6">Account details are not required</label>

            <span class="col-xs-6"
                  data-ng-bind="forms.partnerTrading.account_details_are_not_required === '1' ? 'Yes' : 'No'"></span>
        </div>

        <div class="row">
            <label class="control-label col-xs-6">Accounts do not cover period from last accounting date</label>
            <span class="col-xs-6"
                  data-ng-bind="forms.partnerTrading.accounts_do_not_cover_period_from_last_accounting_date === '1' ? 'Yes' : 'No'"></span>
        </div>

        <div class="row">
            <label class="control-label col-xs-6">Change of accounting date</label>
            <span class="col-xs-6"
                  data-ng-bind="forms.partnerTrading.change_of_accounting_date === '1' ? 'Yes' : 'No'"></span>

        </div>

        <div class="row">
            <label class="control-label col-xs-6">Do figures include VAT?</label>
            <span class="col-xs-6"
                  data-ng-bind="forms.partnerTrading.do_figures_include_vat === '1' ? 'Yes' : 'No'"></span>
        </div>

        <div class="row">
            <label class="control-label col-xs-6">Is this trade using the cash basis?</label>
            <span class="col-xs-6"
                  data-ng-bind="forms.partnerTrading.is_this_trade_using_the_cash_basis === '1' ? 'Yes' : 'No'"></span>
        </div>

        <div class="row">
            <label class="control-label col-xs-6">Turnover</label>

            <div class="col-xs-6">
                <span data-ng-bind="forms.partnerTrading.turnover | currency : '&pound;'"></span>
            </div>
        </div>

        <div class="row">
            <label class="control-label col-xs-6">Cost of sales</label>

            <div class="col-xs-6">
                <span data-ng-bind="forms.partnerTrading.cost_of_sales | currency : '&pound;'"></span>
            </div>
        </div>

        <div class="row">
            <label class="control-label col-xs-6">Construction industry subcontractor costs</label>

            <div class="col-xs-6">
                <span data-ng-bind="forms.partnerTrading.construction_industry_subcontractor_costs | currency : '&pound;'"></span>
            </div>
        </div>

        <div class="row">
            <label class="control-label col-xs-6">Other direct costs</label>

            <div class="col-xs-6">
                <span data-ng-bind="forms.partnerTrading.other_direct_costs | currency : '&pound;'"></span>
            </div>
        </div>

        <div class="row">
            <label class="control-label col-xs-6">Gross profit/(loss)</label>

            <div class="col-xs-6">
                <span data-ng-bind="forms.partnerTrading.gross_profit_loss | currency : '&pound;'"></span>
            </div>
        </div>

        <div class="row">
            <label class="control-label col-xs-6">Other income/profits</label>

            <div class="col-xs-6">
                <span data-ng-bind="forms.partnerTrading.other_income_profits | currency : '&pound;'"></span>
            </div>
        </div>

        <div class="row">
            <label class="control-label col-xs-6">Employee costs</label>

            <div class="col-xs-6">
                <span data-ng-bind="forms.partnerTrading.employee_costs | currency : '&pound;'"></span>
            </div>
        </div>

        <div class="row">
            <label class="control-label col-xs-6">Premises costs</label>

            <div class="col-xs-6">
                <span data-ng-bind="forms.partnerTrading.premises_costs | currency : '&pound;'"></span>
            </div>
        </div>

        <div class="row">
            <label class="control-label col-xs-6">Repairs</label>

            <div class="col-xs-6">
                <span data-ng-bind="forms.partnerTrading.repairs | currency : '&pound;'"></span>
            </div>
        </div>

        <div class="row">
            <label class="control-label col-xs-6">General administrative expenses</label>

            <div class="col-xs-6">
                <span data-ng-bind="forms.partnerTrading.general_administrative_expenses | currency : '&pound;'"></span>
            </div>
        </div>

        <div class="row">
            <label class="control-label col-xs-6">Motor expenses</label>

            <div class="col-xs-6">
                <span data-ng-bind="forms.partnerTrading.motor_expenses | currency : '&pound;'"></span>
            </div>
        </div>

        <div class="row">
            <label class="control-label col-xs-6">Travel and subsistence</label>

            <div class="col-xs-6">
                <span data-ng-bind="forms.partnerTrading.travel_and_subsistence | currency : '&pound;'"></span>
            </div>
        </div>

        <div class="row">
            <label class="control-label col-xs-6">Advertising, promotional and entertainment</label>

            <div class="col-xs-6">
                <span data-ng-bind="forms.partnerTrading.advertising_promotional_and_entertainment | currency : '&pound;'"></span>
            </div>
        </div>

        <div class="row">
            <label class="control-label col-xs-6">Legal and professional costs</label>

            <div class="col-xs-6">
                <span data-ng-bind="forms.partnerTrading.legal_and_professional_costs | currency : '&pound;'"></span>
            </div>
        </div>

        <div class="row">
            <label class="control-label col-xs-6">Bad debts</label>

            <div class="col-xs-6">
                <span data-ng-bind="forms.partnerTrading.bad_debts | currency : '&pound;'"></span>
            </div>
        </div>

        <div class="row">
            <label class="control-label col-xs-6">Interest and alternative finance payments</label>

            <div class="col-xs-6">
                <span data-ng-bind="forms.partnerTrading.interest_and_alternative_finance_payments | currency : '&pound;'"></span>
            </div>
        </div>

        <div class="row">
            <label class="control-label col-xs-6">Other finance charges</label>

            <div class="col-xs-6">
                <span data-ng-bind="forms.partnerTrading.other_finance_charges | currency : '&pound;'"></span>
            </div>
        </div>

        <div class="row">
            <label class="control-label col-xs-6">Depreciation and loss/(profit) on sale</label>

            <div class="col-xs-6">
                <span data-ng-bind="forms.partnerTrading.depreciation_and_loss_profit_on_sale | currency : '&pound;'"></span>
            </div>
        </div>

        <div class="row">
            <label class="control-label col-xs-6">Other expenses including partnership charges</label>

            <div class="col-xs-6">
                <span data-ng-bind="forms.partnerTrading.other_expenses_including_partnership_charges | currency : '&pound;'"></span>
            </div>
        </div>

        <div class="row">
            <label class="control-label col-xs-6">Total expenses</label>

            <div class="col-xs-6">
                <span data-ng-bind="forms.partnerTrading.total_expenses | currency : '&pound;'"></span>
            </div>
        </div>

        <div class="row">
            <label class="control-label col-xs-6">Disallowable Construction industry subcontractor costs</label>

            <div class="col-xs-6">
                <span data-ng-bind="forms.partnerTrading.disallowable_construction_industry_subcontractor_costs | currency : '&pound;'"></span>
            </div>
        </div>

        <div class="row">
            <label class="control-label col-xs-6">Disallowable Other direct costs</label>

            <div class="col-xs-6">
                <span data-ng-bind="forms.partnerTrading.disallowable_other_direct_costs | currency : '&pound;'"></span>
            </div>
        </div>

        <div class="row">
            <label class="control-label col-xs-6">Disallowable Employee costs</label>

            <div class="col-xs-6">
                <span data-ng-bind="forms.partnerTrading.disallowable_employee_costs | currency : '&pound;'"></span>
            </div>
        </div>

        <div class="row">
            <label class="control-label col-xs-6">Disallowable Premises costs</label>

            <div class="col-xs-6">
                <span data-ng-bind="forms.partnerTrading.disallowable_premises_costs | currency : '&pound;'"></span>
            </div>
        </div>

        <div class="row">
            <label class="control-label col-xs-6">Disallowable Repairs</label>

            <div class="col-xs-6">
                <span data-ng-bind="forms.partnerTrading.disallowable_repairs | currency : '&pound;'"></span>
            </div>
        </div>

        <div class="row">
            <label class="control-label col-xs-6">Disallowable General administrative expenses</label>

            <div class="col-xs-6">
                <span data-ng-bind="forms.partnerTrading.disallowable_general_administrative_expenses | currency : '&pound;'"></span>
            </div>
        </div>

        <div class="row">
            <label class="control-label col-xs-6">Disallowable Motor expenses</label>

            <div class="col-xs-6">
                <span data-ng-bind="forms.partnerTrading.disallowable_motor_expenses | currency : '&pound;'"></span>
            </div>
        </div>

        <div class="row">
            <label class="control-label col-xs-6">Disallowable Travel and subsistence</label>

            <div class="col-xs-6">
                <span data-ng-bind="forms.partnerTrading.disallowable_travel_and_subsistence | currency : '&pound;'"></span>
            </div>
        </div>

        <div class="row">
            <label class="control-label col-xs-6">Disallowable Advertising, promotional and entertainment</label>

            <div class="col-xs-6">
                <span data-ng-bind="forms.partnerTrading.disallowable_advertising_promotional_and_entertainment | currency : '&pound;'"></span>
            </div>
        </div>

        <div class="row">
            <label class="control-label col-xs-6">Disallowable Legal and professional costs</label>

            <div class="col-xs-6">
                <span data-ng-bind="forms.partnerTrading.disallowable_legal_and_professional_costs | currency : '&pound;'"></span>
            </div>
        </div>

        <div class="row">
            <label class="control-label col-xs-6">Disallowable Bad debts</label>

            <div class="col-xs-6">
                <span data-ng-bind="forms.partnerTrading.disallowable_bad_debts | currency : '&pound;'"></span>
            </div>
        </div>

        <div class="row">
            <label class="control-label col-xs-6">Disallowable Interest and alternative finance
                payments</label>

            <div class="col-xs-6">
                <span data-ng-bind="forms.partnerTrading.disallowable_interest_and_alternative_finance_payments | currency : '&pound;'"></span>
            </div>
        </div>

        <div class="row">
            <label class="control-label col-xs-6">Disallowable Other finance charges</label>

            <div class="col-xs-6">
                <span data-ng-bind="forms.partnerTrading.disallowable_other_finance_charges | currency : '&pound;'"></span>
            </div>
        </div>

        <div class="row">
            <label class="control-label col-xs-6">Disallowable Depreciation and loss/(profit) on sale</label>

            <div class="col-xs-6">
                <span data-ng-bind="forms.partnerTrading.disallowable_depreciation_and_loss_profit_on_sale | currency : '&pound;'"></span>
            </div>
        </div>

        <div class="row">
            <label class="control-label col-xs-6">Disallowable Other expenses including partnership charges</label>

            <div class="col-xs-6">
                <span data-ng-bind="forms.partnerTrading.disallowable_other_expenses_including_partnership_charges | currency : '&pound;'"></span>
            </div>
        </div>

        <div class="row">
            <label class="control-label col-xs-6">Total disallowable expenses</label>

            <div class="col-xs-6">
                <span data-ng-bind="forms.partnerTrading.total_disallowable_expenses | currency : '&pound;'"></span>
            </div>
        </div>

        <div class="row">
            <label class="control-label col-xs-6">Net profit/(loss)</label>

            <div class="col-xs-6">
                <span data-ng-bind="forms.partnerTrading.net_profit_loss | currency : '&pound;'"></span>
            </div>
        </div>

        <div class="row">
            <label class="control-label col-xs-6">Annual Investment Allowance</label>

            <div class="col-xs-6">
                <span data-ng-bind="forms.partnerTrading.annual_investment_allowance | currency : '&pound;'"></span>
            </div>
        </div>

        <div class="row">
            <label class="control-label col-xs-6">Capital allowances on cars costing more than £12,000</label>

            <div class="col-xs-6">
                <span data-ng-bind="forms.partnerTrading.capital_allowances_on_cars_costing_more_than_12000 | currency : '&pound;'"></span>
            </div>
        </div>

        <div class="row">
            <label class="control-label col-xs-6">Capital allowances at 18%</label>

            <div class="col-xs-6">
                <span data-ng-bind="forms.partnerTrading.capital_allowances_at_18 | currency : '&pound;'"></span>
            </div>
        </div>

        <div class="row">
            <label class="control-label col-xs-6">Capital allowances at 8%</label>

            <div class="col-xs-6">
                <span data-ng-bind="forms.partnerTrading.capital_allowances_at_8 | currency : '&pound;'"></span>
            </div>
        </div>

        <div class="row">
            <label class="control-label col-xs-6">Agricultural or Industrial Buildings Allowance</label>

            <div class="col-xs-6">
                <span data-ng-bind="forms.partnerTrading.agricultural_or_industrial_buildings_allowance | currency : '&pound;'"></span>
            </div>
        </div>

        <div class="row">
            <label class="control-label col-xs-6">Business Premises Renovation Allowance</label>

            <div class="col-xs-6">
                <span data-ng-bind="forms.partnerTrading.business_premises_renovation_allowance | currency : '&pound;'"></span>
            </div>
        </div>

        <div class="row">
            <label class="control-label col-xs-6">100% and other enhanced capital allowances</label>

            <div class="col-xs-6">
                <span data-ng-bind="forms.partnerTrading['100_and_other_enhanced_capital_allowances'] | currency : '&pound;'"></span>
            </div>
        </div>

        <div class="row">
            <label class="control-label col-xs-6">Total capital allowances</label>

            <div class="col-xs-6">
                <span data-ng-bind="forms.partnerTrading.total_capital_allowances | currency : '&pound;'"></span>
            </div>
        </div>

        <div class="row">
            <label class="control-label col-xs-6">Goods etc. taken for personal use and other adjustments</label>

            <div class="col-xs-6">
                <span data-ng-bind="forms.partnerTrading.goods_etc_taken_for_personal_use_and_other_adjustments | currency : '&pound;'"></span>
            </div>
        </div>

        <div class="row">
            <label class="control-label col-xs-6">Total additions</label>

            <div class="col-xs-6">
                <span data-ng-bind="forms.partnerTrading.total_additions | currency : '&pound;'"></span>
            </div>
        </div>

        <div class="row">
            <label class="control-label col-xs-6">Deductions from profit</label>

            <div class="col-xs-6">
                <span data-ng-bind="forms.partnerTrading.deductions_from_profit | currency : '&pound;'"></span>
            </div>
        </div>

        <div class="row">
            <label class="control-label col-xs-6">Total deductions</label>

            <div class="col-xs-6">
                <span data-ng-bind="forms.partnerTrading.total_deductions | currency : '&pound;'"></span>
            </div>
        </div>

        <div class="row">
            <label class="control-label col-xs-6">Net taxable profit/(allowable loss)</label>

            <div class="col-xs-6">
                <span data-ng-bind="forms.partnerTrading.net_taxable_profit_allowable_loss | currency : '&pound;'"></span>
            </div>
        </div>

        <div class="row">
            <label class="control-label col-xs-6">Adjustment on change of basis</label>

            <div class="col-xs-6">
                <span data-ng-bind="forms.partnerTrading.adjustment_on_change_of_basis | currency : '&pound;'"></span>
            </div>
        </div>

        <div class="row">
            <label class="control-label col-xs-6">Construction industry deductions from contractors</label>

            <div class="col-xs-6">
                <span data-ng-bind="forms.partnerTrading.construction_industry_deductions_from_contractors | currency : '&pound;'"></span>
            </div>
        </div>

        <div class="row">
            <label class="control-label col-xs-6">Tax taken off trading income</label>

            <div class="col-xs-6">
                <span data-ng-bind="forms.partnerTrading.tax_taken_off_trading_income | currency : '&pound;'"></span>
            </div>
        </div>

        <div class="row">
            <label class="control-label col-xs-6">Net partnership charges for tax year</label>

            <div class="col-xs-6">
                <span data-ng-bind="forms.partnerTrading.net_partnership_charges_for_taxyear | currency : '&pound;'"></span>
            </div>
        </div>

        <div class="row">
            <label class="control-label col-xs-6">Equipment, machinery and vehicle</label>

            <div class="col-xs-6">
                <span data-ng-bind="forms.partnerTrading.equipment_machinery_and_vehicle | currency : '&pound;'"></span>
            </div>
        </div>

        <div class="row">
            <label class="control-label col-xs-6">Other fixed assets</label>

            <div class="col-xs-6">
                <span data-ng-bind="forms.partnerTrading.other_fixed_assets | currency : '&pound;'"></span>
            </div>
        </div>

        <div class="row">
            <label class="control-label col-xs-6">Stock and work in progress</label>

            <div class="col-xs-6">
                <span data-ng-bind="forms.partnerTrading.stock_and_work_in_progress | currency : '&pound;'"></span>
            </div>
        </div>

        <div class="row">
            <label class="control-label col-xs-6">Trade debtors</label>

            <div class="col-xs-6">
                <span data-ng-bind="forms.partnerTrading.trade_debtors | currency : '&pound;'"></span>
            </div>
        </div>

        <div class="row">
            <label class="control-label col-xs-6">Bank/building society balances</label>

            <div class="col-xs-6">
                <span data-ng-bind="forms.partnerTrading.bank_building_society_balances | currency : '&pound;'"></span>
            </div>
        </div>

        <div class="row">
            <label class="control-label col-xs-6">Cash in hand</label>

            <div class="col-xs-6">
                <span data-ng-bind="forms.partnerTrading.cash_in_hand | currency : '&pound;'"></span>
            </div>
        </div>

        <div class="row">
            <label class="control-label col-xs-6">Total assets</label>

            <div class="col-xs-6">
                <span data-ng-bind="forms.partnerTrading.total_assets | currency : '&pound;'"></span>
            </div>
        </div>

        <div class="row">
            <label class="control-label col-xs-6">Trade creditors</label>

            <div class="col-xs-6">
                <span data-ng-bind="forms.partnerTrading.trade_creditors | currency : '&pound;'"></span>
            </div>
        </div>

        <div class="row">
            <label class="control-label col-xs-6">Loans and overdrafts</label>

            <div class="col-xs-6">
                <span data-ng-bind="forms.partnerTrading.loans_and_overdrafts | currency : '&pound;'"></span>
            </div>
        </div>

        <div class="row">
            <label class="control-label col-xs-6">Other liabilities and accruals</label>

            <div class="col-xs-6">
                <span data-ng-bind="forms.partnerTrading.other_liabilities_and_accruals | currency : '&pound;'"></span>
            </div>
        </div>

        <div class="row">
            <label class="control-label col-xs-6">Total liabilities</label>

            <div class="col-xs-6">
                <span data-ng-bind="forms.partnerTrading.total_liabilities | currency : '&pound;'"></span>
            </div>
        </div>

        <div class="row">
            <label class="control-label col-xs-6">Net business assets</label>

            <div class="col-xs-6">
                <span data-ng-bind="forms.partnerTrading.net_business_assets | currency : '&pound;'"></span>
            </div>
        </div>

        <div class="row">
            <label class="control-label col-xs-6">Balance at start of period</label>

            <div class="col-xs-6">
                <span data-ng-bind="forms.partnerTrading.balance_at_start_of_period | currency : '&pound;'"></span>
            </div>
        </div>

        <div class="row">
            <label class="control-label col-xs-6">Net profit or loss</label>

            <div class="col-xs-6">
                <span data-ng-bind="forms.partnerTrading.net_profit_or_loss | currency : '&pound;'"></span>
            </div>
        </div>

        <div class="row">
            <label class="control-label col-xs-6">Capital introduced</label>

            <div class="col-xs-6">
                <span data-ng-bind="forms.partnerTrading.capital_introduced | currency : '&pound;'"></span>
            </div>
        </div>

        <div class="row">
            <label class="control-label col-xs-6">Drawings</label>

            <div class="col-xs-6">
                <span data-ng-bind="forms.partnerTrading.drawings | currency : '&pound;'"></span>
            </div>
        </div>

        <div class="row">
            <label class="control-label col-xs-6">Balance at end of period</label>

            <div class="col-xs-6">
                <span data-ng-bind="forms.partnerTrading.balance_at_end_of_period | currency : '&pound;'"></span>
            </div>
        </div>

        <div class="row">
            <label class="control-label col-xs-6">Additional information</label>

            <div class="col-xs-6">
                <span data-ng-bind="forms.partnerTrading.additional_information | currency : '&pound;'"></span>
            </div>
        </div>
    </div>
</div>
<hr/>