<div class="modal-section-capital_gain" data-ng-init="init()">
  <div class="modal-header bg-primary">
    <h4 class="h4">Capital Gain</h4>
    <span class="close" data-ng-click="actions.cancel()"></span>
  </div>

  <div class="modal-body">
    <form name="form" class="form-validation form-horizontal" novalidate>
      <div class="form-group">
        <label for="input-3" class="col-sm-4">
          Total Gains In The Year
        </label>

        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input-3"
                   name="input-3" class="form-control"
                   filtered-input="number"
                   data-ng-model="capitalGain.CGT3"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="input-4" class="col-sm-4">
          Total ER Gains In The Year
        </label>

        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input-4" name="input-4" class="form-control"
                   filtered-input="number"
                   data-ng-model="capitalGain.CGT4"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="input-5" class="col-sm-4">
          Gains invested under Seed EIS and qualifying for exemption
        </label>

        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input-5" name="input-5" class="form-control"
                   filtered-input="number"
                   data-ng-model="capitalGain.CGT5"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="input-6" class="col-sm-4">
          Total losses for the year
        </label>

        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input-6" name="input-6" class="form-control"
                   filtered-input="number"
                   data-ng-model="capitalGain.CGT6"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="input-7" class="col-sm-4">
          Losses brought forward and used in the year
        </label>

        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input-7" name="input-7" class="form-control"
                   filtered-input="number"
                   data-ng-model="capitalGain.CGT7"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="input-8" class="col-sm-4">
          Adjustments to Capital Gains Tax
        </label>

        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input-8" name="input-8" class="form-control"
                   filtered-input="number"
                   data-ng-model="capitalGain.CGT8"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="input-9" class="col-sm-4">
          Non resident/dual resident trust liability
        </label>

        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input-9" name="input-9" class="form-control"
                   filtered-input="number"
                   data-ng-model="capitalGain.CGT9"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="input-10" class="col-sm-4">
          Losses to be carried forward
        </label>

        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input-10" name="input-10" class="form-control"
                   filtered-input="number"
                   data-ng-model="capitalGain.CGT10"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="input-11" class="col-sm-4">
          Losses used against earlier year's gain
        </label>

        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input-11" name="input-11" class="form-control"
                   filtered-input="number"
                   data-ng-model="capitalGain.CGT11"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="input-12" class="col-sm-4">
          Losses used against current year income
        </label>

        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input-12" name="input-12" class="form-control"
                   filtered-input="number"
                   data-ng-model="capitalGain.CGT12"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="input-13" class="col-sm-4">
          Uncapped losses used against current year income
        </label>

        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input-13" name="input-13" class="form-control"
                   filtered-input="number"
                   data-ng-model="capitalGain.CGT13"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="input-14" class="col-sm-4">
          Losses used against previous year income
        </label>

        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input-14" name="input-14" class="form-control"
                   filtered-input="number"
                   data-ng-model="capitalGain.CGT14"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="input-15" class="col-sm-4">
          Uncapped losses used against previous year income
        </label>

        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input-15" name="input-15" class="form-control"
                   filtered-input="number"
                   data-ng-model="capitalGain.CGT15"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="input-16" class="col-sm-4">
          Income losses of the year set against gains
        </label>

        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input-16" name="input-16" class="form-control"
                   filtered-input="number"
                   data-ng-model="capitalGain.CGT16"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="input-17" class="col-sm-4">
          Amount Of Entrepreneurs Relief Claimed On Deferred Gains From Before 23June2010
        </label>

        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input-17" name="input-17" class="form-control"
                   filtered-input="number"
                   data-ng-model="capitalGain.CGT17"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="input-18" class="col-sm-4">
          Quoted shares - number of disposals
        </label>

        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input-18" name="input-18" class="form-control"
                   filtered-input="number"
                   data-ng-model="capitalGain.CGT18"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="input-19" class="col-sm-4">
          Quoted shares - disposal proceeds
        </label>

        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input-19" name="input-19" class="form-control"
                   filtered-input="number"
                   data-ng-model="capitalGain.CGT19"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="input-20" class="col-sm-4">
          Quoted shares - costs and indexation
        </label>

        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input-20" name="input-20" class="form-control"
                   filtered-input="number"
                   data-ng-model="capitalGain.CGT20"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="input-21" class="col-sm-4">
          Quoted shares - gains in the year
        </label>

        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input-21" name="input-21" class="form-control"
                   filtered-input="number"
                   data-ng-model="capitalGain.CGT21"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-12">
          <!--<div class="checkbox">
            <label class="i-checks" for="input-22">
              <input type="checkbox" id="input-22"
                     data-ng-model="capitalGain.CGT22"
                     data-ng-true-value="1"
                     data-ng-false-value="0">
              <i></i>
              Quoted shares - claim or election made
            </label>
          </div>-->
          <label class="control-label">
            <checkbox ng-model="capitalGain.CGT22"></checkbox>
            Quoted shares - claim or election made
          </label>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-12">
          <!--<div class="checkbox">
            <label class="i-checks" for="input-23">
              <input type="checkbox" id="input-23"
                     data-ng-model="capitalGain.CGT23"
                     data-ng-true-value="1"
                     data-ng-false-value="0">
              <i></i>
              Quoted shares - estimate or valuation
            </label>
          </div>-->
          <label class="control-label">
            <checkbox ng-model="capitalGain.CGT23"></checkbox>
            Quoted shares - estimate or valuation
          </label>
        </div>
      </div>

      <div class="form-group">
        <label for="input-24" class="col-sm-4">
          Unquoted shares - number of disposals
        </label>

        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input-24" name="input-24" class="form-control"
                   filtered-input="number"
                   data-ng-model="capitalGain.CGT24"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="input-25" class="col-sm-4">
          Unquoted shares - disposal proceeds
        </label>

        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input-25" name="input-25" class="form-control"
                   filtered-input="number"
                   data-ng-model="capitalGain.CGT25"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="input-26" class="col-sm-4">
          Unquoted shares - costs and indexation
        </label>

        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input-26" name="input-26" class="form-control"
                   filtered-input="number"
                   data-ng-model="capitalGain.CGT26"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="input-27" class="col-sm-4">
          Unquoted shares - gains in the year
        </label>

        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input-27" name="input-27" class="form-control"
                   filtered-input="number"
                   data-ng-model="capitalGain.CGT27"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-12">
          <!--<div class="checkbox">
            <label class="i-checks" for="input-28">
              <input type="checkbox" id="input-28"
                     data-ng-model="capitalGain.CGT28"
                     data-ng-true-value="1"
                     data-ng-false-value="0">
              <i></i>
              Unquoted shares - claim or election made
            </label>
          </div>-->
          <label class="control-label">
            <checkbox ng-model="capitalGain.CGT28"></checkbox>
            Unquoted shares - claim or election made
          </label>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-12">
          <!--<div class="checkbox">
            <label class="i-checks" for="input-29">
              <input type="checkbox" id="input-29"
                     data-ng-model="capitalGain.CGT29"
                     data-ng-true-value="1"
                     data-ng-false-value="0">
              <i></i>
              Unquoted shares - estimate or valuation
            </label>
          </div>-->
          <label class="control-label">
            <checkbox ng-model="capitalGain.CGT29"></checkbox>
            Unquoted shares - estimate or valuation
          </label>
        </div>
      </div>

      <div class="form-group">
        <label for="input-30" class="col-sm-4">
          Property etc. - number of disposals
        </label>

        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input-30" name="input-30" class="form-control"
                   filtered-input="number"
                   data-ng-model="capitalGain.CGT30"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="input-31" class="col-sm-4">
          Property etc. - disposal proceeds
        </label>

        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input-31" name="input-31" class="form-control"
                   filtered-input="number"
                   data-ng-model="capitalGain.CGT31"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="input-32" class="col-sm-4">
          Property etc. - costs & indexation
        </label>

        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input-32" name="input-32" class="form-control"
                   filtered-input="number"
                   data-ng-model="capitalGain.CGT32"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="input-33" class="col-sm-4">
          Property etc. - gains in the year
        </label>

        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input-33" name="input-33" class="form-control"
                   filtered-input="number"
                   data-ng-model="capitalGain.CGT33"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="input-34" class="col-sm-4">
          Property Etc Attributed Gains
        </label>

        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input-34" name="input-34" class="form-control"
                   filtered-input="number"
                   data-ng-model="capitalGain.CGT34"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-12">
          <!--<div class="checkbox">
            <label class="i-checks" for="input-35">
              <input type="checkbox" id="input-35"
                     data-ng-model="capitalGain.CGT35"
                     data-ng-true-value="1"
                     data-ng-false-value="0">
              <i></i>
              Check here if you meet the third automatic overseas test (NRD8a)
            </label>
          </div>-->
          <label class="control-label">
            <checkbox ng-model="capitalGain.CGT35"></checkbox>
            Check here if you meet the third automatic overseas test (NRD8a)
          </label>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-12">
          <!--<div class="checkbox">
            <label class="i-checks" for="input-36">
              <input type="checkbox" id="input-36"
                     data-ng-model="capitalGain.CGT36"
                     data-ng-true-value="1"
                     data-ng-false-value="0">
              <i></i>
              Tick box if estimate or valuation used
            </label>
          </div>-->
          <label class="control-label">
            <checkbox ng-model="capitalGain.CGT36"></checkbox>
            Tick box if estimate or valuation used
          </label>
        </div>
      </div>

      <div class="form-group">
        <label for="input-37" class="col-sm-4">
          Any other capitalGainrmation space
        </label>

        <div class="col-sm-8">
          <input type="text" id="input-37" name="input-37" class="form-control"
                 filtered-input="number"
                 data-ng-model="capitalGain.CGT37"/>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-12">
          <button class="btn btn-primary btn-sm pull-right"
                  data-ng-disabled="form.$invalid"
                  data-ng-click="actions.save(form.$valid)">
            Save
          </button>
        </div>
      </div>
    </form>
  </div>
</div>