<div class="modal-trading-professional" data-ng-init="init()">
    <div class="modal-header bg-primary">
        <h4 class="h4">Other Information</h4>
            <span class="close" data-ng-click="actions.cancel()"></span>
    </div>

    <div class="modal-body">
        <form name="form" class="form-horizontal form-validation" novalidate>
            <div class="form-group">
                <div class="col-sm-12">
                    <div class="checkbox">
                        <label class="i-checks" for="account_details_are_not_required_1">
                            <input type="checkbox" id="account_details_are_not_required_1"
                                   data-ng-model="otherInformation.POI7"
                                   data-ng-true-value="1"
                                   data-ng-false-value="0">
                            <i></i>
                            Did the partnership receive any other income which you have not already included
                            elsewhere in the Partnership Tax Return?
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-4">
                    Amount after tax taken off</label>

                <div class="col-sm-8">
                    <div class="input-group">
                        <span class="input-group-addon">&pound;</span>
                        <input type="text" id="turnover" name="turnover" class="form-control"
                               data-ng-focus data-ng-blur filtered-input="number"
                               placeholder="Amount after tax taken off"
                               data-ng-model="otherInformation.POI7_7"/>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-4" for="cost_of_sales">Tax taken off</label>

                <div class="col-sm-8">
                    <div class="input-group">
                        <span class="input-group-addon">&pound;</span>
                        <input type="text" id="cost_of_sales" name="cost_of_sales" class="form-control"
                               data-ng-focus data-ng-blur filtered-input="number"
                               placeholder="Tax taken off"
                               data-ng-model="otherInformation.POI7_8"/>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-4" for="construction_industry_subcontractor_costs">
                    Gross amount before tax
                </label>

                <div class="col-sm-8">
                    <div class="input-group">
                        <span class="input-group-addon">&pound;</span>
                        <input type="text" id="construction_industry_subcontractor_costs"
                               name="construction_industry_subcontractor_costs" class="form-control"
                               data-ng-focus data-ng-blur filtered-input="number"
                               placeholder="Gross amount before tax"
                               data-ng-model="otherInformation.POI7_9"/>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-12">
                    <div class="checkbox">
                        <label class="i-checks" for="POI8">
                            <input type="checkbox" id="POI8"
                                   data-ng-model="otherInformation.POI8"
                                   data-ng-true-value="1"
                                   data-ng-false-value="0">
                            <i></i>
                            Are the details on the front of the Partnership Tax Return wrong?
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-4" for="other_direct_costs">
                    Your phone number
                </label>

                <div class="col-sm-8">
                    <div class="input-group">
                        <span class="input-group-addon glyphicon glyphicon-earphone"
                              style="top: 0px;"></span>
                        <input type="text" id="other_direct_costs" name="other_direct_costs"
                               class="form-control"
                               placeholder="Your phone number" filtered-input="telephone"
                               data-ng-model="otherInformation.POI9_1"/>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-4" for="gross_profit_loss">
                    or, if you prefer, your adviser's phone number</label>

                <div class="col-sm-8">
                    <div class="input-group">
                        <span class="input-group-addon glyphicon glyphicon-earphone"
                              style="top: 0px;"></span>
                        <input type="text" id="gross_profit_loss" name="gross_profit_loss" class="form-control"
                               placeholder="or, if you prefer, your adviser's phone number"
                               filtered-input="telephone"
                               data-ng-model="otherInformation.POI9_2"/>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-4" for="other_income_profits">
                    Your adviser's name
                </label>

                <div class="col-sm-8">
                    <div class="input-group">
                        <input type="text" id="other_income_profits"
                               name="other_income_profits"
                               class="form-control"
                               placeholder="Your adviser's name"
                               data-ng-model="otherInformation.POI9_3"/>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-4" for="POI9_4">
                    Your adviser's address line 1
                </label>

                <div class="col-sm-8">
                    <div class="input-group">
                        <input type="text" id="POI9_4"
                               name="other_income_profits"
                               class="form-control"
                               placeholder="Your adviser's address line 1"
                               data-ng-model="otherInformation.POI9_4"/>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-4" for="POI9_5">
                    Your adviser's address line 2
                </label>

                <div class="col-sm-8">
                    <div class="input-group">
                        <input type="text" id="POI9_5"
                               name="other_income_profits"
                               class="form-control"
                               placeholder="Your adviser's address line 2"
                               data-ng-model="otherInformation.POI9_5"/>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-4" for="POI9_6">
                    Your adviser's postcode
                </label>

                <div class="col-sm-8">
                    <div class="input-group">
                        <input type="text" id="POI9_6"
                               name="other_income_profits"
                               class="form-control"
                               placeholder="Your adviser's postcode"
                               data-ng-model="otherInformation.POI9_6"/>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-12">
                    <div class="col-sm-9 col-sm-offset-3">
                        <div class="checkbox">
                            <label class="i-checks" for="POI10_1">
                                <input type="checkbox" id="POI10_1"
                                       data-ng-model="otherInformation.POI10_1"
                                       data-ng-true-value="1"
                                       data-ng-false-value="0">
                                <i></i>
                                Please tick box 10.1 if this Partnership Tax Return contains figures that are
                                provisional because you do not yet have final figures. The Partnership Tax Return Guide
                                explains the circumstances in which provisional figures may be used and asks you to
                                provide some additional information in box
                            </label>
                        </div>
                    </div>

                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-4" for="premises_costs">
                    Disclosure of tax avoidance schemes
                </label>

                <div class="col-sm-8">
                    <div class="input-group">
                        <input type="text" id="premises_costs" name="premises_costs" class="form-control"
                               placeholder="Disclosure of tax avoidance schemes"
                               data-ng-model="otherInformation.POI10_2"/>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-4" for="repairs">
                    Tax year in which the expected advantage to the partners arises – year ended 5 April
                </label>

                <div class="col-sm-8">
                    <div class="input-group">
                        <input type="text" id="repairs" name="repairs" class="form-control"
                               placeholder="Repairs"
                               data-ng-model="otherInformation.POI10_3"/>
                    </div>
                </div>
            </div>


            <div class="form-group">
                <label class="col-sm-4" for="general_administrative_expenses">
                    Capital allowance
                </label>

                <div class="col-sm-8">
                    <div class="input-group">
                        <span class="input-group-addon">&pound;</span>
                        <input type="text" id="general_administrative_expenses"
                               name="general_administrative_expenses" class="form-control"
                               data-ng-focus data-ng-blur filtered-input="number"
                               placeholder="Capital allowance"
                               data-ng-model="otherInformation.POI10_4"/>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-4" for="motor_expenses">Balancing charge</label>

                <div class="col-sm-8">
                    <div class="input-group">
                        <span class="input-group-addon">&pound;</span>
                        <input type="text" id="motor_expenses" name="motor_expenses" class="form-control"
                               data-ng-focus data-ng-blur filtered-input="number"
                               placeholder="Balancing charge"
                               data-ng-model="otherInformation.POI10_5"/>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-12">
                    <button class="btn btn-primary btn-sm pull-right"
                            data-ng-disabled="form.$invalid"
                            data-ng-click="actions.save(form.$valid)">Save
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>