<div class="col-sm-12 m-b-lg m-t">
  <div class="btn-group">
    <button class="btn btn-primary btn-sm w-xs"
            data-ng-click="actions.previous()">
      <i class="fa fa-arrow-left" aria-hidden="true"></i>
      Back
    </button>
  </div>

  <div class="btn-group pull-right">
    <button class="btn btn-primary btn-sm w-xs"
            data-ng-disabled="step===6 && !isPayment"
            data-ng-click="actions.next()">
      <i class="fa fa-arrow-right" aria-hidden="true"></i>
      <span data-ng-show="step<6">Continue</span>
      <span data-ng-show="step===6">Finish</span>
    </button>
  </div>
</div>