<div class="modal-section-uk-income" data-ng-init="init()">
  <div class="modal-header bg-primary">
    <h4 class="h4">Interest from gilt-edged and other UK securities</h4>
    <span class="close" data-ng-click="actions.cancel()"></span>
  </div>

  <div class="modal-body">
    <form name="form" class="form-horizontal form-validation" novalidate>
      <div class="form-group">
        <label for="input-1" class="col-sm-6">
          Gilt etc. interest after tax taken off
        </label>

        <div class="col-sm-6">
          <div class="input-group">
            <span class="input-group-addon currency">&pound;</span>
            <input type="text" id="input-1" name="input-1" class="form-control"
                   data-ng-focus data-ng-blur filtered-input="number"
                   data-ng-model="info.AOI1"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="input-2" class="col-sm-6">
          Tax taken off
        </label>

        <div class="col-sm-6">
          <div class="input-group">
            <span class="input-group-addon currency">&pound;</span>
            <input type="text" id="input-2" name="input-2" class="form-control"
                   data-ng-focus data-ng-blur filtered-input="number"
                   data-ng-model="info.AOI2"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="input-3" class="col-sm-6">
          Gross amount before tax
        </label>

        <div class="col-sm-6">
          <div class="input-group">
            <span class="input-group-addon currency">&pound;</span>
            <input type="text" id="input-3" name="input-3" class="form-control"
                   data-ng-focus data-ng-blur filtered-input="number"
                   data-ng-model="info.AOI3"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-12">
          <button class="btn btn-primary btn-sm pull-right" type="submit"
                  data-ng-disabled="form.$invalid"
                  data-ng-click="actions.save(form.$valid)">Save
          </button>
        </div>
      </div>
    </form>
  </div>
</div>