<div class="modal-trading-professional" data-ng-init="init()">
  <div class="modal-header bg-primary">
    <h4 class="h4">Partnership Uk Property</h4>
    <span class="close" data-ng-click="actions.cancel()"></span>
  </div>

  <div class="modal-body">
    <form name="form" class="form-horizontal form-validation" novalidate>
      <div class="form-group">
        <label class="text-left col-sm-4" for="input1">Name</label>

        <div class="col-sm-8">
          <input type="text" id="input1" name="input1" class="form-control"
                 placeholder="Name" data-ng-model="ukProperty.name"/>
        </div>
      </div>

      <div class="form-group">
        <label class="text-left col-sm-4" for="input2">Tax reference</label>

        <div class="col-sm-8">
          <input type="text" id="input2" name="premises_costs" class="form-control"
                 placeholder="Tax reference" data-ng-model="ukProperty.tax_reference"/>
        </div>
      </div>

      <div class="form-group">
        <label class="text-left col-sm-4" for="input3">Return period begins</label>

        <div class="col-sm-8">
          <input type="text" id="input3" name="date" class="form-control"
                 data-datepicker-popup="{{dateFormat}}"
                 data-datepicker-options="dateOptions"
                 data-is-open="openrpb"
                 data-ng-click="actions.openRPB()"
                 data-ng-model="ukProperty.return_period_begin"/>
        </div>
      </div>

      <div class="form-group">
        <label class="text-left col-sm-4" for="input4">Return period end</label>

        <div class="col-sm-8">
          <input type="text" id="input4" name="date" class="form-control"
                 data-datepicker-popup="{{dateFormat}}"
                 data-datepicker-options="dateOptions"
                 data-is-open="openrpe"
                 data-ng-click="actions.openRPE()"
                 data-ng-model="ukProperty.return_period_end"/>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-12">
          <div class="checkbox">
            <label class="i-checks" for="input-5">
              <input type="checkbox" id="input-5"
                     data-ng-model="ukProperty.partnership_income_from_furnished_holiday_letting"
                     data-ng-true-value="1"
                     data-ng-false-value="0">
              <i></i>
              Is the partnership income from furnished holiday lettings?
            </label>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-12">
          <h5 class="font-bold">
            Furnished holiday lettings in the UK or European Economic Area (EEA)
          </h5>
        </div>
      </div>

      <div class="form-group">
        <label class="text-left col-sm-4" for="input6">
          Income from furnished holiday lettings [1]
        </label>

        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input6" name="input6" class="form-control"
                   data-ng-focus data-ng-blur filtered-input="number"
                   data-ng-model="ukProperty.income_from_furnished_holiday_letting"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="text-left col-sm-4"
               for="input7">Rent, rates, insurance, ground rents, etc [2]</label>
        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input7" name="input7" class="form-control"
                   data-ng-focus data-ng-blur filtered-input="number"
                   data-ng-model="ukProperty.rent_rates_insurance_ground_rents_etc_1"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="text-left col-sm-4"
               for="input8">Repairs and maintenance [3]</label>
        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input8" name="input8" class="form-control"
                   data-ng-focus data-ng-blur filtered-input="number"
                   data-ng-model="ukProperty.repairs_and_maintenance_1"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="text-left col-sm-4"
               for="input9">Finance charges, including interest [4]</label>
        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input9" name="input9" class="form-control"
                   data-ng-focus data-ng-blur filtered-input="number"
                   data-ng-model="ukProperty.finance_charges_including_interest_1"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="text-left col-sm-4"
               for="input10">Legal and professional costs [5]</label>
        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input10" name="input10" class="form-control"
                   data-ng-focus data-ng-blur filtered-input="number"
                   data-ng-model="ukProperty.legal_and_professional_cost_1"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="text-left col-sm-4"
               for="input11">Cost of services provided, including wages [6]</label>
        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input11" name="input11" class="form-control"
                   data-ng-focus data-ng-blur filtered-input="number"
                   data-ng-model="ukProperty.cost_of_services_provided_including_wages_1"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="text-left col-sm-4" for="input12">Other expenses [7]</label>
        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input12" name="input12" class="form-control"
                   data-ng-focus data-ng-blur filtered-input="number"
                   data-ng-model="ukProperty.other_expenses_1"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="text-left col-sm-4"
               for="input13">Total Expenses (for [2] to [7]) - [8]</label>
        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input13" name="input13" class="form-control"
                   data-ng-focus data-ng-blur filtered-input="number"
                   data-ng-model="ukProperty.total_expense_2"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="text-left col-sm-4" for="input14">
          Net profit (put figures in brackets if a loss) ([1] to [8]) - [9]
        </label>
        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input14" name="input14" class="form-control"
                   data-ng-focus data-ng-blur filtered-input="number"
                   data-ng-model="ukProperty.net_profit_1"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="text-left col-sm-4" for="input15">Private use [10]</label>

        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input15" name="input15" class="form-control"
                   data-ng-focus data-ng-blur filtered-input="number"
                   data-ng-model="ukProperty.private_use_1"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="text-left col-sm-4" for="input16">Balancing charges [11]</label>

        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input16" name="input16" class="form-control"
                   data-ng-focus data-ng-blur filtered-input="number"
                   data-ng-model="ukProperty.balancing_charges_1"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="text-left col-sm-4" for="input17">
          Total ([10] + [11]) - [12]
        </label>

        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input17" name="input17" class="form-control"
                   data-ng-focus data-ng-blur filtered-input="number"
                   data-ng-model="ukProperty.total_private_use_balancing_charge_1"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="text-left col-sm-4" for="input18">
          Capital allowances [13]
        </label>
        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input18" name="input18" class="form-control"
                   data-ng-focus data-ng-blur filtered-input="number"
                   data-ng-model="ukProperty.capital_allowances_1"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-12">
          <div class="checkbox">
            <label class="i-checks" for="input19">
              <input type="checkbox" id="input19"
                     data-ng-model="ukProperty.tick_allowance_1"
                     data-ng-true-value="1"
                     data-ng-false-value="0">
              <i></i>
              Tick box if box [13] includes enhanced capital allowances for designated environmentally
              beneficial plant and machinery
            </label>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="text-left col-sm-4" for="input20">
          Loss brought forward used against this year’s profits [14]
        </label>
        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input20" name="input20" class="form-control"
                   data-ng-focus data-ng-blur filtered-input="number"
                   data-ng-model="ukProperty.loss_brought_forward_used_against_this_year_profit"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="text-left col-sm-4" for="input21">
          Profit for the year after losses ([9] + [12] - ([13] + [14])) - [15]
        </label>

        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input21" name="input21" class="form-control"
                   data-ng-focus data-ng-blur filtered-input="number"
                   data-ng-model="ukProperty.profit_for_the_year_after_losses"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="text-left col-sm-4" for="input22">
          Loss for the year (if you have entered '0' in [15]) ([9] + [12] - [13]) - [16]</label>

        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input22" name="input22" class="form-control"
                   data-ng-focus data-ng-blur filtered-input="number"
                   data-ng-model="ukProperty.loss_for_the_year"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="text-left col-sm-4" for="input23">Total loss to carry forward</label>

        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input23" name="input23" class="form-control"
                   data-ng-focus data-ng-blur filtered-input="number"
                   data-ng-model="ukProperty.total_loss_to_carry_forward"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-12">
          <div class="checkbox">
            <label class="i-checks" for="input24">
              <input type="checkbox" id="input24"
                     data-ng-model="ukProperty.business_is_in_the_EEA"
                     data-ng-true-value="1"
                     data-ng-false-value="0">
              <i></i>
              Tick in the box if this business is in the EEA
            </label>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-12">
          <div class="checkbox">
            <label class="i-checks" for="input25">
              <input type="checkbox" id="input25"
                     data-ng-model="ukProperty.make_a_period_of_grace_election"
                     data-ng-true-value="1"
                     data-ng-false-value="0">
              <i></i>
              If you want to make a period of grace election, tick it
            </label>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-12">
          <h5 class="font-bold"> Other property income </h5>
        </div>
      </div>

      <div class="form-group">
        <label class="text-left col-sm-4" for="input26">
          Rents and other income from UK property [17]</label>

        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input26" name="input26" class="form-control"
                   data-ng-focus data-ng-blur filtered-input="number"
                   data-ng-model="ukProperty.rent_and_other_income_form_uk_property"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="text-left col-sm-4"
               for="input27">Tax deducted</label>
        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input27" name="input27" class="form-control"
                   data-ng-focus data-ng-blur filtered-input="number"
                   data-ng-model="ukProperty.tax_deducted"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="text-left col-sm-4"
               for="input28">Chargeable premiums [18]</label>
        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input28" name="input28" class="form-control"
                   data-ng-focus data-ng-blur filtered-input="number"
                   data-ng-model="ukProperty.chargeable_premium"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="text-left col-sm-4"
               for="input29">Reverse premiums [19]</label>
        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input29" name="input29" class="form-control"
                   data-ng-focus data-ng-blur filtered-input="number"
                   data-ng-model="ukProperty.reverse_premium"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="text-left col-sm-4"
               for="input30">Total income ([17] to [19]) - [20]</label>
        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input30" name="input30" class="form-control"
                   data-ng-focus data-ng-blur filtered-input="number"
                   data-ng-model="ukProperty.total_income"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="text-left col-sm-4"
               for="input31">Rent, rates, insurance, ground rents, etc. [21]</label>
        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input31" name="input31" class="form-control"
                   data-ng-focus data-ng-blur filtered-input="number"
                   data-ng-model="ukProperty.rent_rates_insurance_ground_rents_etc_2"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="text-left col-sm-4"
               for="input32">Repairs and maintenance [22]</label>
        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input32" name="input32" class="form-control"
                   data-ng-focus data-ng-blur filtered-input="number"
                   data-ng-model="ukProperty.repairs_and_maintenance_2"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="text-left col-sm-4"
               for="input33">Finance charges, including interest [23]</label>
        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input33" name="input33" class="form-control"
                   data-ng-focus data-ng-blur filtered-input="number"
                   data-ng-model="ukProperty.finance_charges_including_interest_2"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="text-left col-sm-4"
               for="input34">Legal and professional costs [24]</label>
        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input34" name="input34" class="form-control"
                   data-ng-focus data-ng-blur filtered-input="number"
                   data-ng-model="ukProperty.legal_and_professional_cost_2"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="text-left col-sm-4"
               for="input35">Cost of services provided, including wages [25]</label>
        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input35" name="input35" class="form-control"
                   data-ng-focus data-ng-blur filtered-input="number"
                   data-ng-model="ukProperty.cost_of_services_provided_including_wages_2"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="text-left col-sm-4"
               for="input36">Other expenses [26]</label>
        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input36" name="input36" class="form-control"
                   data-ng-focus data-ng-blur filtered-input="number"
                   data-ng-model="ukProperty.other_expenses_2"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="text-left col-sm-4"
               for="input37">total ([21] to [26]) - [27]</label>
        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input37" name="input37" class="form-control"
                   data-ng-focus data-ng-blur filtered-input="number"
                   data-ng-model="ukProperty.total_expense"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="text-left col-sm-4" for="input38">
          Net profit (put figures in brackets if a loss) ([20] to [27]) - [28]</label>

        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input38" name="input38" class="form-control"
                   data-ng-focus data-ng-blur filtered-input="number"
                   data-ng-model="ukProperty.net_profit_2"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="text-left col-sm-4"
               for="input39">Private use [29]</label>
        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input39" name="input39" class="form-control"
                   data-ng-focus data-ng-blur filtered-input="number"
                   data-ng-model="ukProperty.private_use_2"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="text-left col-sm-4"
               for="input40">Balancing charges [30]</label>
        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input40" name="input40" class="form-control"
                   data-ng-focus data-ng-blur filtered-input="number"
                   data-ng-model="ukProperty.balancing_charges_2"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="text-left col-sm-4"
               for="input41">Total ([29] + [30]) - [31]</label>
        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input41" name="input41" class="form-control"
                   data-ng-focus data-ng-blur filtered-input="number"
                   data-ng-model="ukProperty.total_private_use_balancing_charge_2"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="text-left col-sm-4"
               for="input42">Annual Investment Allowance [32]</label>
        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input42" name="input42" class="form-control"
                   data-ng-focus data-ng-blur filtered-input="number"
                   data-ng-model="ukProperty.annual_investment_allowance"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="text-left col-sm-4"
               for="input43">All other capital allowances [33]</label>
        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input43" name="input43" class="form-control"
                   data-ng-focus data-ng-blur filtered-input="number"
                   data-ng-model="ukProperty.all_other_capital_allowance"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-12">
          <div class="checkbox">
            <label class="i-checks" for="input44">
              <input type="checkbox" id="input44"
                     data-ng-model="ukProperty.tick_allowance_2"
                     data-ng-true-value="1"
                     data-ng-false-value="0">
              <i></i>
              Tick box if [33] includes enhanced capital allowances for designated environmentally
              beneficial plant and machinery
            </label>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="text-left col-sm-4"
               for="input45">Landlord's energy saving allowance [34]</label>
        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input45" name="input45" class="form-control"
                   data-ng-focus data-ng-blur filtered-input="number"
                   data-ng-model="ukProperty.landlord_energy_saving_allowance"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="text-left col-sm-4"
               for="input46">10% wear and tear [35]</label>
        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input46" name="input46" class="form-control"
                   data-ng-focus data-ng-blur filtered-input="number"
                   data-ng-model="ukProperty.wear_and_tear"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="text-left col-sm-4"
               for="input47">Total ([32] to [35]) - [36]</label>
        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input47" name="input47" class="form-control"
                   data-ng-focus data-ng-blur filtered-input="number"
                   data-ng-model="ukProperty.total_allowance"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="text-left col-sm-4" for="input48">
          Profit or loss for return period (put figures in brackets if a loss) ([28] + [31] - [36])
        </label>

        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input48" name="input48" class="form-control"
                   data-ng-focus data-ng-blur filtered-input="number"
                   data-ng-model="ukProperty.profit_or_loss_for_return_period"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-12">
          <button class="btn btn-primary btn-sm pull-right"
                  data-ng-disabled="form.$invalids"
                  data-ng-click="actions.save(form.$valid)">Save
          </button>
        </div>
      </div>
    </form>
  </div>
</div>