<div class="modal-body">
  <p class="text-md">Are you sure to want to delete this ?</p>

  <div class="row">
    <div class="col-md-12 text-center">
      <button type="submit" class="btn btn-primary btn-sm pull-right m-l-sm w-xxs"
              data-ng-click="ok()">Yes
      </button>
      <button type="button" class="btn btn-default btn-sm pull-right m-l-sm w-xxs"
              data-ng-click="cancel()">No
      </button>
    </div>
  </div>
</div>
