<div class="step-payment-n-file" data-ng-init="init()">
  <h4>Step 6 - Payment and file</h4>

  <!-- Charge & show Plan -->
  <div class="row" data-ng-if="!isPayment">
    <div class="col-md-4" data-ng-repeat="plan in plans">
      <div class="panel b-a">
        <div class="panel-heading wrapper-xs bg-primary no-border"></div>
        <div class="wrapper text-center">
          <h4 class="text-u-c m-b-none">{{ plan.name }}</h4>

          <h2 class="m-t-none">
            <sup class="pos-rlt" style="top:-22px">&pound;</sup>
            <span class="text-2x text-lt">{{ plan.price }}</span>
            <span class="text-xs">{{plan.per}}</span>
          </h2>
        </div>
        <ul class="list-group no-borders" style="min-height: 274px;">
          <li class="list-group-item" data-ng-repeat="description in plan.list_descriptions">
            <i class="icon-check text-success m-r-xs"></i> {{ description }}
          </li>
        </ul>
        <div class="panel-footer text-center">
          <a href="" class="btn btn-primary btn-sm font-bold m"
             data-ng-click="plan.event()">Pay Now!</a>
        </div>
      </div>
    </div>
  </div>

  <!--File Tax return : Status 1 -->
  <div class="row" data-ng-show="isPayment && taxReturn.status == '1'">
    <div class="col-md-12">
      <h5>This Tax Return has been validated successfully and can now be prepared for filing.</h5>

      <p>The preparation process will:</p>

      <ul>
        <li>Lock the Tax Return to prevent further changes</li>
        <li>Generate the digital IRmark for inclusion on the Tax Return</li>
      </ul>

      <p>The Tax Return will then be ready for e-filing to HMRC.</p>
    </div>

    <div class="col-md-12" style="margin-top: 15px">
      <button class="btn btn-primary btn-sm" data-ng-click="filing()">File now</button>
    </div>

    <div class="col-md-12" style="margin-top: 15px">
      <p data-ng-show="pollResponse">Your tax return has been transmitted to HMRC. It may take a while to get a
        response from HMRC.</p>
    </div>

    <div class="col-md-12" style="margin-top: 15px;">
            <pre data-ng-show="pollResponse">
                {{ pollResponse }}
            </pre>
    </div>
  </div>

  <!--File Tax return : Status 2 -->
  <div class="row status-success" data-ng-show="isPayment && taxReturn.status == '2'">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-12">
          <h4>
            <span>Self Assessment</span>
            <span data-ng-bind="taxYear.description"></span>
          </h4>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <label class="col-xs-6 col-sm-6 col-md-4 pull-left font-bold">Status</label>
            <span class="col-xs-6 col-sm-6 col-md-8 pull-right text-primary"
                  data-ng-bind="getStatus(taxReturn.status)"></span>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <label class="col-xs-6 col-sm-6 col-md-4 pull-left font-bold">Submitted</label>
            <span class="col-xs-6 col-sm-6 col-md-8 pull-right text-primary"
                  data-ng-bind="taxReturn.submitted| date: 'dd MMM yyyy'"></span>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <label class="col-xs-6 col-sm-6 col-md-4 pull-left font-bold">Received by HMRC</label>
                    <span class=" col-xs-6 col-sm-6 col-md-8 pull-right text-primary"
                          data-ng-bind="taxReturn.received_by_hmrc | date: 'dd MMM yyyy'"></span>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <label class="col-xs-6 col-sm-6 col-md-4 pull-left font-bold">IR Mark</label>
            <span class="col-xs-6 col-sm-6 col-md-8 pull-right text-primary"
                  data-ng-bind="taxReturn.ir_mark"></span>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <a class="text-primary"
             data-ui-sref="loggedIn.modules.tax-return.welcome">
            Find out more about filling Self Assessment.</a>
        </div>
      </div>
    </div>
  </div>
</div>