<div class="modal-section-uk-income" data-ng-init="init()">
  <div class="modal-header bg-primary">
    <h4 class="h4">
      UK Pensions, annuities and other state benefits received
    </h4>
    <span class="close" data-ng-click="actions.cancel()"></span>
  </div>

  <div class="modal-body">
    <form name="form" class="form-horizontal form-validation" novalidate>
      <div class="form-group">
        <label for="input-1" class="col-sm-6">
          State Pension
        </label>

        <div class="col-sm-6">
          <div class="input-group">
            <span class="input-group-addon currency">&pound;</span>
            <input type="text" id="input-1" name="input-1" class="form-control"
                   data-ng-focus data-ng-blur filtered-input="number"
                   data-ng-model="info.INC7"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="input-2" class="col-sm-6">
          State Pension lump sum [1]
        </label>

        <div class="col-sm-6">
          <div class="input-group">
            <span class="input-group-addon currency">&pound;</span>
            <input type="text" id="input-2" name="input-2" class="form-control"
                   data-ng-focus data-ng-blur filtered-input="number"
                   data-ng-model="info.INC8"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="input-3" class="col-sm-6">
          Tax taken off (for [1])
        </label>

        <div class="col-sm-6">
          <div class="input-group">
            <span class="input-group-addon currency">&pound;</span>
            <input type="text" id="input-3" name="input-3" class="form-control"
                   data-ng-focus data-ng-blur filtered-input="number"
                   data-ng-model="info.INC9"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="input-4" class="col-sm-6">
          Pensions, retirement annuities and taxable triviality payments [2]
        </label>

        <div class="col-sm-6">
          <div class="input-group">
            <span class="input-group-addon currency">&pound;</span>
            <input type="text" id="input-4" name="input-4" class="form-control"
                   data-ng-focus data-ng-blur filtered-input="number"
                   data-ng-model="info.INC10"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="input-5" class="col-sm-6">
          Tax taken off (for [2])
        </label>

        <div class="col-sm-6">
          <div class="input-group">
            <span class="input-group-addon currency">&pound;</span>
            <input type="text" id="input-5" name="input-5" class="form-control"
                   data-ng-focus data-ng-blur filtered-input="number"
                   data-ng-model="info.INC11"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="input-6" class="col-sm-6">
          Taxable Incapacity Benefit [3]
        </label>

        <div class="col-sm-6">
          <div class="input-group">
            <span class="input-group-addon currency">&pound;</span>
            <input type="text" id="input-6" name="input-6" class="form-control"
                   data-ng-focus data-ng-blur filtered-input="number"
                   data-ng-model="info.INC12"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="input-7" class="col-sm-6">
          Tax taken off Incapacity Benefit in [3]
        </label>

        <div class="col-sm-6">
          <div class="input-group">
            <span class="input-group-addon currency">&pound;</span>
            <input type="text" id="input-7" name="input-7" class="form-control"
                   data-ng-focus data-ng-blur filtered-input="number"
                   data-ng-model="info.INC13"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="input-8" class="col-sm-6">
          Jobseeker’s Allowance
        </label>

        <div class="col-sm-6">
          <div class="input-group">
            <span class="input-group-addon currency">&pound;</span>
            <input type="text" id="input-8" name="input-8" class="form-control"
                   data-ng-focus data-ng-blur filtered-input="number"
                   data-ng-model="info.INC14"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="input-9" class="col-sm-6">
          Total of any other taxable State Pensions and benefits
        </label>

        <div class="col-sm-6">
          <div class="input-group">
            <span class="input-group-addon currency">&pound;</span>
            <input type="text" id="input-9" name="input-9" class="form-control"
                   data-ng-focus data-ng-blur filtered-input="number"
                   data-ng-model="info.INC15"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-12">
          <button class="btn btn-primary btn-sm pull-right" type="submit"
                  data-ng-disabled="form.$invalid"
                  data-ng-click="actions.save(form.$valid)">Save
          </button>
        </div>
      </div>
    </form>
  </div>
</div>