<div class="modal-section-trust" data-ng-init="init()">
  <div class="modal-header bg-primary">
    <h4 class="h4">Trust Income</h4>
    <span class="close" data-ng-click="actions.cancel()"></span>
  </div>

  <div class="modal-body">
    <form name="form" class="form-horizontal form-validation" novalidate>

      <tabset class="tab-container">
        <tab heading="Trust Income">

          <div class="form-group">
            <div class="col-sm-12">
              <label for="input-1">
                Discretionary income payment net amount
              </label>

              <div class="input-group w-sm pull-right">
                <span class="input-group-addon">&pound;</span>
                <input type="text" id="input-1"
                       name="input-2" class="form-control text-right"
                       filtered-input="number" maxlength="9"
                       data-ng-model="trust.TRU1"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-12">
              <label for="input-2">
                Payments from settlor interested trusts
              </label>

              <div class="input-group w-sm pull-right">
                <span class="input-group-addon">&pound;</span>
                <input type="text" id="input-2" name="input-2" class="form-control text-right"
                       filtered-input="number"
                       data-ng-model="trust.TRU2"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-12">
              <label for="input-2">
                Non discretionary income taxed at basic rate
              </label>
              <div class="input-group w-sm pull-right">
                <span class="input-group-addon">&pound;</span>
                <input type="text" id="input-3" name="input-2" class="form-control text-right"
                       filtered-input="number"
                       data-ng-model="trust.TRU3"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-12">
              <label for="input-4">
                Non discretionary income taxed at savings rate
              </label>
              <div class="input-group w-sm pull-right">
                <span class="input-group-addon">&pound;</span>
                <input type="text" id="input-4" name="input-2" class="form-control text-right"
                       filtered-input="number"
                       data-ng-model="trust.TRU4"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-12">
              <label for="input-5">
                Non discretionary income taxed at dividend rate
              </label>
              <div class="input-group w-sm pull-right">
                <span class="input-group-addon">&pound;</span>
                <input type="text" id="input-5" name="input-2" class="form-control text-right"
                       filtered-input="number"
                       data-ng-model="trust.TRU5"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-12">
              <!--<div class="checkbox">
                <label class="i-checks" for="input-6">
                  <input type="checkbox" id="input-6"
                         data-ng-model="trust.TRU6"
                         data-ng-true-value="1"
                         data-ng-false-value="0">
                  <i></i>
                  Income from trusts etc. - non resident trustees
                </label>
              </div>-->
              <label class="control-label">
                <checkbox data-ng-model="trust.TRU6"></checkbox>
                Income from trusts etc. - non resident trustees
              </label>
            </div>
          </div>
        </tab>

        <tab heading="Trust Income (2)">
          <div class="form-group">
            <div class="col-sm-12">
              <label for="input-7">
                Net settlor income taxed at basic rate
              </label>
              <div class="input-group w-sm pull-right">
                <span class="input-group-addon">&pound;</span>
                <input type="text" id="input-7" name="input-2" class="form-control text-right"
                       filtered-input="number"
                       data-ng-model="trust.TRU7"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-12">
              <label for="input-8">
                Net settlor income taxed at savings rate
              </label>
              <div class="input-group w-sm pull-right">
                <span class="input-group-addon">&pound;</span>
                <input type="text" id="input-8" name="input-2" class="form-control text-right"
                       filtered-input="number"
                       data-ng-model="trust.TRU8"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-12">
              <label for="input-9">
                Net settlor income taxed at dividend rate
              </label>
              <div class="input-group w-sm pull-right">
                <span class="input-group-addon">&pound;</span>
                <input type="text" id="input-9" name="input-2" class="form-control text-right"
                       filtered-input="number"
                       data-ng-model="trust.TRU9"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-12">
              <label for="input-10">
                Net settlor income taxed at trust rate
              </label>
              <div class="input-group w-sm pull-right">
                <span class="input-group-addon">&pound;</span>
                <input type="text" id="input-10" name="input-2" class="form-control text-right"
                       filtered-input="number"
                       data-ng-model="trust.TRU10"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-12">
              <label for="input-11">
                Savings income at trust rate
              </label>
              <div class="input-group w-sm pull-right">
                <span class="input-group-addon">&pound;</span>
                <input type="text" id="input-11" name="input-2" class="form-control text-right"
                       filtered-input="number"
                       data-ng-model="trust.TRU11"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-12">
              <label for="input-12">
                Net settlor income taxed at dividend trust rate
              </label>
              <div class="input-group w-sm pull-right">
                <span class="input-group-addon">&pound;</span>
                <input type="text" id="input-12" name="input-2" class="form-control text-right"
                       filtered-input="number"
                       data-ng-model="trust.TRU12"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-12">
              <label for="input-13">
                Gross settlor income to be taxed at basic rate
              </label>
              <div class="input-group w-sm pull-right">
                <span class="input-group-addon">&pound;</span>
                <input type="text" id="input-13" name="input-2" class="form-control text-right"
                       filtered-input="number"
                       data-ng-model="trust.TRU13"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-12">
              <label for="input-14">
                Gross settlor income to be taxed at savings rate
              </label>
              <div class="input-group w-sm pull-right">
                <span class="input-group-addon">&pound;</span>
                <input type="text" id="input-14" name="input-2" class="form-control text-right"
                       filtered-input="number"
                       data-ng-model="trust.TRU14"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-12">
              <label for="input-15">
                Life insurance policy gains-additional tax paid
              </label>
              <div class="input-group w-sm pull-right">
                <span class="input-group-addon">&pound;</span>
                <input type="text" id="input-15" name="input-2" class="form-control text-right"
                       filtered-input="number"
                       data-ng-model="trust.TRU15"/>
              </div>
            </div>
          </div>
        </tab>

        <tab heading="Trust Income (3)">
          <div class="form-group">
            <div class="col-sm-12">
              <label for="input-16">
                Estate income taxed at basic rate
              </label>
              <div class="input-group w-sm pull-right">
                <span class="input-group-addon">&pound;</span>
                <input type="text" id="input-16" name="input-2" class="form-control text-right"
                       filtered-input="number"
                       data-ng-model="trust.TRU16"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-12">
              <label for="input-17">
                Estate income taxed at savings rate
              </label>
              <div class="input-group w-sm pull-right">
                <span class="input-group-addon">&pound;</span>
                <input type="text" id="input-17" name="input-2" class="form-control text-right"
                       filtered-input="number"
                       data-ng-model="trust.TRU17"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-12">
              <label for="input-18">
                Estate income taxed at dividend rate
              </label>
              <div class="input-group w-sm pull-right">
                <span class="input-group-addon">&pound;</span>
                <input type="text" id="input-18" name="input-2" class="form-control text-right"
                       filtered-input="number"
                       data-ng-model="trust.TRU18"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-12">
              <label for="input-19">
                Estate income taxed at non-repayable basic rate
              </label>
              <div class="input-group w-sm pull-right">
                <span class="input-group-addon">&pound;</span>
                <input type="text" id="input-19" name="input-2" class="form-control text-right"
                       filtered-input="number"
                       data-ng-model="trust.TRU19"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-12">
              <label for="input-20">
                Estate income taxed at non-repayable lower rate
              </label>
              <div class="input-group w-sm pull-right">
                <span class="input-group-addon">&pound;</span>
                <input type="text" id="input-20" name="input-2" class="form-control text-right"
                       filtered-input="number"
                       data-ng-model="trust.TRU20"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-12">
              <label for="input-21">
                Estate income taxed at non-payable dividend rate
              </label>
              <div class="input-group w-sm pull-right">
                <span class="input-group-addon">&pound;</span>
                <input type="text" id="input-21" name="input-2" class="form-control text-right"
                       filtered-input="number"
                       data-ng-model="trust.TRU21"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-12">
              <label for="input-22">
                Foreign estate income
              </label>
              <div class="input-group w-sm pull-right">
                <span class="input-group-addon">&pound;</span>
                <input type="text" id="input-22" name="input-2" class="form-control text-right"
                       filtered-input="number"
                       data-ng-model="trust.TRU22"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-12">
              <label for="input-23">
                Relief for UK tax accounted for
              </label>
              <div class="input-group w-sm pull-right">
                <span class="input-group-addon">&pound;</span>
                <input type="text" id="input-23" name="input-2" class="form-control text-right"
                       filtered-input="number"
                       data-ng-model="trust.TRU23"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-12">
              <label for="input-24">
                Foreign tax
              </label>
              <div class="input-group w-sm pull-right">
                <span class="input-group-addon">&pound;</span>
                <input type="text" id="input-24" name="input-2" class="form-control text-right"
                       filtered-input="number"
                       data-ng-model="trust.TRU24"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-12">
              <label for="input-25">
                Any other trustrmation space
              </label>
              <input type="text" id="input-25"
                     name="input-2" class="form-control text-right pull-right w-sm"
                     data-ng-model="trust.TRU25"/>
            </div>
          </div>
        </tab>
      </tabset>

      <div class="form-group">
        <div class="col-md-12">
          <button class="btn btn-primary btn-sm pull-right"
                  data-ng-disabled="form.$invalid"
                  data-ng-click="actions.save(form.$valid)">
            Save
          </button>
        </div>
      </div>
    </form>
  </div>
</div>