<div class="progress-bar-custom">
  <progressbar data-max="100" data-value="progress"></progressbar>

    <span class="first progress-bar-label"
          data-ng-class="{selected: isSelected(progress, 1)}"
          data-ng-click="actions.jump(1)" style="cursor: pointer;">
        <p class="step-number">1</p>
        <p class="step-title">Income</p>
    </span>

    <span class="two progress-bar-label"
          data-ng-class="{selected: isSelected(progress, 2)}"
          data-ng-click="actions.jump(2)" style="cursor: pointer;">
        <p class="step-number">2</p>
        <p class="step-title">Partner Detail</p>
    </span>

    <span class="three progress-bar-label"
          data-ng-class="{selected: isSelected(progress, 3)}"
          data-ng-click="actions.jump(3)" style="cursor: pointer;">
        <p class="step-number">3</p>
        <p class="step-title">Partnership detail</p>
    </span>

    <span class="fouth progress-bar-label"
          data-ng-class="{selected: isSelected(progress, 4)}"
          data-ng-click="actions.jump(4)" style="cursor: pointer;">
        <p class="step-number">4</p>
        <p class="step-title">Summary</p>
    </span>

    <span class="five progress-bar-label"
          data-ng-class="{selected: isSelected(progress, 5)}"
          data-ng-click="actions.jump(5)" style="cursor: pointer;">
        <p class="step-number">5</p>
        <p class="step-title">Payment and file</p>
    </span>
</div>