<div class="aside-wrap">
    <div class="navi-wrap">
        <div class="logo-brand">
            <img src="assets/images/logo_icon_white.png" alt=".">
        </div>

        <nav ui-nav class="navi">
            <ul class="nav" data-ng-repeat="group in groups">
                <li class="hidden-folded padder m-b-xs m-t-xs">
                    <span class="text-primary-dk font-bold" ng-bind="group.title"></span>
                </li>

                <li data-ng-repeat="item in group.items" ui-sref-active="active">
                    <a data-ng-if="!item.flag" data-ui-sref="{{ item.sref }}">
                        <i class="fa {{ item.classes }}"></i>
                        <span class="text-xs" ng-bind="item.title"></span>
                    </a>

                    <a data-ng-if="item.flag" class="auto">
                        <i class="fa {{ item.classes }}"></i>
                        <span class="text-xs" ng-bind="item.title"></span>
                        <span class="pull-right text-muted">
                              <i class="fa fa-fw fa-angle-right text"></i>
                              <i class="fa fa-fw fa-angle-down text-active"></i>
                        </span>
                    </a>
                    <ul class="nav nav-sub dk">
                        <li data-ng-repeat="child in item.children" ui-sref-active="active">
                            <a data-ng-if="!child.flag" data-ui-sref="{{ child.sref }}">
                                <span class="text-xs" ng-bind="child.title"></span>
                            </a>
                            <a data-ng-if="child.flag" data-ng-click="child.event()">
                                <span class="text-xs" ng-bind="child.title"></span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</div>

