<div class="step-deduction-relief">
  <h4>Step 2 - Deduction/Relief</h4>

  <div class="row">
    <div class="col-sm-12">
      <tabset class="tab-container">
        <tab heading="Charitable giving">
          <div class="content"
               data-ng-include="'modules/tax-return/forms/deduction-reliefs/charitable-giving/charitable-giving.tpl.html'"></div>
        </tab>
        <tab heading="Other tax reliefs">
          <div class="content"
               data-ng-include="'modules/tax-return/forms/deduction-reliefs/other-tax-reliefs/other-tax-reliefs.tpl.html'"></div>
        </tab>
        <tab heading="Pension schemes contribution">
          <div class="content"
               data-ng-include="'modules/tax-return/forms/deduction-reliefs/pension-schemes-contribution/pension-schemes-contribution.tpl.html'"></div>
        </tab>
      </tabset>
    </div>
  </div>
</div>