<div class="modal-section-other-detail" data-ng-init="init()">
    <div class="modal-header bg-primary">
        <h4 class="h4">If you have paid too much tax</h4>
        <span class="close" data-ng-click="actions.cancel()"></span>
    </div>

    <div class="modal-body">
        <form name="form" class="form-horizontal form-validation" novalidate>
            <div class="form-group">
                <label for="input-1" class="col-sm-6">
                    Name of bank or building society
                </label>

                <div class="col-sm-6">
                    <input type="text" id="input-1" name="input-1" class="form-control"
                           data-ng-model="info.FIN4"/>
                </div>
            </div>

            <div class="form-group">
                <label for="input-2" class="col-sm-6">
                    Name of account holder (or nominee) [1]
                </label>

                <div class="col-sm-6">
                    <input type="text" id="input-2" name="input-2" class="form-control"
                           data-ng-model="info.FIN5"/>
                </div>
            </div>

            <div class="form-group">
                <label for="input-3" class="col-sm-6">
                    Branch sort code
                </label>

                <div class="col-sm-6">
                    <input type="text" id="input-3" name="input-3" class="form-control"
                           data-ng-model="info.FIN6"/>
                </div>
            </div>

            <div class="form-group">
                <label for="input-4" class="col-sm-6">
                    Account number
                </label>

                <div class="col-sm-6">
                    <input type="text" id="input-4" name="input-4" class="form-control"
                           data-ng-model="info.FIN7"/>
                </div>
            </div>

            <div class="form-group">
                <label for="input-5" class="col-sm-6">
                    Building society reference number
                </label>

                <div class="col-sm-6">
                    <input type="text" id="input-5" name="input-5" class="form-control"
                           data-ng-model="info.FIN8"/>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-12">
                    <div class="checkbox">
                        <label class="i-checks" for="input-6">
                            <input type="checkbox" id="input-6"
                                   data-ng-model="info.FIN9"
                                   data-ng-true-value="1"
                                   data-ng-false-value="0">
                            <i></i>
                            If you do not have a bank or building society account,
                            or if you want us to send a cheque to you or to your
                            nominee
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-12">
                    <div class="checkbox">
                        <label class="i-checks" for="input-7">
                            <input type="checkbox" id="input-7"
                                   data-ng-model="info.FIN10"
                                   data-ng-true-value="1"
                                   data-ng-false-value="0">
                            <i></i>
                            If you have entered a nominee’s name in [1]
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-12">
                    <div class="checkbox">
                        <label class="i-checks" for="input-8">
                            <input type="checkbox" id="input-8"
                                   data-ng-model="info.FIN11"
                                   data-ng-true-value="1"
                                   data-ng-false-value="0">
                            <i></i>
                            If your nominee is your tax adviser
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="input-9" class="col-sm-6">
                    Nominee’s address
                </label>

                <div class="col-sm-6">
                    <textarea id="input-9" name="input-9"
                              class="form-control" rows="4"
                              data-ng-model="info.FIN12">
                    </textarea>
                </div>
            </div>

            <div class="form-group">
                <label for="input-10" class="col-sm-6">
                    Postcode
                </label>

                <div class="col-sm-6">
                    <input type="text" id="input-10" name="input-10" class="form-control"
                           data-ng-model="info.FIN13"/>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-12">
                    <button class="btn btn-primary btn-sm pull-right"
                            data-ng-disabled="form.$invalid"
                            data-ng-click="actions.save(form.$valid)">
                        Save
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>