<div class="modal-payment-form">
    <div class="modal-header bg-primary">
        <h4 class="h4">Payment Stripe</h4>
        <span class="close" data-ng-click="cancel()"></span>
    </div>

    <div class="modal-body">
        <form name="form" class="form-validation form-horizontal" novalidate>
            <div class="form-group">
                <label class="col-sm-3 control-label">Name</label>
                <div class="col-sm-9">
                    <input type="text" name="name" class="form-control"
                           data-ng-model="payment.name" required/>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">Email</label>
                <div class="col-sm-9">
                    <input type="email" name="email" class="form-control" validator="email"
                           data-ng-model="payment.email" required/>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">Telephone</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control"
                           data-ng-model="payment.telephone"/>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">Amount</label>
                <div class="col-sm-9">
                    <div class="input-group">
                        <span class="input-group-addon">&pound;</span>
                        <input type="text" class="form-control"
                               data-ng-model="payment.amount"
                               data-ng-disabled="true" required/>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">Card Number</label>
                <div class="col-sm-9">
                    <input type="text" name="number" class="form-control"
                           data-ng-model="payment.card.number"
                           ui-mask="9999 ?9999 ?9999 ?9999"
                           ui-mask-placeholder
                           ui-mask-placeholder-char="_"
                           required/>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">Expiry month</label>
                <div class="col-sm-9 date-picker">
                    <input type="text" id="date" name="date" class="form-control"
                           data-ng-change="changeExpiry(payment.card.expiration)"
                           data-ng-model="payment.card.expiration"
                           ui-mask="99/?9999"  ui-mask-placeholder
                           required/>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">CVC</label>
                <div class="col-sm-9">
                    <input type="text" name="cvc" class="form-control"
                           data-ng-model="payment.card.cvc"
                           ui-mask="999"  ui-mask-placeholder
                           required/>
                </div>
            </div>

            <div class="form-group">
                <div class="text-center">
                    <button type="submit" class="btn btn-primary btn-sm"
                            data-ng-click="charge()"
                            data-ng-disabled="isSubmit"
                            data-ng-disabled="isSuccess || isNotes">Pay Now
                    </button>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-12">
                    <div data-ng-if="isError" class="alert alert-danger">{{ message }}</div>

                    <div data-ng-if="isSuccess" class="alert alert-success">{{ message }}</div>
                </div>
            </div>
        </form>
    </div>
</div>