<div class="row">
  <div class="col-md-10 col-md-offset-2">
    <h4>Welcome <span class="text-primary" data-ng-bind="profile.name"></span></h4>

    <div style="font-size: 16px">
      <p>This tax wizard will guide you to prepare your tax return step by step. It will help you
        ensure that your tax returns are complete.</p>

      <p>To get started, please select the tax year that you want to file:</p>
    </div>

    <!--Form status income welcome-->
    <div class="row form-status-income m-t m-b">
      <div class="col-md-12">
        <form class="form-horizontal">
          <div class="form-group">
            <label class="col-sm-3 font-bold">Assessment tax year</label>
            <div class="col-sm-9 col-md-6 col-lg-4">
              <div class="dropdown" dropdown>
                <button class="btn btn-default btn-sm dropdown-toggle"
                        dropdown-toggle="dropdown"
                        dropdown-toggle style="width: 100%;">
                  <span class="pull-left"
                        data-ng-bind="taxYear.description"></span>
                  <span class="caret pull-right"
                        style="margin-top: 8px;"></span>
                </button>

                <ul class="dropdown-menu">
                  <li data-ng-repeat="taxYear in taxYears">
                    <a data-ng-bind="taxYear.description" data-ng-click="selectYear(taxYear)"></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3 font-bold">I want to file </label>
            <div class="col-sm-9 col-md-6 col-lg-4">
              <div class="dropdown" dropdown>
                <button class="btn btn-default btn-sm dropdown-toggle"
                        dropdown-toggle="dropdown" dropdown-toggle style="width: 100%;">
                  <span class="pull-left"
                        data-ng-bind="option.taxReturnType.description"></span>
                  <span class="caret pull-right"
                        style="margin-top: 8px;"></span>
                </button>

                <ul class="dropdown-menu">
                  <li data-ng-repeat="item in taxReturnTypes">
                    <a data-ng-bind="item.description"
                       data-ng-click="selectTaxReturnType(item)"></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3 font-bold">I am a </label>

            <div class="col-sm-9">
              <div class="row">
                <div class="radio col-md-4 col-sm-4 col-xs-12"
                     data-ng-repeat="item in userTypes track by $index">
                  <label for="radio-{{$index}}" class="i-checks">
                    <input type="radio" id="radio-{{$index}}" name="i-am-a"
                           data-ng-model="option.userType"
                           data-ng-value="item.value">
                    <i></i>
                    {{item.description}}
                  </label>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-9 col-sm-offset-3" data-ng-repeat="item in individualForms"
                 data-ng-show="item.key === 'resident-remittance' && (option.userType == 2 || option.userType == 3)">
              <label class="control-label">
                <checkbox ng-model="item.selected" id="non-resident-remittance"></checkbox>
                {{item.title}}
              </label>
            </div>
          </div>
        </form>
      </div>
    </div>
    <!--End Form status income welcome-->

    <!--Income Forms-->
    <div class="row" data-ng-show="option.taxReturnType.value == 1">
      <div class="col-md-12" style="padding-top: 10px; ">
        <h4>Please select the supplementary form for your earned income</h4>

        <div class="form-group col-md-6 col-sm-6 income-form"
             data-ng-repeat="item0 in individualForms"
             data-ng-show="!item0.show && item0.key !== 'resident-remittance'">
          <label class="control-label">
            <checkbox ng-model="item0.selected" id="non-resident-remittance"></checkbox>
            {{item0.title}}
          </label>
        </div>
        <a data-ng-init="showMore = false" data-ng-click="showMore = !showMore">
          <span class="text-primary">Show more income</span>
        </a>
      </div>
      <div class="col-md-12" style="padding-top: 10px">
        <div class="form-group col-md-6 col-sm-6 income-form"
             data-ng-repeat="item2 in individualForms"
             data-ng-show="!!showMore && item2.show && item2.key !== 'resident-remittance'">
          <label class="control-label">
            <checkbox ng-model="item2.selected" id="non-resident-remittance"></checkbox>
            {{item2.title}}
          </label>
        </div>
      </div>
    </div>

    <!-- Partnership form-->
    <div class="row" data-ng-show="option.taxReturnType.value == 2">
      <div class="col-md-12">
        <h4>Please select the supplementary form for your earned income</h4>
      </div>
      <div class="form-group col-md-6 col-sm-6 partnership-forms"
           data-ng-repeat="psForm in partnershipForms">
        <label class="control-label">
          <checkbox ng-model="psForm.selected"></checkbox>
          {{psForm.title}}
        </label>
      </div>
    </div>
  </div>
</div>


<div class="row m-b-lg">
  <div class="col-md-12">
    <button class="btn btn-primary btn-sm pull-right w-xs"
            data-ng-click="start()">Start
    </button>
  </div>
</div>

