<h5>
    Charitable giving - <a class="btn-main-link" data-ng-click="open('charitable-givings')">Edit</a>
</h5>

<div class="row">
    <div class="col-md-12">
        <div class="row">
            <label class="control-label col-xs-6">
                Gift Aid payments made in the year to 5 April 2015 [1]
            </label>
            <span class="col-xs-6" data-ng-bind="forms.charitable.REL5 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Total of any ‘one-off’ payments
            </label>
            <span class="col-xs-6" data-ng-bind="forms.charitable.REL6 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Gift Aid payments made in the year but treated as if made in the previous tax year
            </label>
            <span class="col-xs-6" data-ng-bind="forms.charitable.REL7 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Gift Aid payments made after 5 April 2015 but to be treated as if made in the year to 5 April 2015
            </label>
            <span class="col-xs-6" data-ng-bind="forms.charitable.REL8 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Value of qualifying shares or securities gifted to charity [2]
            </label>
            <span class="col-xs-6" data-ng-bind="forms.charitable.REL9 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Value of qualifying land and buildings gifted to charity [3]
            </label>
            <span class="col-xs-6" data-ng-bind="forms.charitable.REL10 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Value of qualifying investments gifted to non-UK charities in [2] and [3]
            </label>
            <span class="col-xs-6" data-ng-bind="forms.charitable.REL11 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Gift Aid payments to non-UK charities in [1]
            </label>
            <span class="col-xs-6" data-ng-bind="forms.charitable.REL12 | currency: '&pound;'"></span>
        </div>
    </div>
</div>
<hr/>