<h5>
    Other tax reliefs - <a class="btn-main-link" ng-click="open('other-tax-relief')">Edit</a>
</h5>
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <label class="control-label col-xs-6">
                Subscriptions for Venture Capital Trust shares
            </label>
            <span class="col-xs-6" data-ng-bind="forms.relief.AOR1 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Subscriptions for shares under the Enterprise Investment Scheme
            </label>
            <span class="col-xs-6" data-ng-bind="forms.relief.AOR2 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Community Investment Tax Relief
            </label>
            <span class="col-xs-6" data-ng-bind="forms.relief.AOR3 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Annual payments made
            </label>
            <span class="col-xs-6" data-ng-bind="forms.relief.AOR4 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Qualifying loan interest payable in the year
            </label>
            <span class="col-xs-6" data-ng-bind="forms.relief.AOR5 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Post-cessation expenses and certain other losses
            </label>
            <span class="col-xs-6" data-ng-bind="forms.relief.AOR6 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Maintenance payments (maximum £3,040)
            </label>
            <span class="col-xs-6" data-ng-bind="forms.relief.AOR7 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Payments to a trade union etc. for death benefits
            </label>
            <span class="col-xs-6" data-ng-bind="forms.relief.AOR8 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Relief claimed on a qualifying distribution on the redemption of bonus shares or securities
            </label>
            <span class="col-xs-6" data-ng-bind="forms.relief.AOR9 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Subscriptions for shares under the Seed Enterprise Investment Scheme
            </label>
            <span class="col-xs-6" data-ng-bind="forms.relief.AOR10 | currency: '&pound;'"></span>
        </div>
    </div>
</div>
<hr/>