<h5>
    Pension schemes contribution - <a class="btn-main-link" ng-click="open('pension-scheme-contributions')">Edit</a>
</h5>
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <label class="control-label col-xs-6">
                Payments to registered pension schemes
            </label>
            <span class="col-xs-6" data-ng-bind="forms.pension.REL1 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Payments to a retirement annuity contract
            </label>
            <span class="col-xs-6" data-ng-bind="forms.pension.REL2 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Payments to your employer’s scheme
            </label>
            <span class="col-xs-6" data-ng-bind="forms.pension.REL3 | currency: '&pound;'"></span>
        </div>
        <div class="row">
            <label class="control-label col-xs-6">
                Payments to an overseas pension scheme
            </label>
            <span class="col-xs-6" data-ng-bind="forms.pension.REL4 | currency: '&pound;'"></span>
        </div>
    </div>
</div>
<hr/>