<form name="form" class="form-horizontal form-validation" novalidate>
  <div class="form-group">
    <label for="input-1" class="col-sm-6">
      Subscriptions for Venture Capital Trust shares
    </label>

    <div class="col-sm-6">
      <div class="input-group">
        <span class="input-group-addon currency">&pound;</span>
        <input type="text" id="input-1" name="input-1" class="form-control"
               data-ng-focus data-ng-blur filtered-input="number"
               data-ng-model="deductionRelief.AOR1"/>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="input-2" class="col-sm-6">
      Subscriptions for shares under the Enterprise Investment Scheme
    </label>

    <div class="col-sm-6">
      <div class="input-group">
        <span class="input-group-addon currency">&pound;</span>
        <input type="text" id="input-2" name="input-2" class="form-control"
               data-ng-focus data-ng-blur filtered-input="number"
               data-ng-model="deductionRelief.AOR2"/>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="input-3" class="col-sm-6">
      Community Investment Tax Relief
    </label>

    <div class="col-sm-6">
      <div class="input-group">
        <span class="input-group-addon currency">&pound;</span>
        <input type="text" id="input-3" name="input-3" class="form-control"
               data-ng-focus data-ng-blur filtered-input="number"
               data-ng-model="deductionRelief.AOR3"/>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="input-4" class="col-sm-6">
      Annual payments made
    </label>

    <div class="col-sm-6">
      <div class="input-group">
        <span class="input-group-addon currency">&pound;</span>
        <input type="text" id="input-4" name="input-4" class="form-control"
               data-ng-focus data-ng-blur filtered-input="number"
               data-ng-model="deductionRelief.AOR4"/>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="input-5" class="col-sm-6">
      Qualifying loan interest payable in the year
    </label>

    <div class="col-sm-6">
      <div class="input-group">
        <span class="input-group-addon currency">&pound;</span>
        <input type="text" id="input-5" name="input-5" class="form-control"
               data-ng-focus data-ng-blur filtered-input="number"
               data-ng-model="deductionRelief.AOR5"/>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="input-6" class="col-sm-6">
      Post-cessation expenses and certain other losses
    </label>

    <div class="col-sm-6">
      <div class="input-group">
        <span class="input-group-addon currency">&pound;</span>
        <input type="text" id="input-6" name="input-6" class="form-control"
               data-ng-focus data-ng-blur filtered-input="number"
               data-ng-model="deductionRelief.AOR6"/>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="input-7" class="col-sm-6">
      Maintenance payments (maximum £3,040)
    </label>

    <div class="col-sm-6">
      <div class="input-group">
        <span class="input-group-addon currency">&pound;</span>
        <input type="text" id="input-7" name="input-7" class="form-control" maxlength="4"
               data-ng-focus data-ng-blur filtered-input="number"
               data-ng-model="deductionRelief.AOR7"/>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="input-8" class="col-sm-6">
      Payments to a trade union etc. for death benefits
    </label>

    <div class="col-sm-6">
      <div class="input-group">
        <span class="input-group-addon currency">&pound;</span>
        <input type="text" id="input-8" name="input-8" class="form-control" maxlength="3"
               data-ng-focus data-ng-blur filtered-input="number"
               data-ng-model="deductionRelief.AOR8"/>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="input-9" class="col-sm-6">
      Relief claimed on a qualifying distribution on the redemption of bonus shares or securities
    </label>

    <div class="col-sm-6">
      <div class="input-group">
        <span class="input-group-addon currency">&pound;</span>
        <input type="text" id="input-9" name="input-9" class="form-control"
               data-ng-focus data-ng-blur filtered-input="number"
               data-ng-model="deductionRelief.AOR9"/>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="input-10" class="col-sm-6">
      Subscriptions for shares under the Seed Enterprise Investment Scheme
    </label>

    <div class="col-sm-6">
      <div class="input-group">
        <span class="input-group-addon currency">&pound;</span>
        <input type="text" id="input-10" name="input-10d" class="form-control"
               data-ng-focus data-ng-blur filtered-input="number"
               data-ng-model="deductionRelief.AOR10"/>
      </div>
    </div>
  </div>

  <!--<div class="form-group">
    <div class="col-md-12">
      <button class="btn btn-primary btn-sm pull-right"
              data-ng-disabled="form.$invalid"
              data-ng-click="actions.save(form.$valid)">
        Save
      </button>
    </div>
  </div>-->
</form>
