<div class="breadcrumb">
  <span class="btn-main-link" data-ng-click="goParentModal()" data-ng-bind="'Add Transaction'"></span>
  <span class="arrow"> >> </span>
  <span data-ng-bind="name"></span>
</div>