<div class="step-personal-information" data-ng-init="init()">
  <h4>Step 3 - Personal information</h4>

  <div class="row">
    <div class="col-sm-12">
      <form name="form" class="form-horizontal form-validation" novalidate>
        <div class="form-group">
          <label class="col-sm-4" for="name">Name</label>

          <div class="col-sm-8">
            <input type="text" id="name" name="name" class="form-control"
                   data-ng-model="info.name"/>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-4" for="utr">UTR</label>

          <div class="col-sm-8">
            <input type="text" id="utr" name="utr" class="form-control"
                   placeholder="Specify your unique tax reference..." maxlength="10" numbers-only
                   data-ng-model="info.utr"/>
          </div>
        </div>

        <div class="form-group date-picker">
          <label class="col-sm-4" for="dob">Date of birth</label>

          <div class="col-sm-8">
            <input type="text" id="dob" name="dob" class="form-control" placeholder="Date of Birth"
                   data-datepicker-popup="{{dateFormat}}"
                   data-datepicker-options="dateOptions"
                   data-is-open="params.opened"
                   data-ng-click="actions.openDoB()"
                   max-date="dt"
                   data-ng-model="info.date_of_birth"/>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-4" for="national-insurance">National Insurance</label>

          <div class="col-sm-8">
            <input type="text" id="national-insurance" name="national-insurance"
                   class="form-control"
                   data-ng-model="info.national_insurance"
                   ui-mask="AA999999A"
                   ui-mask-placeholder
                   ui-mask-placeholder-char="_"
                   popover-placement="top"
                   popover="Format: AB123456C"/>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-4" for="address-line-1">Address Line 1</label>

          <div class="col-sm-8">
            <input type="text" id="address-line-1" placeholder="Address line 1..."
                   name="address-line-1" class="form-control"
                   maxlength="80"
                   data-ng-model="info.address_1"/>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-4" for="address-line-2">Address Line 2</label>

          <div class="col-sm-8">
            <input type="text" id="address-line-2" placeholder="Address line 2..."
                   name="address-line-2" class="form-control"
                   maxlength="80"
                   data-ng-model="info.address_2"/>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-4" for="town-city">Town/City</label>

          <div class="col-sm-8">
            <input type="text" id="town-city" placeholder="Your town/city..."
                   name="town-city" class="form-control"
                   maxlength="80"
                   data-ng-model="info.town_county"/>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-4" for="postcode">Postcode</label>

          <div class="col-sm-8">
            <input type="text" id="postcode" placeholder="Your postcode..."
                   name="postcode" class="form-control"
                   filtered-input="alphaNumeric" maxlength="80"
                   data-ng-model="info.postcode"/>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-4">Country</label>

          <div class="col-sm-8">
            <div class="taxmapp-ui-select form-control">
              <ui-select ng-model="info.country" theme="bootstrap"
                         style="min-width: 100%" ng-change="actions.changeCountry()">
                <ui-select-match placeholder="Select country">
                  {{$select.selected.name}}
                </ui-select-match>
                <ui-select-choices
                    repeat="item in countries | propsFilter: {name: $select.search}">
                  <div ng-bind-html="item.name | highlight: $select.search"></div>
                </ui-select-choices>
              </ui-select>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-8 col-sm-offset-4">
            <div class="checkbox">
              <label class="i-checks" for="newAddress">
                <input type="checkbox" id="newAddress"
                       data-ng-model="info.address_3"
                       data-ng-true-value="1"
                       data-ng-false-value="0">
                <i></i>
                This is a new address
              </label>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-4" for="telephone">Telephone</label>

          <div class="col-sm-8">
            <input type="text" id="telephone" placeholder="Telephone..."
                   name="telephone" class="form-control"
                   filtered-input="alphaNumeric" maxlength="80"
                   data-ng-model="info.telephone"/>
          </div>
        </div>

        <div class="form-group">
          <div class="alert alert-warning" data-ng-show="errorMess">
            You have changed informations. Please click "Save".
          </div>
        </div>

        <!--<div class="form-group">
          <button class="btn btn-primary btn-sm pull-right"
                  data-ng-click="save(form)">Save
          </button>
        </div>-->

        <!--inforation form: If you have paid too much tax, If you have not paid enough tax-->
        <div class="form-group">
          <div data-ng-repeat="item in infomationForms">
                <span class="btn btn-link text-primary"
                      data-ng-click="item.open()">{{ item.title }}</span>
          </div>
        </div>
      </form>

      <div class="form-group">
        <div data-ng-show="nonResidentFlag">
          <span class="btn btn-link"
                data-ng-click="actions.openNonResident()">
              Residence, remittance basis etc
          </span>
        </div>
      </div>
    </div>
  </div>
</div>