<div class="upload-file">
    <input type="file" id="input-file" class="input-file" onchange="angular.element(this).scope().setFiles(this)" />
    <button id="btn-open-file" class="btn-upload-file">
    </button>
</div>
