<div class="form-group">
  <label class="col-sm-6">No. of Property</label>

  <div class="col-sm-6">
    <select class="form-control" data-ng-model="property.PRO1"
            data-ng-options="item as item for item in noPros">
    </select>
  </div>
</div>

<h5 class="font-bold">
  Select your letting type: <span class="text-danger">*</span>
</h5>

<div class="form-group">
  <div class="col-sm-12">
    <!--<div class="checkbox">
      <label class="i-checks">
        <input type="checkbox" id="input-4a"
               class="css-checkbox"
               data-ng-model="property.PRO4a"
               data-ng-true-value="1"
               data-ng-false-value="0">
        <i></i>
        Furnished holiday lettings
      </label>
    </div>-->
    <label class="control-label">
      <checkbox ng-model="property.PRO4a"></checkbox>
      Furnished holiday lettings
    </label>
  </div>
</div>

<div class="form-group" data-ng-show="property.PRO4a == '1' ">
  <div class="col-sm-12">
    <a href="" class="text-primary" data-ng-click="actions.open(2)">
      Please fill in this form
    </a>
  </div>
</div>

<div class="form-group">
  <div class="col-sm-12">
    <!--<div class="checkbox">
      <label class="i-checks">
        <input type="checkbox" id="input-4b"
               class="css-checkbox"
               data-ng-model="property.PRO4b"
               data-ng-true-value="1"
               data-ng-false-value="0">
        <i></i>
        Residential and other non-holiday lettings
      </label>
    </div>-->
    <label class="control-label">
      <checkbox ng-model="property.PRO4b"></checkbox>
      Residential and other non-holiday lettings
    </label>
  </div>
</div>

<div class="form-group" data-ng-show="property.PRO4b=='1'">
  <div class="col-sm-12">
    <a href="" class="text-primary" data-ng-click="actions.open(3)">
      Please fill in this form
    </a>
  </div>
</div>

<div class="form-group">
  <div class="col-sm-12">
    <!--<div class="checkbox">
      <label class="i-checks">
        <input type="checkbox" id="input-2"
               class="css-checkbox"
               data-ng-model="property.PRO2"
               data-ng-true-value="1"
               data-ng-false-value="0">
        <i></i>
        Property income ceased in year
      </label>
    </div>-->
    <label class="control-label">
      <checkbox ng-model="property.PRO2"></checkbox>
      Property income ceased in year
    </label>
  </div>
</div>

<div class="form-group">
  <div class="col-sm-12">
    <!--<div class="checkbox">
      <label class="i-checks">
        <input type="checkbox" id="input-3"
               class="css-checkbox"
               data-ng-model="property.PRO3"
               data-ng-true-value="1"
               data-ng-false-value="0">
        <i></i>
        Income from property let jointly
      </label>
    </div>-->
    <label class="control-label">
      <checkbox ng-model="property.PRO3"></checkbox>
      Income from property let jointly
    </label>
  </div>
</div>

<div class="form-group">
  <div class="col-sm-12">
    <!--<div class="checkbox">
      <label class="i-checks">
        <input type="checkbox" id="input-4"
               class="css-checkbox"
               data-ng-model="property.PRO4"
               data-ng-true-value="1"
               data-ng-false-value="0">
        <i></i>
        Rent a Room relief claim
      </label>
    </div>-->
    <label class="control-label">
      <checkbox ng-model="property.PRO4"></checkbox>
      Rent a Room relief claim
    </label>
  </div>
</div>

<div class="form-group">
  <div class="col-sm-12">
    <p class="text-sm">* mandatory field</p>
  </div>
</div>