<div class="modal-create-uk-property" data-ng-init="init()">
  <div class="modal-header bg-primary">
    <h4 class="h4">Transaction Property</h4>
    <span class="close" data-ng-click="actions.cancel()"></span>
  </div>

  <div class="modal-body">
    <form name="form" class="form-horizontal form-validation" novalidate>

      <tabset class="tab-container">
        <tab heading="Uk property" active="tabProperty">
          <div data-ng-include="'modules/tax-return/forms/uk-property/uk-property-1.tpl.html'"></div>
        </tab>

        <tab heading="Furnished holiday lettings" active="tabFurnished">
          <div data-ng-include="'modules/tax-return/forms/uk-property/uk-property-2.tpl.html'"></div>
        </tab>

        <tab heading="Uk Rental Income form" active="tabRental">
          <div data-ng-include="'modules/tax-return/forms/uk-property/uk-property-3.tpl.html'"></div>
        </tab>
      </tabset>


      <div class="form-group">
        <div class="col-md-12">
          <button class="btn btn-primary btn-sm pull-right" type="submit"
                  data-ng-disabled="form.$invalid"
                  data-ng-click="actions.save(form.$valid)">
            Save
          </button>
        </div>
      </div>
    </form>
  </div>
</div>