<!--Income-->
<div class="form-group">
  <div class="col-sm-12">
    <h5 class="font-bold">Income</h5>
  </div>
</div>

<div class="form-group">
  <label for="input-5" class="col-sm-6">Income</label>

  <div class="col-sm-6">
    <div class="input-group">
      <span class="input-group-addon">&pound;</span>
      <input type="text" id="input-5" class="form-control"
             filtered-input="number" ng-blur ng-focus
             data-ng-model="property.PRO5"/>
    </div>
  </div>
</div>

<!--Less: Expenses/ Deduction-->
<div class="form-group">
  <div class="col-sm-12">
    <h5>Less: Expenses/ Deduction</h5>
  </div>
</div>

<div class="form-group">
  <label for="input-6" class="col-sm-6">
    Rent paid, repairs, insurance and cost of services provided
  </label>

  <div class="col-sm-6">
    <div class="input-group">
      <span class="input-group-addon">&pound;</span>
      <input type="text" id="input-6" class="form-control"
             filtered-input="number" ng-blur ng-focus
             data-ng-model="property.PRO6"/>
    </div>
  </div>
</div>

<div class="form-group">
  <label for="input-7" class="col-sm-6">
    Loan interest and other financial costs
  </label>

  <div class="col-sm-6">
    <div class="input-group">
      <span class="input-group-addon">&pound;</span>
      <input type="text" id="input-7" class="form-control"
             filtered-input="number" ng-blur ng-focus
             data-ng-model="property.PRO7"/>
    </div>
  </div>
</div>

<div class="form-group">
  <label for="input-8" class="col-sm-6">
    Legal, management and other professional fees
  </label>

  <div class="col-sm-6">
    <div class="input-group">
      <span class="input-group-addon">&pound;</span>
      <input type="text" id="input-8" class="form-control"
             filtered-input="number" ng-blur ng-focus
             data-ng-model="property.PRO8"/>
    </div>
  </div>
</div>

<div class="form-group">
  <label for="input-9" class="col-sm-6">
    Other allowable property expenses
  </label>

  <div class="col-sm-6">
    <div class="input-group">
      <span class="input-group-addon">&pound;</span>
      <input type="text" id="input-9" class="form-control"
             filtered-input="number" ng-blur ng-focus
             data-ng-model="property.PRO9"/>
    </div>
  </div>
</div>

<!--Other adjustments-->
<div class="form-group">
  <div class="col-sm-12">
    <h5>Other adjustments</h5>
  </div>
</div>

<div class="form-group">
  <label for="input-10" class="col-sm-6">Private use adjustment</label>

  <div class="col-sm-6">
    <div class="input-group">
      <span class="input-group-addon">&pound;</span>
      <input type="text" id="input-10" class="form-control"
             filtered-input="number" ng-blur ng-focus
             data-ng-model="property.PRO10"/>
    </div>
  </div>
</div>

<div class="form-group">
  <label for="input-11" class="col-sm-6">Balancing charges</label>

  <div class="col-sm-6">
    <div class="input-group">
      <span class="input-group-addon">&pound;</span>
      <input type="text" id="input-11" class="form-control"
             filtered-input="number" ng-blur ng-focus
             data-ng-model="property.PRO11"/>
    </div>
  </div>
</div>

<div class="form-group">
  <label for="input-12" class="col-sm-6">Capital allowances</label>

  <div class="col-sm-6">
    <div class="input-group">
      <span class="input-group-addon">&pound;</span>
      <input type="text" id="input-12" class="form-control"
             filtered-input="number" ng-blur ng-focus
             data-ng-model="property.PRO12"/>
    </div>
  </div>
</div>

<div class="form-group">
  <label for="input-13" class="col-sm-6">Adjusted profit for the year</label>

  <div class="col-sm-6">
    <div class="input-group">
      <span class="input-group-addon">&pound;</span>
      <input type="text" id="input-13" class="form-control"
             data-ng-disabled="true"
             data-ng-model="property.PRO13"/>
    </div>
  </div>
</div>

<div class="form-group">
  <label for="input-14" class="col-sm-6">Loss brought forward </label>

  <div class="col-sm-6">
    <div class="input-group">
      <span class="input-group-addon">&pound;</span>
      <input type="text" id="input-14" class="form-control"
             filtered-input="number" ng-blur ng-focus
             data-ng-model="property.PRO14"/>
    </div>
  </div>
</div>

<div class="form-group">
  <label for="input-15" class="col-sm-6">Taxable profit for the year</label>

  <div class="col-sm-6">
    <div class="input-group">
      <span class="input-group-addon">&pound;</span>
      <input type="text" id="input-15" class="form-control"
             data-ng-disabled="true"
             data-ng-model="property.PRO15"/>
    </div>
  </div>
</div>

<div class="form-group">
  <label for="input-16" class="col-sm-6">Loss for the year</label>

  <div class="col-sm-6">
    <div class="input-group">
      <span class="input-group-addon">&pound;</span>
      <input type="text" id="input-16" class="form-control"
             data-ng-disabled="true"
             data-ng-model="property.PRO16"/>
    </div>
  </div>
</div>

<div class="form-group">
  <label for="input-17" class="col-sm-6">Total loss to carry forward </label>

  <div class="col-sm-6">
    <div class="input-group">
      <span class="input-group-addon">&pound;</span>
      <input type="text" id="input-17" class="form-control"
             filtered-input="number" ng-blur ng-focus
             data-ng-model="property.PRO17"/>
    </div>
  </div>
</div>

<div class="form-group">
  <div class="col-sm-12">
    <!--<div class="checkbox">
      <label class="i-checks" for="input-18">
        <input type="checkbox" id="input-18"
               data-ng-model="property.PRO18"
               data-ng-true-value="1"
               data-ng-false-value="0">
        <i></i>
        This business is in the EEA
      </label>
    </div>-->
    <label class="control-label">
      <checkbox ng-model="property.PRO18"
                data-ng-true-value="1"
                data-ng-false-value="0"></checkbox>
      This business is in the EEA
    </label>
  </div>
</div>

<div class="form-group">
  <div class="col-sm-12">
    <!--<div class="checkbox">
      <label class="i-checks" for="input-19">
        <input type="checkbox" id="input-19"
               data-ng-model="property.PRO19"
               data-ng-true-value="1"
               data-ng-false-value="0">
        <i></i>
        I want to make a period of grace election
      </label>
    </div>-->
    <label class="control-label">
      <checkbox ng-model="property.PRO19"
                data-ng-true-value="1"
                data-ng-false-value="0"></checkbox>
      I want to make a period of grace election
    </label>
  </div>
</div>