<div class="form-group">
  <label for="input-20" class="col-sm-6">
    Total Rents And OtherIncome From Property
  </label>

  <div class="col-sm-6">
    <div class="input-group">
      <span class="input-group-addon">&pound;</span>
      <input type="text" id="input-20" class="form-control"
             filtered-input="number" ng-blur ng-focus
             data-ng-model="property.PRO20"/>
    </div>
  </div>
</div>

<div class="form-group">
  <label for="input-21" class="col-sm-6">Tax Taken Off Any Income</label>

  <div class="col-sm-6">
    <div class="input-group">
      <span class="input-group-addon">&pound;</span>
      <input type="text" id="input-21" class="form-control"
             filtered-input="number" ng-blur ng-focus
             data-ng-model="property.PRO21"/>
    </div>
  </div>
</div>

<div class="form-group">
  <label for="input-22" class="col-sm-6">Premiums For Grant Of A Lease</label>

  <div class="col-sm-6">
    <div class="input-group">
      <span class="input-group-addon">&pound;</span>
      <input type="text" id="input-22" class="form-control"
             filtered-input="number" ng-blur ng-focus
             data-ng-model="property.PRO22"/>
    </div>
  </div>
</div>

<div class="form-group">
  <label for="input-23" class="col-sm-6">Reverse Premiums And Inducements</label>

  <div class="col-sm-6">
    <div class="input-group">
      <span class="input-group-addon">&pound;</span>
      <input type="text" id="input-23" class="form-control"
             filtered-input="number" ng-blur ng-focus
             data-ng-model="property.PRO23"/>
    </div>
  </div>
</div>

<div class="form-group">
  <div class="col-sm-12">
    <h5>Less: Expenses/Deductions</h5>
  </div>
</div>

<div class="form-group">
  <label for="input-24" class="col-sm-6">
    Rent, rates, insurance, ground rents etc
  </label>

  <div class="col-sm-6">
    <div class="input-group">
      <span class="input-group-addon">&pound;</span>
      <input type="text" id="input-24" class="form-control"
             filtered-input="number" ng-blur ng-focus
             data-ng-model="property.PRO24"/>
    </div>
  </div>
</div>

<div class="form-group">
  <label for="input-25" class="col-sm-6">
    Property repairs and maintenance
  </label>

  <div class="col-sm-6">
    <div class="input-group">
      <span class="input-group-addon">&pound;</span>
      <input type="text" id="input-25" class="form-control"
             filtered-input="number" ng-blur ng-focus
             data-ng-model="property.PRO25"/>
    </div>
  </div>
</div>

<div class="form-group">
  <label for="input-26" class="col-sm-6">
    Loan interest and other financial costs
  </label>

  <div class="col-sm-6">
    <div class="input-group">
      <span class="input-group-addon">&pound;</span>
      <input type="text" id="input-26" class="form-control"
             filtered-input="number" ng-blur ng-focus
             data-ng-model="property.PRO26"/>
    </div>
  </div>
</div>

<div class="form-group">
  <label for="input-27" class="col-sm-6">
    Legal, management and other professional fees 
  </label>

  <div class="col-sm-6">
    <div class="input-group">
      <span class="input-group-addon">&pound;</span>
      <input type="text" id="input-27" class="form-control"
             filtered-input="number" ng-blur ng-focus
             data-ng-model="property.PRO27"/>
    </div>
  </div>
</div>

<div class="form-group">
  <label for="input-28" class="col-sm-6">
    Costs of services provided, including wages
  </label>

  <div class="col-sm-6">
    <div class="input-group">
      <span class="input-group-addon">&pound;</span>
      <input type="text" id="input-28" class="form-control"
             filtered-input="number" ng-blur ng-focus
             data-ng-model="property.PRO28"/>
    </div>
  </div>
</div>

<div class="form-group">
  <label for="input-29" class="col-sm-6">
    Other allowable property expenses
  </label>

  <div class="col-sm-6">
    <div class="input-group">
      <span class="input-group-addon">&pound;</span>
      <input type="text" id="input-29" class="form-control"
             filtered-input="number" ng-blur ng-focus
             data-ng-model="property.PRO29"/>
    </div>
  </div>
</div>

<div class="form-group">
  <div class="col-sm-12">
    <h5>Other adjustments</h5>
  </div>
</div>

<div class="form-group">
  <label for="input-30" class="col-sm-6">
    Private use adjustment 
  </label>

  <div class="col-sm-6">
    <div class="input-group">
      <span class="input-group-addon">&pound;</span>
      <input type="text" id="input-30" class="form-control"
             filtered-input="number" ng-blur ng-focus
             data-ng-model="property.PRO30"/>
    </div>
  </div>
</div>

<div class="form-group">
  <label for="input-31" class="col-sm-6">Balancing charges</label>

  <div class="col-sm-6">
    <div class="input-group">
      <span class="input-group-addon">&pound;</span>
      <input type="text" id="input-31" class="form-control"
             filtered-input="number" ng-blur ng-focus
             data-ng-model="property.PRO31"/>
    </div>
  </div>
</div>

<div class="form-group">
  <label for="input-32" class="col-sm-6">Annual investment
    allowance</label>

  <div class="col-sm-6">
    <div class="input-group">
      <span class="input-group-addon">&pound;</span>
      <input type="text" id="input-32" class="form-control"
             filtered-input="number" ng-blur ng-focus
             data-ng-model="property.PRO32"/>
    </div>
  </div>
</div>

<div class="form-group">
  <label for="input-33" class="col-sm-6">
    Business premises renovation allowance
  </label>

  <div class="col-sm-6">
    <div class="input-group">
      <span class="input-group-addon">&pound;</span>
      <input type="text" id="input-33" class="form-control"
             filtered-input="number" ng-blur ng-focus
             data-ng-model="property.PRO33"/>
    </div>
  </div>
</div>

<div class="form-group">
  <label for="input-34" class="col-sm-6">
    All other capital allowances
  </label>

  <div class="col-sm-6">
    <div class="input-group">
      <span class="input-group-addon">&pound;</span>
      <input type="text" id="input-34" class="form-control"
             filtered-input="number" ng-blur ng-focus
             data-ng-model="property.PRO34"/>
    </div>
  </div>
</div>

<div class="form-group">
  <label for="input-35" class="col-sm-6">
    Landlord's energy saving allowance
  </label>

  <div class="col-sm-6">
    <div class="input-group">
      <span class="input-group-addon">&pound;</span>
      <input type="text" id="input-35" class="form-control"
             filtered-input="number" ng-blur ng-focus
             data-ng-model="property.PRO35"/>
    </div>
  </div>
</div>

<div class="form-group">
  <label for="input-36" class="col-sm-6">
    10% wear and tear allowance
  </label>

  <div class="col-sm-6">
    <div class="input-group">
      <span class="input-group-addon">&pound;</span>
      <input type="text" id="input-36" class="form-control"
             filtered-input="number" ng-blur ng-focus
             data-ng-model="property.PRO36"/>
    </div>
  </div>
</div>

<div class="form-group" data-ng-show="!!property.PRO4">
  <label for="input-37" class="col-sm-6">
    Rent a room exempt amount
  </label>

  <div class="col-sm-6">
    <div class="input-group">
      <span class="input-group-addon">&pound;</span>
      <input type="text" id="input-37" class="form-control"
             filtered-input="number" ng-blur ng-focus
             data-ng-model="property.PRO37"/>
    </div>
  </div>
</div>

<div class="form-group">
  <label for="input-38" class="col-sm-6">
    Adjusted profit for the year
  </label>

  <div class="col-sm-6">
    <div class="input-group">
      <span class="input-group-addon">&pound;</span>
      <input type="text" id="input-38" class="form-control"
             readonly
             data-ng-model="property.PRO38"/>
    </div>
  </div>
</div>

<div class="form-group">
  <label for="input-39" class="col-sm-6">Loss brought forward </label>

  <div class="col-sm-6">
    <div class="input-group">
      <span class="input-group-addon">&pound;</span>
      <input type="text" id="input-39" class="form-control"
             filtered-input="number" ng-blur ng-focus
             data-ng-model="property.PRO39"/>
    </div>
  </div>
</div>

<div class="form-group">
  <label for="input-40" class="col-sm-6">
    Taxable profit for the year
  </label>

  <div class="col-sm-6">
    <div class="input-group">
      <span class="input-group-addon">&pound;</span>
      <input type="text" id="input-40" class="form-control"
             data-ng-disabled="true"
             data-ng-model="property.PRO40"/>
    </div>
  </div>
</div>

<div class="form-group">
  <label for="input-41" class="col-sm-6">Loss for the year</label>

  <div class="col-sm-6">
    <div class="input-group">
      <span class="input-group-addon">&pound;</span>
      <input type="text" id="input-41" class="form-control"
             data-ng-disabled="true"
             data-ng-model="property.PRO41"/>
    </div>
  </div>
</div>

<div class="form-group">
  <label for="input-42" class="col-sm-6">
    Loss set off against this year total income
  </label>

  <div class="col-sm-6">
    <div class="input-group">
      <span class="input-group-addon">&pound;</span>
      <input type="text" id="input-42" class="form-control"
             filtered-input="number" ng-blur ng-focus
             data-ng-model="property.PRO42"/>
    </div>
  </div>
</div>

<div class="form-group">
  <label for="input-43" class="col-sm-6">Total loss to carry
    forward </label>

  <div class="col-sm-6">
    <div class="input-group">
      <span class="input-group-addon">&pound;</span>
      <input type="text" id="input-43" class="form-control"
             data-ng-disabled="true"
             data-ng-model="property.PRO43"/>
    </div>
  </div>
</div>