/**
 * Styles that do not fit
 * in any particular area
 * and are shared among the 
 * app go here.
 */

ul {
    list-style: none;
}

input, select, textarea {
    outline: none;
    border: @std-border;
    resize: none;
}

.jumbotron {
    margin: 40px 0 80px 0;
    text-align: center;

    h1 {
        margin-bottom: 20px;
        font-size: 55px;
        line-height: 1;
    }

    .lead {
        font-size: 24px;
        line-height: 1.25;
    }

    .btn {
        font-size: 21px;
        padding: 14px 24px;
    }
}

.marketing {
    .row {
        margin-bottom: 10px;
    }

    .row:last-child {
        margin-bottom: 0;
    }
  
    h4 [class*=" icon-"], h4 [class^="icon-"] {
        margin-right: 5px;
        vertical-align: -10%;
        font-size: 28px;
        line-height: 1;
    }
}

.add-top-spacing {
    margin-top: @std-margin;
}

/* Fix for known Bootstrap 3 issue (horizontal scrollbar) */
.container-fluid {
    margin-left: 15px;
    margin-right: 15px;
}

.reset-side-margins {
    margin-left: 0;
    margin-right: 0;
}

.no-padding {
    .padding(0, 0, 0, 0);
}
