/**
 * These are the custom mixins used throughout the application.
 */

.add-space-right(@margin-value) {
    margin-right: @margin-value;
}

.add-space-top(@padding-value) {
    padding-top: @padding-value;
}

/*.rounded-corners(@top-left: 5px, @top-right: 5px, @bottom-left: 5px, @bottom-right: 5px) {
    -webkit-border-radius: @top-left @top-right @bottom-right @bottom-left;
    -moz-border-radius: @top-left @top-right @bottom-right @bottom-left;
    border-radius: @top-left @top-right @bottom-right @bottom-left;
}*/

.rounded-corners(@radius: 5px) {
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
    border-radius: @radius;
}

.border(@border-top: @std-border, @border-right: @std-border, @border-bottom: @std-border, @border-left: @std-border) {
    border-top: @border-top;
    border-right: @border-right;
    border-bottom: @border-bottom;
    border-left: @border-left;
}

.border(@border: @std-border) {
    border: @border;
}

.padding(@padding-top: @std-padding, @padding-right: @std-padding, @padding-bottom: @std-padding, @padding-left: @std-padding) {
    padding: @padding-top @padding-right @padding-bottom @padding-left;
}

.user-select(@select: none) {
    -webkit-user-select: @select; /* Chrome/Safari */
    -moz-user-select: @select; /* Firefox */
    -ms-user-select: @select; /* IE10+ */
    -o-user-select: @select;
    user-select: @select;
}

.set-min-height(@min-height: @big-min-height) {
    min-height: @min-height;
}

.linear-gradient(@color1, @color2) {
    background: -webkit-linear-gradient(@color1, @color2); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(@color1, @color2); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(@color1, @color2); /* For Firefox 3.6 to 15 */
    background: linear-gradient(@color1, @color2); /* Standard syntax */
}

.linear-gradient(@color1, @color2, @color3) {
    background: -webkit-linear-gradient(@color1, @color2, @color3); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(@color1, @color2, @color3); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(@color1, @color2, @color3); /* For Firefox 3.6 to 15 */
    background: linear-gradient(@color1, @color2, @color3); /* Standard syntax */
}

.box-shadow(@distance: 3px 2px, @blur: 10px, @spread: 0px, @r: 0, @g: 0, @b: 0, @opacity: 0.5) {
    -webkit-box-shadow: @distance @blur @spread rgba(@r, @g, @b, @opacity);
    -moz-box-shadow: @distance @blur @spread rgba(@r, @g, @b, @opacity);
    box-shadow: @distance @blur @spread rgba(@r, @g, @b, @opacity);
}

.box-shadow-reset() {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.btn-default-style(@color: #ffffff, @background-color: @mdm-green, @border: 1px solid @mdm-green) {
    position: relative;
    height: 34px;
    line-height: 34px;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    text-align: left;
    outline: none;
    color: @color;
    background: @background-color;
    border: @border;
    .padding(0px, 45px, 0px, 10px);
    .rounded-corners(5px);
    &:hover {
        color: @color;
        text-decoration: none;
    }
}

.btn-default-style-after(@background-color: @dark-green, @background-position: -26px -60px, @border: 0 none) {
    position: absolute;
    width: 35px;
    height: 32px;
    content: "\a0";
    top: 0px;
    right: 0px;
    background: @background-color url("@{images-2-levels-up}/icons.png") @background-position no-repeat;
    border: @border;
    .rounded-corners(0px, 5px, 0px, 5px);
}

.btn-default-style-before(@background-color: @dark-green, @background-position: -26px -58px, @border: 0 none) {
    position: absolute;
    width: 35px;
    height: 32px;
    content: "\a0";
    top: 0px;
    left: 0px;
    background: @background-color url("@{images-2-levels-up}/icons.png") @background-position no-repeat;
    border: @border;
    .rounded-corners(5px, 0px, 5px, 0px);
}

.btn-default-style-active(@color: #ffffff, @background-color: @mdm-green, @border: 0 none) {
    color: @color;
    background: @background-color;
    border: @border;
}

.btn-reset() {
    outline: none;
    border: 0 none;
    background: transparent;
    margin: 0;
    padding: 0;
    .rounded-corners(0px, 0px, 0px, 0px);
    .box-shadow(0px 0px, 0px, 0, 0, 0, 1);
}
