/* jrg-multiselect */
.jrg-multiselect {
    position: relative;
    color: @mdm-gray;
}

.jrg-multiselect-display-box {
    background-color: white;
    border: 1px solid #cccccc;
    .rounded-corners(4px);
    min-height: 34px;
    padding: 5px;
    cursor: text;
}

.jrg-multiselect-display-box > div {
    display: inline-block;
}

.jrg-multiselect-selected-opts {
}

.jrg-multiselect-selected-opt {
    display: inline-block;
    .rounded-corners(3px);
    line-height: 25px;
    color: #FFFFFF;
    border: solid 1px @mdm-green;
    background-color: @mdm-green;
    height: 26px;
    padding: 0 5px;
    margin: 2px;
    font-weight: bold;
}

.jrg-multiselect-selected-opt.selected {
    border: solid 1px #e33244;
    background-color: #e33244;
}

.jrg-multiselect-selected-opt > div {
    display: inline-block;
}

.jrg-multiselect-selected-opt-remove {
    cursor: pointer;
    color: #666;
    font-weight: bold;
    font-size: .8em;
    float: right;
    margin-left: 10px;
}

.jrg-multiselect-input-div {
    max-width: 150px;
}

input.jrg-multiselect-input, .jrg-multiselect-input {
    border: 0;
    box-shadow: none;
}

input:focus.jrg-multiselect-input {
    border: 0;
    box-shadow: none;
}

.jrg-multiselect-dropdown-cont {
    position: relative;
}

.jrg-multiselect-dropdown.hidden {
    display: none;
}

.jrg-multiselect-dropdown {
    position: absolute;
    z-index: 100;
    background-color: white;
    left: 0;
    right: 0;
    border: solid 1px #aaa;
    max-height: 200px;
    overflow: auto;
    padding: 5px;
}

.jrg-multiselect-dropdown-opt {
    cursor: pointer;
    line-height: 20px;
}

.jrg-multiselect-dropdown-opt.selected {
    display: none;
}
