.table-bordered {
  > thead > tr > th, > tbody > tr > th, > tfoot > tr > th, > thead > tr > td, > tbody > tr > td, > tfoot > tr > td {
    border:1px solid @border-color;
  }
}
.table-pricing {
  border:1px solid @border-color !important;
  tbody tr td {
    text-align:center;
    vertical-align:middle;
    font-size: 13px;
    color:#67af12;
    font-family:'helveticaneuemedium';
    font-weight:bold;
    img {
      width:24px;
    }
  }
  tbody tr th {
    border-bottom:1px solid transparent !important;
    color:#666666;
    font-weight:100;
    font-size: 13px;
  }
  tbody tr:last-child th {
    border-bottom:1px solid #dddddd !important;
  }
}

.title-table-price {
  text-align:center;
  .name-title-tb {
    display:block;
    text-align:center;
    font-size: 18px;
    color:#999999;
    text-transform:uppercase;
    font-weight:100;
  }
}
.monney-hd-tb {
  position:relative;
  span {
    display:inline-block;
  }
  .pound {
    position:absolute;
    left:-13px;
    top:13px;
    font-size:16px;
  }
  .pound-medium {
    position:absolute;
    left:0px;
    top:5px;
    font-size: 13px;
  }
  .monney-big {
    font-size: 32px;
    line-height:1;
    position:relative;
  }
  .monney-medium {
    font-size: 20px;
    line-height:1;
    position:relative;
    padding-left:10px;
  }
  .monney-small {
    font-size: 16px;
  }
}
.text-footer-tt {
  color:#999999;
  margin-top: 5px;
  font-size: 11px;
}
.btn-table-get {
  a, a:hover, a:active, a:focus {
    color:#ffffff;
    display:inline-block;
    border-radius: 35px;
    -webkit-border-radius: 35px;
    -moz-border-radius:35px;
    border: 1px solid #67af12;
    padding: 7px 20px;
    font-size: 16px;
    background:#67af12;
    margin: 10px 0px;
    font-weight:100;
    text-decoration:none !important;
  }
  a.recommended {
    background: #fea621 !important;
    border-color: #fea621 !important;
  }
}