.taxmapp-ui-select .select2-container .select2-choice {
  display: block;
  height: 34px;
  padding: 0 0 0 8px;
  overflow: hidden;
  position: relative;
  border: none;
  border-radius: 0px;
  white-space: nowrap;
  line-height: 30px;
  color: #595555;
  text-decoration: none;
  background-clip: padding-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #fff;
  background-image: none;
}

.taxmapp-ui-select .select2-choice .select2-arrow {
  display: none !important;
}

.taxmapp-ui-select {
  padding: 0 !important;
  border: none;
}

.input-add-new {
  min-width: auto !important;
  width: 34px;
  height: 36px;
  text-align: center!important;
}

.modal-create-invoice{
  .select2-container .select2-choice {
    border-color: #CCCCCC;
    border-radius: 0px;
  }
}

.taxmapp-ui-select .select2-chosen {
  max-width: 207px;
}