textarea {
  resize: none;
}

.upload-file {
  background: url("images/upload128.png") no-repeat center;
  width: 100%;
  min-height: 74px;
  border: 1px solid #bfbfbf;
  cursor: pointer;
  .files {
    width: 100%;
    padding: 5px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    img {
      width: 100%;
    }
  }
}

.form-control {
  z-index: inherit;
}

.form-group {
  margin-bottom: 10px !important;
}

.input-group {
  .form-control {
    z-index: inherit !important;
  }
}

.btn-transparent {
  background: transparent;
}

.btn-transparent:hover,
.btn-transparent:focus {
  background-color: #dee5e7;
}

//.h-34 {
//  height: 34px;
//}

.w-131 {
  width: 131px;
}

.w-113 {
  width: 113px;
}

.w-105 {
  width: 105px;
}

.w-74 {
  width: 74px;
}

.m-w-120 {
  min-width: 120px;
}

.p-0 {
  padding: 0px !important;
}



.pagination {
  margin: 0px;
}

// Progress bar customer
// Tax return
.progress-bar-custom {
  height: 90px;
  width: 80%;
  margin: 0 auto;
  padding: 0;
  position: relative;
  margin-bottom: 15px;
  .progress {
    height: 5px;
    margin: 0;
    position: absolute;
    width: 100%;
    top: 15px;
    .progress-bar {
      background-color: #5e9f23;
      min-width: auto !important;
    }
  }
  .progress-bar-label {
    position: absolute;
    top: 5px;
    left: 0;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    cursor: pointer;
    border-radius: 100%;
    transition: all 0.4s ease-in-out;
    background: #878787;
    border-color: #FFFFFF;
    border-width: 2px;
    border-style: solid;
    .step-number {
      width: 100%;
      color: #fff;
      text-align: center;
    }
    .step-title {
      width: 80px;
      text-align: center;
      display: inline-block;
      margin-left: -30px;
    }
  }
  .selected {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #67af12), color-stop(100%, #5e9f23));
    background: -webkit-linear-gradient(top, #67af12 0%, #5e9f23 100%);
    background: linear-gradient(to bottom, #67af12 0%, #5e9f23 100%);
    transition: all 0.4s ease-in-out;
  }
  .first {
    left: 0;
  }
  .two {
    left: 25%;
  }
  .three {
    left: 50%;
  }
  .fouth {
    left: 75%;
  }
  .five {
    left: 100%;
  }
  .twold {
    left: 20%;
  }
  .threeld {
    left: 40%;
  }
  .fouthld {
    left: 60%;
  }
  .fiveld {
    left: 80%;
  }
  .sixld {
    left: 100%;
  }
}

// Modal
.modal {
  .modal-header {
    .close {

      position: absolute;
      top: -14px;
      right: -15px;
      width: 30px;
      height: 30px;
      background: url("../assets/images/icons.png") no-repeat -109px -1px;
      opacity: 0.8;
    }
  }
}

// Report
.tab-tax-calculation {
  .calculation-title {
    font-size: 16px;
    color: #ffffff;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6CBF00), color-stop(100%, #5EA210));
    background: -webkit-linear-gradient(top, #6CBF00 0%, #5EA210 100%);
    background: linear-gradient(to bottom, #6CBF00 0%, #5EA210 100%);
    border: 1px solid #498300;
  }
  .calculation-container {
    width: 100%;
    overflow-x: auto;
    .calculation-result {
      margin-bottom: 15px;
      .report-body {
        min-width: 800px;
        min-height: 300px;
        max-height: 450px;
        .report-line {
          position: relative;
          overflow: hidden;
          padding-left: 36px;
          padding-right: 36px;
          .report-cell {
            display: inline-block;
            float: left;
            position: relative;
            white-space: normal;
            padding-top: 5px;
            padding-bottom: 5px;
            width: 100%;
          }
          .report-right {
            text-align: right;
          }
          .report-center {
            text-align: center;
          }
          .report-left {
            text-align: left;
          }
          .report-cell-1 {
            width: 8.3333%;
          }
          .report-cell-2 {
            width: 16.6667%;
          }
          .report-cell-3 {
            width: 25%;
          }
          .report-cell-4 {
            width: 33.3333%;
          }
          .report-cell-5 {
            width: 41.6667%;
          }
          .report-cell-6 {
            width: 50%;
          }
          .report-cell-7 {
            width: 58.3333%;
          }
          .report-cell-8 {
            width: 66.6667%;
          }
          .report-cell-9 {
            width: 75%;
          }
          .report-cell-10 {
            width: 83.3333%;
          }
          .report-cell-11 {
            width: 91.6667%;
          }
          .report-cell-12 {
            width: 100%;
          }

          .report-cell-offset-1 {
            left: 8.3333%;
          }
          .report-cell-offset-2 {
            left: 16.6667%;
          }
          .report-cell-offset-3 {
            left: 25%;
          }
          .report-cell-offset-4 {
            left: 33.3333%;
          }
          .report-cell-offset-5 {
            left: 41.6667%;
          }
          .report-cell-offset-6 {
            left: 50%;
          }
          .report-cell-offset-7 {
            left: 58.3333%;
          }
          .report-cell-offset-8 {
            left: 66.6667%;
          }
          .report-cell-offset-9 {
            left: 75%;
          }
          .report-cell-offset-10 {
            left: 83.3333%;
          }
          .report-cell-offset-11 {
            left: 91.6667%;
          }
          .report-cell-offset-12 {
            left: 100%;
          }
        }
        .report-heading {
          width: 100%;
          background: #eeeeee;
          border-bottom: 1px solid #888888;
          margin-top: 10px;
        }
        .report-bold {
          font-weight: bold;
        }
      }
    }
  }
}

// Progress bar
@media (max-width: 639px) {
  .progress-bar-custom {
    height: 30px;
  }

  .step-title {
    display: none !important;
  }

  .toolbar-header {
    > button {
      margin-top: 10px;
    }
    > button:first-child {
      margin-top: 0px;
    }
  }

  .list {
    .list-item {
      min-height: 175px;
    }
  }
}

// List style
.list {
  .list-item {
    padding-top: 15px;
    padding-bottom: 15px;
    min-height: 150px;
    border-left: 1px solid #bfbfbf;
    border-bottom: 1px solid #bfbfbf;
    .list-item-heading {
      font-size: 18px;
    }
    .list-item-detail-1 {
      clear: both;
    }
    .list-item-detail-2 {
      clear: both;
      position: absolute;
      bottom: 15px;
      left: 0;
      width: 100%;
      ul {
        margin-top: 15px;
      }
      li {
        text-align: center;
        padding: 0 5px;
        .detail-title {
          font-weight: bold;
          color: #69AD0F;
          margin: 0;
        }
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .table-responsive {
    overflow: inherit;
  }
}

@media screen and (max-width: 767px) {
  .table-responsive {
    overflow: auto;
  }
}

.form-horizontal .control-label {
  text-align: left;
}

.truncate {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.thumb-pdf {
  background: url('images/pdf.png') no-repeat center;
  background-size: 60px 60px;
}

.module-invoice {
  .approved {
    border-left: 8px solid #60a823;
  }
  .rejected {
    border-left: 8px solid #ff0000;
  }
}

.tax-return {
  .header-title {
    padding-left: 30px;
  }
}