.table {
  border: 1px solid @border-color;
}

.table.no-border {
  border: none;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  vertical-align: middle;
  padding: 4px;
  border: none;
}

.table > thead > tr > th {
  border-bottom: 1px solid @table-border-color;
}

.table > tfoot > tr > th {
  border-top: 1px solid @table-border-color;
}