.base-tabs {
  text-align: center;
  ul {
    li {
      margin-left: 30px;
      display: inline-block;
    }
    li:first-child {
      margin-left: 0px;
    }
    li:hover {
      border-bottom: 3px solid;
      border-color: @brand-primary;
    }
    > li.active {
      border-bottom: 3px solid;
      border-color: @brand-primary;
      a {
        color: @brand-black;
        font-weight: 500;
      }
    }
  }
  .nav > li > a {
    padding: 8px 10px;
  }
}
