.navi-wrap {
  .logo-brand {
    padding: 36px 20px 36px 20px;
    text-align: center;
  }
}

@media (min-width: 768px) {
  .app-aside-folded {
    .navi-wrap {
      .logo-brand {
        display: none;
      }
    }
  }
}