/**
* These are the variables used throughout the application. This is where
* overwrites that are not specific to components should be maintained.
*/
@import '../../vendor/bootstrap/less/variables.less';

/**
* Typography-related.
*/
@fa-font-path: "../assets";

@images-1-level-up: "../assets/images";
@images-2-levels-up: "../assets/images";

@sprites: url("@{images-2-levels-up}/icons.png");

// Bootstrap overrides
@icon-font-path:  "../assets/";

/**
* Spacing, margins, paddings, dimensions
* Prefix variables here with std-, sm-, mdm-, big-
* for standard, small, medium and big values respectively.
*/

@btn-height: 30px;

@sm-margin: 5px;
@std-margin: 10px;
@mdm-margin: 20px;
@big-margin: 30px;

@sm-padding: 5px;
@std-padding: 10px;
@mdm-padding: 20px;
@big-padding: 30px;

@big-min-height: 760px;

/**
 * Borders
 */
@std-border: 1px solid #ddd;

/**
 * Color
 * Prefix variables here with std-, mdm-, dark-
 * for standard, medium, dark values respectively.
 */
@std-gray: #E7E7E7;
@mdm-gray: #bfbfbf;
@dark-gray: #383838;

@std-green: #67AF12;
@mdm-green: #5E9F23;
@dark-green: #4E8E00;

@mdm-violetred: #c71585;

@dark-blue: #566371;

@prod-dark-gray: #DFE2E7;
@prod-gray: #F3F3F3;

@white: #fff;
@black: #000;

/**
 * Font size
 * Prefix variables here with std-, mdm-, big-, vrb-
 * for standard, medium, big and very big values respectively.
 */
@std-font-size: 14px;
@mdm-font-size: 16px;
@big-font-size: 18px;
@vrb-font-size: 57px;

@nav-brand-size: 28px;


//@font-family-sans-serif:  "proxima-nova", "Helvetica-Neue", Helvetica, sans-serif;
//@font-family-serif:       "proxima-nova", "Helvetica-Neue", Helvetica, sans-serif;
@font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace;
//@font-family-base:        @font-family-sans-serif;

@font-size-base:          14px;
@font-size-large:         ceil(@font-size-base * 1.25); // ~18px
@font-size-small:         ceil(@font-size-base * 0.85); // ~12px

@font-size-h1:            40px; // ~40px
@font-size-h2:            floor(@font-size-base * 2.15); // ~30px
@font-size-h3:            ceil(@font-size-base * 1.7); // ~24px
@font-size-h4:            ceil(@font-size-base * 1.25); // ~18px
@font-size-h5:            @font-size-base;
@font-size-h6:            ceil(@font-size-base * 0.85); // ~12px

@line-height-base:        1.428571429; // 20/14
@line-height-computed:    floor(@font-size-base * @line-height-base); // ~20px

@headings-font-family:    @font-family-base;
@headings-font-weight:    100;
@headings-line-height:    1.1;
@headings-color:          inherit;


/**
 * Custom variables
 */
@header-height: 60px;
@subheader-height: 35px;
@subheader-button-width: 60px;
@sidebar-width: 210px;
@sidebar-max-width: 250px;
@sidebar-background: #333333;

@sprites: url("@{images-2-levels-up}/icons.png");
@tree: url("@{images-2-levels-up}/tree-line.png");
