<form name="form" class="form-horizontal form-validation" novalidate>
  <div class="form-group">
    <label for="input-1" class="col-sm-6">
      Payments to registered pension schemes
    </label>

    <div class="col-sm-6">
      <div class="input-group">
        <span class="input-group-addon currency">&pound;</span>
        <input type="text" id="input-1" name="input-1" class="form-control"
               data-ng-focus data-ng-blur filtered-input="number"
               data-ng-model="deductionRelief.REL1"/>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="input-2" class="col-sm-6">
      Payments to a retirement annuity contract
    </label>

    <div class="col-sm-6">
      <div class="input-group">
        <span class="input-group-addon currency">&pound;</span>
        <input type="text" id="input-2" name="input-2" class="form-control"
               data-ng-focus data-ng-blur filtered-input="number"
               data-ng-model="deductionRelief.REL2"/>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="input-3" class="col-sm-6">
      Payments to your employer’s scheme
    </label>

    <div class="col-sm-6">
      <div class="input-group">
        <span class="input-group-addon currency">&pound;</span>
        <input type="text" id="input-3" name="input-3" class="form-control"
               data-ng-focus data-ng-blur filtered-input="number"
               data-ng-model="deductionRelief.REL3"/>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="input-4" class="col-sm-6">
      Payments to an overseas pension scheme
    </label>

    <div class="col-sm-6">
      <div class="input-group">
        <span class="input-group-addon currency">&pound;</span>
        <input type="text" id="input-4" name="input-4" class="form-control"
               data-ng-focus data-ng-blur filtered-input="number"
               data-ng-model="deductionRelief.REL4"/>
      </div>
    </div>
  </div>

  <!--<div class="form-group">
    <div class="col-md-12">
      <button class="btn btn-primary btn-sm pull-right"
              data-ng-disabled="form.$invalid"
              data-ng-click="save(form.$valid)">
        Save
      </button>
    </div>
  </div>-->
</form>
