<div class="wrapper-sm" data-ng-init="init()">
  <h3 class="heading-2 header-title">
    Tax Return Wizard <span data-ng-bind="taxYear.description"></span>
  </h3>

  <!--Tax return content-->
  <div ui-view="main-content"></div>
</div>
