<div class="step-partnership-detail" data-ng-init="init()">
  <h4 class="heading-2">
    Step 3 - Partnership Detail
  </h4>

  <form name="form" class="form-horizontal form-validation" novalidate>
    <div class="form-group">
      <label class="col-sm-4" for="name">
        Name
      </label>

      <div class="col-sm-8">
        <input type="text" id="name" name="name" class="form-control" required
               data-ng-model="partnershipDetail.name"/>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-4">Description/Notes</label>

      <div class="col-sm-8">
                    <textarea type="text" id="description" name="utr" class="form-control"
                              placeholder="Description"
                              data-ng-model="partnershipDetail.description"></textarea>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-4" for="unique">Unique tax reference</label>

      <div class="col-sm-8">
        <input type="text" id="unique" name="unique" class="form-control"
               placeholder="Unique tax reference"
               data-ng-model="partnershipDetail.utr"/>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-4" for="address">Address</label>

      <div class="col-sm-8">
        <input type="text" id="address" name="address" class="form-control"
               placeholder="Address"
               data-ng-model="partnershipDetail.address"/>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-4" for="email">Email</label>

      <div class="col-sm-8">
        <input type="email" id="email" name="email" class="form-control" placeholder="Email"
               data-ng-model="partnershipDetail.email"/>
      </div>
    </div>

    <div class="form-group">
      <p class="alert alert-warning" data-ng-show="errorMessage"
         data-ng-bind="errorMessage">
      </p>
    </div>

    <!--TODO remove button save-->
    <div class="form-group">
      <div class="col-sm-12">
        <button class="btn btn-primary btn-sm pull-right"
                data-ng-disabled="form.$invalid"
                data-ng-click="save(form.$valid)">Save
        </button>
      </div>
    </div>
  </form>

  <div class="">
    <ul>
      <li data-ng-repeat="item in informationForms">
        <span class="btn btn-link" data-ng-click="item.open()">{{ item.title }}</span>
      </li>
    </ul>
  </div>

  <div class="">
    <div class="row">
      <div class="form-group">
        <div data-ng-show="nonResidentFlag">
                    <span class="btn btn-link" data-ng-click="openNonResident()">
                        Residence, remittance basis etc</span>
        </div>
      </div>
    </div>
  </div>
</div>