<div class="modal-create-residence-remittance" data-ng-init="init()">
  <div class="modal-header bg-primary">
    <h4 class="h4">Residence, remittance basis etc</h4>
    <span class="close" data-ng-click="actions.cancel()"></span>
  </div>

  <div class="modal-body">
    <a href="assets/files/sa109-notes 2014_15.pdf" target="_blank" class="pull-right text-primary">
      HMRC official guidance notes
    </a>

    <form name="form" class="form-horizontal form-validation" novalidate>
      <tabset class="tab-container">
        <tab heading="Residence status">
          <div class="form-group">
            <div class="col-sm-12">
              <!--<div class="checkbox">
                <label class="i-checks" for="input-1">
                  <input type="checkbox" id="input-1"
                         data-ng-model="info.NRD1"
                         data-ng-true-value="1"
                         data-ng-false-value="0">
                  <i></i>
                  Check here if you were not resident in the UK for the current tax year
                </label>
              </div>-->
              <label class="control-label">
                <checkbox ng-model="info.NRD1"></checkbox>
                Check here if you were not resident in the UK for the current tax year
              </label>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-12">
              <!--<div class="checkbox">
                <label class="i-checks" for="input-2">
                  <input type="checkbox" id="input-2"
                         data-ng-model="info.NRD2"
                         data-ng-true-value="1"
                         data-ng-false-value="0">
                  <i></i>
                  Check here if you are eligible for overseas workday relief
                  <a class="info-help" href="assets/files/sa109-notes 2014_15.pdf" target="_blank"
                     tooltip="For further guidance, refer to Box 2 (Page 1) on HMRC offical guidance notes"
                     tooltip-placement="left">
                    <i class="fa fa-info-circle text-primary"></i>
                  </a>
                </label>
              </div>-->
              <label class="control-label">
                <checkbox ng-model="info.NRD2"></checkbox>
                Check here if you are eligible for overseas workday relief
                <a class="info-help" href="assets/files/sa109-notes 2014_15.pdf" target="_blank"
                   tooltip="For further guidance, refer to Box 2 (Page 1) on HMRC offical guidance notes"
                   tooltip-placement="left">
                  <i class="fa fa-info-circle text-primary"></i>
                </a>
              </label>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-12">
              <!--<div class="checkbox">
                <label class="i-checks" for="input-3">
                  <input type="checkbox" id="input-3"
                         data-ng-model="info.NRD3"
                         data-ng-true-value="1"
                         data-ng-false-value="0">
                  <i></i>
                  Check here if your circumstances meet the criteria for split year treatment
                  <a class="info-help" href="assets/files/sa109-notes 2014_15.pdf#page=2" target="_blank"
                     tooltip="For further guidance, refer to Box 2 (Page 3) on HMRC offical guidance notes">
                    <i class="fa fa-info-circle text-primary"></i>
                  </a>
                </label>
              </div>-->
              <label class="control-label">
                <checkbox ng-model="info.NRD3"></checkbox>
                Check here if your circumstances meet the criteria for split year treatment
                <a class="info-help" href="assets/files/sa109-notes 2014_15.pdf#page=2" target="_blank"
                   tooltip="For further guidance, refer to Box 2 (Page 3) on HMRC offical guidance notes">
                  <i class="fa fa-info-circle text-primary"></i>
                </a>
              </label>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-12">
              <!--<div class="checkbox">
                <label class="i-checks" for="input-3-1">
                  <input type="checkbox" id="input-3-1"
                         data-ng-model="info.NRD3_1"
                         data-ng-true-value="1"
                         data-ng-false-value="0">
                  <i></i>
                  Check if more than One Case of Split Year Treatment Applies
                  <a class="info-help" href="assets/files/sa109-notes 2014_15.pdf#page=2" target="_blank"
                     tooltip="For further guidance, refer to Box 2 (Page 3) on HMRC offical guidance notes"
                     tooltip-placement="left">
                    <i class="fa fa-info-circle text-primary"></i>
                  </a>
                </label>
              </div>-->
              <label class="control-label">
                <checkbox ng-model="info.NRD3_1"></checkbox>
                Check if more than One Case of Split Year Treatment Applies
                <a class="info-help" href="assets/files/sa109-notes 2014_15.pdf#page=2" target="_blank"
                   tooltip="For further guidance, refer to Box 2 (Page 3) on HMRC offical guidance notes"
                   tooltip-placement="left">
                  <i class="fa fa-info-circle text-primary"></i>
                </a>
              </label>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-12">
              <!--<div class="checkbox">
                <label class="i-checks" for="input-4">
                  <input type="checkbox" id="input-4"
                         data-ng-model="info.NRD4"
                         data-ng-true-value="1"
                         data-ng-false-value="0">
                  <i></i>
                  Check here if you were resident in the UK in the previous tax year
                </label>
              </div>-->
              <label class="control-label">
                <checkbox ng-model="info.NRD4"></checkbox>
                Check here if you were resident in the UK in the previous tax year
              </label>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-12">
              <!--<div class="checkbox">
                <label class="i-checks" for="input-5">
                  <input type="checkbox" id="input-5"
                         data-ng-model="info.NRD5"
                         data-ng-true-value="1"
                         data-ng-false-value="0">
                  <i></i>
                  Check here if you are eligible for overseas workday relief and any of your foreign
                  earnings are for an earlier year
                </label>
              </div>-->
              <label class="control-label">
                <checkbox ng-model="info.NRD5"></checkbox>
                Check here if you are eligible for overseas workday relief and any of your foreign
                earnings are for an earlier year
              </label>
            </div>
          </div>

          <div class="form-group">
            <label for="input-6" class="col-sm-6">
              If you arrived in the UK during the tax year, enter the date you arrived
            </label>

            <div class="col-sm-6">
              <input type="text" id="input-6" name="input-6" class="form-control"
                     data-datepicker-popup="{{dateFormat}}"
                     data-datepicker-options="dateOptions"
                     data-is-open="params.opened1"
                     data-ng-click="actions.open(1)"
                     data-ng-model="info.NRD6"/>
            </div>
          </div>

          <div class="form-group">
            <label for="input-7" class="col-sm-6">
              If you left the UK during the tax year, enter the date you left
            </label>

            <div class="col-sm-6">
              <input type="text" id="input-7" name="input-7" class="form-control"
                     data-datepicker-popup="{{dateFormat}}" data-datepicker-options="dateOptions"
                     data-is-open="params.opened2"
                     data-ng-click="actions.open(2)"
                     data-ng-model="info.NRD7"/>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-12">
              <!--<div class="checkbox">
                <label class="i-checks" for="input-8a">
                  <input type="checkbox" id="input-8a"
                         data-ng-model="info.NRD8A"
                         data-ng-true-value="1"
                         data-ng-false-value="0">
                  <i></i>
                  Check here if you meet the third automatic overseas test (NRD8a)
                </label>
              </div>-->
              <label class="control-label">
                <checkbox ng-model="info.NRD8A"></checkbox>
                Check here if you meet the third automatic overseas test (NRD8a)
              </label>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-12">
              <!--<div class="checkbox">
                <label class="i-checks" for="input-8">
                  <input type="checkbox" id="input-8"
                         data-ng-model="info.NRD8"
                         data-ng-true-value="1"
                         data-ng-false-value="0">
                  <i></i>
                  Check here if you were resident in the UK in any of the previous three tax years
                </label>
              </div>-->
              <label class="control-label">
                <checkbox ng-model="info.NRD8"></checkbox>
                Check here if you were resident in the UK in any of the previous three tax years
              </label>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-12">
              <!--<div class="checkbox">
                <label class="i-checks" for="input-9">
                  <input type="checkbox" id="input-9"
                         data-ng-model="info.NRD9"
                         data-ng-true-value="1"
                         data-ng-false-value="0">
                  <i></i>
                  Check here If you had a home overseas
                </label>
              </div>-->
              <label class="control-label">
                <checkbox ng-model="info.NRD9"></checkbox>
                Check here If you had a home overseas
              </label>
            </div>
          </div>

          <div class="form-group">
            <label for="input-10" class="col-sm-6">
              Enter number of days spent in the UK
            </label>

            <div class="col-sm-6">
              <input type="text" id="input-10" name="input-10"
                     class="form-control" maxlength="3" filtered-input="number"
                     data-ng-model="info.NRD10"/>
            </div>
          </div>

          <div class="form-group">
            <label for="input-11" class="col-sm-6">
              Enter number of days attributed to exceptional circumstances
            </label>

            <div class="col-sm-6">
              <input type="text" id="input-11" name="input-11"
                     class="form-control" maxlength="3" filtered-input="number"
                     data-ng-model="info.NRD11"/>
            </div>
          </div>

          <div class="form-group">
            <label for="input-12" class="col-sm-6">
              How many ties to the UK did you have?
              <a class="info-help" href="assets/files/sa109-notes 2014_15.pdf#page=3" target="_blank"
                 tooltip="For further guidance, refer to Box 12 (Page 3-4) on HMRC offical guidance notes">
                <i class="fa fa-info-circle text-primary"></i>
              </a>
            </label>

            <div class="col-sm-6">
              <input type="text" id="input-12" name="input-12"
                     class="form-control" maxlength="3" filtered-input="number"
                     data-ng-model="info.NRD12"/>
            </div>
          </div>

          <div class="form-group">
            <label for="input-13" class="col-sm-6">
              Enter number of workdays you spent in the UK
            </label>

            <div class="col-sm-6">
              <input type="text" id="input-13" name="input-13"
                     class="form-control" maxlength="3" filtered-input="number"
                     data-ng-model="info.NRD13"/>
            </div>
          </div>

          <div class="form-group">
            <label for="input-14" class="col-sm-6">
              Enter number of workdays you spent overseas
            </label>

            <div class="col-sm-6">
              <input type="text" id="input-14" name="input-14"
                     class="form-control" maxlength="3" filtered-input="number"
                     data-ng-model="info.NRD14"/>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-12">
              <!--<div class="checkbox">
                <label class="i-checks" for="input-15">
                  <input type="checkbox" id="input-15"
                         data-ng-model="info.NRD15"
                         data-ng-true-value="1"
                         data-ng-false-value="0">
                  <i></i>
                  Check here if you are entitled to claim personal allowances as a non-resident because of
                  the terms of a Double Taxation Agreement
                  <a class="info-help" href="assets/files/sa109-notes 2014_15.pdf#page=5" target="_blank"
                     tooltip="For further guidance, refer to Box 15 (Page 5) on HMRC offical guidance notes">
                    <i class="fa fa-info-circle text-primary"></i></a>
                </label>
              </div>-->
              <label class="control-label">
                <checkbox ng-model="info.NRD15"></checkbox>
                Check here if you are entitled to claim personal allowances as a non-resident because of
                the terms of a Double Taxation Agreement
                <a class="info-help" href="assets/files/sa109-notes 2014_15.pdf#page=5" target="_blank"
                   tooltip="For further guidance, refer to Box 15 (Page 5) on HMRC offical guidance notes">
                  <i class="fa fa-info-circle text-primary"></i>
                </a>
              </label>
            </div>
          </div>

          <div class="form-group" style="height: 54px;">
            <div class="col-sm-12">
              <!--<div class="checkbox">
                <label class="i-checks" for="input-16">
                  <input type="checkbox" id="input-16"
                         data-ng-model="info.NRD16"
                         data-ng-true-value="1"
                         data-ng-false-value="0">
                  <i></i>
                  Check here if you are entitled to claim personal allowances as a non-resident on some
                  other basis, or as a dual resident remittance basis user under the terms of certain Double
                  Taxation Agreements
                  <a class="info-help" href="assets/files/sa109-notes 2014_15.pdf#page=4" target="_blank"
                     tooltip="For further guidance, refer to Box 16 (Page 4) on HMRC offical guidance notes">
                    <i class="fa fa-info-circle text-primary"></i>
                  </a>
                </label>
              </div>-->
              <label class="control-label">
                <checkbox ng-model="info.NRD16"></checkbox>
                Check here if you are entitled to claim personal allowances as a non-resident on some
                other basis, or as a dual resident remittance basis user under the terms of certain Double
                Taxation Agreements
                <a class="info-help" href="assets/files/sa109-notes 2014_15.pdf#page=4" target="_blank"
                   tooltip="For further guidance, refer to Box 16 (Page 4) on HMRC offical guidance notes">
                  <i class="fa fa-info-circle text-primary"></i>
                </a>
              </label>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-12">
              <a class="text-primary" href="assets/files/HMRC country code.pdf" target="_blank">
                HMRC country codes (click here)</a>
            </div>
          </div>

          <div class="form-group">
            <label for="input-17" class="col-sm-6">
              Enter the code for the country or countries of which you are a national and/or resident
            </label>

            <div class="col-sm-6">
              <input type="text" id="input-17" name="input-17"
                     class="form-control" maxlength="3"
                     data-ng-model="info.NRD17"/>
            </div>
          </div>

          <!--Add 17a & 17b-->
          <div class="form-group">
            <label for="input-17a" class="col-sm-6">
              Enter second country (if applicable)
            </label>

            <div class="col-sm-6">
              <input type="text" id="input-17a" name="input-17a"
                     class="form-control" maxlength="3"
                     data-ng-model="info.NRD17A"/>
            </div>
          </div>

          <div class="form-group">
            <label for="input-17b" class="col-sm-6">
              Enter third country (if applicable)
            </label>

            <div class="col-sm-6">
              <input type="text" id="input-17b" name="input-17a"
                     class="form-control" maxlength="3"
                     data-ng-model="info.NRD17B"/>
            </div>
          </div>

          <div class="form-group">
            <label for="input-18" class="col-sm-6">
              Enter the code for the country or countries, other than the UK, in which you were
              resident for tax purposes
            </label>

            <div class="col-sm-6">
              <input type="text" id="input-18" name="input-18"
                     class="form-control" maxlength="3"
                     data-ng-model="info.NRD18"/>
            </div>
          </div>

          <!--Add 18a & 18b-->
          <div class="form-group">
            <label for="input-18a" class="col-sm-6">
              Enter second country (if applicable)
            </label>

            <div class="col-sm-6">
              <input type="text" id="input-18a" name="input-18a"
                     class="form-control" maxlength="3"
                     data-ng-model="info.NRD18A"/>
            </div>
          </div>

          <div class="form-group">
            <label for="input-18b" class="col-sm-6">
              Enter third country (if applicable)
            </label>

            <div class="col-sm-6">
              <input type="text" id="input-18b" name="input-18a"
                     class="form-control" maxlength="3"
                     data-ng-model="info.NRD18B"/>
            </div>
          </div>

          <div class="form-group">
            <label for="input-19" class="col-sm-6">
              If you were also resident in either or both of the countries above for previous tax
              year, enter the appropriate code
            </label>

            <div class="col-sm-6">
              <input type="text" id="input-19" name="input-19"
                     class="form-control" maxlength="3"
                     data-ng-model="info.NRD19"/>
            </div>
          </div>

          <!--Add 18a & 18b-->
          <div class="form-group">
            <label for="input-19a" class="col-sm-6">
              Enter second country (if applicable)
            </label>

            <div class="col-sm-6">
              <input type="text" id="input-19a" name="input-19a"
                     class="form-control" maxlength="3"
                     data-ng-model="info.NRD19A"/>
            </div>
          </div>

          <div class="form-group">
            <label for="input-19b" class="col-sm-6">
              Enter third country (if applicable)
            </label>

            <div class="col-sm-6">
              <input type="text" id="input-19b" name="input-19a"
                     class="form-control" maxlength="3"
                     data-ng-model="info.NRD19B"/>
            </div>
          </div>

          <div class="form-group">
            <label for="input-20" class="col-sm-6">
              Amount of Double Taxation Agreement income for which partial relief is being claimed
              <a class="info-help" href="assets/files/sa109-notes 2014_15.pdf#page=8" target="_blank"
                 tooltip="For further guidance, refer to Box 20 (Page 8) on HMRC offical guidance notes">
                <i class="fa fa-info-circle text-primary"></i>
              </a>
            </label>

            <div class="col-sm-6">
              <div class="input-group">
                <span class="input-group-addon currency">&pound;</span>
                <input type="text" id="input-20" name="input-20" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       data-ng-model="info.NRD20"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-21" class="col-sm-6">
              Relief under Double Taxation Agreements between the UK and other countries – amount
              claimed because of
              an agreement awarding residence to another country
              <a class="info-help" href="assets/files/sa109-notes 2014_15.pdf#page=8" target="_blank"
                 tooltip="For further guidance, refer to Box 21 (Page 8) on HMRC offical guidance notes">
                <i class="fa fa-info-circle text-primary"></i>
              </a>
            </label>

            <div class="col-sm-6">
              <div class="input-group">
                <span class="input-group-addon currency">&pound;</span>
                <input type="text" id="input-21" name="input-21" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       data-ng-model="info.NRD21"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-22" class="col-sm-6">
              Relief claimed because of other provisions of the relevant Double Taxation Agreements
            </label>

            <div class="col-sm-6">
              <div class="input-group">
                <span class="input-group-addon currency">&pound;</span>
                <input type="text" id="input-22" name="input-22" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       data-ng-model="info.NRD22"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-12">
              <!--<div class="checkbox">
                <label class="i-checks" for="input-23">
                  <input type="checkbox" id="input-23"
                         data-ng-model="info.NRD23"
                         data-ng-true-value="1"
                         data-ng-false-value="0">
                  <i></i>
                  Check here if you are domiciled outside the UK and it is relevant to your Income Tax or
                  Capital
                  Gains Tax liability
                </label>
              </div>-->
              <label class="control-label">
                <checkbox ng-model="info.NRD23"></checkbox>
                Check here if you are domiciled outside the UK and it is relevant to your Income Tax or
                Capital Gains Tax liability
              </label>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-12">
              <div class="checkbox">
                <!--<label class="i-checks" for="input-24">
                  <input type="checkbox" id="input-24"
                         data-ng-model="info.NRD24"
                         data-ng-true-value="1"
                         data-ng-false-value="0">
                  <i></i>
                  Check here if the current tax year is the first year you have told us that your domicile
                  is outside the UK
                </label>-->
                <label class="control-label">
                  <checkbox ng-model="info.NRD24"></checkbox>
                  Check here if the current tax year is the first year you have told us that your domicile
                  is outside the UK
                </label>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-25" class="col-sm-6">
              If you have a domicile of origin within the UK, enter the date on which your domicile changed
            </label>

            <div class="col-sm-6">
              <input type="text" id="input-25" name="input-25" class="form-control"
                     data-datepicker-popup="{{dateFormat}}"
                     data-datepicker-options="dateOptions"
                     data-is-open="params.opened3"
                     data-ng-click="actions.open(3)"
                     data-ng-model="info.NRD25"/>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-12">
              <!--<div class="checkbox">
                <label class="i-checks" for="input-26">
                  <input type="checkbox" id="input-26"
                         data-ng-model="info.NRD26"
                         data-ng-true-value="1"
                         data-ng-false-value="0">
                  <i></i>
                  Check here if you were born in the UK but have never been domiciled here
                </label>
              </div>-->
              <label class="control-label">
                <checkbox ng-model="info.NRD26"></checkbox>
                Check here if you were born in the UK but have never been domiciled here
              </label>
            </div>
          </div>

          <div class="form-group">
            <label for="input-27" class="col-sm-6">
              If you were born outside the UK, enter the date that you came to live in the UK
            </label>

            <div class="col-sm-6">
              <input type="text" id="input-27" name="input-27" class="form-control"
                     data-datepicker-popup="{{dateFormat}}"
                     data-datepicker-options="dateOptions"
                     data-is-open="params.opened4"
                     data-ng-click="actions.open(4)"
                     data-ng-model="info.NRD27"/>
            </div>
          </div>
        </tab>

        <tab heading="Residence remiitance (2)">
          <div class="form-group">
            <div class="col-sm-12">
              <!--<div class="checkbox">
                <label class="i-checks" for="input-28">
                  <input type="checkbox" id="input-28"
                         data-ng-model="info.NRD28"
                         data-ng-true-value="1"
                         data-ng-false-value="0">
                  <i></i>
                  Check here if you are making a claim for the remittance basis
                  <a class="info-help" href="assets/files/sa109-notes 2014_15.pdf#page=10" target="_blank"
                     tooltip="For further guidance, refer to Box 28 (Page 10) on HMRC offical guidance notes"
                     tooltip-placement="left">
                    <i class="fa fa-info-circle text-primary"></i>
                  </a>
                </label>
              </div>-->
              <label class="control-label">
                <checkbox ng-model="info.NRD28"></checkbox>
                Check here if you are making a claim for the remittance basis
                <a class="info-help" href="assets/files/sa109-notes 2014_15.pdf#page=10" target="_blank"
                   tooltip="For further guidance, refer to Box 28 (Page 10) on HMRC offical guidance notes"
                   tooltip-placement="left">
                  <i class="fa fa-info-circle text-primary"></i>
                </a>
              </label>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-12">
              <!--<div class="checkbox">
                <label class="i-checks" for="input-29">
                  <input type="checkbox" id="input-29"
                         data-ng-model="info.NRD29"
                         data-ng-true-value="1"
                         data-ng-false-value="0">
                  <i></i>
                  Check here if your unremitted income and capital gains is less than £2,000
                </label>
              </div>-->
              <label class="control-label">
                <checkbox ng-model="info.NRD29"></checkbox>
                Check here if your unremitted income and capital gains is less than £2,000
              </label>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-12">
              <!--<div class="checkbox">
                <label class="i-checks" for="input-30">
                  <input type="checkbox" id="input-30"
                         data-ng-model="info.NRD30"
                         data-ng-true-value="1"
                         data-ng-false-value="0">
                  <i></i>
                  Check here if you were UK resident for the current tax year and for 12 or more of the
                  preceding
                  14 tax years
                </label>
              </div>-->
              <label class="control-label">
                <checkbox ng-model="info.NRD30"></checkbox>
                Check here if you were UK resident for the current tax year and for 12 or more of the
                preceding 14 tax years
              </label>
            </div>
          </div>

          <div class="form-group" style="height: 54px">
            <div class="col-sm-12">
              <!--<div class="checkbox">
                <label class="i-checks" for="input-31">
                  <input type="checkbox" id="input-31"
                         data-ng-model="info.NRD31"
                         data-ng-true-value="1"
                         data-ng-false-value="0">
                  <i></i>
                  Check here if you were UK resident for the current tax year and for 7 or more of the
                  preceding 9 tax years - do not check here if you have already checked the previous question
                </label>
              </div>-->
              <label class="control-label">
                <checkbox ng-model="info.NRD31"></checkbox>
                Check here if you were UK resident for the current tax year and for 7 or more of the
                preceding 9 tax years - do not check here if you have already checked the previous question
              </label>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-12">
              <!--<div class="checkbox">
                <label class="i-checks" for="input-32">
                  <input type="checkbox" id="input-32"
                         data-ng-model="info.NRD32"
                         data-ng-true-value="1"
                         data-ng-false-value="0">
                  <i></i>
                  Check here if you were under 18 on 5 April 2015
                </label>
              </div>-->
              <label class="control-label">
                <checkbox ng-model="info.NRD32"></checkbox>
                Check here if you were under 18 on 5 April 2015
              </label>
            </div>
          </div>

          <div class="form-group">
            <label for="input-33" class="col-sm-6">
              Amount of income you are nominating
            </label>

            <div class="col-sm-6">
              <div class="input-group">
                <span class="input-group-addon currency">&pound;</span>
                <input type="text" id="input-33" name="input-33" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       data-ng-model="info.NRD33"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-34" class="col-sm-6">
              Amount of capital gains you are nominating
            </label>

            <div class="col-sm-6">
              <div class="input-group">
                <span class="input-group-addon currency">&pound;</span>
                <input type="text" id="input-34" name="input-34" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       data-ng-model="info.NRD34"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-35" class="col-sm-6">
              Adjustment to payments on account for capital gains
            </label>

            <div class="col-sm-6">
              <div class="input-group">
                <span class="input-group-addon currency">&pound;</span>
                <input type="text" id="input-35" name="input-35" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       data-ng-model="info.NRD35"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-12">
              <!--<div class="checkbox">
                <label class="i-checks" for="input-36">
                  <input type="checkbox" id="input-36"
                         data-ng-model="info.NRD36"
                         data-ng-true-value="1"
                         data-ng-false-value="0">
                  <i></i>
                  Check here if you have remitted nominated income or gains unless what you have remitted
                  is within the £10 aggregate limit
                </label>
              </div>-->
              <label class="control-label">
                <checkbox ng-model="info.NRD36"></checkbox>
                Check here if you have remitted nominated income or gains unless what you have remitted
                is within the £10 aggregate limit
              </label>
            </div>
          </div>

          <div class="form-group">
            <label for="input-37" class="col-sm-6">
              If you are claiming relief from UK tax for foreign income or gains invested in a
              qualifying business, enter the total amount invested and the Company Registration
            </label>

            <div class="col-sm-6">
              <div class="input-group">
                <span class="input-group-addon currency">&pound;</span>
                <input type="text" id="input-37" name="input-37" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       data-ng-model="info.NRD37"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-37A" class="col-sm-6">
              Company registration number of qualifying investment
            </label>

            <div class="col-sm-6">
              <input type="text" id="input-37A" name="input-37A" class="form-control"
                     data-ng-model="info.NRD37A"/>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-12">
              <!--<div class="checkbox">
                <label class="i-checks" for="input-38">
                  <input type="checkbox" id="input-38"
                         data-ng-model="info.NRD38"
                         data-ng-true-value="1"
                         data-ng-false-value="0">
                  <i></i>
                  Check here if you have previously claimed relief for a qualifying investment and the
                  investment no longer qualifies for relief
                </label>
              </div>-->
              <label class="control-label">
                <checkbox ng-model="info.NRD38"></checkbox>
                Check here if you have previously claimed relief for a qualifying investment and the
                investment no longer qualifies for relief
              </label>
            </div>
          </div>

          <div class="form-group">
            <label for="input-39" class="col-sm-6">
              Please enter any other information
            </label>

            <div class="col-sm-6">
              <textarea id="input-39" name="input-39" class="form-control"
                        data-ng-model="info.NRD39">
              </textarea>
            </div>
          </div>
        </tab>
      </tabset>


      <div class="form-group">
        <div class="col-md-12">
          <button type="submit" class="btn btn-primary btn-sm pull-right"
                  data-ng-disabled="form.$invalid"
                  data-ng-click="actions.save(form.$valid)">
            Save
          </button>
        </div>
      </div>
    </form>
  </div>
</div>