<div class="modal-create-employer">
  <div class="modal-header">
    <span class="close" data-ng-click="cancel()"></span>
  </div>
  <div class="modal-body">
    <h4 class="title h4">Student Loan</h4>
    <form name="form" novalidate>
      <div class="container-fluid">
        <div class="row">
          <div class="form-group"
               data-ng-class="{'has-error': form.name.$invalid && (!form.name.$pristine || showValid)}">
            <div class="input-group">
              <div class="input-group-addon control-label">Student Loan Deducted</div>
              <span class="input-group-addon currency">&pound;</span>
              <input type="text" id="name" name="amount" class="form-control"
                     ng-blur ng-focus filtered-input="number"
                     data-ng-model="student.amount" required/>
            </div>
          </div>
          <div class="form-group">
            <div class="checkbox-custom">
              <input type="checkbox" id="checkbox-notification" class="css-checkbox"
                     data-ng-model="student.student_loan_notification"
                     ng-true-value="1" ng-false-value="0"/>
              <label for="checkbox-notification" class="css-label">Income Contigent Student Loan Notification</label>
            </div>
          </div>
          <div class="form-group">
            <div class="checkbox-custom">
              <input type="checkbox" id="checkbox-repaid" class="css-checkbox"
                     data-ng-model="student.student_loan_maybe_repaid"
                     ng-true-value="1" ng-false-value="0"/>
              <label for="checkbox-repaid" class="css-label">Student Loan Maybe Fuly Repaid</label>
            </div>
          </div>
          <div class="form-group">
            <button class="btn-main-default btn-green pull-right" data-ng-click="save(form.$valid)">Save</button>
          </div>
        </div>

      </div>
    </form>
  </div>
</div>