<div class="container w-xxl w-auto-xs">
    <a href class="navbar-brand block m-t">{{app.name}}</a>
    <div class="m-b-lg">
        <div class="wrapper text-center">
            <strong>Sign up</strong>
        </div>
        <form name="form" class="form-validation">
            <div class="text-danger wrapper text-center" ng-show="authError">
                {{authError}}
            </div>
            <div class="list-group list-group-sm">
                <div class="list-group-item">
                    <input placeholder="Name" class="form-control no-border" data-ng-model="user.name" required>
                </div>
                <div class="list-group-item">
                    <input type="email" placeholder="Email" class="form-control no-border" data-ng-model="user.email"
                           required>
                </div>
                <div class="list-group-item">
                    <input type="password" placeholder="Password" class="form-control no-border"
                           data-ng-model="user.password" required>
                </div>
                <div class="list-group-item">
                    <label class="control-label">User type</label>
                    <select class="form-control" data-placeholder="User type"
                            data-ng-model="userType" data-ng-options="t.name for t in userTypes" required>
                    </select>
                </div>
            </div>
            <div class="checkbox m-b-md m-t-none">
                <label class="i-checks">
                    <input type="checkbox" data-ng-model="agree" required><i></i> Agree the <a href>terms and policy</a>
                </label>
            </div>
            <button type="submit" class="btn btn-lg btn-primary btn-block" data-ng-click="action.register()"
                    data-ng-disabled='form.$invalid'>Sign up
            </button>
            <div class="line line-dashed"></div>
            <p class="text-center">
                <small>Already have an account?</small>
            </p>
            <a ui-sref="loginForm" class="btn btn-lg btn-default btn-block">Sign in</a>
        </form>
    </div>
    <!--<div class="text-center" ng-include="'tpl/blocks/page_footer.html'"></div>-->
</div>


<!--
<div class="register">
    <div class="container-fluid">
        <div class="col-md-8 col-md-offset-2">
            <div class="row text-center" style="margin-bottom: 15px;">
                <a href="../">
                    <img src="assets/images/basetax-logo.png"/>
                </a>
            </div>

            <div class="row">
                <div class="container-fluid">
                    <div class="col-md-6 col-sm-6 col-md-offset-3 col-sm-offset-3" style="padding-top: 20px;">
                        <div class="form-group text-center">
                            <h4>Register</h4>
                        </div>

                        <form name="formRegister" novalidate>
                            <div class="form-group"
                                 data-ng-class="{'has-error': formRegister.email.$invalid && (!formRegister.email.$pristine)}">
                                <label for="register-email">Email</label>
                                <input type="email" name="email" class="form-control" id="register-email"
                                       placeholder="Email" data-ng-model="user.email"
                                       data-ng-maxlength="100" data-ng-minlength="3" required>
                            </div>

                            <div class="form-group"
                                 data-ng-class="{'has-error': formRegister.password.$invalid && (!formRegister.password.$pristine)}">
                                <label for="register-password">Password</label>
                                <input type="password" name="password" class="form-control" id="register-password"
                                       placeholder="Password" data-ng-model="user.password"
                                       data-ng-maxlength="20" data-ng-minlength="3" required>
                            </div>

                            <div class="form-group"
                                 data-ng-class="{'has-error': formRegister.confirm-password.$invalid && (!formRegister.confirm-password.$pristine)}">
                                <label for="register-confirm-password">Confirm password</label>
                                <input type="password" name="confirm-password" class="form-control" id="register-confirm-password"
                                       placeholder="Confirm password" data-ng-model="user.confirm_password"
                                       data-ng-maxlength="20" data-ng-minlength="3" required>
                            </div>

                            <div class="form-group"
                                 data-ng-class="{'has-error': formRegister.password.$invalid && (!formRegister.password.$pristine)}">
                                <label for="register-user-type">User type</label>
                                &lt;!&ndash;<input type="password" name="password" class="form-control" id="login-password"&ndash;&gt;
                                       &lt;!&ndash;placeholder="Password" data-ng-model="user.password"&ndash;&gt;
                                       &lt;!&ndash;data-ng-maxlength="20" data-ng-minlength="3" required>&ndash;&gt;

                                <select class="form-control" id="register-user-type" data-placeholder="User type"
                                       data-ng-model="userType" ng-options="t.name for t in userTypes"><option></option></select>
                            </div>

                            <div class="form-group">
                                <a class="btn-main-link" data-ui-sref="loginForm">Login</a>
                            </div>

                            <div class="form-group">
                                <div class="buttons">
                                    <button class="btn-primary btn-green" data-ng-disabled="formRegister.$invalid"
                                            data-ng-click="action.register()">
                                        Register
                                    </button>
                                </div>
                            </div>

                            <div class="alert alert-danger" data-ng-show="messageLogin">{{ authError }}</div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>-->
