<div class="modal-header bg-primary" data-ng-show="title">
    <h4 class="h4" data-ng-bind-html="title"></h4>
</div>
<div class="modal-body">
    <div class="wrapper">
        <div class="m-b">
            <p data-ng-bind-html="content"></p>
        </div>

        <div class="row">
            <div class="col-md-12">
                <button type="submit" class="btn btn-primary btn-sm pull-right w-xs m-l"
                        data-ng-click="yes()">Yes
                </button>
                <button type="button" class="btn btn-default btn-sm pull-right w-xs m-l"
                        data-ng-click="no()">No
                </button>
            </div>
        </div>
    </div>
</div>
