<div class="modal-header bg-primary">
    <h4 class="h4">
        Your free trial has expired
    </h4>
</div>

<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <p>Your free trial period has expired, and you will not be able to post any additional transaction.</p>
            <p>Ready to upgrade?</p>
            <p>The upgrade process is easy, and all you have to do is to select one of our plans here</p>
            <p>If you need more time to try or have questions just write to us. We're happy to help.</p>
            <p>Can you include a link to the message</p>
        </div>
        <div class="col-md-12 text-center">
            <button type="button" class="btn btn-primary btn-sm"
                    data-ng-click="upgrade()">Upgrade Now
            </button>
        </div>
    </div>
</div>
