<div class="modal-body">
    <div class="row">
        <div class="col-md-12 text-lg">
            <p data-ng-if="typeOfContent === 'string'" data-ng-bind-html="content"></p>
            <ul data-ng-if="typeOfContent === 'object'">
                <li data-ng-repeat="error in content" data-ng-bind-html="error"></li>
            </ul>
            <p data-ng-bind-html="footer"></p>
        </div>

        <div class="center-block col-md-12 text-lg">
            <input class="btn btn-primary btn-sm" data-ng-hide="true" type="button"
                   value="Ok" data-ng-click="ok()">
        </div>

        <div class="col-md-12">
            <button type="button" class="btn btn-primary btn-sm pull-right w-105"
                    data-ng-click="eventCloseBtn()">Close
            </button>
        </div>
    </div>
</div>
