<div class="modal-header bg-primary">
    <h4 class="h4" data-ng-bind-html="title"></h4>
</div>

<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <span data-ng-bind-html="content"></span>
        </div>
        <div class="col-md-12">
            <button class="btn btn-primary btn-sm pull-right m-l"
                    data-ng-hide="true" type="submit"
                    data-ng-click="ok()">Ok
            </button>
        </div>
        <div class="col-md-12">
            <button class="btn btn-primary btn-sm pull-right m-l" type="submit"
                    data-ng-click="eventCloseBtn()">Close
            </button>
        </div>
    </div>
</div>
