<form name="form" class="form-horizontal form-validation" novalidate>
  <div class="form-group">
    <label class="col-sm-3 control-label">Name</label>
    <div class="col-sm-9">
      <input type="text" name="name" class="form-control" placeholder="Your name"
             data-ng-model="user.name" required/>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-3 control-label">Email</label>
    <div class="col-sm-9">
      <input type="email" class="form-control" data-ng-model="user.email"
             data-ng-disabled="true"/>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-3 control-label">Telephone</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" placeholder="Telephone"
             data-ng-model="user.telephone"/>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-3 control-label">Date of Birth</label>
    <div class="col-sm-9">
      <div class="input-group">
        <input type="text" class="form-control" id="date" name="date"
               data-datepicker-popup="{{dateFormat}}"
               data-datepicker-options="dateOptions"
               data-is-open="date_of_birth.open"
               data-ng-click="actions.open($event)"
               data-ng-model="user.date_of_birth"/>
          <span class="input-group-btn">
            <button type="button" class="btn btn-default btn-sm "
                    data-ng-click="actions.open($event)">
              <i class="fa fa-calendar-o"></i>
            </button>
          </span>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-3 control-label">National Insurance</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" name="national_insurance"
             placeholder="Specify your national insurance number..."
             filtered-input="alphaNumeric"
             data-ng-model="user.national_insurance" maxlength="9" data-ng-maxlength="9"
             popover-placement="top" popover="Format: AB123456C"/>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-3 control-label">UTR</label>
    <div class="col-sm-9">
      <input type="text" class="form-control"
             placeholder="Specify your unique tax reference..." maxlength="10"
             data-ng-model="user.utr" maxlength="10" data-ng-maxlength="10"/>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-3 control-label">User type</label>
    <div class="col-sm-9">
      <select class="form-control" data-ng-model="user.user_type_id"
              data-ng-options="userType.id as userType.name for userType in userTypes"></select>
    </div>
  </div>

  <div class="form-group m-t m-b">
    <div class="col-sm-9 col-sm-offset-3">
      <button type="submit" class="btn btn-primary btn-sm pull-right m-l-sm"
              data-ng-disabled="form.$invalid || isSubmit"
              data-ng-click="actions.save(form.$valid)">Save changes
      </button>
    </div>
  </div>
</form>