<div class="modal-section-other-detail">
    <div class="modal-header">
        <span class="close" data-ng-click="cancel()"></span>
    </div>
    <div class="modal-body">
        <h1 class="heading-2 header-title">Tax refunded or set off </h1>
        <form name="form" novalidate>
            <div class="container-fluid">
                <div class="row">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="full-width">
                                <label for="input-1" class="text-left word-wrap input-group-addon input-group-addon-custom control-label">
                                    If you have had any 2013–14 Income Tax refunded or set off by us or Jobcentre Plus, enter the amount
                                </label>
                                <div class="input-group">
                                    <span class="input-group-addon currency">&pound;</span>
                                    <input type="text" id="input-1" name="input-1" class="form-control"
                                           ng-focus ng-blur filtered-input="number"
                                           data-ng-model="info.FIN1" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="button-groups">
                            <button class="btn-main-default btn-green pull-right" data-ng-click="save(form.$valid)">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>