<div class="modal-section-other-detail">
    <div class="modal-header">
        <span class="close" data-ng-click="cancel()"></span>
    </div>
    <div class="modal-body">
        <h1 class="heading-2 header-title">Tax avoidance schemes</h1>
        <form name="form" novalidate>
            <div class="container-fluid">
                <div class="row">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="full-width">
                                <label for="input-1" class="text-left word-wrap input-group-addon input-group-addon-custom control-label">
                                    The scheme reference number
                                </label>
                                <div class="input-group full-width">
                                    <input type="text" id="input-1" name="input-1" class="form-control" maxlength="8"
                                           filtered-input="number"
                                           data-ng-model="info.AIL19a" />
                                    <input type="text" id="input-2" name="input-2" class="form-control" maxlength="8"
                                           filtered-input="number"
                                           data-ng-model="info.AIL19b" />
                                    <input type="text" id="input-3" name="input-3" class="form-control" maxlength="8"
                                           filtered-input="number"
                                           data-ng-model="info.AIL19c" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="full-width">
                                <label for="input-2" class="text-left word-wrap input-group-addon input-group-addon-custom control-label">
                                    The tax year in which the expected advantage arises
                                    (Ex: YYYY YY)
                                </label>
                                <div class="input-group full-width">
                                    <input type="text" id="input-4" name="input-4" class="form-control" maxlength="7"
                                           data-ng-model="info.AIL20a" />
                                    <input type="text" id="input-5" name="input-5" class="form-control" maxlength="7"
                                           data-ng-model="info.AIL20b" />
                                    <input type="text" id="input-6" name="input-6" class="form-control" maxlength="7"
                                           data-ng-model="info.AIL20c" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="button-groups">
                            <button class="btn-main-default btn-green pull-right" data-ng-click="save(form.$valid)">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>