<div class="modal-new-partner" data-ng-init="init()">
  <div class="modal-header bg-primary">
    <h4 class="h4">Partner</h4>
    <span class="close" data-ng-click="actions.cancel()"></span>
  </div>

  <div class="modal-body">
    <form name="form" class="form-horizontal form-validation" novalidate>
      <div class="form-group">
        <label class="col-sm-4">Partner Type</label>

        <div class="col-sm-8">
          <select class="form-control m-b" id="record-type" name="record-type"
                  data-ng-model="partner.type"
                  ng-options="item.name as item.name for item in partnerTypes"></select>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-4" for="first_name">First Name</label>

        <div class="col-sm-8">
          <input type="text" id="first_name" name="first_name" class="form-control"
                 placeholder="First Name" required maxlength="50"
                 data-ng-model="partner.first_name"/>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-4" for="last_name">Last Name</label>

        <div class="col-sm-8">
          <input type="text" id="last_name" name="last_name" class="form-control"
                 placeholder="Last Name" required maxlength="50"
                 data-ng-model="partner.last_name"/>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-4" for="address">Address</label>

        <div class="col-sm-8">
          <input type="text" id="address" name="address" class="form-control"
                 placeholder="Address" required
                 data-ng-model="partner.address"/>
        </div>
      </div>

      <div class="form-group date-picker">
        <label class="col-sm-4">Date of Join</label>

        <div class="col-sm-8">
          <input type="text" class="form-control datepicker"
                 placeholder="Date of Join"
                 data-datepicker-popup="{{dateFormat}}"
                 data-datepicker-options="dateOptions"
                 data-is-open="opendoj"
                 data-ng-click="actions.openDoJ()"
                 data-ng-model="partner.date_joined"/>
        </div>
      </div>

      <div class="form-group date-picker" data-ng-class="{'has-error': errDayLeft }">
        <label class="col-sm-4">Date of Left</label>

        <div class="col-sm-8">
          <input type="text" class="form-control datepicker"
                 placeholder="Date of Left"
                 data-datepicker-popup="{{dateFormat}}"
                 data-datepicker-options="dateOptions"
                 data-is-open="opendol"
                 data-ng-click="actions.openDoL()"
                 data-ng-model="partner.date_left"/>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-4" for="UTR">
          UTR <span class="text-danger">*</span>
        </label>

        <div class="col-sm-8">
          <input type="text" id="UTR" name="UTR" class="form-control"
                 data-ng-model="partner.utr" required
                 ui-mask="**********" ui-mask-placeholder ui-mask-placeholder-char="_"/>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-4" for="NI">National Insurance</label>

        <div class="col-sm-8">
          <input type="text" id="NI" name="NI" class="form-control"
                 filtered-input="alphaNumeric" maxlength="9"
                 data-ng-model="partner.ni" popover-placement="top" popover="Format: AB123456C"
                 ui-mask="AA999999A" ui-mask-placeholder ui-mask-placeholder-char="_"/>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-12">
          <button class="btn btn-primary btn-sm pull-right"
                  data-ng-disabled="form.$invalid"
                  data-ng-click="actions.save(form.$valid)">Save
          </button>
        </div>
      </div>
    </form>
  </div>
</div>