<div class="modal-create-transaction-employer" data-ng-init="init()">
  <div class="modal-header bg-primary">
    <h4 class="h4">Transaction employer</h4>
    <span class="close" data-ng-click="actions.cancel()"></span>
  </div>

  <div class="modal-body">
    <form name="form" class="form-horizontal form-validation" novalidate>
      <!--Part one-->
      <div data-ng-hide="show">
        <div class="form-group">
          <label class="col-sm-3 control-label">Employer</label>
          <div class="col-sm-9">
            <select class="form-control"
                    data-ng-model="transaction.employer_id"
                    data-ng-options="employer.id as employer.name for employer in employers"></select>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-3 control-label">Pay from employment</label>
          <div class="col-sm-9">
            <input type="text" class="form-control"
                   data-ng-model="transaction.EMP1"
                   filtered-input="number" ng-blur ng-focus/>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-3 control-label">Tax taken off pay</label>
          <div class="col-sm-9">
            <input type="text" class="form-control"
                   data-ng-model="transaction.EMP2"
                   filter-input="number" ng-blur ng-focus/>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-3 control-label">Tips and other payments</label>
          <div class="col-sm-9">
            <input type="text" class="form-control"
                   data-ng-model="transaction.EMP3"
                   filter-input="number" ng-blur ng-focus/>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-12">
            <div class="checkbox">
              <label class="i-checks" for="checkbox-p11d">
                <input type="checkbox" id="checkbox-p11d"
                       data-ng-model="transaction.p11d"
                       data-ng-true-value="1"
                       data-ng-false-value="0">
                <i></i>
                I received some P11D items
              </label>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div data-ng-show="transaction.p11d" class="col-sm-12">
            <a class="btn btn-link" data-ng-click="show = true">
              Input Information for P11D</a>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-12">
            <div class="checkbox">
              <label class="i-checks" for="checkbox-receive-employment">
                <input type="checkbox" id="checkbox-receive-employment"
                       data-ng-model="receive_employment">
                <i></i>
                I received employment lump sum payment
              </label>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div data-ng-show="receive_employment" class="col-sm-12">
            <a class="btn btn-link" data-ng-click="actions.openEmployment()">
              Employment lump sum
            </a>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-12">
            <div class="checkbox">
              <label class="i-checks" for="checkbox-student-loan-repaid">
                <input type="checkbox" id="checkbox-student-loan-repaid"
                       data-ng-model="student_loan_repaid">
                <i></i>
                I have got student loans to repay
              </label>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div data-ng-show="student_loan_repaid" class="col-sm-12">
                        <span class="btn btn-link"
                              data-ng-click="actions.openStudentLoan()">
                            Student loans to repaid</span>
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-12">
            <button type="button" class="btn btn-primary btn-sm pull-right w-xs"
                    data-ng-click="actions.save(form.$valid)">Save
            </button>
          </div>
        </div>
      </div>
      <!--End part one-->

      <!--Part two-->
      <div data-ng-show="show">
        <div class="form-group">
          <label for="input-1" class="control-label col-sm-6">
            Company cars and vans benefit
          </label>
          <div class="col-sm-6">
            <input type="text" id="input-1" class="form-control"
                   filtered-input="number" ng-blur ng-focus
                   data-ng-model="transaction.EMP9"/>
          </div>
        </div>

        <div class="form-group">
          <label for="input-2" class="control-label col-sm-6">
            Fuel for cars and vans
          </label>
          <div class="col-sm-6">
            <input type="text" id="input-2" class="form-control"
                   filtered-input="number" ng-blur ng-focus
                   data-ng-model="transaction.EMP10"/>
          </div>
        </div>

        <div class="form-group">
          <label for="input-3" class="control-label col-sm-6">
            Private medical/dental insurance
          </label>
          <div class="col-sm-6">
            <input type="text" id="input-3" class="form-control"
                   filtered-input="number" ng-blur ng-focus
                   data-ng-model="transaction.EMP11"/>
          </div>
        </div>

        <div class="form-group">
          <label for="input-4" class="control-label col-sm-6">
            Vouchers, credit cards & excess mileage allowance
          </label>
          <div class="col-sm-6">
            <input type="text" id="input-4" class="form-control"
                   filtered-input="number" ng-blur ng-focus
                   data-ng-model="transaction.EMP12"/>
          </div>
        </div>

        <div class="form-group">
          <label for="input-5" class="control-label col-sm-6">
            Goods etc. provided by employer
          </label>
          <div class="col-sm-6">
            <input type="text" id="input-5" class="form-control"
                   filtered-input="number" ng-blur ng-focus
                   data-ng-model="transaction.EMP13"/>
          </div>
        </div>

        <div class="form-group">
          <label for="input-6" class="control-label col-sm-6">
            Accommodation provided by employer
          </label>
          <div class="col-sm-6">
            <input type="text" id="input-6" class="form-control"
                   filtered-input="number" ng-blur ng-focus
                   data-ng-model="transaction.EMP14"/>
          </div>
        </div>

        <div class="form-group">
          <label for="input-7" class="control-label col-sm-6">
            Other benefits
          </label>
          <div class="col-sm-6">
            <input type="text" id="input-7" class="form-control"
                   filtered-input="number" ng-blur ng-focus
                   data-ng-model="transaction.EMP15"/>
          </div>
        </div>

        <div class="form-group">
          <label for="input-8" class="control-label col-sm-6">
            Expenses payments received
          </label>
          <div class="col-sm-6">
            <input type="text" id="input-8" class="form-control"
                   filtered-input="number" ng-blur ng-focus
                   data-ng-model="transaction.EMP16"/>
          </div>
        </div>

        <div class="form-group">
          <label for="input-9" class="control-label col-sm-6">
            Business travel and subsistence
          </label>
          <div class="col-sm-6">
            <input type="text" id="input-9" class="form-control"
                   filtered-input="number" ng-blur ng-focus
                   data-ng-model="transaction.EMP17"/>
          </div>
        </div>

        <div class="form-group">
          <label for="input-10" class="control-label col-sm-6">
            Fixed expenses deductions
          </label>
          <div class="col-sm-6">
            <input type="text" id="input-10" class="form-control"
                   filtered-input="number" ng-blur ng-focus
                   data-ng-model="transaction.EMP18"/>
          </div>
        </div>

        <div class="form-group">
          <label for="input-11" class="control-label col-sm-6">
            Professional fees and subscriptions
          </label>
          <div class="col-sm-6">
            <input type="text" id="input-11" class="form-control"
                   filtered-input="number" ng-blur ng-focus
                   data-ng-model="transaction.EMP19"/>
          </div>
        </div>

        <div class="form-group">
          <label for="input-12" class="control-label col-sm-6">
            Other expenses and capital allowances
          </label>
          <div class="col-sm-6">
            <input type="text" id="input-12" class="form-control"
                   filtered-input="number" ng-blur ng-focus
                   data-ng-model="transaction.EMP20"/>
          </div>
        </div>


        <div class="form-group">
          <div class="col-md-12">
            <button class="btn btn-primary btn-sm pull-right"
                    data-ng-click="show = false">Finish
            </button>
          </div>
        </div>
      </div>
      <!--End part two-->
    </form>
  </div>
</div>
