<div class="step-income">
    <h4>Step 1 - Income</h4>

    <h5>Tell us about the income that you earned:</h5>

    <div class="row">
        <div class="col-md-6 col-sm-6"
             data-ng-repeat="item in partnershipForms"
             data-ng-if="item.selected">

            <a class="btn btn-link text-primary"
               data-ng-click="open(item.key)"
               data-ng-bind="item.title"></a>
        </div>
    </div>
</div>