<div class="progress-bar-custom">
  <progressbar data-max="100" data-value="progress"></progressbar>

    <span class="first progress-bar-label" data-ng-class="{selected: actions.isSelected(progress, 1)}"
          data-ng-click="actions.jump(1)" style="cursor: pointer;">
        <p class="step-number">1</p>
        <p class="step-title">Income</p>
    </span>

    <span class="twold progress-bar-label" data-ng-class="{selected: actions.isSelected(progress, 2)}"
          data-ng-click="actions.jump(2)" style="cursor: pointer;">
        <p class="step-number">2</p>
        <p class="step-title">Deduction /Relief</p>
    </span>

    <span class="threeld progress-bar-label" data-ng-class="{selected: actions.isSelected(progress, 3)}"
          data-ng-click="actions.jump(3)" style="cursor: pointer;">
        <p class="step-number">3</p>
        <p class="step-title">Personal information</p>
    </span>

    <span class="fouthld progress-bar-label" data-ng-class="{selected: actions.isSelected(progress, 4)}"
          data-ng-click="actions.jump(4)" style="cursor: pointer;">
        <p class="step-number">4</p>
        <p class="step-title">Tax Calculation</p>
    </span>

    <span class="fiveld progress-bar-label" data-ng-class="{selected: actions.isSelected(progress, 5)}"
          data-ng-click="actions.jump(5)" style="cursor: pointer;">
        <p class="step-number">5</p>
        <p class="step-title">Review tax return</p>
    </span>

    <span class="sixld progress-bar-label" data-ng-class="{selected: actions.isSelected(progress, 6)}"
          data-ng-click="actions.jump(6)" style="cursor: pointer;">
      <p class="step-number">6</p>
      <p class="step-title">Payment and File</p>
    </span>
</div>