<div class="container w-xl w-auto-xs" ng-init="app.settings.container = false;">
    <a href class="navbar-brand block m-t">{{app.name}}</a>
    <div class="m-b-lg">
        <div class="wrapper text-center">
            <strong>Input your email to reset your password</strong>
        </div>

        <form name="reset">
            <div class="list-group list-group-sm">
                <div class="list-group-item">
                    <input type="email" placeholder="Email"
                           ng-model="email" class="form-control no-border" required>
                </div>
            </div>

            <button type="submit" ng-disabled="reset.$invalid" class="btn btn-lg btn-primary btn-block"
                    data-ng-click="actions.reset()">Send
            </button>
        </form>

        <div collapse="isCollapsed" class="m-t">
            <div class="alert alert-success">
                <p>A password reset link has been sent to your email address. Please check you mailbox including junk mail.
                    <a ui-sref="loginForm" class="btn btn-sm btn-success">Sign in</a>
                </p>
            </div>
        </div>
    </div>
</div>

