<div class="form-group">
  <input type="text" class="form-control input-search"
         ng-model="keyword"
         ng-keypress="actions.keyPress($event)"
         placeholder="Search here"/>
  <button class="btn-search-close" ng-click="actions.cancel()" ng-if="isCancel">
    <span class="icon-close"></span>
  </button>
  <button class="btn-search" ng-click="actions.search()" >
    <span class="icon-search text-main text-md"></span>
  </button>
</div>