<div class="container w-xxl w-auto-xs">
    <a href class="navbar-brand block m-t">{{app.name}}</a>
    <div class="m-b-lg">
        <div class="wrapper text-center">
            <strong>Sign in</strong>
        </div>
        <form name="formLogin" class="form-validation">
            <div class="text-danger wrapper text-center" ng-show="authError">
                {{authError}}
            </div>
            <div class="list-group list-group-sm">
                <div class="list-group-item">
                    <input type="email" placeholder="Email" class="form-control no-border" ng-model="user.email"
                           required>
                </div>
                <div class="list-group-item">
                    <input type="password" placeholder="Password" class="form-control no-border"
                           ng-model="user.password" required>
                </div>
            </div>
            <div class="checkbox m-b-md m-t-none">
                <label class="i-checks">
                    <input type="checkbox" data-ng-model="user.is_remember"><i></i>Remember me</a>
                </label>
            </div>
            <button type="submit" class="btn btn-lg btn-primary btn-block" ng-click="action.login()"
                    ng-disabled="formLogin.$invalid">Log in
            </button>
            <div class="text-center m-t m-b"><a data-ui-sref="forgotForm">Forgot password?</a></div>
            <div class="line line-dashed"></div>
            <p class="text-center">
                <small>Do not have an account?</small>
            </p>
            <a data-ui-sref="registerForm" class="btn btn-lg btn-default btn-block">Create an account</a>
        </form>
    </div>
</div>
