<div class="modal-section-partnership" data-ng-init="init()">
  <div class="modal-header bg-primary">
    <h4 class="h4">Partnership Income</h4>
    <span class="close" data-ng-click="cancel()"></span>
  </div>

  <div class="modal-body">
    <form name="form" class="form-horizontal form-validation" novalidate>

      <tabset class="tab-container">
        <tab heading="Partnership reference">
          <div class="form-group">
            <label for="input-1" class="col-sm-4">
              Partnership reference number
            </label>

            <div class="col-sm-8">
              <input type="text" id="input-1" name="input-1" class="form-control"
                     data-ng-model="info.FPS1"/>
            </div>
          </div>

          <div class="form-group">
            <label for="input-2" class="col-sm-4">
              Partnership description
            </label>

            <div class="col-sm-8">
              <input type="text" id="input-2" name="input-2" class="form-control"
                     data-ng-model="info.FPS2"/>
            </div>
          </div>

          <div class="form-group">
            <label for="input-3" class="col-sm-4">
              Date joined partnership
            </label>

            <div class="col-sm-8">
              <div class="input-group">
                <input type="text" id="input-3" name="input-3" class="form-control"
                       data-datepicker-popup="{{dateFormat}}"
                       data-datepicker-options="dateOptions"
                       data-is-open="params.opened1"
                       data-ng-click="open($event, 1)"
                       data-ng-model="info.FPS3"/>
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default btn-sm"
                            data-ng-click="open($event, 1)">
                      <i class="glyphicon glyphicon-calendar"></i>
                    </button>
                  </span>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-4" class="col-sm-4">
              Date left partnership
            </label>

            <div class="col-sm-8">
              <div class="input-group">
                <input type="text" id="input-4" name="input-4" class="form-control"
                       data-datepicker-popup="{{dateFormat}}"
                       data-datepicker-options="dateOptions"
                       data-is-open="params.opened2"
                       data-ng-click="open($event, 2)"
                       data-ng-model="info.FPS4"/>
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default btn-sm"
                            data-ng-click="open($event, 2)">
                      <i class="glyphicon glyphicon-calendar"></i>
                    </button>
                  </span>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-8 col-sm-offset-4">
              <div class="checkbox">
                <label class="i-checks" for="input-5">
                  <input type="checkbox" id="input-5"
                         data-ng-model="info.FPS5"
                         data-ng-true-value="1"
                         data-ng-false-value="0">
                  <i></i>
                  Cash basis
                </label>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-6" class="col-sm-4">
              Date basis period began
            </label>

            <div class="col-sm-8">
              <div class="input-group">
                <input type="text" id="input-6" name="input-6" class="form-control"
                       data-datepicker-popup="{{dateFormat}}"
                       data-datepicker-options="dateOptions"
                       data-is-open="params.opened3"
                       data-ng-click="open($event, 3)"
                       data-ng-model="info.FPS6"/>
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default btn-sm"
                            data-ng-click="open($event, 3)">
                      <i class="glyphicon glyphicon-calendar"></i>
                    </button>
                  </span>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-7" class="col-sm-4">
              Date basis period ended
            </label>

            <div class="col-sm-8">
              <div class="input-group">
                <input type="text" id="input-7" name="input-7" class="form-control"
                       data-datepicker-popup="{{dateFormat}}"
                       data-datepicker-options="dateOptions"
                       data-is-open="params.opened4"
                       data-ng-click="open($event, 4)"
                       data-ng-model="info.FPS7"/>
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default btn-sm"
                            data-ng-click="open($event, 4)">
                      <i class="glyphicon glyphicon-calendar"></i>
                    </button>
                  </span>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-8" class="col-sm-4">
              Share of partnership profit or loss
            </label>

            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon">&pound;</span>
                <input type="text" id="input-8" name="input-8" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       data-ng-model="info.FPS8"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-9" class="col-sm-4">
              Adjustment for basis period
            </label>

            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon currency">&pound;</span>
                <input type="text" id="input-9" name="input-9" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       data-ng-model="info.FPS9"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-10" class="col-sm-4">
              Change of accounting practice adjustment
            </label>

            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon currency">&pound;</span>
                <input type="text" id="input-10" name="input-10" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       data-ng-model="info.FPS10"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-11" class="col-sm-4">
              Averaging adjustment
            </label>

            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon currency">&pound;</span>
                <input type="text" id="input-11" name="input-11" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       data-ng-model="info.FPS11"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-12"
                   class="col-sm-4">
              Foreign tax claimed as deduction
            </label>

            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon currency">&pound;</span>
                <input type="text" id="input-12" name="input-12" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       data-ng-model="info.FPS12"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-13"
                   class="col-sm-4">
              Overlap relief used
            </label>

            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon currency">&pound;</span>
                <input type="text" id="input-13" name="input-13" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       data-ng-model="info.FPS13"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-14" class="col-sm-4">
              Overlap profit carried forward
            </label>

            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon currency">&pound;</span>
                <input type="text" id="input-14" name="input-14" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       data-ng-model="info.FPS14"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-15" class="col-sm-4">
              Partner's share of BPRA
            </label>

            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon currency">&pound;</span>
                <input type="text" id="input-15" name="input-15" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       data-ng-model="info.FPS15"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-16" class="col-sm-4">
              Adjusted profit for year
            </label>

            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon currency">&pound;</span>
                <input type="text" id="input-16" name="input-16" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       data-ng-model="info.FPS16"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-17" class="col-sm-4">
              Losses brought forward
            </label>

            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon currency">&pound;</span>
                <input type="text" id="input-17" name="input-17" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       data-ng-model="info.FPS17"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-18" class="col-sm-4">
              Taxable profits after losses
            </label>

            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon currency">&pound;</span>
                <input type="text" id="input-18" name="input-18" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       data-ng-model="info.FPS18"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-19" class="col-sm-4">
              Other business income
            </label>

            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon currency">&pound;</span>
                <input type="text" id="input-19" name="input-19" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       data-ng-model="info.FPS19"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-20" class="col-sm-4">
              Total taxable business profits
            </label>

            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon currency">&pound;</span>
                <input type="text" id="input-20" name="input-20" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       data-ng-model="info.FPS20"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-21" class="col-sm-4">
              Adjusted loss for year
            </label>

            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon currency">&pound;</span>
                <input type="text" id="input-21" name="input-21" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       data-ng-model="info.FPS21"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-22"
                   class="col-sm-4">
              Loss set off against other income
            </label>

            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon currency">&pound;</span>
                <input type="text" id="input-22" name="input-22" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       data-ng-model="info.FPS22"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-23"
                   class="col-sm-4">
              Loss to be carried back
            </label>

            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon currency">&pound;</span>
                <input type="text" id="input-23" name="input-23" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       data-ng-model="info.FPS23"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-24"
                   class="col-sm-4">
              Total loss to carry forward
            </label>

            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon currency">&pound;</span>
                <input type="text" id="input-24" name="input-24" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       data-ng-model="info.FPS24"/>
              </div>
            </div>
          </div>
        </tab>

        <tab heading="Class 4 NIC exemption">
          <div class="form-group">
            <div class="col-sm-8 col-offset-3">

              <div class="checkbox">
                <label class="i-checks" for="input-25">
                  <input type="checkbox" id="input-25"
                         data-ng-model="info.FPS25"
                         data-ng-true-value="1"
                         data-ng-false-value="0">
                  <i></i>
                  Class 4 NIC exemption
                </label>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-8 col-offset-3">

              <div class="checkbox">
                <label class="i-checks" for="input-26">
                  <input type="checkbox" id="input-26"
                         data-ng-model="info.FPS26"
                         data-ng-true-value="1"
                         data-ng-false-value="0">
                  <i></i>
                  Class 4 NIC deferment
                </label>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-27" class="col-sm-4">
              Adjustment to Class 4 NIC profits
            </label>

            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon currency">&pound;</span>
                <input type="text" id="input-27" name="input-27" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       data-ng-model="info.FPS27"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-28" class="col-sm-4">
              Uk untaxed savings income share
            </label>

            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon currency">&pound;</span>
                <input type="text" id="input-28" name="input-28" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       data-ng-model="info.FPS28"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-29" class="col-sm-4">
              Basis period adjustment
            </label>

            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon currency">&pound;</span>
                <input type="text" id="input-29" name="input-29" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       data-ng-model="info.FPS29"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-30" class="col-sm-4">
              Adjusted UK savings income
            </label>

            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon currency">&pound;</span>
                <input type="text" id="input-30" name="input-30" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       data-ng-model="info.FPS30"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-31" class="col-sm-4">
              Foreign untaxed savings income share
            </label>

            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon currency">&pound;</span>
                <input type="text" id="input-31" name="input-31" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       data-ng-model="info.FPS31"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-32" class="col-sm-4">
              Basis period adjustment
            </label>

            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon currency">&pound;</span>
                <input type="text" id="input-32" name="input-32" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       data-ng-model="info.FPS32"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-33" class="col-sm-4">
              Total foreign tax taken off
            </label>

            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon currency">&pound;</span>
                <input type="text" id="input-33" name="input-33" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       data-ng-model="info.FPS33"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-34" class="col-sm-4">
              Adjusted foreign savings income
            </label>

            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon currency">&pound;</span>
                <input type="text" id="input-34" name="input-34" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       data-ng-model="info.FPS34"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-35" class="col-sm-4">
              Total untaxed savings income
            </label>

            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon currency">&pound;</span>
                <input type="text" id="input-35" name="input-35" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       data-ng-model="info.FPS35"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-36" class="col-sm-4">
              Uk property profit/loss share
            </label>

            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon currency">&pound;</span>
                <input type="text" id="input-36" name="input-36" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       data-ng-model="info.FPS36"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-37" class="col-sm-4">
              Basis period adjustment
            </label>

            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon currency">&pound;</span>
                <input type="text" id="input-37" name="input-37" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       data-ng-model="info.FPS37"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-38" class="col-sm-4">
              Loss brought forward
            </label>

            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon currency">&pound;</span>
                <input type="text" id="input-38" name="input-38" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       data-ng-model="info.FPS38"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-39" class="col-sm-4">
              Loss for year set off against other income
            </label>

            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon currency">&pound;</span>
                <input type="text" id="input-39" name="input-39" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       data-ng-model="info.FPS39"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-40" class="col-sm-4">
              Loss to be carried forward
            </label>

            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon currency">&pound;</span>
                <input type="text" id="input-40" name="input-40" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       data-ng-model="info.FPS40"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-41" class="col-sm-4">
              Taxable profits after adjustment and losses
            </label>

            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon currency">&pound;</span>
                <input type="text" id="input-41" name="input-41" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       data-ng-model="info.FPS41"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-42" class="col-sm-4">
              Share of FHL profit
            </label>

            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon currency">&pound;</span>
                <input type="text" id="input-42" name="input-42" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       data-ng-model="info.FPS42"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-43" class="col-sm-4">
              Adjustments to FHL profit
            </label>

            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon currency">&pound;</span>
                <input type="text" id="input-43" name="input-43" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       data-ng-model="info.FPS43"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-44" class="col-sm-4">
              Taxable FHL profit
            </label>

            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon currency">&pound;</span>
                <input type="text" id="input-44" name="input-44" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       data-ng-model="info.FPS44"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-45" class="col-sm-4">
              Other untaxed UK income share
            </label>

            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon currency">&pound;</span>
                <input type="text" id="input-45" name="input-45" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       data-ng-model="info.FPS45"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-46" class="col-sm-4">
              Basis period adjustment
            </label>

            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon currency">&pound;</span>
                <input type="text" id="input-46" name="input-46" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       data-ng-model="info.FPS46"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-47" class="col-sm-4">
              Loss brought forward
            </label>

            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon currency">&pound;</span>
                <input type="text" id="input-47" name="input-47" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       data-ng-model="info.FPS47"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-48" class="col-sm-4">
              Taxable profit
            </label>

            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon currency">&pound;</span>
                <input type="text" id="input-48" name="input-48" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       data-ng-model="info.FPS48"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-49" class="col-sm-4">
              Share of loss from other untaxed UK income
            </label>

            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon currency">&pound;</span>
                <input type="text" id="input-49" name="input-49" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       data-ng-model="info.FPS49"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-50" class="col-sm-4">
              Basis period adjustment
            </label>

            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon currency">&pound;</span>
                <input type="text" id="input-50" name="input-50" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       data-ng-model="info.FPS50"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-51" class="col-sm-4">
              Total loss to carry forward
            </label>

            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon currency">&pound;</span>
                <input type="text" id="input-51" name="input-51" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       data-ng-model="info.FPS51"/>
              </div>
            </div>
          </div>
        </tab>

        <tab heading="Offshore funds income share">
          <div class="form-group">
            <label for="input-52" class="col-sm-4">
              Offshore funds income share
            </label>

            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon currency">&pound;</span>
                <input type="text" id="input-52" name="input-52" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       data-ng-model="info.FPS52"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-53" class="col-sm-4">
              Basis period adjustment
            </label>

            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon currency">&pound;</span>
                <input type="text" id="input-53" name="input-53" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       data-ng-model="info.FPS53"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-54" class="col-sm-4">
              Foreign tax taken off
            </label>

            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon currency">&pound;</span>
                <input type="text" id="input-54" name="input-54" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       data-ng-model="info.FPS54"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-55" class="col-sm-4">
              Taxable income after adjustment and foreign tax
            </label>

            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon currency">&pound;</span>
                <input type="text" id="input-55" name="input-55" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       data-ng-model="info.FPS55"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-56" class="col-sm-4">
              Other untaxed foreign income share
            </label>

            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon currency">&pound;</span>
                <input type="text" id="input-56" name="input-56" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       data-ng-model="info.FPS56"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-57" class="col-sm-4">
              Basis period adjustment
            </label>

            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon currency">&pound;</span>
                <input type="text" id="input-57" name="input-57" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       data-ng-model="info.FPS57"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-58" class="col-sm-4">
              Loss brought forward
            </label>

            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon currency">&pound;</span>
                <input type="text" id="input-58" name="input-58" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       data-ng-model="info.FPS58"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-59" class="col-sm-4">
              Total foreign tax taken off
            </label>

            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon currency">&pound;</span>
                <input type="text" id="input-59" name="input-59" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       data-ng-model="info.FPS59"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-60" class="col-sm-4">
              Taxable profit
            </label>

            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon currency">&pound;</span>
                <input type="text" id="input-60" name="input-60" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       data-ng-model="info.FPS60"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-61" class="col-sm-4">
              Share of loss from other untaxed foreign income
            </label>

            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon currency">&pound;</span>
                <input type="text" id="input-61" name="input-61" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       data-ng-model="info.FPS61"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-62" class="col-sm-4">
              Basis period adjustment
            </label>

            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon currency">&pound;</span>
                <input type="text" id="input-62" name="input-62" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       data-ng-model="info.FPS62"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-63" class="col-sm-4">
              Total loss to carry forward
            </label>

            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon currency">&pound;</span>
                <input type="text" id="input-63" name="input-63" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       data-ng-model="info.FPS63"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-64" class="col-sm-4">
              Total untaxed income
            </label>

            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon currency">&pound;</span>
                <input type="text" id="input-64" name="input-64" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       data-ng-model="info.FPS64"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-65" class="col-sm-4">
              Overlap relief used
            </label>

            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon currency">&pound;</span>
                <input type="text" id="input-65" name="input-65" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       data-ng-model="info.FPS65"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-66" class="col-sm-4">
              Overlap profit carried forward
            </label>

            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon currency">&pound;</span>
                <input type="text" id="input-66" name="input-66" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       data-ng-model="info.FPS66"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-67" class="col-sm-4">
              Total untaxed income share
            </label>

            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon currency">&pound;</span>
                <input type="text" id="input-67" name="input-67" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       data-ng-model="info.FPS67"/>
              </div>
            </div>
          </div>
        </tab>

        <tab heading="Share of taxed income taxable at 10%">
          <div class="form-group">
            <label for="input-68" class="col-sm-4">
              Share of taxed income taxable at 10%
            </label>

            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon currency">&pound;</span>
                <input type="text" id="input-68" name="input-68" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       data-ng-model="info.FPS68"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-69" class="col-sm-4">
              Total foreign tax taken off
            </label>

            <div class="col-sm-4">
              <div class="input-group">
                <span class="input-group-addon currency">&pound;</span>
                <input type="text" id="input-69" name="input-69" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       data-ng-model="info.FPS69"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-70" class="col-sm-4">
              Taxed income taxable at 10%
            </label>

            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon currency">&pound;</span>
                <input type="text" id="input-70" name="input-70" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       data-ng-model="info.FPS70"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-71" class="col-sm-4">
              Share of taxed income taxable at 20%
            </label>

            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon currency">&pound;</span>
                <input type="text" id="input-71" name="input-71" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       data-ng-model="info.FPS71"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-72" class="col-sm-4">
              Total foreign tax taken off
            </label>

            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon currency">&pound;</span>
                <input type="text" id="input-72" name="input-72" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       data-ng-model="info.FPS72"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-73" class="col-sm-4">
              Taxed income taxable at 20%
            </label>

            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon currency">&pound;</span>
                <input type="text" id="input-73" name="input-73" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       data-ng-model="info.FPS73"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-74" class="col-sm-4">
              Share Of Taxed Income
            </label>

            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon currency">&pound;</span>
                <input type="text" id="input-74" name="input-74" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       data-ng-model="info.FPS74"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-75" class="col-sm-4">
              Total foreign tax taken off
            </label>

            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon currency">&pound;</span>
                <input type="text" id="input-75" name="input-75" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       data-ng-model="info.FPS75"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-76" class="col-sm-4">
              Share of total taxed and untaxed income
            </label>

            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon currency">&pound;</span>
                <input type="text" id="input-76" name="input-76" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       data-ng-model="info.FPS76"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-77" class="col-sm-4">
              Share of Income Tax taken off partnership income
            </label>

            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon currency">&pound;</span>
                <input type="text" id="input-77" name="input-77" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       data-ng-model="info.FPS77"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-78" class="col-sm-4">
              Share Of TaxTaken Off By Contractors
            </label>

            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon currency">&pound;</span>
                <input type="text" id="input-78" name="input-78" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       data-ng-model="info.FPS78"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-79" class="col-sm-4">
              Share of tax taken off trading income
            </label>

            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon currency">&pound;</span>
                <input type="text" id="input-79" name="input-79" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       data-ng-model="info.FPS79"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-80" class="col-sm-4">
              Share of tax credits
            </label>

            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon currency">&pound;</span>
                <input type="text" id="input-80" name="input-80" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       data-ng-model="info.FPS80"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-81" class="col-sm-4">
              Share of total tax taken off
            </label>

            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon currency">&pound;</span>
                <input type="text" id="input-81" name="input-81" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       data-ng-model="info.FPS81"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="input-82" class="col-sm-4">
              Share of notional Income Tax
            </label>

            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon currency">&pound;</span>
                <input type="text" id="input-82" name="input-82" class="form-control"
                       data-ng-focus data-ng-blur filtered-input="number"
                       data-ng-model="info.FPS82"/>
              </div>
            </div>
          </div>
        </tab>
      </tabset>

      <div class="form-group">
        <div class="col-md-12">
          <button type="submit" class="btn btn-primary btn-sm pull-right"
                  data-ng-disabled="form.$invalid"
                  data-ng-click="save(form.$valid)">
            Save
          </button>
        </div>
      </div>
    </form>
  </div>
</div>