<div class="modal-section-other-detail">
    <div class="modal-header">
        <span class="close" data-ng-click="cancel()"></span>
    </div>
    <div class="modal-body">
        <h1 class="heading-2 header-title">Pension savings tax charges and taxable lump sums from overseas pension schemes </h1>
        <form name="form" novalidate>
            <div class="container-fluid">
                <div class="row">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="full-width">
                                <label for="input-1" class="text-left word-wrap input-group-addon input-group-addon-custom control-label">
                                    Value of pension benefits in excess of your Available
                                    Lifetime Allowance, taken by you as a lump sum
                                </label>
                                <div class="input-group">
                                    <span class="input-group-addon currency">&pound;</span>
                                    <input type="text" id="input-1" name="input-1" class="form-control"
                                           ng-focus ng-blur filtered-input="number"
                                           data-ng-model="info.AIL7" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="full-width">
                                <label for="input-2" class="text-left word-wrap input-group-addon input-group-addon-custom control-label">
                                    Value of pension benefits in excess of your Available
                                    Lifetime Allowance, not taken as a lump sum
                                </label>
                                <div class="input-group">
                                    <span class="input-group-addon currency">&pound;</span>
                                    <input type="text" id="input-2" name="input-2" class="form-control"
                                           ng-focus ng-blur filtered-input="number"
                                           data-ng-model="info.AIL8" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="full-width">
                                <label for="input-3" class="text-left word-wrap input-group-addon input-group-addon-custom control-label">
                                    Lifetime Allowance tax paid by your pension scheme
                                </label>
                                <div class="input-group">
                                    <span class="input-group-addon currency">&pound;</span>
                                    <input type="text" id="input-3" name="input-3" class="form-control"
                                           ng-focus ng-blur filtered-input="number"
                                           data-ng-model="info.AIL9" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="full-width">
                                <label for="input-4" class="text-left word-wrap input-group-addon input-group-addon-custom control-label">
                                    Amount saved towards your pension, in the
                                    period covered by this tax return, in excess of the
                                    Annual Allowance
                                </label>
                                <div class="input-group">
                                    <span class="input-group-addon currency">&pound;</span>
                                    <input type="text" id="input-4" name="input-4" class="form-control"
                                           ng-focus ng-blur filtered-input="number"
                                           data-ng-model="info.AIL10" />
                                    </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="full-width">
                                <label for="input-5" class="text-left word-wrap input-group-addon input-group-addon-custom control-label">
                                    Annual Allowance tax paid or payable by your
                                    pension scheme
                                </label>
                                <div class="input-group">
                                    <span class="input-group-addon currency">&pound;</span>
                                    <input type="text" id="input-5" name="input-5" class="form-control"
                                           ng-focus ng-blur filtered-input="number"
                                           data-ng-model="info.AIL11" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="full-width">
                                <label for="input-6" class="text-left word-wrap input-group-addon input-group-addon-custom control-label">
                                    Pension scheme tax reference number
                                </label>
                                <div class="input-group full-width">
                                    <input type="text" id="input-6" name="input-6" class="form-control"
                                           filtered-input="number"
                                           data-ng-model="info.AIL12" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="full-width">
                                <label for="input-7" class="text-left word-wrap input-group-addon input-group-addon-custom control-label">
                                    Amount of unauthorised payment from a pension
                                    scheme, not subject to surcharge
                                </label>
                                <div class="input-group">
                                    <span class="input-group-addon currency">&pound;</span>
                                    <input type="text" id="input-7" name="input-7" class="form-control"
                                           ng-focus ng-blur filtered-input="number"
                                           data-ng-model="info.AIL13" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="full-width">
                                <label for="input-8" class="text-left word-wrap input-group-addon input-group-addon-custom control-label">
                                    Amount of unauthorised payment from a pension
                                    scheme, subject to surcharge
                                </label>
                                <div class="input-group">
                                    <span class="input-group-addon currency">&pound;</span>
                                    <input type="text" id="input-8" name="input-8" class="form-control"
                                           ng-focus ng-blur filtered-input="number"
                                           data-ng-model="info.AIL14" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="full-width">
                                <label for="input-9" class="text-left word-wrap input-group-addon input-group-addon-custom control-label">
                                    Foreign tax paid on an unauthorised payment
                                    (in £ sterling)
                                </label>
                                <div class="input-group">
                                    <span class="input-group-addon currency">&pound;</span>
                                    <input type="text" id="input-9" name="input-9" class="form-control"
                                           ng-focus ng-blur filtered-input="number"
                                           data-ng-model="info.AIL15" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="full-width">
                                <label for="input-10" class="text-left word-wrap input-group-addon input-group-addon-custom control-label">
                                    Taxable short service refund of contributions
                                    (overseas pension schemes only)
                                </label>
                                <div class="input-group">
                                    <span class="input-group-addon currency">&pound;</span>
                                    <input type="text" id="input-10" name="input-10" class="form-control"
                                           ng-focus ng-blur filtered-input="number"
                                           data-ng-model="info.AIL16" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="full-width">
                                <label for="input-11" class="text-left word-wrap input-group-addon input-group-addon-custom control-label">
                                    Taxable lump sum payment
                                    (overseas pension schemes only)
                                </label>
                                <div class="input-group">
                                    <span class="input-group-addon currency">&pound;</span>
                                    <input type="text" id="input-11" name="input-11" class="form-control"
                                           ng-focus ng-blur filtered-input="number"
                                           data-ng-model="info.AIL17" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="full-width">
                                <label for="input-12" class="text-left word-wrap input-group-addon input-group-addon-custom control-label">
                                    Foreign tax paid
                                </label>
                                <div class="input-group">
                                    <span class="input-group-addon currency">&pound;</span>
                                    <input type="text" id="input-12" name="input-12" class="form-control"
                                           ng-focus ng-blur filtered-input="number"
                                           data-ng-model="info.AIL18" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="button-groups">
                            <button class="btn-main-default btn-green pull-right" data-ng-click="save(form.$valid)">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>