<div class="modal-confirm-business">
    <div class="modal-header">
        <span class="close" data-ng-click="cancel()"></span>
    </div>
    <div class="modal-body">
        <h5>Do you want to delete this business?</h5>
        <div class="row">
            <div class="col-md-12">
                <div class="button-groups">
                    <button class="btn-main-default btn-black pull-right" data-ng-click="cancel()">No</button>
                    <button class="btn-main-default btn-green pull-right" data-ng-click="delete()">Yes</button>
                </div>
            </div>
        </div>
    </div>
</div>