<div class="modal-confirm-delete-self-employed">
	<div class="modal-body">
		<div class="row">
			<div class="col-md-12 m-b">
				<h4>Are you sure you want to delete this form ?</h4>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<button type="submit" class="btn btn-primary btn-sm pull-right w-xs m-l"
						data-ng-click="ok()">OK
				</button>
				<button type="button" class="btn btn-default btn-sm pull-right w-xs m-l text-primary"
						data-ng-click="cancel()">Cancel
				</button>
			</div>
		</div>
	</div>
</div>