<div data-ng-init="init()">
    <div class="modal-expenses">
        <div class="modal-header bg-primary">
            <h4 class="title h4">Change password</h4>
        </div>

        <div class="modal-body">
            <form name="form" class="form-horizontal form-validation" novalidate>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Current Password</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" data-ng-model="password" required/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">New Password</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" data-ng-model="new_password" required/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Confirm Password</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" data-ng-model="confirm_password" required
                               ui-validate=" '$value==new_password' "
                               ui-validate-watch=" 'new_password' "/>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-12">
                        <button type="submit" class="btn btn-primary btn-sm pull-right m-l-sm w-sm"
                                data-ng-disabled="form.$invalid"
                                data-ng-click="actions.save()">Save
                        </button>

                        <button type="button" class="btn btn-default btn-sm pull-right m-l-sm w-sm"
                                data-ng-click="actions.cancel()">Cancel
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

