<div class="modal-section-other-detail">
    <div class="modal-header">
        <span class="close" data-ng-click="cancel()"></span>
    </div>
    <div class="modal-body">
        <h1 class="heading-2 header-title">Other information </h1>
        <form name="form" novalidate>
            <div class="container-fluid">
                <div class="row">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="full-width">
                                <label for="input-1" class="text-left word-wrap input-group-addon input-group-addon-custom control-label">
                                    Earlier years’ losses
                                </label>
                                <div class="input-group">
                                    <span class="input-group-addon currency">&pound;</span>
                                    <input type="text" id="input-1" name="input-1" class="form-control"
                                           ng-focus ng-blur filtered-input="number"
                                           data-ng-model="info.AIL1" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="full-width">
                                <label for="input-2" class="text-left word-wrap input-group-addon input-group-addon-custom control-label">
                                    Total unused losses carried forward
                                </label>
                                <div class="input-group">
                                    <span class="input-group-addon currency">&pound;</span>
                                    <input type="text" id="input-2" name="input-2" class="form-control"
                                           ng-focus ng-blur filtered-input="number"
                                           data-ng-model="info.AIL2" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="full-width">
                                <label for="input-3" class="text-left word-wrap input-group-addon input-group-addon-custom control-label">
                                    Relief now for 2014–15 trade losses or certain capital losses [1]
                                </label>
                                <div class="input-group">
                                    <span class="input-group-addon currency">&pound;</span>
                                    <input type="text" id="input-3" name="input-3" class="form-control"
                                           ng-focus ng-blur filtered-input="number"
                                           data-ng-model="info.AIL3" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="full-width">
                                <label for="input-4" class="text-left word-wrap input-group-addon input-group-addon-custom control-label">
                                    Enter the amount of relief shown in [1]
                                </label>
                                <div class="input-group">
                                    <span class="input-group-addon currency">&pound;</span>
                                    <input type="text" id="input-4" name="input-4" class="form-control"
                                           ng-focus ng-blur filtered-input="number"
                                           data-ng-model="info.AIL4" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="full-width">
                                <div class="full-width">
                                    <label for="input-5" class="text-left word-wrap input-group-addon input-group-addon-custom control-label">
                                        Tax year for which you are claiming relief in [1] (Ex: YYYY-YY)
                                    </label>
                                    <div class="input-group full-width">
                                        <input type="text" id="input-5" name="input-5" class="form-control"
                                               data-ng-model="info.AIL5" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="full-width">
                                <label for="input-6" class="text-left word-wrap input-group-addon input-group-addon-custom control-label">
                                    Amount of payroll giving
                                </label>

                                <div class="input-group">
                                    <span class="input-group-addon currency">&pound;</span>
                                    <input type="text" id="input-6" name="input-6" class="form-control"
                                           ng-focus ng-blur filtered-input="number"
                                           data-ng-model="info.AIL6" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="button-groups">
                            <button class="btn-main-default btn-green pull-right" data-ng-click="save(form.$valid)">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>