<div class="modal-section-other-detail">
    <div class="modal-header">
        <span class="close" data-ng-click="cancel()"></span>
    </div>
    <div class="modal-body">
        <h1 class="heading-2 header-title">Tax Adviser detail</h1>
        <form name="form" novalidate>
            <div class="container-fluid">
                <div class="row">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="full-width">
                                <label for="input-1" class="text-left word-wrap input-group-addon input-group-addon-custom control-label">
                                    Your tax adviser’s name
                                </label>
                                <div class="input-group full-width">
                                    <input type="text" id="input-1" name="input-1" class="form-control"
                                           data-ng-model="info.FIN15" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="full-width">
                                <label for="input-2" class="text-left word-wrap input-group-addon input-group-addon-custom control-label">
                                    Their phone number
                                </label>
                                <div class="input-group full-width">
                                    <input type="text" id="input-2" name="input-2" class="form-control"
                                           filtered-input="number"
                                           data-ng-model="info.FIN16" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="full-width">
                                <label for="input-3" class="text-left word-wrap input-group-addon input-group-addon-custom control-label">
                                    The first line of their address including the postcode
                                </label>
                                <div class="input-group full-width">
                                    <input type="text" id="input-3" name="input-3" class="form-control"
                                           filtered-input="number"
                                           data-ng-model="info.FIN17" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="full-width">
                                <label for="input-4" class="text-left word-wrap input-group-addon input-group-addon-custom control-label">
                                    The reference your adviser uses for you
                                </label>
                                <div class="input-group full-width">
                                    <input type="text" id="input-4" name="input-4" class="form-control"
                                           data-ng-model="info.FIN18" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="button-groups">
                            <button class="btn-main-default btn-green pull-right" data-ng-click="save(form.$valid)">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>