<!DOCTYPE html>
<html ng-app="app" ng-controller="AppCtrl">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="description" content="app, web app, responsive, responsive layout, admin, admin panel, admin dashboard, flat, flat ui, ui kit, AngularJS, ui route, charts, widgets, components" />

    <meta property="og:url" content="{{ app.url }} "/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="{{ app.name }}"/>
    <meta property="og:description" content="{{ app.description }}"/>
    <meta property="og:image" content="{{ app.imageUrl }}"/>

    <title ng-bind="pageTitle"></title>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries. Placeholdr.js enables the placeholder attribute -->
    <!--[if lt IE 9]>
    <link rel="stylesheet" href="assets/css/ie8.css">
    <link rel="icon" href="assets/images/favicon.ico" type="image/x-icon">
    <script type="text/javascript" src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/respond.js/1.1.0/respond.min.js"></script>
    <script type='text/javascript' src='assets/plugins/misc/placeholdr.js'></script>
    <![endif]-->

    <!-- compiled CSS -->

    <% styles.forEach(function(file) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>"/>
    <% }); %>

    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>

    <!-- compiled JavaScript -->
    <% scripts.forEach(function(file) { %>
    <script type="text/javascript" src="<%= file %>"></script>
    <% }); %>

    <!--Google Analytics-->
    <script type="text/javascript">
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                        (i[r].q = i[r].q || []).push(arguments)
                    }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-56835958-1', 'auto');
        ga('send', 'pageview');
    </script>


    <script type="text/javascript">
        (function () {
            var hm = document.createElement('script');
            hm.type = 'text/javascript';
            hm.async = true;
            hm.src = ('++u-heatmap-it+log-js').replace(/[+]/g, '/').replace(/-/g, '.');
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>


    <!--Start of Zopim Live Chat Script-->
    <script type="text/javascript">
        window.$zopim || (function (d, s) {
            var z = $zopim = function (c) {
                z._.push(c)
            }, $ = z.s =
                    d.createElement(s), e = d.getElementsByTagName(s)[0];
            z.set = function (o) {
                z.set._.push(o)
            };
            z._ = [];
            z.set._ = [];
            $.async = !0;
            $.setAttribute('charset', 'utf-8');
            $.src = '//v2.zopim.com/?2vZAfFvJ3l6025bm4BD5j1cS9oa2DAyw';
            z.t = +new Date;
            $.type = 'text/javascript';
            e.parentNode.insertBefore($, e)
        })(document, 'script');
    </script>

</head>
<body class="gray-bg pace-done">
<!--toaster container-->
<toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
<div ui-view="root" class="app" id="app"
     ng-class="{'app-header-fixed':app.settings.headerFixed, 'app-aside-fixed':app.settings.asideFixed, 'app-aside-folded':app.settings.asideFolded, 'app-aside-dock':app.settings.asideDock, 'container':app.settings.container}">
    <div class="text-center">
        <h1 class="title">{{ app.name }}</h1>

        <!--Loading bar-->
        <div class="col-md-12 text-center m-t">
            <i class="fa fa-refresh fa-spin fa-5x fa-fw"></i>
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</div>


<!-- build:js scripts/vendor.js -->
<!--<script type='text/javascript' src='assets/plugins/form-jasnyupload/fileinput.js'></script>
<script type='text/javascript' src='assets/plugins/form-multiselect/js/jquery.multi-select.min.js'></script>-->
<!-- endbuild -->
</body>
</html>
