<div class="modal-create-self-employed" data-ng-init="init()">
	<div class="modal-header bg-primary">
		<h4 class="h4">Select business</h4>
		<span class="close" data-ng-click="actions.cancel()"></span>
	</div>

	<div class="modal-body">
		<form name="form" class="form-horizontal form-validation" novalidate>
			<div class="form-group">
				<label class="col-sm-4">
					Select business
				</label>
				<div class="col-md-8">
					<select data-ng-model="business.selected" class="form-control"
							data-ng-options="business.name for business in businesses">
					</select>
				</div>
			</div>

			<div class="form-group">
				<div class="col-md-12">
					<button class="btn btn-default btn-sm pull-right m-l"
							data-ng-click="cancel()">Cancel
					</button>
					<button class="btn btn-primary btn-sm pull-right m-l"
							data-ng-click="ok()">Ok
					</button>
				</div>
			</div>
		</form>
	</div>
</div>