<div class="modal-section-minister" data-ng-init="init()">
  <div class="modal-header bg-primary">
    <h4 class="h4">Lloyds underwriter</h4>
    <span class="close" data-ng-click="actions.cancel()"></span>
  </div>

  <div class="modal-body">
    <form name="form" class="form-horizontal form-validation" novalidate>
      <div class="form-group">
        <label for="input-1" class="col-sm-4">
          Bank etc. and gilt untaxed interest
        </label>

        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input-1" name="input-1" class="form-control"
                   data-ng-focus data-ng-blur filtered-input="number"
                   data-ng-model="info.LUN1"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="input-2" class="col-sm-4">
          Accrued Income Scheme aggregate amount
        </label>

        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input-2" name="input-2" class="form-control"
                   data-ng-focus data-ng-blur filtered-input="number"
                   data-ng-model="info.LUN2"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="input-3" class="col-sm-4">
          Taxed bank etc. interest
        </label>

        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input-3" name="input-3" class="form-control"
                   data-ng-focus data-ng-blur filtered-input="number"
                   data-ng-model="info.LUN3"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="input-4" class="col-sm-4">
          Tax taken off
        </label>

        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input-4" name="input-4" class="form-control"
                   data-ng-focus data-ng-blur filtered-input="number"
                   data-ng-model="info.LUN4"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="input-5" class="col-sm-4">
          Total UK interest and tax taken off
        </label>

        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input-5" name="input-5" class="form-control"
                   data-ng-focus data-ng-blur filtered-input="number"
                   data-ng-model="info.LUN5"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="input-6" class="col-sm-4">
          Stock dividends - amount received
        </label>

        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input-6" name="input-6" class="form-control"
                   data-ng-focus data-ng-blur filtered-input="number"
                   data-ng-model="info.LUN6"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="input-7" class="col-sm-4">
          Stock dividends - tax credit
        </label>

        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input-7" name="input-7" class="form-control"
                   data-ng-focus data-ng-blur filtered-input="number"
                   data-ng-model="info.LUN7"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="input-8" class="col-sm-4">
          Non qualifying distributions - amount received
        </label>

        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input-8" name="input-8" class="form-control"
                   data-ng-focus data-ng-blur filtered-input="number"
                   data-ng-model="info.LUN8"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="input-9" class="col-sm-4">
          Other distributions - amount received
        </label>

        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input-9" name="input-9" class="form-control"
                   data-ng-focus data-ng-blur filtered-input="number"
                   data-ng-model="info.LUN9"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="input-10" class="col-sm-4">
          Other distributions - tax credit
        </label>

        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input-10" name="input-10" class="form-control"
                   data-ng-focus data-ng-blur filtered-input="number"
                   data-ng-model="info.LUN10"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="input-11" class="col-sm-4">
          Total UK dividends and distributions
        </label>

        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input-11" name="input-11" class="form-control"
                   data-ng-focus data-ng-blur filtered-input="number"
                   data-ng-model="info.LUN11"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="input-12" class="col-sm-4">
          Foreign interest etc. - amount
        </label>

        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input-12" name="input-12" class="form-control"
                   data-ng-focus data-ng-blur filtered-input="number"
                   data-ng-model="info.LUN12"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="input-13" class="col-sm-4">
          Foreign tax deducted
        </label>

        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input-13" name="input-13" class="form-control"
                   data-ng-focus data-ng-blur filtered-input="number"
                   data-ng-model="info.LUN13"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="input-14" class="col-sm-4">
          Uk tax deducted
        </label>

        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input-14" name="input-14" class="form-control"
                   data-ng-focus data-ng-blur filtered-input="number"
                   data-ng-model="info.LUN14"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="input-15" class="col-sm-4">
          Non UK dividends - amount
        </label>

        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input-15" name="input-15" class="form-control"
                   data-ng-focus data-ng-blur filtered-input="number"
                   data-ng-model="info.LUN15"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="input-16" class="col-sm-4">
          Foreign tax deducted
        </label>

        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input-16" name="input-16" class="form-control"
                   data-ng-focus data-ng-blur filtered-input="number"
                   data-ng-model="info.LUN16"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="input-17" class="col-sm-4">
          Uk tax deducted
        </label>

        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input-17" name="input-17" class="form-control"
                   data-ng-focus data-ng-blur filtered-input="number"
                   data-ng-model="info.LUN17"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="input-18" class="col-sm-4">
          Total non-UK income
        </label>

        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input-18" name="input-18" class="form-control"
                   data-ng-focus data-ng-blur filtered-input="number"
                   data-ng-model="info.LUN18"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="input-19" class="col-sm-4">
          Amount non qualifying for uk tax credit
        </label>

        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input-19" name="input-19" class="form-control"
                   data-ng-focus data-ng-blur filtered-input="number"
                   data-ng-model="info.LUN19"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="input-20" class="col-sm-4">
          Aggregate syndicate profits
        </label>

        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input-20" name="input-20" class="form-control"
                   data-ng-focus data-ng-blur filtered-input="number"
                   data-ng-model="info.LUN20"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="input-21" class="col-sm-4">
          Special Reserve Fund net withdrawal/release
        </label>

        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input-21" name="input-21" class="form-control"
                   data-ng-focus data-ng-blur filtered-input="number"
                   data-ng-model="info.LUN21"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="input-22" class="col-sm-4">
          Stop loss recoveries
        </label>

        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input-22" name="input-22" class="form-control"
                   data-ng-focus data-ng-blur filtered-input="number"
                   data-ng-model="info.LUN22"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="input-23" class="col-sm-4">
          Compensation receipts
        </label>

        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input-23" name="input-23" class="form-control"
                   data-ng-focus data-ng-blur filtered-input="number"
                   data-ng-model="info.LUN23"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="input-24" class="col-sm-4">
          Repayment of foreign tax (deduction)
        </label>

        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input-24" name="input-24" class="form-control"
                   data-ng-focus data-ng-blur filtered-input="number"
                   data-ng-model="info.LUN24"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="input-25" class="col-sm-4">
          Other non-syndicate income
        </label>

        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input-25" name="input-25" class="form-control"
                   data-ng-focus data-ng-blur filtered-input="number"
                   data-ng-model="info.LUN25"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="input-26" class="col-sm-4">
          Total other Lloyd's receipts
        </label>

        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input-26" name="input-26" class="form-control"
                   data-ng-focus data-ng-blur filtered-input="number"
                   data-ng-model="info.LUN26"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="input-27" class="col-sm-4">
          Total Lloyd's income
        </label>

        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input-27" name="input-27" class="form-control"
                   data-ng-focus data-ng-blur filtered-input="number"
                   data-ng-model="info.LUN27"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="input-28" class="col-sm-4">
          Repayment of foreign tax (tax credit relief)
        </label>

        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input-28" name="input-28" class="form-control"
                   data-ng-focus data-ng-blur filtered-input="number"
                   data-ng-model="info.LUN28"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="input-29" class="col-sm-4">
          Aggregate syndicate losses
        </label>

        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input-29" name="input-29" class="form-control"
                   data-ng-focus data-ng-blur filtered-input="number"
                   data-ng-model="info.LUN29"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="input-30" class="col-sm-4">
          Special Reserve Fund net transfer
        </label>

        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input-30" name="input-30" class="form-control"
                   data-ng-focus data-ng-blur filtered-input="number"
                   data-ng-model="info.LUN30"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="input-31" class="col-sm-4">
          Stop loss premiums paid
        </label>

        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input-31" name="input-31" class="form-control"
                   data-ng-focus data-ng-blur filtered-input="number"
                   data-ng-model="info.LUN31"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="input-32" class="col-sm-4">
          Personal Quota Share and Exeat premiums
        </label>

        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input-32" name="input-32" class="form-control"
                   data-ng-focus data-ng-blur filtered-input="number"
                   data-ng-model="info.LUN32"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="input-33" class="col-sm-4">
          Estate Protection Plan premiums
        </label>

        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input-33" name="input-33" class="form-control"
                   data-ng-focus data-ng-blur filtered-input="number"
                   data-ng-model="info.LUN33"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="input-34" class="col-sm-4">
          Underwriting loan interest
        </label>

        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input-34" name="input-34" class="form-control"
                   data-ng-focus data-ng-blur filtered-input="number"
                   data-ng-model="info.LUN34"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="input-35" class="col-sm-4">
          Lloyd's Member's Association expenses
        </label>

        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input-35" name="input-35" class="form-control"
                   data-ng-focus data-ng-blur filtered-input="number"
                   data-ng-model="info.LUN35"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="input-36" class="col-sm-4">
          Member's agent profit commission and salaries
        </label>

        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input-36" name="input-36" class="form-control"
                   data-ng-focus data-ng-blur filtered-input="number"
                   data-ng-model="info.LUN36"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="input-37" class="col-sm-4">
          Bank guarantee/letters of credit fees
        </label>

        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input-37" name="input-37" class="form-control"
                   data-ng-focus data-ng-blur filtered-input="number"
                   data-ng-model="info.LUN37"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="input-38" class="col-sm-4">
          Accountancy fees
        </label>

        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input-38" name="input-38" class="form-control"
                   data-ng-focus data-ng-blur filtered-input="number"
                   data-ng-model="info.LUN38"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="input-39" class="col-sm-4">
          Other Lloyd's expenses
        </label>

        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input-39" name="input-39" class="form-control"
                   data-ng-focus data-ng-blur filtered-input="number"
                   data-ng-model="info.LUN39"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="input-40" class="col-sm-4">
          Total losses and expenses
        </label>

        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input-40" name="input-40" class="form-control"
                   data-ng-focus data-ng-blur filtered-input="number"
                   data-ng-model="info.LUN40"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="input-41" class="col-sm-4">
          Profit amount
        </label>

        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input-41" name="input-41" class="form-control"
                   data-ng-focus data-ng-blur filtered-input="number"
                   data-ng-model="info.LUN41"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="input-42" class="col-sm-4">
          Loss amount
        </label>

        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input-42" name="input-42" class="form-control"
                   data-ng-focus data-ng-blur filtered-input="number"
                   data-ng-model="info.LUN42"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="input-43" class="col-sm-4">
          Foreign tax on personal fund income
        </label>

        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input-43" name="input-43" class="form-control"
                   data-ng-focus data-ng-blur filtered-input="number"
                   data-ng-model="info.LUN43"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="input-44" class="col-sm-4">
          Us income tax paid
        </label>

        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input-44" name="input-44" class="form-control"
                   data-ng-focus data-ng-blur filtered-input="number"
                   data-ng-model="info.LUN44"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="input-45" class="col-sm-4">
          Canadian tax paid
        </label>

        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input-45" name="input-45" class="form-control"
                   data-ng-focus data-ng-blur filtered-input="number"
                   data-ng-model="info.LUN45"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="input-46" class="col-sm-4">
          Syndicate Foreign Tax
        </label>

        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input-46" name="input-46" class="form-control"
                   data-ng-focus data-ng-blur filtered-input="number"
                   data-ng-model="info.LUN46"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="input-47" class="col-sm-4">
          Additional payments of foreign tax
        </label>

        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input-47" name="input-47" class="form-control"
                   data-ng-focus data-ng-blur filtered-input="number"
                   data-ng-model="info.LUN47"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="input-48" class="col-sm-4">
          Total foreign tax
        </label>

        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input-48" name="input-48" class="form-control"
                   data-ng-focus data-ng-blur filtered-input="number"
                   data-ng-model="info.LUN48"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="input-49" class="col-sm-4">
          Profit amount
        </label>

        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input-49" name="input-49" class="form-control"
                   data-ng-focus data-ng-blur filtered-input="number"
                   data-ng-model="info.LUN49"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="input-50" class="col-sm-4">
          Foreign tax claimed as deduction
        </label>

        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input-50" name="input-50" class="form-control"
                   data-ng-focus data-ng-blur filtered-input="number"
                   data-ng-model="info.LUN50"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="input-51" class="col-sm-4">
          Unused losses brought forward
        </label>

        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input-51" name="input-51" class="form-control"
                   data-ng-focus data-ng-blur filtered-input="number"
                   data-ng-model="info.LUN51"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="input-52" class="col-sm-4">
          Total taxable profits
        </label>

        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input-52" name="input-52" class="form-control"
                   data-ng-focus data-ng-blur filtered-input="number"
                   data-ng-model="info.LUN52"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="input-53" class="col-sm-4">
          Loss amount
        </label>

        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input-53" name="input-53" class="form-control"
                   data-ng-focus data-ng-blur filtered-input="number"
                   data-ng-model="info.LUN53"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="input-54" class="col-sm-4">
          Foreign tax claimed as deduction
        </label>

        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input-54" name="input-54" class="form-control"
                   data-ng-focus data-ng-blur filtered-input="number"
                   data-ng-model="info.LUN54"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="input-55" class="col-sm-4">
          Loss for the year
        </label>

        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input-55" name="input-55" class="form-control"
                   data-ng-focus data-ng-blur filtered-input="number"
                   data-ng-model="info.LUN55"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="input-56" class="col-sm-4">
          Loss offset against other income
        </label>

        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input-56" name="input-56" class="form-control"
                   data-ng-focus data-ng-blur filtered-input="number"
                   data-ng-model="info.LUN56"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="input-57" class="col-sm-4">
          Loss carried back
        </label>

        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input-57" name="input-57" class="form-control"
                   data-ng-focus data-ng-blur filtered-input="number"
                   data-ng-model="info.LUN57"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="input-58" class="col-sm-4">
          Unused losses to carry forward
        </label>

        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input-58" name="input-58" class="form-control"
                   data-ng-focus data-ng-blur filtered-input="number"
                   data-ng-model="info.LUN58"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="input-59" class="col-sm-4">
          Losses brought forward
        </label>

        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input-59" name="input-59" class="form-control"
                   data-ng-focus data-ng-blur filtered-input="number"
                   data-ng-model="info.LUN59"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="input-60" class="col-sm-4">
          Losses used against profits of year
        </label>

        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input-60" name="input-60" class="form-control"
                   data-ng-focus data-ng-blur filtered-input="number"
                   data-ng-model="info.LUN60"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="input-61" class="col-sm-4">
          Unused loss from the year
        </label>

        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input-61" name="input-61" class="form-control"
                   data-ng-focus data-ng-blur filtered-input="number"
                   data-ng-model="info.LUN61"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="input-62" class="col-sm-4">
          Total loss to carry forward
        </label>

        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input-62" name="input-62" class="form-control"
                   data-ng-focus data-ng-blur filtered-input="number"
                   data-ng-model="info.LUN62"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-12">
          <div class="checkbox">
            <label class="i-checks">
              <input type="checkbox" id="input-63" class="css-checkbox"
                     data-ng-model="info.LUN63"
                     data-ng-true-value="1"
                     data-ng-false-value="0">
              <i></i>
              Class 4 NIC exemption
            </label>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-12">
          <div class="checkbox">
            <label class="i-checks">
              <input type="checkbox" id="input-64" class="css-checkbox"
                     data-ng-model="info.LUN64"
                     data-ng-true-value="1"
                     data-ng-false-value="0">
              <i></i>
              Class 4 NIC deferment
            </label>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="input-65" class="col-sm-4">
          Adjustment to Class 4 NIC profits
        </label>

        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input-65" name="input-65" class="form-control"
                   data-ng-focus data-ng-blur filtered-input="number"
                   data-ng-model="info.LUN65"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="input-66" class="col-sm-4">
          Any other information space
        </label>

        <div class="col-sm-8">
          <input type="text" id="input-66" name="input-66" class="form-control"
                 data-ng-focus data-ng-blur filtered-input="number"
                 data-ng-model="info.LUN66"/>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-12">
          <button class="btn btn-primary btn-sm pull-right" type="submit"
                  data-ng-disabled="form.$invalid"
                  data-ng-click="actions.save(form.$valid)">
            Save
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
