<form name="form" class="form-horizontal form-validation" novalidate>
  <div class="form-group">
    <label for="input-1" class="col-sm-6">
      Gift Aid payments made in the year to 5 April 2015 [1]
    </label>

    <div class="col-sm-6">
      <div class="input-group">
        <span class="input-group-addon currency">&pound;</span>
        <input type="text" id="input-1" name="input-1" class="form-control"
               data-ng-focus data-ng-blur filtered-input="number"
               data-ng-model="deductionRelief.REL5"/>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="input-2" class="col-sm-6">
      Total of any ‘one-off’ payments
    </label>

    <div class="col-sm-6">
      <div class="input-group">
        <span class="input-group-addon currency">&pound;</span>
        <input type="text" id="input-2" name="input-2" class="form-control"
               data-ng-focus data-ng-blur filtered-input="number"
               data-ng-model="deductionRelief.REL6"/>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="input-3" class="col-sm-6">
      Gift Aid payments made in the year but treated as if made in the previous tax year
    </label>

    <div class="col-sm-6">
      <div class="input-group">
        <span class="input-group-addon currency">&pound;</span>
        <input type="text" id="input-3" name="input-3" class="form-control"
               data-ng-focus data-ng-blur filtered-input="number"
               data-ng-model="deductionRelief.REL7"/>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="input-4" class="col-sm-6">
      Gift Aid payments made after 5 April 2015 but to be treated as if made in the year
      to 5 April 2015
    </label>

    <div class="col-sm-6">
      <div class="input-group">
        <span class="input-group-addon currency">&pound;</span>
        <input type="text" id="input-4" name="input-4" class="form-control"
               data-ng-focus data-ng-blur filtered-input="number"
               data-ng-model="deductionRelief.REL8"/>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="input-5" class="col-sm-6">
      Value of qualifying shares or securities gifted to charity [2]
    </label>

    <div class="col-sm-6">
      <div class="input-group">
        <span class="input-group-addon currency">&pound;</span>
        <input type="text" id="input-5" name="input-5" class="form-control"
               data-ng-focus data-ng-blur filtered-input="number"
               data-ng-model="deductionRelief.REL9"/>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="input-6" class="col-sm-6">
      Value of qualifying land and buildings gifted to charity [3]
    </label>

    <div class="col-sm-6">
      <div class="input-group">
        <span class="input-group-addon currency">&pound;</span>
        <input type="text" id="input-6" name="input-6" class="form-control"
               data-ng-focus data-ng-blur filtered-input="number"
               data-ng-model="deductionRelief.REL10"/>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="input-7" class="col-sm-6">
      Value of qualifying investments gifted to non-UK charities in [2] and [3]
    </label>

    <div class="col-sm-6">
      <div class="input-group">
        <span class="input-group-addon currency">&pound;</span>
        <input type="text" id="input-7" name="input-7" class="form-control"
               data-ng-focus data-ng-blur filtered-input="number"
               data-ng-model="deductionRelief.REL11"/>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="input-8" class="col-sm-6">
      Gift Aid payments to non-UK charities in [1]
    </label>

    <div class="col-sm-6">
      <div class="input-group">
        <span class="input-group-addon currency">&pound;</span>
        <input type="text" id="input-8" name="input-8" class="form-control"
               data-ng-focus data-ng-blur filtered-input="number"
               data-ng-model="deductionRelief.REL12"/>
      </div>
    </div>
  </div>

  <!--<div class="form-group">
    <div class="col-md-12">
      <button class="btn btn-primary btn-sm pull-right"
              data-ng-disabled="form.$invalid"
              data-ng-click="actions.save(form.$valid)">
        Save
      </button>
    </div>
  </div>-->
</form>

