<!--Progress bar-->
<div ui-view="progress-bar"></div>
<!--End progress bar-->


<!--Content individual tax return-->
<div class="row">
  <div class="col-md-offset-1 col-md-10">
    <div ui-view="step-content"></div>
  </div>
</div>
<!--End content individual tax return-->


<!--Action footer-->
<div data-ng-include="'modules/tax-return/common/include/action-footer/action-footer.tpl.html'"></div>
<!--End action footer-->
