<div class="modal-section-uk-income" data-ng-init="init()">
  <div class="modal-header bg-primary">
    <h4 class="h4">
      Interest and dividends from UK banks, building societies etc.
    </h4>
    <span class="close" data-ng-click="actions.cancel()"></span>
  </div>

  <div class="modal-body">
    <form name="form" class="form-horizontal form-validation" novalidate>
      <div class="form-group">
        <label for="input-1" class="col-sm-6">
          Taxed UK interest etc
        </label>

        <div class="col-sm-6">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input-1" name="input-1" class="form-control" maxlength="8"
                   filtered-input="number"
                   data-ng-model="info.INC1"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="input-2" class="col-sm-6">
          Untaxed UK interest etc
        </label>

        <div class="col-sm-6">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input-2" name="input-2" class="form-control" maxlength="8"
                   filtered-input="number"
                   data-ng-model="info.INC2"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="input-3" class="col-sm-6">
          Dividends from UK companies
        </label>

        <div class="col-sm-6">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input-3" name="input-3" class="form-control" maxlength="8"
                   filtered-input="number"
                   data-ng-model="info.INC3"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="input-4" class="col-sm-6">
          Other dividends
        </label>

        <div class="col-sm-6">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input-4" name="input-4" class="form-control" maxlength="8"
                   filtered-input="number"
                   data-ng-model="info.INC4"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="input-5" class="col-sm-6">
          Foreign dividends (up to £300)
        </label>

        <div class="col-sm-6">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input-5" name="input-5" class="form-control" maxlength="3"
                   filtered-input="number"
                   data-ng-model="info.INC5"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="input-6" class="col-sm-6">
          Tax taken off foreign dividends
        </label>

        <div class="col-sm-6">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input-6" name="input-6" class="form-control" maxlength="3"
                   filtered-input="number"
                   data-ng-model="info.INC6"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-12">
          <button class="btn btn-primary btn-sm pull-right"
                  data-ng-disabled="form.$invalid"
                  data-ng-click="actions.save()">Save
          </button>
        </div>
      </div>
    </form>
  </div>
</div>