<div class="modal-section-minister" data-ng-init="init()">
  <div class="modal-header bg-primary">
    <h4 class="h4">Minister employment </h4>
    <span class="close" data-ng-click="actions.cancel()"></span>
  </div>

  <div class="modal-body">
    <form name="form" class="form-validation form-horizontal" novalidate>
      <div class="form-group">
        <label for="input-1" class="col-sm-4">
          Nature of post
        </label>

        <div class="col-sm-8">
          <input type="text" id="input-1" name="input-1" class="form-control"
                 data-ng-model="info.MOR1"/>
        </div>
      </div>

      <div class="form-group">
        <label for="input-2" class="col-sm-4">
          Salary or stipend
        </label>

        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input-2" name="input-2" class="form-control"
                   data-ng-focus data-ng-blur filtered-input="number"
                   data-ng-model="info.MOR2"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="input-3" class="col-sm-4">
          Tax taken off salary/stipend
        </label>

        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input-3" name="input-3" class="form-control"
                   data-ng-focus data-ng-blur filtered-input="number"
                   data-ng-model="info.MOR3"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="input-4" class="col-sm-4">
          Fees and offerings
        </label>

        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input-4" name="input4" class="form-control"
                   data-ng-focus data-ng-blur filtered-input="number"
                   data-ng-model="info.MOR4"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="input-5" class="col-sm-4">
          Vicarage/manse expenses
        </label>

        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input-5" name="input-5" class="form-control"
                   data-ng-focus data-ng-blur filtered-input="number"
                   data-ng-model="info.MOR5"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="input-6" class="col-sm-4">
          Personal expenses etc. paid
        </label>

        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input-6" name="input-6" class="form-control"
                   data-ng-focus data-ng-blur filtered-input="number"
                   data-ng-model="info.MOR6"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="input-7" class="col-sm-4">
          Excess mileage allowance etc.
        </label>

        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input-7" name="input-7" class="form-control"
                   data-ng-focus data-ng-blur filtered-input="number"
                   data-ng-model="info.MOR7"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="input-8" class="col-sm-4">
          Round sum expenses and rent allowances
        </label>

        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input-8" name="input-8" class="form-control"
                   data-ng-focus data-ng-blur filtered-input="number"
                   data-ng-model="info.MOR8"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="input-9" class="col-sm-4">
          Tax taken off box 8
        </label>

        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input-9" name="input-9" class="form-control"
                   data-ng-focus data-ng-blur filtered-input="number"
                   data-ng-model="info.MOR9"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="input-10" class="col-sm-4">
          Other income from post
        </label>

        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input-10" name="input-10" class="form-control"
                   data-ng-focus data-ng-blur filtered-input="number"
                   data-ng-model="info.MOR10"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="input-11" class="col-sm-4">
          Tax taken off other income
        </label>

        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input-11" name="input-11" class="form-control"
                   data-ng-focus data-ng-blur filtered-input="number"
                   data-ng-model="info.MOR11"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="input-12" class="col-sm-4">
          Total income as Minister of Religion
        </label>

        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input-12" name="input-12" class="form-control"
                   data-ng-focus data-ng-blur filtered-input="number"
                   data-ng-model="info.MOR12"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="input-13" class="col-sm-4">
          Vicarage services benefit
        </label>

        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input-13" name="input-13" class="form-control"
                   data-ng-focus data-ng-blur filtered-input="number"
                   data-ng-model="info.MOR13"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="input-14" class="col-sm-4">
          Car provided
        </label>

        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input-14" name="input-14" class="form-control"
                   data-ng-focus data-ng-blur filtered-input="number"
                   data-ng-model="info.MOR14"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="input-15" class="col-sm-4">
          Fuel for car provided
        </label>

        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input-15" name="input-15" class="form-control"
                   data-ng-focus data-ng-blur filtered-input="number"
                   data-ng-model="info.MOR15"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="input-16" class="col-sm-4">
          Interest free loans
        </label>

        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input-16" name="input-16" class="form-control"
                   data-ng-focus data-ng-blur filtered-input="number"
                   data-ng-model="info.MOR16"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="input-17" class="col-sm-4">
          Expenses payments made
        </label>

        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input-17" name="input-17" class="form-control"
                   data-ng-focus data-ng-blur filtered-input="number"
                   data-ng-model="info.MOR17"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="input-18" class="col-sm-4">
          Other benefits
        </label>

        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input-18" name="input-18" class="form-control"
                   data-ng-focus data-ng-blur filtered-input="number"
                   data-ng-model="info.MOR18"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="input-19" class="col-sm-4">
          Total benefits and expenses
        </label>

        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input-19" name="input-19" class="form-control"
                   data-ng-focus data-ng-blur filtered-input="number"
                   data-ng-model="info.MOR19"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="input-20" class="col-sm-4">
          Income, benefits and expenses received
        </label>

        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input-20" name="input-20" class="form-control"
                   data-ng-focus data-ng-blur filtered-input="number"
                   data-ng-model="info.MOR20"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="input-21" class="col-sm-4">
          Travelling expenses and capital allowances
        </label>

        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input-21" name="input-21" class="form-control"
                   data-ng-focus data-ng-blur filtered-input="number"
                   data-ng-model="info.MOR21"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="input-22" class="col-sm-4">
          Maintenance and repairs etc.
        </label>

        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input-22" name="input-22" class="form-control"
                   data-ng-focus data-ng-blur filtered-input="number"
                   data-ng-model="info.MOR22"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="input-23" class="col-sm-4">
          Rent expenses
        </label>

        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input-23" name="input-23" class="form-control"
                   data-ng-focus data-ng-blur filtered-input="number"
                   data-ng-model="info.MOR23"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="input-24" class="col-sm-4">
          Secretarial assistance
        </label>

        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input-24" name="input-24" class="form-control"
                   data-ng-focus data-ng-blur filtered-input="number"
                   data-ng-model="info.MOR24"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="input-25" class="col-sm-4">
          Other expenses
        </label>

        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input-25" name="input-25" class="form-control"
                   data-ng-focus data-ng-blur filtered-input="number"
                   data-ng-model="info.MOR25"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="input-26" class="col-sm-4">
          Total expenses paid
        </label>

        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input-26" name="input-26" class="form-control"
                   data-ng-focus data-ng-blur filtered-input="number"
                   data-ng-model="info.MOR26"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="input-27" class="col-sm-4">
          Gross income
        </label>

        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input-27" name="input-27" class="form-control"
                   data-ng-focus data-ng-blur filtered-input="number"
                   data-ng-model="info.MOR27"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="input-28" class="col-sm-4">
          Back pay received after year end
        </label>

        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input-28" name="input-28" class="form-control"
                   data-ng-focus data-ng-blur filtered-input="number"
                   data-ng-model="info.MOR28"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="input-29" class="col-sm-4">
          Earlier years' back pay received in year
        </label>

        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input-29" name="input-29" class="form-control"
                   data-ng-focus data-ng-blur filtered-input="number"
                   data-ng-model="info.MOR29"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="input-30"
               class="col-sm-4">
          Pension scheme payments
        </label>

        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input-30" name="input-30" class="form-control"
                   data-ng-focus data-ng-blur filtered-input="number"
                   data-ng-model="info.MOR30"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="input-31"
               class="col-sm-4">
          Net income
        </label>

        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input-31" name="input-31" class="form-control"
                   data-ng-focus data-ng-blur filtered-input="number"
                   data-ng-model="info.MOR31"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="input-32" class="col-sm-4">
          10% of net income
        </label>

        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input-32" name="input-32" class="form-control"
                   data-ng-focus data-ng-blur filtered-input="number"
                   data-ng-model="info.MOR32"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="input-33" class="col-sm-4">
          Amount paid toward service benefit
        </label>

        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input-33" name="input-33" class="form-control"
                   data-ng-focus data-ng-blur filtered-input="number"
                   data-ng-model="info.MOR33"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="input-34" class="col-sm-4">
          Payments made and service benefit received
        </label>

        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input-34" name="input-34" class="form-control"
                   data-ng-focus data-ng-blur filtered-input="number"
                   data-ng-model="info.MOR34"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="input-35" class="col-sm-4">
          Service benefit cap
        </label>

        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input-35" name="input-35" class="form-control"
                   data-ng-focus data-ng-blur filtered-input="number"
                   data-ng-model="info.MOR35"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="input-36" class="col-sm-4">
          Chaplaincy and other income
        </label>

        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input-36" name="input-36" class="form-control"
                   data-ng-focus data-ng-blur filtered-input="number"
                   data-ng-model="info.MOR36"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="input-37" class="col-sm-4">
          Tax taken of other income
        </label>

        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input-37" name="input-37" class="form-control"
                   data-ng-focus data-ng-blur filtered-input="number"
                   data-ng-model="info.MOR37"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="input-38" class="col-sm-4">
          Taxable income minus expenses
        </label>

        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input-38" name="input-38" class="form-control"
                   data-ng-focus data-ng-blur filtered-input="number"
                   data-ng-model="info.MOR38"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="input-39" class="col-sm-4">
          Total tax taken off
        </label>

        <div class="col-sm-8">
          <div class="input-group">
            <span class="input-group-addon">&pound;</span>
            <input type="text" id="input-39" name="input-39" class="form-control"
                   data-ng-focus data-ng-blur filtered-input="number"
                   data-ng-model="info.MOR39"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-12">
          <button class="btn btn-primary btn-sm pull-right" type="submit"
                  data-ng-disabled="form.$invalid"
                  data-ng-click="actions.save(form.$valid)">
            Save
          </button>
        </div>
      </div>
    </form>
  </div>
</div>